<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title"><b>NSC Review Applications Recommendations</b></h4>
                    </div>

                    <div class="card-body">
                        <div class="toolbar">
                            <div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
                                <div class="d-flex flex-wrap align-items-center">
                                    <h5 class="mr-4">NSC Review Applications Recommendations</h5>
                                    <div class="resolved-pill">
                                        <p>{{tcTasks.length}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="material-datatables table-responsive">
                            <table class="table table-striped table-bordered table-hover" datatable
                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                <thead>
                                <tr>
                                    <th class="id">SL No</th>
                                    <th class="task">Name Of Nominee</th>
                                    <th class="task">Organization</th>
                                    <th class="task">Category</th>
                                    <th class="task">Qualification</th>
                                    <th class="task">Email Address</th>
                                    <th class="task">Remarks By Division</th>
                                    <th class="action">Action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let tcTask of tcTasks  let i= index;">
                                    <td>{{i + 1}}</td>
                                    <td>{{tcTask.nomineeName}}</td>
                                    <td>{{tcTask.organisationName}}</td>
                                    <td>{{tcTask.organisationClassification}}</td>
                                    <td>{{tcTask.qualification}}</td>
                                    <td>{{tcTask.email}}</td>
                                    <td>{{tcTask.comments_by_hof}}</td>
                                    <td><a type="button" (click)="onOpenModal(tcTask)" class="btn btn-info tooltips"
                                           data-placement="top" data-original-title="View Application">View
                                        Application</a></td>

                                </tr>
                                </tbody>
                            </table>
                        </div>


                        <div class="modal fade" id="decisionModal" tabindex="-1" role="dialog"
                             aria-labelledby="viewRequestModalLabel"
                             aria-hidden="true">
                            <div class="modal-dialog modal-lg modal-xl" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title"
                                            id="viewRequestModalLabel">{{actionRequest?.nomineeName}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                                                #closeViewModal>
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class=" col-12">
                                                <ul class="list-group">
                                                    <li class="list-group-item active">Application Details</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Technical
                                                        Committee: </strong>{{actionRequest?.technicalCommittee}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Organisation
                                                        Classification: </strong>{{actionRequest?.organisationClassification}}
                                                    </li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Organisation
                                                        Name:</strong> {{actionRequest?.organisationName}}</li>

                                                    <li style="background: lightgray"
                                                        class="list-group-item">
                                                        <strong>Nominee: </strong> {{actionRequest?.nomineeName}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Position
                                                        Held: </strong> {{actionRequest?.position}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Postal
                                                        Address: </strong> {{actionRequest?.postalAddress}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item">
                                                        <strong>Phone: </strong> {{actionRequest?.mobileNumber}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item">
                                                        <strong>Email: </strong> {{actionRequest?.email}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Authorising
                                                        Person: </strong> {{actionRequest?.authorizingPerson}}</li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Authorising Person
                                                        Position: </strong>{{actionRequest?.authorizingPersonPosition}}
                                                    </li>
                                                    <li style="background: lightgray"
                                                        class="list-group-item"><strong>Authorising Person
                                                        Email: </strong> {{actionRequest?.authorizingPersonEmail}}</li>

                                                    <li style="background: lightgray"
                                                        class="list-group-item">
                                                        <strong>Qualifications:</strong> {{actionRequest?.qualification}}
                                                    </li>

                                                    <li style="background: lightgray"
                                                        class="list-group-item">Curriculum Vitae:

                                                    </li>
                                                    <li style="background: lightgray">
                                                        <div class="material-datatables table-responsive">
                                                            <table class="table table-striped table-bordered table-hover"
                                                                   datatable
                                                                   [dtOptions]="dtOptionsB" [dtTrigger]="dtTrigger2">
                                                                <thead>
                                                                <tr>
                                                                    <th class="task">Document Name</th>
                                                                    <th class="task">Action</th>

                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr *ngFor="let doc of docs let i= index; ">

                                                                    <td>{{doc.name}}</td>
                                                                    <td>
                                                                        <button class="btn btn-info tooltips"
                                                                                style="width: inherit"
                                                                                (click)="
                                                                        viewPdfFile( doc.id,doc?.name, 'application/pdf')"
                                                                                data-placement="top"
                                                                        ><i
                                                                                class="fa fa-eye"></i> View
                                                                        </button>
                                                                    </td>

                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>

                                                    </li>

                                                </ul>
                                            </div>
                                        </div>

                                        <br>

                                        <div class="row">
                                            <div class=" col-12">
                                                <div class="card ">
                                                    <div class="card-header card-header-rose card-header-text">
                                                        <div class="card-text">
                                                            <h4 class="card-title">Recommendation</h4>
                                                        </div>
                                                    </div>
                                                    <div class="card-body ">
                                                        <div class="row">
                                                            <form #editForm="ngForm" class="form" style="width: 100%;">
                                                                <div class="row">
                                                                    <div class="col-12">
                                                                        <label><b>Provide Your
                                                                            Remarks</b></label>
                                                                        <textarea
                                                                                aria-describedby="inputGroup-sizing-sm"
                                                                                ngModel
                                                                                id="commentsByNsc"
                                                                                aria-label="Small"
                                                                                class="form-control one-column-input"
                                                                                name="commentsByNsc"
                                                                                placeholder=" " type="text"
                                                                                required></textarea>
                                                                    </div>
                                                                </div>

                                                                <button class="btn btn-info"
                                                                        (click)="decisionOnApplications(editForm.value,actionRequest?.id,'YES')">
                                                                    Approve
                                                                </button>
                                                                <button class="btn btn-danger"
                                                                        (click)="decisionOnApplications(editForm.value,actionRequest?.id,'NO')">
                                                                    Decline
                                                                </button>


                                                            </form>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>


                                    </div>

                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" #closeViewModal
                                                data-dismiss="modal">Close
                                        </button>

                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
