<div id='agrochem-item-details' [formGroup]="agrochemChecklist">
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label style="color: #0082f3">AGROCHEM Markings Details</label>
        </div>
    </div>
    <div class="form-row" >
        <div class="col-md-4 mb-3">
            <label for="serialNumber">Serial Number</label>
            <input type="text" class="form-control" maxlength="256" name="serialNumber"
                   data-name="clearing Agent" id="serialNumber" formControlName="serialNumber">
        </div>
        <div class="col-md-4 mb-3">
            <label for="brand">Brand</label>
            <input type="text" class="form-control" name="brand"
                   data-name="brand" id="brand" formControlName="brand">
        </div>
        <div class="col-md-4 mb-3">
            <label for="ksEasApplicable">KS/EAS Applicable</label>
            <input type="text" class="form-control" name="ksEasApplicable"
                   data-name="ksEas Applicable" id="ksEasApplicable"
                   formControlName="ksEasApplicable">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="quantityVerified">Quantity Verified (No. Of items/packages)</label>
            <input type="text" class="form-control" name="quantityVerified"
                   data-name="quantity Verified" id="quantityVerified"
                   formControlName="quantityVerified">
        </div>
        <div class="col-md-4 mb-3">
            <label for="dateMfgPackaging">Date of mfg/packaging</label>
            <input type="date" class="form-control" name="dateMfgPackaging"
                   data-name="dateMfg Packaging" id="dateMfgPackaging" required=""
                   formControlName="dateMfgPackaging">
        </div>
        <div class="col-md-4 mb-3">
            <label for="dateExpiry">Date of Expiry</label>
            <input type="date" class="form-control" maxlength="256" name="dateExpiry"
                   data-name="date Expiry" id="dateExpiry" required="" formControlName="dateExpiry">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="mfgName">Mfg Name</label>
            <input type="text" class="form-control" maxlength="256" name="mfgName"
                   data-name="mfg Name" id="mfgName" formControlName="mfgName">
        </div>
        <div class="col-md-4 mb-3">
            <label for="mfgAddress">Mfg Address</label>
            <input type="text" class="form-control" name="mfgAddress"
                   data-name="mfg Address" id="mfgAddress" formControlName="mfgAddress">
        </div>
        <div class="col-md-4 mb-3">
            <label for="compositionIngredients">Composition/Ingredients</label>
            <input type="text" class="form-control"
                   name="compositionIngredients" data-name="composition Ingredients"
                   id="compositionIngredients" formControlName="compositionIngredients">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="storageCondition">Storage Condition</label>
            <input type="text" class="form-control" maxlength="256" name="storageCondition"
                   data-name="storage Condition" id="storageCondition"
                   formControlName="storageCondition">
        </div>
        <div class="col-md-4 mb-3">
            <label for="appearance">Appearance (mouldy,infested,foreign matter e.t.c.)</label>
            <input type="text" class="form-control" maxlength="256" name="appearance"
                   data-name="appearance" id="appearance" formControlName="appearance">
        </div>
        <div class="col-md-4 mb-3">
            <label for="certMarksPvocDoc">Certification marks/pvoc documents</label>
            <input type="text" class="form-control" maxlength="256" name="certMarksPvocDoc"
                   data-name="ksEas Applicable" id="certMarksPvocDoc"
                   formControlName="certMarksPvocDoc">
        </div>
    </div>
    <div class="form-row">
        <div class="col-md-4 mb-3">
            <label for="sampled">Sampled Yes/No</label>
            <select id="sampled" class="form-control" formControlName="sampled">
                <option value="0">Select one...</option>
                <option value="YES">YES</option>
                <option value="NO">NO</option>
            </select>
        </div>
        <div class="col-md-4 mb-3">
            <label for="remarks">Remarks</label>
            <textarea class="form-control" name="remarks" data-name="remarks"
                      id="remarks" formControlName="remarks"></textarea>
        </div>
    </div>
</div>