<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Tasks <span class="badge badge-primary">{{isCheckRequirements.length}}</span>
                            </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables table-responsive">
                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="knw">Title</th>
                                        <th class="sl">Scope</th>
                                        <th class="sl">Clause</th>
                                        <th class="requestNumber">Standard Type </th>
                                        <th class="knw">Standard Number</th>
                                        <th>Date</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let isCheckRequirement of isCheckRequirements let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{isCheckRequirement.title}}</td>
                                        <td>{{isCheckRequirement.scope}}</td>
                                        <td>{{isCheckRequirement.clause}}</td>
                                        <td>{{isCheckRequirement.standardType}}</td>
                                        <td>{{isCheckRequirement.comStdNumber}}</td>
                                        <td>{{isCheckRequirement.uploadDate}}</td>
                                        <td *ngIf="isCheckRequirement.status==9"><a  (click)="onOpenModals(isCheckRequirement,'approveStandard',isCheckRequirement.draftId)" class="btn btn-info btn-sm tooltips" data-placement="top" style="width: 130px" data-original-title="Approve">Upload Standard</a></td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade" id="approveStandard" tabindex="-1" role="dialog" aria-labelledby="approveStandardLabel" aria-hidden="true">a
                                <div class="modal-dialog modal-xl" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h3 class="modal-title" id="approveStandardLabel">Upload Standard</h3>
                                            <button type="button" #closeModalRequirements class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <hr>
                                        <section id="changes-tabs">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                        <nav>
                                                            <div class="nav nav-tabs nav-fill" id="nav-changes-tab" role="tablist">
                                                                <a class="nav-item nav-link active" id="nav-changes-view-tab"  data-toggle="tab" href="#nav-changes-view" role="tab" aria-controls="nav-changes-view" aria-selected="false">Standard Draft </a>
                                                                <a class="nav-item nav-link " id="nav-changes-approve-justification-tab" (click)=toggleDisplayMainTab() data-toggle="tab" href="#nav-changes-approve-justification" role="tab" aria-controls="nav-changes-approve-justification" aria-selected="false">Upload Standard</a>
                                                                <a class="nav-item nav-link" id="nav-changes-proposal-list-comments-tab" (click)=displayDraftComments(actionRequests?.draftId) data-toggle="tab" href="#nav-changes-proposal-list-comments" role="tab" aria-controls="nav-changes-proposal-list-comments" aria-selected="false">Joint Committee Comments</a>
                                                                <a class="nav-item nav-link " id="nav-changes-justification-list-comments-tab" (click)=toggleDisplayRemarksTab(actionRequests?.draftId) data-toggle="tab" href="#nav-changes-justification-list-comments" role="tab" aria-controls="nav-changes-justification-list-comments" aria-selected="false">Remarks</a>
                                                            </div>
                                                        </nav>
                                                        <div class="tab-content py-3 px-3 px-sm-0" id="nav-changes-justification-content">
                                                            <div class="tab-pane fade show active" id="nav-changes-view" role="tabpanel" aria-labelledby="nav-changes-view-tab">
                                                                <div class="container col-md-12" >
                                                                    <div class="form-group col-12">
                                                                        <label><b>Standard Type</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.standardType}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Standard Number</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.comStdNumber}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Title</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.title}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Scope</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.scope}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Normative Reference</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.normativeReference}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Symbols Abbreviated Terms</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.symbolsAbbreviatedTerms}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Clause</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.clause}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Special</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.special}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Document Type</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.documentType}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>
                                                                    <div class="form-group col-12">
                                                                        <label><b>Description</b></label>
                                                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                            <div class="d-flex w-100 justify-content-between" >
                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                    <b>{{actionRequests?.description}}</b>
                                                                                </div>
                                                                            </div>
                                                                        </a>
                                                                    </div>

                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade " id="nav-changes-approve-justification" role="tabpanel" aria-labelledby="nav-changes-approve-justification-tab">
                                                                <div class="container col-md-12" [hidden]="isShowMainTab">
                                                                    <form (ngSubmit)="approveInternationalStandard()" [formGroup]="prepareStandardFormGroup" class="form">
                                                                        <div class="modal-body">
                                                                            <div class="form-body">
                                                                                <div class="form-group col-12">
                                                                                    <label><b>Standard Draft</b></label>
                                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                        <div class="d-flex w-100 justify-content-between" *ngFor="let documentDTO of documentDTOs let d=index">
                                                                                            <div>
                                                                                                <div class="d-flex w-100 align-items-center" >
                                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Standard Drafts Version- {{d+1}} </b></h5>
                                                                                                </div>
                                                                                            </div>
                                                                                            <button mat-raised-button type="button" data-toggle="modal"
                                                                                                    (click)="viewDraftFile( documentDTO.id,'draft'+documentDTO.id+'.docx', 'application/docx')" target="" class="btn btn-info btn-sm ">
                                                                                                <i class="fa fa-download"></i> Download Standard Draft</button>

                                                                                        </div>


                                                                                    </a>
                                                                                </div>
                                                                                <div class="row col-12">
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Standard Number</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.comStdNumber}}" formControlName="standardNumber" name="standardNumber"
                                                                                                  placeholder="Document Standard Type" type="text" >{{actionRequests?.comStdNumber}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Document Type</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.documentType}}" formControlName="docName" name="docName"
                                                                                                  placeholder="Document Standard Type" type="text" >{{actionRequests?.documentType}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Title</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.title}}" formControlName="title" name="title"
                                                                                                  placeholder="International Standard Scope" type="text" >{{actionRequests?.title}}</textarea>

                                                                                    </div>

                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Scope</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.scope}}" formControlName="scope" name="scope"
                                                                                                  placeholder="Scope" type="text" >{{actionRequests?.scope}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Normative Reference</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.normativeReference}}" formControlName="normativeReference" name="normativeReference"
                                                                                                  placeholder="Normative Reference" type="text" >{{actionRequests?.normativeReference}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Symbols Abbreviated Terms</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.symbolsAbbreviatedTerms}}" formControlName="symbolsAbbreviatedTerms" name="symbolsAbbreviatedTerms"
                                                                                                  placeholder="Normative Reference" type="text" >{{actionRequests?.symbolsAbbreviatedTerms}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Clause</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.clause}}" formControlName="clause" name="clause"
                                                                                                  placeholder="Clause" type="text" >{{actionRequests?.clause}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Special</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.special}}" formControlName="special" name="special"
                                                                                                  placeholder="Special" type="text" >{{actionRequests?.special}}</textarea>
                                                                                    </div>
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Standard Type</b><span style="font-size: xx-small; color: red;"></span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" value="{{actionRequests?.standardType}}" formControlName="standardType" name="standardType"
                                                                                                  placeholder="Standard Type" type="text" >{{actionRequests?.standardType}}</textarea>
                                                                                    </div>
                                                                                    <div class="row col-12">
                                                                                        <div class="form-group col-12">
                                                                                            <label><b>Attach Standard</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                                                            <form #demoForm="ngForm">
                                                                                                <file-upload [(ngModel)]="uploadStandardFile" name="uploadedFiles"  fileslimit="1" accept=".docx" ></file-upload>
                                                                                                <input class="form-control one-column-input" ngModel="Report"  name="DocDescription" type="hidden">
                                                                                            </form>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <input type="hidden" formControlName="draftId" name="draftId" value="{{actionRequests?.draftId}}" >
                                                                                <input type="hidden" formControlName="requestId" name="requestId" value="{{actionRequests?.requestId}}" >
                                                                                <input type="hidden" formControlName="id" name="id" value="{{actionRequests?.id}}" >

                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                            <button type="submit" class="btn btn-primary btn-sm"  >Save</button>
                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>
                                                            <div class="tab-pane fade" id="nav-changes-proposal-list-comments" role="tabpanel" aria-labelledby="nav-changes-proposal-list-comments-tab">
                                                                <div class="modal-body">
                                                                    <div class="form-body">
                                                                        <div class="container col-md-12" [hidden]="isShowRemarksTab">
                                                                            <p>Numbers</p>
                                                                            <div class="material-datatables table-responsive col-md-12">
                                                                                <table class="table table-striped table-bordered table-hover" datatable
                                                                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th class="knw">Time</th>
                                                                                        <th class="knw">Title</th>
                                                                                        <th class="knw">Name Of Organization</th>
                                                                                        <th class="knw">Clause</th>
                                                                                        <th class="knw">Paragraph</th>
                                                                                        <th class="knw">Scope</th>
                                                                                        <th class="knw">Observation</th>
                                                                                        <th class="knw">Name of Respondent</th>
                                                                                        <th class="knw">Position of Respondent</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr  *ngFor="let comStdCommitteeRemark of comStdCommitteeRemarks let i=index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{comStdCommitteeRemark.commentTime | date: 'yyyy-MM-dd'}}</td>
                                                                                        <td>{{comStdCommitteeRemark.commentTitle}}</td>
                                                                                        <td>{{comStdCommitteeRemark.nameOfOrganization}}</td>
                                                                                        <td>{{comStdCommitteeRemark.comClause}}</td>
                                                                                        <td>{{comStdCommitteeRemark.comParagraph}}</td>
                                                                                        <td>{{comStdCommitteeRemark.scope}}</td>
                                                                                        <td>{{comStdCommitteeRemark.observation}}</td>
                                                                                        <td>{{comStdCommitteeRemark.nameOfRespondent}}</td>
                                                                                        <td>{{comStdCommitteeRemark.positionOfRespondent}}</td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                </div>

                                                            </div>
                                                            <div class="tab-pane fade" id="nav-changes-justification-list-comments" role="tabpanel" aria-labelledby="nav-changes-justification-list-comments-tab">
                                                                <div class="modal-body">
                                                                    <div class="form-body">
                                                                        <div class="container col-md-12" [hidden]="isShowCommentsTab">
                                                                            <div class="col-12">
                                                                                <div class="card" *ngFor="let comStdRemark of comStdRemarks">
                                                                                    <div class="card-header">
                                                                                        <span class="badge badge-info">Comment By</span>{{comStdRemark.remarkBy}} On {{comStdRemark.dateOfRemark | date: 'dd/MM/yyyy hh:mm:ss'}}
                                                                                    </div>
                                                                                    <div class="card-body">
                                                                                        <blockquote class="blockquote mb-0">
                                                                                            <p>Remark: {{comStdRemark.remarks}}.</p>
                                                                                        </blockquote>
                                                                                    </div>

                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                </div>

                                                            </div>


                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </section>



                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

