<div class="row" *ngIf="corDetails">
    <div class="col-md-2 pl-0 pr-0">
        <div widget class=" border-0 box-shadow">
            <div class="text-center pt-3" style="color: green;">
                CD Details
            </div>
            <div class="card-body pt-0 widget-body">
                <table class="table-responsive">
                    <th *ngIf="corDetails.cd_details">
                        Application Ref Number
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.applicationRefNo}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Application Date
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.applicationDate}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Declaration Number
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.declaraionNumber}}</td>
                    </tr>
                    <th>
                        UCR Number
                    </th>
                    <tr>
                        <td>{{corDetails.cor_details.ucrNumber}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Application Type
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.cdTypeName}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Document Type
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.cdTypeName}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Assigned Officer
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.assignedTo}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Approval Status
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.approvalStatus}}</td>
                    </tr>

                    <th *ngIf="corDetails.cd_details">
                        Approval Date
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.approvalStatus}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Final Approval Date
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.approveRejectCdDate}}</td>
                    </tr>
                    <th *ngIf="corDetails.cd_details">
                        Version No
                    </th>
                    <tr *ngIf="corDetails.cd_details">
                        <td>{{corDetails.cd_details.version}}</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>
    <div class="col-md-8">
        <mat-tab-group [(selectedIndex)]="active" [disablePagination]="true"
                       appMatMultilineTab
                       class="tab-wraps">
            <mat-tab tabindex="1">
                <ng-template mat-tab-label>CoR Details</ng-template>
                <b class="text-primary">Certificate Of Roadworthiness Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">COR NUMBER</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.corNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">UCR NUMBER</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.ucrNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">RFC NUMBER</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.rfcNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">RFC DATE</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.rfcDate}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">COR ISSUE DATE</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.corIssueDate}}</div>
                    </li>

                </ul>
            </mat-tab>
            <mat-tab label="2">
                <ng-template mat-tab-label>
                    Exporter Details
                </ng-template>
                <b class="text-primary">Exporter Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Name</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.exporterName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.exporterAddress}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.exporterAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.exporterEmail}}</div>
                    </li>
                </ul>
            </mat-tab>

            <mat-tab tabindex="3">
                <ng-template mat-tab-label>
                    Motor Vehicle Details
                </ng-template>
                <b class="text-primary">Motor Vehicle Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Make</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.make}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Model</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.model}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Chassis Number</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.chassisNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Chassis/VIN Number</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.numberOfAxles}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Engine Number/Model</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.engineNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Engine Capacity</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.engineCapacity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Year of Manufacture</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.yearOfManufacture}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Year of First Registration</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.yearOfFirstRegistration}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Inspection Mileage</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.inspectionMileage}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Units Of Mileage</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.unitsOfMileage}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Previous Registration Number</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.previousRegistrationNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Previous Country Of Registration
                        </div>
                        <div class="list-text-accordion">{{corDetails.cor_details.previousCountryOfRegistration}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Tare Weight</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.tareWeight}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Load Capacity</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.loadCapacity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Gross Weight</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.tareWeight}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Number Of Axles</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.numberOfAxles}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Type Of Vehicle</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.typeOfVehicle}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Number Of Passengers</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.numberOfPassengers}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Body Color</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.bodyColor}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Fuel Type</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.fuelType}}</div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab tabindex="4">
                <ng-template mat-tab-label>Queries</ng-template>
                <b class="text-primary">PVOC Queries for document</b>
                <div class="row" *ngIf="corDetails.queries else noQueries">
                    <app-pvoc-query-card class="col-md-12" *ngFor="let q of corDetails.queries"
                                         [queryDetails]="q"></app-pvoc-query-card>
                </div>
                <ng-template #noQueries>
                    <p>No Queries have been raised on this document. Use the <b>PVOC Query</b> button to raise a query
                    </p>
                </ng-template>
            </mat-tab>
            <mat-tab tabindex="5" [disabled]="!corDetails.pvoc_client">
                <ng-template mat-tab-label>
                    Partner Details
                </ng-template>
                <b class="text-primary">Partner Details</b>
                <ul class="w-list-unstyled" *ngIf="corDetails.pvoc_client">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">NAME</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PIN</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerPin}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Partner No.</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerRefNo}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Region</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerRegion}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerAddress1}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Phone Number</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerTelephoneNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{corDetails.pvoc_client.partnerEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Uploaded By</div>
                        <div class="list-text-accordion">{{corDetails.cor_details.clientId}}</div>
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
        <!-- </div>  -->
    </div>
    <div class="col-md-2 pl-0 pr-0">
        <h5>Action:</h5>
        <button *ngIf="corDetails.cor_details.documentsType==='F' && isPvocOfficer"
                class="btn btn-sm btn-primary" (click)="createQuery()">Query PVOC
        </button>
        <h5>Documents:</h5>
        <button *ngIf="corDetails.cor_details.documentsType!=='F'"
                class="btn btn-sm btn-primary" (click)="downloadCorFile()">CoR Certificate
            File
        </button>

    </div>
</div>