<div class="container" id="main-container">
  <div class="d-flex flex-wrap align-items-center">
    <h3 *ngIf="public_review_draft" class="mr-4">{{public_review_draft.prdName}}- Add Comment</h3>
  </div>


  <form #approveForm="ngForm">
    <div class="modal-body">
      <div class="row col-12">
      </div>
      <div class="row col-12">
        <div class="form-group col-6">
          <!--          <h5>Public Review Draft: <b style="color: #0066B1">{{public_review_draft.prdName}}</b></h5>-->
          <label for="name">Public Review Draft</label>
          <input type="text" id="name" class="form-control" name="title"
                 placeholder="{{public_review_draft.prdName}}" readonly>

        </div>
        <div class="form-group col-6">


          <label for="title">Title</label>
          <input type="text" id="title" class="form-control" required ngModel name="title"
                 placeholder="Title">

        </div>
      </div>
      <div class="row col-12">
        <div class="form-group col-6">


          <div class="form-group">
            <label for="documentType">Document Type</label>
            <input type="text" id="documentType" class="form-control" required ngModel
                   name="documentType"
                   placeholder="Document Type">

          </div>
        </div>
        <div class="form-group col-6">

          <div class="form-group">
            <label for="circulationDate">Circulation Date</label>
            <input
              aria-describedby="inputGroup-sizing-sm" aria-label="Small" id="circulationDate"
              class="form-control one-column-input" ngModel name="circulationDate"
              placeholder="Circulation Date" type="date">

          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="form-group col-6">

          <div class="form-group">
            <label for="closingDate">Closing Date</label>
            <input id="closingDate" class="form-control" required
                   name="closingDate" type="date" ngModel
                   placeholder="Closing Date">

          </div>
        </div>
        <div class="form-group col-6">

          <div class="form-group">
            <label for="organization">Organization</label>
            <input type="text" id="organization" class="form-control" required
                   name="organization" ngModel
                   placeholder="Organization">

          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="form-group col-6">

          <div class="form-group">
            <label for="clause">Clause</label>
            <input type="text" id="clause" class="form-control" required
                   name="clause" ngModel
                   placeholder="Clause">

          </div>
        </div>
        <div class="form-group col-6">

          <div class="form-group">
            <label for="commentType">Comment Type</label>
            <input type="text" id="commentType" class="form-control" required
                   name="commentType" ngModel
                   placeholder="Comment Type">

          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="form-group col-6">

          <div class="form-group">
            <label for="comment">Comment</label>
            <input type="text" id="comment" class="form-control" required
                   name="comment" ngModel
                   placeholder="Comment">

          </div>
        </div>
        <div class="form-group col-6">

          <div class="form-group">
            <label for="observations">Observations</label>
            <input type="text" id="observations" class="form-control" required
                   name="observations" ngModel
                   placeholder="Observations">

          </div>
        </div>
      </div>
      <div class="row col-12">
        <div class="form-group col-6">

          <div class="form-group">
            <label for="proposedChange">Proposed Change</label>
            <input type="text" id="proposedChange" class="form-control" required
                   name="proposedChange" ngModel
                   placeholder="Proposed Change">

          </div>
        </div>
        <!--        <div class="form-group col-6">-->

        <!--          <div class="form-group">-->
        <!--            <label for="observations">Observations</label>-->
        <!--            <input type="text" id="observations" class="form-control" required formControlName="observations"-->
        <!--                   name="observations"-->
        <!--                   placeholder="Observations">-->

        <!--          </div>-->
        <!--        </div>-->
      </div>

    </div>
    <input type="hidden" ngModel="{{public_review_draft.id}}" name="prdId">
    <input type="hidden" ngModel="true" name="approved">
    <div class="modal-footer">
      <button type="submit" class="btn btn-primary btn-sm" (click)="onDecision(approveForm.value)">
        Approve
      </button>
    </div>
  </form>

</div>
