<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Saving Please Wait...</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"><b>Create Product Category</b></h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <form (ngSubmit)="saveProductCategory()" [formGroup]="createProductCategoryFormGroup" class="form">
                                <div class="form-body">
                                    <div class="row col-12">

                                        <div class="form-group col-10">
                                            <label><b>Product Category Name</b><span
                                                    style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                            <input
                                                    oninput="this.value= this.value.toUpperCase()"
                                                    [class.is-invalid]="formCreateProduct.name.invalid && formCreateProduct.name.touched"
                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                    class="form-control one-column-input text-capitalize"
                                                    formControlName="name" name="name"
                                                    placeholder="Product Category Name" type="text">
                                        </div>
                                    </div>
                                    <div class="row col-12">

                                        <div class="form-group col-6">
                                            <label><b>Select Department</b><span
                                                    style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                            <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                    class="form-control" required
                                                    formControlName="departmentId"
                                                    name="departmentId"
                                                    (change)="onSelectDepartment($event.target.value)"
                                                    [class.is-invalid]="formCreateProduct.departmentId.invalid && formCreateProduct.departmentId.touched">
                                                <option disabled>--Select Department--</option>
                                                <option *ngFor="let department of departments"
                                                        value="{{department.id}}">{{department.name}}</option>
                                            </select>
                                        </div>

                                        <div class="form-group col-6">
                                            <label><b>Select Technical Committee</b><span
                                                    style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                            <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                    class="form-control" required
                                                    formControlName="technicalCommitteeId"
                                                    name="technicalCommitteeId"
                                                    [class.is-invalid]="formCreateProduct.departmentId.invalid && formCreateProduct.departmentId.touched">
                                                <option disabled>--Select committee--</option>
                                                <option *ngFor="let committee of technicalCommittees"
                                                        [value]="committee.id">{{committee.title}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>

                                    <div class="row col-12">
                                        <div class="form-group col-6">
                                            <label><b>Category Description</b><span
                                                    style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                            <input
                                                    oninput="this.value"
                                                    [class.is-invalid]="formCreateProduct.description.invalid && formCreateProduct.description.touched"
                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                    class="form-control one-column-input text-capitalize"
                                                    formControlName="description"
                                                    name="description"
                                                    placeholder="Product Category Description" type="text">
                                        </div>

                                    </div>


                                    <div class="row col-12 float-right " style="margin: 3em 0 2em 0">
                                        <button mat-raised-button *ngIf="createProductCategoryFormGroup.valid"
                                                [disabled]="!createProductCategoryFormGroup.valid"
                                                class="btn btn-info pull-right" type="submit">Submit
                                        </button>


                                    </div>
                                </div>


                            </form>
                            <div class="row col-12 float-right " style="margin: 3em 0 2em 0">
                                <button mat-raised-button *ngIf="!createProductCategoryFormGroup.valid"
                                        class="btn btn-info pull-right"
                                        (click)="showNotification('top','right')">Submit
                                </button>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"> All Product Categories
                            </h4>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>


                            <div class="material-datatables">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th class="id">Number</th>
                                        <th class="task">Product Category Name</th>
                                        <th class="task">Technical Committee Name</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tcTask of tcsb let i= index; ">
                                        <td>{{i + 1}}</td>

                                        <td>{{tcTask.name}}</td>
                                        <td>{{tcTask.tc_Title}}</td>
                                        <td><a (click)="onOpenModal(tcTask,'edit')" class="btn btn-info"
                                               data-placement="top"
                                               data-original-title="Upload NWI">Edit</a>
                                            <br>
                                            <a class="btn btn-danger"
                                               data-placement="top"
                                               data-original-title="Upload NWI">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="uploadSPCJustification" tabindex="-1" role="dialog"
                 aria-labelledby="updateExampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-xl" role="document" style="width: 100%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateExampleModalLabel">Product Category</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form #editForm="ngForm">
                            <div class="modal-body">

                                <div class="row col-12">

                                    <div class="form-group col-10">
                                        <label><b>Product Category Name</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <input
                                                oninput="this.value = this.value.capitaliseFirstLetter"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input"
                                                name="name"
                                                ngModel="{{tscsecRequestb?.name}}"
                                                placeholder="Product Category Name" type="text">
                                    </div>
                                </div>
                                <div class="row col-12">

                                    <div class="form-group col-6">
                                        <label><b>Select Department</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                class="form-control" required
                                                (change)="onSelectDepartment($event.target.value)"
                                                name="departmentIdb"
                                                ngModel="{{tscsecRequestb?.v4}}">
                                            <option disabled>--Select Department--</option>
                                            <option *ngFor="let department of departments"
                                                    [selected]="tscsecRequestb?.v4"
                                                    value="{{department.id}}">{{department.name}}</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-6">
                                        <label><b>Select Technical Committee</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                class="form-control" required
                                                name="technicalCommitteeIdb"
                                                ngModel="{{tscsecRequestb?.v3}}">

                                            <option disabled>--Select committee--</option>
                                            <option *ngFor="let committee of technicalCommitteesb"
                                                    [value]="committee.id"
                                                    [selected]="committee.id==tscsecRequestb?.v3"

                                            >{{committee.title}}
                                            </option>
                                        </select>
                                    </div>

                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-6">
                                        <label><b>Category Description</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <input
                                                oninput="this.value = this.value.capitaliseFirstLetter"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input"
                                                ngModel="{{tscsecRequestb?.v1}}"

                                                name="description"
                                                placeholder="Product Category Description" type="text">
                                    </div>

                                </div>


                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" #closeModal
                                        (click)="hideModel()" data-dismiss="modal">Close
                                </button>
                                <button class="btn btn-info"
                                        (click)="uploadJustification(editForm.value)">Submit
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
