
#heading {
  text-transform: uppercase;
  color: #0082f3;
  font-weight: normal
}

#msform {
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 90%;
}

#msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 20px;
    position: relative;
    text-align: center;
}

.form-card {
    text-align: left;
    width: 100%;
    text-align: center;
}

#msform fieldset:not(:first-of-type) {
    display: none
}

#msform input,
#msform textarea,
#msform select{
    padding: 8px 15px 8px 15px;
    border: 1px solid #ccc;
    border-radius: 0px;
    margin-bottom: 25px;
    margin-top: 2px;
    display: block;
    width: 50%;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    background-color: #ECEFF1;
    font-size: 13px;
    letter-spacing: 1px;
    margin-left: 30px ;
}

#msform input:focus,
#msform textarea:focus,
#msform select:focus{
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #673AB7;
    outline-width: 0
}

#msform .action-button {
    width: 100px;
    background: #0082f3;
    font-weight: bold;
    font-family: montserrat;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px 0px 10px 5px;
    float: right
}

#msform .action-button:hover,
#msform .action-button:focus {
    background-color: #0082f3
    width: 100px;
    background: #616161;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;
    float: right
}



#msform .action-button-previous:hover,
#msform .action-button-previous:focus {
    background-color: #000000
}

#msform .action-button-previous {
    width: 100px;
    background: #0082f3;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 0px;
    cursor: pointer;
    padding: 10px 5px;
    margin: 10px auto;
    float: left;
    margin-left: 700px;
}

/*#msform .next{*/
/*    margin-right: 200px;*/
/*}*/

.card {
    z-index: 0;
    border: none;
    position: relative;
    width: 900px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(28,32,255,0.7);
    box-shadow: 0px 0px 5px 2px rgba(28,32,255,0.7);
    justify-content: center;
    text-align: center;
}

.fs-title {
    font-size: 25px;
    color: #0082f3;
    margin-bottom: 15px;
    margin-left: 30px;
    font-weight: normal;
    text-align: left
}

.purple-text {
    color: #0082f3;
    font-weight: normal
}

.steps {
    font-size: 25px;
    color: #0082f3;;
    margin-bottom: 10px;
    font-weight: normal;
    text-align: center;
}

.fieldlabels {
    color: #1b75bc;
    text-align: left;
    display: block;
    margin-left: 30px ;
    font-size: 15px;
}

#msform table {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

#msform table input{
    height: 45px;
    width: 100%;
    font-size: 13px;
}

#progressbar {
    margin-bottom: 30px;
    overflow: hidden;
    color: #0082f3;
}

#progressbar .active {
    color: #0082f3
}

#progressbar li {
    list-style-type: none;
    font-size: 15px;
    width: 25%;
    float: left;
    position: relative;
    font-weight: 400
}

#progressbar #account:before {
    font-family: FontAwesome;
    content: "\f13e"
}

#progressbar #personal:before {
    font-family: FontAwesome;
    content: "\f007"
}

#progressbar #payment:before {
    font-family: FontAwesome;
    content: "\f030"
}

#progressbar #confirm:before {
    font-family: FontAwesome;
    content: "\f00c"
}

#progressbar li:before {
    width: 50px;
    height: 50px;
    line-height: 45px;
    display: block;
    font-size: 20px;
    color: #ffffff;
    background: lightgray;
    border-radius: 50%;
    margin: 0 auto 10px auto;
    padding: 2px
}

#progressbar li:after {
    content: '';
    width: 100%;
    height: 2px;
    background: lightgray;
    position: absolute;
    left: 0;
    top: 25px;
    z-index: -1
}

.radio-btn {
    width: 20%;
    height: 20%;
}

#progressbar li.active:before,
#progressbar li.active:after {
    background: #0082f3
}

.progress {
    height: 20px
}

.progress-bar {
    background-color: #0082f3
}

.fit-image {
    width: 100%;
    object-fit: cover
}
