.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active, .nav-link.show >.nav-link {
  color: #121212;
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FAA330;
  background-color: #ffffff !important;
}

.nav-pills .nav-link:not(.active) {
  background-color: #ffffff;
  color: black;
}

table {
  width: 100%;
  margin: 3% 0;
}

.ref-link {
  text-decoration-line: underline;
  font-size: 15px;
  color: #0066B1!important;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

/*mouse over background slide from left*/
.ref-link:hover, .ref-link:active, .ref-link:focus {
  background-position: 0 0;
  color: #252525;
  outline: 0;
}

.spinner-border {
  width: 20px!important;
  height: 20px!important;
}
