<div class="container" id="main-container">
<div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
<div class="d-flex flex-wrap align-items-center">
<h5 class="mr-4">Company Standard Requests</h5>
<div class="resolved-pill">
<p>4</p>
</div>
</div>

<button class="btn btn-sm btn-outline-secondary mr-2">EXPORT</button>
<button class="btn btn-sm btn-outline-info mr-2" data-toggle="modal" data-target="#jCModal">Joint Committee</button>
</div>
<table class="table-hover">
<thead>
<th class="id">#</th>
<th class="task">Company Name</th>
<th class="action">Category/Field</th>
<th>Date of Application</th>
<th>Action</th>
<th></th>
</thead>
<tbody>
<tr >
<td >1</td>
<td>XYZ</td>
<td>IT</td>
<td>14/02/2021</td>
<td><a   class="btn btn-primary tooltips" data-placement="top"  data-original-title="Review"> Approve</a></td>
<td><button type="submit" class="btn btn-danger">Reject</button></td>
</tr>
<tr >
<td >2</td>
<td>ABC</td>
<td>Manufacturing</td>
<td>02/04/2021</td>
<td><a   class="btn btn-primary tooltips" data-placement="top"  data-original-title="Review"> Approve</a></td>
<td><button type="submit" class="btn btn-danger">Reject</button></td>
</tr>
<tr >
<td >3</td>
<td>AfCO</td>
<td>Processing</td>
<td>10/03/2021</td>
<td><a   class="btn btn-primary tooltips" data-placement="top"  data-original-title="Review"> Approve</a></td>
<td><button type="submit" class="btn btn-danger">Reject</button></td>
</tr>
<tr >
<td >4</td>
<td>Propol</td>
<td>Service</td>
<td>11/03/2021</td>
<td><a   class="btn btn-primary tooltips" data-placement="top"  data-original-title="Review"> Approve</a></td>
<td><button type="submit" class="btn btn-danger">Reject</button></td>
</tr>
<tr >
<td >5</td>
<td>Emiles</td>
<td>FinTech</td>
<td>12/04/2021</td>
<td><a   class="btn btn-primary tooltips" data-placement="top"  data-original-title="Review"> Approve</a></td>
<td><button type="submit" class="btn btn-danger">Reject</button></td>
</tr>
</tbody>
</table>

<pagination-controls ></pagination-controls>

<div class="modal fade" id="jCModal" tabindex="-1" role="dialog" aria-labelledby="updateExampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-lg " role="document"  >
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="updateExampleModalLabel">Form Joint Committee</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<form  >
<div class="modal-body">

</div>
<div class="modal-footer">
<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
<button  class="btn btn-info"  >Save</button>
</div>
</form>
</div>
</div>
</div>

</div>
