<style>
    body {
        font-family: 'Nunito Sans', sans-serif;
        padding: 0;
        margin: 0;
        background-color: #f4f4f4;
        overflow-x: hidden;
        height: 100vh;
    }

    input {
        border-radius: 0 !important;
        font-size: 14px;
        width: 60%;
    }


    #main-nav {
        width: 100%;
        background-color: #1B75BC;
        color: #ffffff;
        /*position: fixed;*/
    }

    #main-nav-under {
        width: 100%;
        height: 100px;
        background-color: #1B75BC;
        color: #ffffff;
        -webkit-box-shadow: 0px 1px 0px #e5e5e5;
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.18);
        z-index: 2000;
    }

    /* Global*/
    .logo-image {
        width: 250px;
        height: 75px
    }

    .dashboard-header-logo {
        width: 200px;
        height: 100px
    }

    .vision-image {
        width: 250px;
        height: 45px
    }

    /* Header */
    .kebs-image {
        display: flex;
        justify-content: start;
        align-items: center;
        grid-area: kebs-image;
    }

    .title {
        display: flex;
        justify-content: flex-start;
        margin-left: 20px;
        align-items: center;
        grid-area: title;
    }

    .vision-2030 {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 30px;
        grid-area: vision-2030;
    }

    .header {
        width: 100%;
        height: 100px;
        margin: 0px 30px;
        overflow: hidden;
        display: grid;
        grid-template-columns: 0.5fr 1fr auto 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "kebs-image  title . vision-2030";
    }

    /* Login page Information section */
    .about-us {
        grid-area: about-us;
        margin-top: 5px;
        background-image: url("assets/images/assets/Login screen .png");
        background-size: cover;
        height: 98%;
        /*padding: 0 50px;*/
        display: flex;
        /*transform: translate(-50%, 50%);*/
        justify-content: center;
        align-items: center;
    }

    .about-us-content {
        background-color: rgb(45, 48, 51, 0.8);
        /* opacity: 0.8; */
        color: #ffffff;
        padding: 20px;
        border-radius: 15px;
    }

    .content-title {
        font-size: 19px;
        font-weight: 600;
    }

    .content-details {
        font-weight: 500;
    }

    p {
        margin: 0;
    }

    .login-form {
        grid-area: login-form;
        margin: 45px 30px;
        /* color: #ffffff; */
    }

    .welcome {
        font-weight: 600;
        color: #ffffff;
    }

    .welcome2 {
        font-weight: 600;
        color: #000000;
    }

    .input-placeholder {
        color: #ffffff;
        font-size: 10px;
    }

    .input-placeholder-required {
        color: #000000;
        font-size: 10px;
    }

    .input-placeholder-not-required {
        color: #000000;
        font-size: 10px;
    }

    .input-placeholder-required:after {
        content: "*";
        color: red;
    }

    .login-form-inputs {
        width: 60%;
        margin: 10px 0px;
        font-size: 22px;
    }

    .login-button {
        background-color: #0594FF;
        color: #ffffff;
        padding: 10px 35px;
        border: none;
        border-radius: 100px;
        text-align: center;
        margin-bottom: 15px;
    }

    .login-ref {
        text-decoration: none;
        cursor: pointer;
        color: #ffffff;
    }

    .reset-credentials {
        color: #ffffff;
        font-size: 14px;
        font-weight: 300;
        margin-bottom: 10px;
    }

    .input-row {
        margin-top: 3%;
    }

    .infor {
        background-color: #1B75BC;
        height: 70vh;
        width: 100%;
        display: grid;
        /*grid-template-columns: 1fr 1fr;*/
        /*grid-template-rows: auto;*/
        grid-template-areas:
    "about-us  login-form";
    }

    /* Login page Footer section */
    .location {
        grid-area: location;
        color: #222;
        align-items: center;
        padding: 10px 15px;
    }

    .location-details {
        font-size: 12px;
        font-weight: 700;
    }

    .standard-marks {
        grid-area: standard-marks;
    }

    .f-mark {
        grid-area: f-mark;
        padding-top: 6px;
    }

    .d-mark {
        grid-area: d-mark;
    }

    .n-mark {
        grid-area: n-mark;
    }

    .mark-image {
        width: 50px;
        height: 50px;
    }

    #d_mark {
        width: 75px;
        height: 65px;
    }

    #quality {
        width: 75px;
        height: 65px;
    }

    .marks {
        width: 100%;
        display: grid;
        padding: 20px 15px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "f-mark  d-mark n-mark";
    }

    .copyright {
        grid-area: copyright;
        padding: 30px 40px 0px 30px;
        /* display: flex; */
        /* justify-content: center; */
        align-items: center;
    }

    .copyright-details {
        font-size: 12px;
        font-weight: 700;
        color: #267BBF;
        margin-left: 50px;
    }

    .push-middle {
        padding-left: 40px;
    }

    .footer {
        padding: 20px 15px 5px 20px;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "location  standard-marks copyright";
    }

    /* Dashboard page Information section */
    .dashboard-header {
        grid-area: dashboard-header;
        background-color: #1B75BC;
        height: 84px;
        width: 100%;
        position: fixed;
        display: flex;
        justify-content: start;
        padding-left: 60px;
        align-items: center;
        z-index: 1000;
    }

    .user-details {
        grid-area: user-details;
        color: #ffffff !important;
        padding: 18px 40px;
        /* display: flex;
        justify-content: center; */
        align-items: center;
    }

    .user-details-p {
        font-size: 13px;
        font-weight: 500;
        padding: 0;
    }

    .options-button {
        /*grid-area: options-button;*/
        display: flex;
        /* justify-content: center; */
        align-items: center;
    }

    .option-button {
        background-color: #ffffff;
        color: #0594FF;
        padding: 10px 40px;
        border: none;
        border-radius: 100px;
        text-align: center;
    }

    .loggedIn-user {
        grid-area: loggedIn-user;
        background-color: #0A95FC;
        border-left: #ffffff solid 2px;
        display: grid;
        z-index: 1000;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "user-details options-button";
    }

    .dashboard-page {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto  450px;
        grid-template-rows: auto;
        grid-template-areas:
    "dashboard-header dashboard-header  loggedIn-user";
    }

    .sidebar {
        position: fixed;
        top: 10%;
        bottom: 0;
        left: 0;
        z-index: 100; /* Behind the navbar */
        padding: 0;
        box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    }

    .sidebar-sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 48px; /* Height of navbar */
        height: calc(100vh - 48px);
        padding-top: .5rem;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: #1B75BC;
        /*border: 1px solid #e5e5e5;!* Scrollable contents if viewport is shorter than content. *!*/
    }

    .sidenav-items {
        margin: 1em 0 0 0;
    }

    .sidebar .nav-link {
        font-weight: 500;
        color: #ffffff;
        padding-top: 1.5em;
    }

    .sidebar .nav-link.active {
        color: #007bff;
    }

    .sidebar .nav-link:hover .feather,
    .sidebar .nav-link.active .feather {
        color: inherit;
    }

    .sidebar-heading {
        font-size: .75rem;
        text-transform: uppercase;
    }

    .nav-sub-item a {
        text-decoration: none !important;
        color: #ffffff;
    }

    /*.sidebar {*/
    /*  grid-area: sidebar;*/
    /*  background-color: #1B75BC;*/
    /*  padding: 20px 0px;*/
    /*  border-top: 2px solid #ffffff;*/
    /*  height: 100vh;*/
    /*  position: fixed;*/
    /*}*/

    /*.sidebar-notifications {*/
    /*  grid-area: sidebar;*/
    /*  background-color: #1B75BC;*/
    /*  padding: 20px 0px;*/
    /*  border-top: 2px solid #ffffff;*/
    /*  height: 93vh;*/
    /*}*/

    /*.sidebar-items {*/
    /*  padding: 0px 15px;*/
    /*  color: #ffffff;*/
    /*  display: flex;*/
    /*  align-items: center;*/
    /*  margin-bottom: 30px;*/
    /*}*/

    .sidebar-icons {
        width: 25px;
        height: 25px;
    }

    .sidebar-icons-dashboard {
        width: 25px;
        height: 25px;
    }

    .selected-page {
        color: #FFBC00;
        /* font-size: 15px; */
    }

    .unselected-page {
        color: #ffffff;
        font-size: 15px;
    }

    .dashboard-icon {
        width: 15px;
        height: 15px;
        /* color: #FFBC00; */
    }

    .dashboard-title {
        grid-area: dashboard-title;
        padding: 5px 60px;
        align-items: center;
    }

    .dashboard-title-content {
        padding-top: 10px;
    }

    .logout {
        grid-area: logout;
        padding-left: 275px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .logout-button {
        background-color: #1B75BC;
        padding: 7px 25px;
        border: none;
        color: #ffffff;
    }

    .top-section {
        width: 100%;
        height: 50px;
        padding: 5px;
        display: flex;
        background-color: #E0E0E0;
    }

    .bredcrumb {
        color: #121212 !important;
    }

    .main-area {
        grid-area: main-area;
    }

    .dashboard-body {
        width: 100%;
        display: grid;
        grid-template-columns: 250px auto auto 1fr;
        grid-template-rows: auto;
        grid-template-areas:
    "sidebar main-area main-area main-area";
    }

    /*.dashboard-content {*/
    /*  padding: 0px 30px 0px 20px;*/
    /*}*/

    .welcome-banner {
        background-image: url('assets/images/welcome to kebs no bg.png');
        /* height: 100%; */
        background-repeat: no-repeat;
        background-size: 100% 100%;

        padding: 70px 50px;

    }

    .banner-title {
        border-radius: 15px 15px 15px 15px;
        background-size: cover;
        width: 100%;
        background-image: url('./assets/images/welcome to kebs no bg.png');
        padding: 60px 80px;
        align-items: center;
    }

    .banner-title-content {
        font-size: 26px;
        color: #ffffff;
    }

    .account {
        border-radius: 5px;
        grid-area: account;
        cursor: pointer;
        background-color: #1B75BC;
        padding: 15px 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .notifications {
        border-radius: 5px;
        grid-area: notifications;
        background-color: #1B75BC;
        padding: 10px 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .link {
        text-decoration: none;
    }

    .notification-ref {
        display: flex;
        align-items: center;
        color: #ffffff;

    }

    .notification-icon {
        /* padding-top: 5px; */
    }

    .tasks {
        border-radius: 5px;
        grid-area: tasks;
        cursor: pointer;
        background-color: #1B75BC;
        padding: 10px 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .settings {
        border-radius: 5px;
        grid-area: settings;
        cursor: pointer;
        background-color: #1B75BC;
        padding: 10px 15px;
        color: #ffffff;
        display: flex;
        align-items: center;
    }

    .tabs {
        width: 96%;
        display: grid;
        /* margin-top: 20px; */
        padding-left: 20px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
        grid-template-rows: auto;
        grid-template-areas:
    "account notifications tasks settings";
    }

    .dashboard-footer-logos {
        grid-area: dashboard-footer-logos;
        width: 95%;
        display: grid;
        /* margin-top: 10px; */
        padding: 24px 15px 0px 15px;
        padding-left: 25px;
        grid-template-columns: 1fr 1fr  1fr;
        /* column-gap: 10px; */
        grid-template-rows: auto;
        grid-template-areas:
    "f-mark  d-mark n-mark";
    }

    .dashboard-footer-copyright {
        grid-area: dashboard-footer-copyright;
        padding: 50px 0px 0px 30px;
        align-items: center;
    }

    .dashboard-footer {
        width: 100%;
        display: grid;
        margin: 5% 0 10% 0;
        grid-template-columns: 1fr 0.5fr 1fr;
        /* column-gap: 10px; */
        grid-template-rows: auto;
        grid-template-areas:
    "dashboard-footer-logos . dashboard-footer-copyright";
    }

    /* Notification page Information section */
    .dashboard-notifications-content {
        padding: 10px;
    }

    .notifications-content-area {
        grid-area: notifications-content-area;
        padding-left: 40px;
        padding-top: 0px;
    }

    .notifications-filters-area {
        grid-area: notifications-filters-area;
        padding-top: 0px;
    }

    .filter-content {
        background-color: #E0E0E0;
        /* padding: 15px 35px 25px 15px; */
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 0px;
        padding-left: 25px;
    }

    .notifications-area {
        width: 100%;
        display: grid;
        margin-top: 10px;
        grid-template-columns: 0.65fr  0.3fr;
        column-gap: 30px;
        grid-template-rows: auto;
        grid-template-areas:
    "notifications-content-area  notifications-filters-area";
    }

    .notifications-title {
        color: #1B75BC;

    }

    .notification-title {
        grid-area: notification-title;
        display: flex;
        padding: 2px 10px;
        justify-content: center;
        align-self: center;
    }

    .notification-content {
        grid-area: notification-content;
        padding-top: 25px;
        padding-bottom: 10px;
        /* display: flex; */
        /* justify-content: center; */
        /* align-self: center; */
    }

    .notification-content-p {
        font-size: 12px;
    }

    .push-align {
        margin-left: 12px;
    }

    .notification-details {
        grid-area: notification-details;
        padding: 7px 20px;
        display: flex;
        justify-content: flex-end;
        align-self: center;
    }

    .details-button {
        background-color: #1B75BC;
        padding: 6px 20px;
        border: none;
        color: #ffffff;
        cursor: pointer;
    }

    h5 {
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .filter-inputs {
        display: flex;
        align-items: center;
    }

    .filter-inputs-not-required {
        display: flex;
        align-items: center;
    }

    .filter-inputs:after {
        content: "*";
        color: red;
    }


    label {
        font-size: 12px;
    }

    .filter-dates {
        font-size: 12px;
    }

    .notification-tab {
        width: 100%;
        display: grid;
        margin-bottom: 10px;
        background-color: #E0E0E0;
        grid-template-columns: 0.4fr 1.2fr 0.8fr;
        column-gap: 10px;
        grid-template-rows: auto;
        grid-template-areas:
    "notification-title notification-content notification-details";
    }


</style>

<div [ngSwitch]="step">
    <div class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                color="#fff"
                size="medium"
                type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading Please Wait...</p>
        </ngx-spinner>
    </div>
    <div *ngSwitchCase="1">
        <form (ngSubmit)="onClickNext(clickedInstructions)"  action="" class="form"
              enctype="multipart/form-data" method="post">
            <div class="form-body">
                <div class="container-fluid">
                    <div class="row">
                        <h2 class="welcome">INSTRUCTIONS</h2>
                    </div>
                    <div class="row input-row">
                        <ul class="w-list-unstyled">
                            <li class="list-item-accordion">
                                <div style="font-size: 16px; color: white">1. Kindly complete this form to register your complaint.</div>
                            </li>
                            <li class="list-item-accordion">
                                <div  style="font-size: 16px; color: white">2. Make sure your complaint is objective, stating clearly the issues you feel need to be addressed. In
                                    order to resolve this complaint, you are requested to cooperate with the investigating officer.</div>
                            </li>
                            <li class="list-item-accordion">
                                <div style="font-size: 16px; color: white">3. Copies of supporting documents which shall be certified with originals require to be supplied.</div>
                            </li>
                            <li class="list-item-accordion">
                                <div style="font-size: 16px; color: white">4. Ensure that the remedy sought is reasonable and realistic.</div>
                            </li>
                            <li class="list-item-accordion">
                                <div style="font-size: 16px; color: white">5. Information supplied by yourself shall be used for investigation.</div>
                            </li>
                            <li class="list-item-accordion">
                                <div  style="font-size: 16px; font-weight: bold; color: white">6. *Any sample brought and left in the custody of KEBS by yourself at the time of recording of
                                    this complaint shall be deemed to have been forfeited to KEBS if uncollected within ninety
                                    (90) days after the date of final communication of investigation findings and shall thereafter
                                    be up for destruction/disposal as per KEBS procedures without further reference to
                                    yourself.</div>
                            </li>
                        </ul>
                    </div>
                    <div class="row input-row">
                        <div class="col">
                            <button class="login-button" type="submit">NEXT</button>
                        </div>
                        <div class="col">
<!--                                                        <button (click)="onClickPrevious()" class="login-button" type="button">PREV</button>-->
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
    <div *ngSwitchCase="2">
        <form (ngSubmit)="onClickNext(stepOneForm.valid)" [formGroup]="stepOneForm" action="" class="form"
              enctype="multipart/form-data" method="post">
            <div class="form-body">
                <div class="container-fluid">
                    <div class="row">
                        <h2 class="welcome">CONSUMER/USER COMPLAINT FORM</h2>
                    </div>
                    <div class="row">
                        <h4 class="welcome">Step 1/4: Particulars Of Complainant</h4>
                    </div>
                    <div class="row input-row">

                        <div class="col">

                            <div class="form-group">
                                <label class="input-placeholder"><b>First name</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.firstName.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="firstName"
                                       id="firstName"
                                       name="firstName" placeholder="First Name"
                                       required="required">
                                <div *ngIf="submitted && formStepOneForm.firstName.errors"
                                     class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.firstName.errors.required">The First Name is required
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="col">

                            <div class="form-group">
                                <label class="input-placeholder"><b>Surname</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.lastName.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="lastName"
                                       id="lastName"
                                       name="lastName"
                                       placeholder="The Last Name" required="required" type="text">
                                <div *ngIf="submitted && formStepOneForm.lastName.errors"
                                     class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.lastName.errors.required">The Last Name is required
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="row input-row">

                        <div class="col">
                            <div class="form-group">
                                <label class="input-placeholder"><b>Email address</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.emailAddress.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="emailAddress" id="emailAddress"
                                       name="emailAddress"
                                       placeholder="The Email address" required="required" type="email">
                                <div *ngIf="submitted && formStepOneForm.emailAddress.errors" class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.emailAddress.errors.required">The Email address required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label class="input-placeholder"><b>Phone number</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.phoneNumber.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="phoneNumber" id="phoneNumber"
                                       name="phoneNumber"
                                       placeholder="The Phone Number" required="required" type="text">
                                <div *ngIf="submitted && formStepOneForm.phoneNumber.errors" class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.phoneNumber.errors.required">The Phone Number is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row input-row">

                        <div class="col">

                            <div class="form-group">
                                <label class="input-placeholder"><b>Postal Address</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.postalAddress.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="postalAddress" id="postalAddress"
                                       name="postalAddress"
                                       placeholder="The Postal Address" required="required" type="text">
                                <div *ngIf="submitted && formStepOneForm.postalAddress.errors" class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.postalAddress.errors.required">The Postal Address is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">
                                <label class="input-placeholder"><b>Physical Address</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.physicalAddress.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="physicalAddress" id="physicalAddress"
                                       name="physicalAddress"
                                       placeholder="The Physical Address" required="required" type="text">
                                <div *ngIf="submitted && formStepOneForm.physicalAddress.errors" class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.physicalAddress.errors.required">The Physical Address is required</div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row input-row">

                        <div class="col">

                            <div class="form-group">
                                <label class="input-placeholder"><b>ID Number</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepOneForm.idNumber.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="idNumber" id="idNumber"
                                       name="idNumber"
                                       placeholder="ID Number" required="required" type="text">
                                <div *ngIf="submitted && formStepOneForm.idNumber.errors" class="invalid-feedback">
                                    <div *ngIf="formStepOneForm.idNumber.errors.required">The Id Number is required</div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group">

                            </div>
                        </div>

                    </div>
                    <div class="row input-row">
                        <div class="col">
                            <button (click)="onClickPrevious()" class="login-button" type="button">PREV</button>
                        </div>
                        <div class="col">
                            <button class="login-button" type="submit">NEXT</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="3">
        <form (ngSubmit)="onClickNext(stepTwoForm.valid)" [formGroup]="stepTwoForm" action="" class="form"
              enctype="multipart/form-data" method="post">
            <div class="form-body">
                <div class="container">
                    <div class="row">
                        <h2 class="welcome">CONSUMER/USER COMPLAINT FORM</h2>
                    </div>
                    <div class="row">
                        <h4 class="welcome">Step 2/4: Complaint Details</h4>
                    </div>

                    <div class="row input-row">

                        <div class="col">
                            <div class="form-group" style="margin-top: 3%">
                                <label class="input-placeholder"><b>Complaint Title</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepTwoForm.complaintTitle.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="complaintTitle"
                                       id="complaintTitle"
                                       name="complaintTitle" placeholder="Complaint Title" required="required"
                                       type="text">
                                <div *ngIf="submitted && formStepTwoForm.complaintTitle.errors" class="invalid-feedback">
                                    <div *ngIf="formStepTwoForm.complaintTitle.errors.required">The Complaint Title is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <div class="form-group" style="margin-top: 3%">
                                <label class="input-placeholder"><b>Product Brand</b></label>
                                <input style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepTwoForm.productBrand.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="productBrand"
                                       id="productBrand"
                                       name="productBrand" placeholder="The Product Brand" required="required"
                                       type="text">
                                <div *ngIf="submitted && formStepTwoForm.productBrand.errors"
                                     class="invalid-feedback">
                                    <div *ngIf="formStepTwoForm.productBrand.errors.required">The Product Brand is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row input-row">

                        <div class="col">
                            <div class="form-group" style="margin-top: 3%">
                                <label class="input-placeholder"><b>Complaint Description</b></label>
                                <textarea style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepTwoForm.complaintDescription.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="complaintDescription"
                                       id="complaintDescription"
                                       name="complaintDescription" placeholder="The Complaint Description" required="required" type="text"></textarea>
                                <div *ngIf="submitted && formStepTwoForm.complaintDescription.errors" class="invalid-feedback">
                                    <div *ngIf="formStepTwoForm.complaintDescription.errors.required">The Complaint Description is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row input-row">
                        <div class="col">
                            <div class="form-group" style="margin-top: 3%">
                                <label class="input-placeholder"><b>Complaint sample Details</b></label>
                                <textarea style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepTwoForm.complaintSampleDetails.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="complaintSampleDetails"
                                       id="complaintSampleDetails"
                                       name="complaintSampleDetails" placeholder="The Complaint Sample Details" required="required" type="text"></textarea>
                                <div *ngIf="submitted && formStepTwoForm.complaintSampleDetails.errors" class="invalid-feedback">
                                    <div *ngIf="formStepTwoForm.complaintSampleDetails.errors.required">The Complaint Sample Details is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><div class="row input-row">

                        <div class="col">
                            <div class="form-group" style="margin-top: 3%">
                                <label class="input-placeholder"><b>Remedy Sought</b></label>
                                <textarea style="color: white;font-size: 14px;"
                                       [ngClass]="{ 'is-invalid': submitted && formStepTwoForm.remedySought.errors }"
                                       aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                       class="form-control two-column-input" formControlName="remedySought"
                                       id="remedySought"
                                       name="remedySought" placeholder="The Remedy Sought" required="required" type="text"></textarea>
                                <div *ngIf="submitted && formStepTwoForm.remedySought.errors" class="invalid-feedback">
                                    <div *ngIf="formStepTwoForm.remedySought.errors.required">The Remedy Sought is
                                        required
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row input-row">
                        <div class="col">
                            <button (click)="onClickPrevious()" class="login-button" type="button">PREV</button>
                        </div>
                        <button [disabled]="!stepTwoForm.valid" class="login-button" type="submit">NEXT</button>
<!--                        <button (click)="onClickValidateOtp()" [hidden]="stepFiveForm.get('otp')?.invalid"-->
<!--                                class="login-button mt-2" type="button">-->
<!--                            Submit-->
<!--                        </button>-->
                    </div>
                </div>
            </div>


        </form>
    </div>

    <div *ngSwitchCase="4">
        <form (ngSubmit)="onClickNext(stepThreeForm.valid)" [formGroup]="stepThreeForm" action="" class="form"
              enctype="multipart/form-data" method="post">
            <div class="container">
                <div class="row">
                    <h2 class="welcome">CONSUMER/USER COMPLAINT FORM</h2>
                </div>
                <div class="row">
                    <h4 class="welcome">Step 3/4: Particulars of Outlets/Business Complained about</h4>
                </div>
                <div class="row input-row">
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Market Center</b></label>
                            <input style="color: white;font-size: 14px;"
                                   [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.marketCenter.errors }"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="marketCenter"
                                   id="marketCenter"
                                   name="marketCenter" placeholder="marketCenter" required="required" type="text">
                            <div *ngIf="submitted && formStepThreeForm.marketCenter.errors" class="invalid-feedback">
                                <div *ngIf="formStepThreeForm.marketCenter.errors.required">The Market Center is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <label class="input-placeholder"><b>Name of outlet </b></label>
                        <input style="color: white;font-size: 14px;"
                               [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.buildingName.errors }"
                               aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                               class="form-control two-column-input" formControlName="buildingName" id="buildingName"
                               name="buildingName" placeholder="The Outlet Name" required="required" type="text">
                        <div *ngIf="submitted && formStepThreeForm.buildingName.errors" class="invalid-feedback">
                            <div *ngIf="formStepThreeForm.buildingName.errors.required">The Building Name is required</div>
                        </div>
                    </div>

                </div>
                <div class="row input-row">
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>County</b></label>
                            <br>
                            <ng-container *ngIf="county$ | async as apps">
                                <select (ngModelChange)="updateSelectedCounty()"
                                        [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.county.errors }"
                                        formControlName="county" id="county"
                                        name="county" required="required" style="width: 100%; height: 60%">
                                    <option ngValue="null" selected>Please select</option>
                                    <option
                                            *ngFor="let app of apps| filterPipe: {status: true}"
                                            [ngValue]="app.id"
                                            class="dropdown-item">{{app.county}}</option>
                                </select>
                                <div *ngIf="submitted && formStepThreeForm.county.errors" class="invalid-feedback">
                                    <div *ngIf="formStepThreeForm.county.errors.required">The County is required</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder" for="town">Town</label>
                            <br>
                            <ng-container *ngIf="town$ | async as apps">
                                <select (ngModelChange)="updateSelectedTown()"
                                        [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.town.errors }"
                                        formControlName="town" id="town"
                                        name="town" required="required" style="width: 100%; height: 60%">
                                    <option ngValue="null" selected>Please select</option>
                                    <option *ngFor="let app of apps| filterPipe: {status: true, countyId: selectedCounty}"
                                            [ngValue]="app.id"
                                            class="dropdown-item">{{app.town}}</option>
                                </select>
                                <div *ngIf="submitted && formStepThreeForm.town.errors" class="invalid-feedback">
                                    <div *ngIf="formStepThreeForm.town.errors.required">The town is required</div>
                                </div>
                            </ng-container>
                        </div>
                    </div>
                </div>
                <div class="row input-row">
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Email</b></label>
                            <input style="color: white;font-size: 14px;"
                                   [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.email.errors }"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="email"
                                   id="email"
                                   name="email" placeholder="Email" required="required" type="text">
                            <div *ngIf="submitted && formStepThreeForm.email.errors" class="invalid-feedback">
                                <div *ngIf="formStepThreeForm.email.errors.required">The Email is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Name of Contact Person</b></label>
                            <input style="color: white;font-size: 14px;"
                                   [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.nameContactPerson.errors }"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="nameContactPerson"
                                   id="nameContactPerson"
                                   name="nameContactPerson" placeholder="Name of Contact Person" required="required" type="text">
                            <div *ngIf="submitted && formStepThreeForm.nameContactPerson.errors" class="invalid-feedback">
                                <div *ngIf="formStepThreeForm.nameContactPerson.errors.required">The Name of Contact Person is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row input-row">
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Phone Number</b></label>
                            <input style="color: white;font-size: 14px;"
                                   [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.phoneNumber.errors }"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="phoneNumber"
                                   id="phoneNumber"
                                   name="phoneNumber" placeholder="Phone Number" required="required" type="text">
                            <div *ngIf="submitted && formStepThreeForm.phoneNumber.errors" class="invalid-feedback">
                                <div *ngIf="formStepThreeForm.phoneNumber.errors.required">The Phone Number is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Telephone Number</b></label>
                            <input style="color: white;font-size: 14px;"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="telephoneNumber"
                                   id="telephoneNumber"
                                   name="telephoneNumber" placeholder="Telephone Number" required="required" type="text">
<!--                            <div *ngIf="submitted && formStepThreeForm.telephoneNumber.errors" class="invalid-feedback">-->
<!--                                <div *ngIf="formStepThreeForm.telephoneNumber.errors.required">The Telephone Number is-->
<!--                                    required-->
<!--                                </div>-->
<!--                            </div>-->
                        </div>
                    </div>

                </div>
                <div class="row input-row">
                    <div class="col">
                        <div class="form-group" style="margin-top: 3%">
                            <label class="input-placeholder"><b>Business/Physical Address</b></label>
                            <input style="color: white;font-size: 14px;"
                                   [ngClass]="{ 'is-invalid': submitted && formStepThreeForm.businessAddress.errors }"
                                   aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                   class="form-control two-column-input" formControlName="businessAddress"
                                   id="businessAddress"
                                   name="businessAddress" placeholder="Business/Physical Address" required="required" type="text">
                            <div *ngIf="submitted && formStepThreeForm.businessAddress.errors" class="invalid-feedback">
                                <div *ngIf="formStepThreeForm.businessAddress.errors.required">The Business Address is
                                    required
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col">

                    </div>

                </div>

                <div class="row mt-5">
                    <div class="col">
                        <button (click)="onClickPrevious()" class="login-button" type="button">PREV</button>
                    </div>
                    <div class="col">
                        <button [disabled]="!stepThreeForm.valid" class="login-button" type="submit">NEXT</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div *ngSwitchCase="5">
        <form action="" class="form"
              enctype="multipart/form-data" method="post">
            <div class="container">
                <div class="row">
                    <h2 class="welcome">CONSUMER/USER COMPLAINT FORM</h2>
                </div>
                <div class="row">
                    <h4 class="welcome">Step 4/4: Upload Supporting Documents Here</h4>
                </div>
                <ul>
                    <li>Purchase documents</li>
                    <li>Warranty documents</li>
                    <li>Pictures</li>
                    <li>Others (Mention and Upload)</li>
                </ul>
                    <form #demoForm="ngForm">
                        <file-upload [(ngModel)]="uploadedFiles" name="files"
                                     fileslimit="5" accept=".pdf, .png, .jpg"></file-upload>
                    </form>
<!--                </div>-->

                <div class="row">
                    <div class="col">
                        <button (click)="onClickPrevious()" class="login-button" type="button">PREV</button>
                    </div>
                    <div class="col">
                        <button (click)="reviewComplaint()" class="login-button mt-2" type="button">
                            REVIEW COMPLAINT
                        </button>
<!--                        <button [disabled]="!stepFourForm.valid" class="login-button" type="submit">NEXT</button>-->
                    </div>

                </div>

            </div>
        </form>
    </div>


    <!-- Sample Submit Modal -->
    <div class="modal fade" id="complaintModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Filled Complainant Information Details</h4>
                    <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <b class="text-primary">Complainant Information Details</b>
                    <ul class="w-list-unstyled">
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Name</div>
                            <div class="list-text-accordion">{{customerDetails?.firstName}} {{customerDetails?.lastName}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Email Address</div>
                            <div class="list-text-accordion">
                                {{customerDetails?.emailAddress}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Phone Number</div>
                            <div class="list-text-accordion">
                                {{customerDetails?.phoneNumber}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Postal Address</div>
                            <div class="list-text-accordion">
                                {{customerDetails?.postalAddress}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Physical Address</div>
                            <div class="list-text-accordion">
                                {{customerDetails?.physicalAddress}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Physical Address</div>
                            <div class="list-text-accordion">
                                {{customerDetails?.idNumber}}</div>
                        </li>
                    </ul>
                    <b class="text-primary">Complaint Information Details</b>
                    <ul class="w-list-unstyled">
                        <li class="list-item-accordion ">
                            <div class="list-title-accordion">Complaint Title</div>
                            <div class="list-text-accordion">{{complaintDetails?.complaintTitle}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Targeted Product</div>
                            <div class="list-text-accordion">{{complaintDetails?.productBrand}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Complaint Description</div>
                            <div class="list-text-accordion">
                                {{complaintDetails?.complaintDescription}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Complaint Sample Details</div>
                            <div class="list-text-accordion">
                                {{complaintDetails?.complaintSampleDetails}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Remedy Sought</div>
                            <div class="list-text-accordion">
                                {{complaintDetails?.remedySought}}
                            </div>
                        </li>
                    </ul>
                    <b class="text-primary">Complaint Location Details</b>
                    <ul class="w-list-unstyled">
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">County</div>
                            <div class="list-text-accordion">
                                {{countyName}}
                            </div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Town</div>
                            <div class="list-text-accordion">
                                {{townName}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Market Center</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.marketCenter}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Building Name</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.buildingName}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Business Address</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.businessAddress}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Email</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.email}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Name Contact Person</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.nameContactPerson}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Phone Number</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.phoneNumber}}</div>
                        </li>
                        <li class="list-item-accordion">
                            <div class="list-title-accordion">Telephone Number</div>
                            <div class="list-text-accordion">
                                {{locationDetails?.telephoneNumber}}</div>
                        </li>
                    </ul>
                    <div class="modal-footer">
                        <button   mat-raised-button type="button" class="btn btn-danger"
                                 data-dismiss="modal">
                            Close
                        </button>
                        <button mat-raised-button type="button" data-dismiss="modal" class="btn btn-success"
                                (click)="onSubmitComplaint()" >SUBMIT
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Sample Collect Modal -->


</div>
