<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">cash-back</i>
                        </div>
                        <h4 class="card-title">Waiver Applications
                        </h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <div class="search-bar">
                                <div class="input-group form-inline">
                                    <label for="searchDocument"></label>
                                    <input id="searchDocument" class="search-form-input" (keyup)="searchPhraseChanged()"
                                           [(ngModel)]="keywords" placeholder="Search Document">
                                    <div class="input-group-btn">
                                        <button type="button" class="btn btn-primary btn-background"
                                                (click)="searchPhraseChanged()">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Auction Approval Status">
                                <button type="button" (click)="toggleStatus('assigned')"
                                        [className]="applicationStatus == 'assigned' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    MY TASKS
                                </button>
                                <button type="button" (click)="toggleStatus('new')"
                                        [className]="applicationStatus == 'new' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    NEW APPLICATIONS
                                </button>
                                <button type="button" (click)="toggleStatus('REVIEW_REJECTED')"
                                        [className]="applicationStatus == 'REVIEW_REJECTED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    REVIEW REJECTED
                                </button>
                                <button *ngIf="applicationStatus" type="button" (click)="toggleStatus('REVIEW_APPROVED')"
                                        [className]="applicationStatus == 'REVIEW_APPROVED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    REVIEW APPROVED
                                </button>
                                <button type="button" (click)="toggleStatus('DEFFERED')"
                                        [className]="applicationStatus == 'DEFFERED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    DEFFERED
                                </button>
                                <button type="button" (click)="toggleStatus('NSC_APPROVED')"
                                        [className]="applicationStatus == 'NSC_APPROVED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    NSC APPROVED
                                </button>
                                <button *ngIf="applicationStatus" type="button" (click)="toggleStatus('REVIEW_APPROVED')"
                                        [className]="applicationStatus == 'NSC_REJECTED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    NSC REJECTED
                                </button>
                                <button type="button" (click)="toggleStatus('CS_REJECTED')"
                                        [className]="applicationStatus == 'CS_REJECTED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    CS REJECTED
                                </button>
                                <button *ngIf="applicationStatus" type="button" (click)="toggleStatus('CS_APPROVED')"
                                        [className]="applicationStatus == 'CS_APPROVED' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    CS APPROVED
                                </button>
                            </div>
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <mat-table class="table-striped table-responsive table-condensed"
                                           [dataSource]="waiverListing">
                                    <ng-container matColumnDef="serialNo">
                                        <mat-header-cell *matHeaderCellDef>S/N</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.serialNo}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="applicantName">
                                        <mat-header-cell *matHeaderCellDef>Applicant Name</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.applicantName}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="address">
                                        <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.address}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="emailAddress">
                                        <mat-header-cell *matHeaderCellDef>Email</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.emailAddress}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="kraPin">
                                        <mat-header-cell *matHeaderCellDef>KRA Pin</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.kraPin}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="submittedOn">
                                        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
                                        <mat-cell *matCellDef="let element"> {{element.submittedOn | date:'mediumDate'}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="reviewStatus">
                                        <mat-header-cell *matHeaderCellDef>Status</mat-header-cell>
                                        <mat-cell
                                                *matCellDef="let element"> {{element.reviewStatus}} </mat-cell>
                                    </ng-container>
                                    <ng-container matColumnDef="actions">
                                        <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell>
                                        <mat-cell *matCellDef="let element">
                                            <button mat-raised-button (click)="viewWaiver(element.complaintId)"><i
                                                    class="fa fa-eye">View</i>
                                            </button>
                                        </mat-cell>
                                    </ng-container>
                                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                                </mat-table>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>
