<h2 mat-dialog-title>SCF Details (Sample Collection Form)</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-6">
            <label for="manufacturerTraderName" class="waiver-form-label">Manufacturer/Trader Name</label>
            <input class="waiver-form-input-master" type="text" id="manufacturerTraderName" name="manufacturerTraderName"
                   formControlName="manufacturerTraderName">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="manufacturerTraderAddress" class="waiver-form-label">Manufacturer/Trader Address</label>
            <input class="waiver-form-input-master" type="text" id="manufacturerTraderAddress" name="manufacturerTraderAddress"
                   formControlName="manufacturerTraderAddress">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="brandName" class="waiver-form-label">Brand Name</label>
            <input class="waiver-form-input-master" type="text" id="brandName" name="brandName"
                   formControlName="brandName">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="batchNumber" class="waiver-form-label">Batch Number</label>
            <input class="waiver-form-input-master" type="text" id="batchNumber" name="batchNumber"
                   formControlName="batchNumber">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="batchSize" class="waiver-form-label">Batch Size</label>
            <input class="waiver-form-input-master" type="text" id="batchSize" name="batchNumber"
                   formControlName="batchSize">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="sampleSize" class="waiver-form-label">Sample Size</label>
            <input class="waiver-form-input-master" type="text"  id="sampleSize" name="sampleSize"
                   formControlName="sampleSize">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="samplingMethod" class="waiver-form-label">Sampling Method</label>
            <select id="samplingMethod" name="samplingMethod" class="waiver-form-input-master"
                    formControlName="samplingMethod">
                <option value="" disabled selected>Select Sampling method</option>
                <option *ngFor="let mthd of samplingMethods"
                        [value]="mthd.name">{{mthd.description}}</option>
            </select>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="reasonsForCollectingSamples" class="waiver-form-label">Reason For Sampled Collection</label>
            <input class="waiver-form-input-master" type="text" id="reasonsForCollectingSamples"
                   name="reasonsForCollectingSamples" formControlName="reasonsForCollectingSamples">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="witnessName" class="waiver-form-label">Witness Name</label>
            <input class="waiver-form-input-master" type="text" id="witnessName" name="sampleSize"
                   formControlName="witnessName">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="witnessDesignation" class="waiver-form-label">Witness Designation</label>
            <input class="waiver-form-input-master" type="text" id="witnessDesignation"
                   name="witnessDesignation" formControlName="witnessDesignation">
        </div>
        <div class="col-sm-12 col-md-12">
            <label for="remarks" class="waiver-form-label">Remarks</label>
            <textarea class="waiver-form-input-master" id="remarks" name="remarks" formControlName="remarks" rows="4">
            </textarea>
        </div>
        <mat-error *ngIf="message">{{message}}</mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid" class="next-btn btn-gen new-btn" (click)="saveScfRecord()">SAVE
        </button>
    </div>
</mat-dialog-actions>
