<div class="container-fluid" style="margin-top: 5%" id="main-container">
<div  class="loading-spinner ">
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>
<div class="main-content" >
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
Tasks <span class="badge badge-primary">{{tasks.length}}</span>
</button></div>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<div class="material-datatables">
<table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
<thead>
<tr>
<th>#</th>
<th class="knw">Title</th>
<th class="sl">Normative Reference</th>
<th class="requestNumber">Scope</th>
<th class="issuesAddressed">Issues Addressed</th>
<th class="referenceMaterial">Clause</th>
<th class="referenceMaterial">Special</th>
    <th class="department">Reference Material</th>
    <th class="department">Remarks</th>
<th class="action">Action</th>
</tr>
</thead>
<tbody>
<tr  *ngFor="let task of tasks let i=index">
<td>{{i+1}}</td>
<td>{{task.taskData.title}}</td>
    <td>{{task.taskData.normativeReference}}</td>
<td>{{task.taskData.scope}}</td>

<td>{{task.taskData.issuesAddressed}}</td>
<td>{{task.taskData.clause}}</td>
<td>{{task.taskData.special}}</td>
    <td>{{task.taskData.comments}}</td>
    <td><button mat-raised-button type="button" data-toggle="modal"
                (click)="viewSTDFile( task.taskData.ID,'Standard'+task.taskData.ID, 'application/pdf')" target="_blank" class="btn btn-info btn-sm ">
        <i class="material-icons">visibility</i>

    </button></td>
<td *ngIf="task.name ==='Upload Gazzette notice on the Website'"><a  (click)="onOpenModal(task,'notice')" class="btn btn-info btn-sm tooltips" data-placement="top" style="width: 160px;" data-original-title="Edit">Upload Gazette Notice</a></td>
<td *ngIf="task.name ==='Update Gazzzettement Date'"><a  (click)="onOpenModal(task,'gazetteDate')" class="btn btn-success btn-sm tooltips" data-placement="top" style="width: 160px; " data-original-title="Edit">Update Gazette Date</a></td>
</tr>
</tbody>
</table>


<div class="modal fade" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="noticeExampleModalLabel" aria-hidden="true">a
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="noticeExampleModalLabel">Upload Gazette Notice on Website</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<form #uploadForm="ngForm" >
<div class="modal-body">
<div class="row col-12">
<div class="form-group col-12">
<label>KS Number</label>
<input class="form-control"  ngModel="{{actionRequest?.taskData?.ksNumber}}" name="ksNumber" type="text" disabled>
</div>
</div>
<div class="row col-12">
<div class="form-group col-12">
<label>Description</label>
<textarea class="form-control"  ngModel name="description" type="text"></textarea>
</div>
</div>


</div>
<input type="hidden" ngModel="{{actionRequest?.taskId}}" name="taskId" >
<div class="modal-footer">
<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary btn-sm" (click)="onSave(uploadForm.value)" data-dismiss="modal">Save</button>
</div>
</form>
</div>
</div>
</div>
<div class="modal fade" id="gazettementModal" tabindex="-1" role="dialog" aria-labelledby="gazetteExampleModalLabel" aria-hidden="true">a
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content">
<div class="modal-header">
<h5 class="modal-title" id="gazetteExampleModalLabel">Update Gazettement Date</h5>
<button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
<form #uploadForm="ngForm" >
<div class="modal-body">
<div class="row col-12">
</div>
<div class="row col-12">
<div class="form-group col-12">
<label>KS Number</label>
<input class="form-control"  ngModel="{{actionRequest?.taskData?.ksNumber}}" name="ksNumber" type="text" disabled>
</div>
</div>
<div class="row col-12">
<div class="form-group col-12">
<label>Description</label>
<textarea class="form-control"  ngModel name="description" type="text"></textarea>
</div>
</div>


</div>
<input type="hidden" ngModel="{{actionRequest?.taskId}}" name="taskId" >
<div class="modal-footer">
<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
<button type="submit" class="btn btn-primary btn-sm" (click)="onUpdate(uploadForm.value)" data-dismiss="modal">Save</button>
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
