<div class="row" *ngIf="rfcData">
    <div class="col-md-10">
        <mat-tab-group [(selectedIndex)]="active" [disablePagination]="true"
                       appMatMultilineTab
                       class="tab-wraps">
            <mat-tab tabindex="1">
                <ng-template mat-tab-label>RFC Details</ng-template>
                <b class="text-primary">RFC for {{certType.toUpperCase()}} Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">RFC NUMBER</div>
                        <div class="list-text-accordion">{{rfcData.rfc.rfcNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">UCR NUMBER</div>
                        <div class="list-text-accordion">{{rfcData.rfc.ucrNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">RFC DATE</div>
                        <div class="list-text-accordion">{{rfcData.rfc.rfcDate}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Country of Supply</div>
                        <div class="list-text-accordion">{{rfcData.rfc.countryOfSupply}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Destination Country</div>
                        <div class="list-text-accordion">{{rfcData.rfc.countryOfDestination}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.preferredInspectionDate">
                        <div class="list-title-accordion">Prefered Inspection Date</div>
                        <div class="list-text-accordion">{{rfcData.rfc.preferredInspectionDate}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PORT OF LOADING</div>
                        <div class="list-text-accordion">{{rfcData.rfc.portOfLoading}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PORT OF DISCHARGE</div>
                        <div class="list-text-accordion">{{rfcData.rfc.portOfDischarge}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PLACE OF INSPECTION</div>
                        <div class="list-text-accordion">{{rfcData.rfc.placeOfInspection}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PLACE OF INSPECTION ADDRESS</div>
                        <div class="list-text-accordion">{{rfcData.rfc.placeOfInspectionAddress}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PLACE OF INSPECTION CONTACTS</div>
                        <div class="list-text-accordion">{{rfcData.rfc.placeOfInspectionContacts}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PLACE OF INSPECTION EMAIL</div>
                        <div class="list-text-accordion">{{rfcData.rfc.placeOfInspectionEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">RECEIVE DATE</div>
                        <div class="list-text-accordion">{{rfcData.rfc.receiveDate}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">REVIEW STATUS</div>
                        <div class="list-text-accordion">{{rfcData.rfc.reviewStatus}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.reviewRemarks">
                        <div class="list-title-accordion">REVIEW REMARKS</div>
                        <div class="list-text-accordion">{{rfcData.rfc.reviewRemarks}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.route">
                        <div class="list-title-accordion">REVIEW REMARKS</div>
                        <div class="list-text-accordion">{{rfcData.rfc.route}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.shipmentMethod">
                        <div class="list-title-accordion">SHIPMENT METHOD</div>
                        <div class="list-text-accordion">{{rfcData.rfc.shipmentMethod}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.solReference">
                        <div class="list-title-accordion">SOL Reference</div>
                        <div class="list-text-accordion">{{rfcData.rfc.solReference}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.sorReference">
                        <div class="list-title-accordion">SOR Reference</div>
                        <div class="list-text-accordion">{{rfcData.rfc.sorReference}}</div>
                    </li>
                    <li class="list-item-accordion" *ngIf="rfcData.rfc.goodsCondition">
                        <div class="list-title-accordion">GOODS Condition</div>
                        <div class="list-text-accordion">{{rfcData.rfc.goodsCondition}}</div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="2">
                <ng-template mat-tab-label>
                    Importer Details
                </ng-template>
                <b class="text-primary">Importer Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Name</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Telephone Number</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerTelephoneNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerAddress1}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">ZIP Code</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerZipCode}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">City</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerCity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Country</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerCountry}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Fax</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerFaxNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PIN</div>
                        <div class="list-text-accordion">{{rfcData.rfc.importerPin}}</div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab label="3">
                <ng-template mat-tab-label>
                    Exporter Details
                </ng-template>
                <b class="text-primary">Exporter Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Name</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Telephone Number</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterTelephoneNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterAddress1}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">ZIP Code</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterZipCode}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">City</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterCity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Country</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterCountry}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Fax</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterFaxNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PIN</div>
                        <div class="list-text-accordion">{{rfcData.rfc.exporterPin}}</div>
                    </li>
                </ul>
            </mat-tab>

            <mat-tab label="4" [hidden]="certType!=='cor'">
                <ng-template mat-tab-label>
                    Applicant Details
                </ng-template>
                <b class="text-primary">Applicant Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Name</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Telephone Number</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantTelephoneNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantAddress1}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">ZIP Code</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantZipCode}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">City</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantCity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Country</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantCountry}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Fax</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantFaxNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PIN</div>
                        <div class="list-text-accordion">{{rfcData.rfc.applicantPin}}</div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab tabindex="5" [hidden]="certType!=='cor'">
                <ng-template mat-tab-label>
                    Motor Vehicle Details
                </ng-template>
                <b class="text-primary">Motor Vehicle Details</b>
                <ul class="w-list-unstyled">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Make</div>
                        <div class="list-text-accordion">{{rfcData.rfc.make}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Model</div>
                        <div class="list-text-accordion">{{rfcData.rfc.model}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Chassis Number</div>
                        <div class="list-text-accordion">{{rfcData.rfc.chassisNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Chassis Number</div>
                        <div class="list-text-accordion">{{rfcData.rfc.chassisNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Engine Number/Model</div>
                        <div class="list-text-accordion">{{rfcData.rfc.engineNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Engine Capacity</div>
                        <div class="list-text-accordion">{{rfcData.rfc.engineCapacity}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Year of Manufacture</div>
                        <div class="list-text-accordion">{{rfcData.rfc.yearOfManufacture}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Year of First Registration</div>
                        <div class="list-text-accordion">{{rfcData.rfc.yearOfFirstRegistration}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">ASSEMBLY STATE</div>
                        <div class="list-text-accordion">{{rfcData.rfc.assemblyState}}</div>
                    </li>
                </ul>
            </mat-tab>
            <mat-tab tabindex="6" *ngIf="rfcData.queries">
                <ng-template mat-tab-label>Queries</ng-template>
                <b class="text-primary">PVOC Queries for document</b>
                <div class="row" *ngIf="rfcData.queries else noQueries">
                    <app-pvoc-query-card class="col-md-12" *ngFor="let q of rfcData.queries"
                                         [queryDetails]="q"></app-pvoc-query-card>
                </div>
                <ng-template #noQueries>
                    <p>No Queries have been raised on this document. Use the <b>PVOC Query</b> button to raise a query
                    </p>
                </ng-template>
            </mat-tab>
            <mat-tab tabindex="7" *ngIf="rfcData.items">
                <ng-template mat-tab-label>RFC Items</ng-template>
                <b class="text-primary">PVOC Items for document</b>
                <ng2-smart-table
                        [source]="rfcData.items"
                        [settings]="settings"
                >
                </ng2-smart-table>
            </mat-tab>
            <mat-tab tabindex="8" [hidden]="!rfcData.pvoc_client">
                <ng-template mat-tab-label>
                    Partner Details
                </ng-template>
                <b class="text-primary">Partner Details</b>
                <ul class="w-list-unstyled" *ngIf="rfcData.pvoc_client">
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">NAME</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerName}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">PIN</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerPin}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Partner No.</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerRefNo}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Region</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerRegion}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 1</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerAddress1}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Address 2</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerAddress2}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Phone Number</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerTelephoneNumber}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Email</div>
                        <div class="list-text-accordion">{{rfcData.pvoc_client.partnerEmail}}</div>
                    </li>
                    <li class="list-item-accordion">
                        <div class="list-title-accordion">Uploaded By</div>
                        <div class="list-text-accordion">{{rfcData.rfc.clientId}}</div>
                    </li>
                </ul>
            </mat-tab>
        </mat-tab-group>
        <!-- </div>  -->
    </div>
    <div class="col-md-2 pl-0 pr-0">
        <h5>Action:</h5>
        <button *ngIf="isPvocOfficer"
                class="btn btn-sm btn-primary" (click)="createQuery()">Query PVOC
        </button>
        <h5>Documents:</h5>
        <ul class="list-inline" *ngIf="rfcData.rfc.linkToAttachedDocuments">
            <li class="list-inline-item" *ngFor="let link of rfcData.rfc.linkToAttachedDocuments">
                {{link}}
            </li>
        </ul>
    </div>
</div>