<div id='vehicle-details' *ngIf="inspectionDetails">
    <div class="form-row">
        <ul class="col-md-12 w-list-unstyled">
            <li class="list-item-accordion">
                <div class="list-title-accordion">REMARKS</div>
                <div class="list-text-accordion">{{inspectionDetails.remarks}}</div>
            </li>
            <li class="list-item-accordion">
                <div class="list-title-accordion">DATE</div>
                <div class="list-text-accordion">{{inspectionDetails.inspectionDate}}</div>
            </li>
        </ul>
    </div>
    <div class="form-row">
        <div class="col-md-12 mb-3">
            <label style="color: #0082f3">Items</label>
        </div>
        <div class="table-striped table-condensed table-responsive">
            <mat-table [dataSource]="inspectionDetails.items">
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>#</th>
                    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
                </ng-container>
                <ng-container matColumnDef="registrationDate">
                    <th mat-header-cell *matHeaderCellDef>Registration Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.registrationDate}} </td>
                </ng-container>

                <ng-container matColumnDef="manufactureDate">
                    <th mat-header-cell *matHeaderCellDef>Manufacture Date</th>
                    <td mat-cell *matCellDef="let element"> {{element.manufactureDate}} </td>
                </ng-container>
                <ng-container matColumnDef="category">
                    <th mat-header-cell *matHeaderCellDef>Category</th>
                    <td mat-cell *matCellDef="let element"> {{element.category}} </td>
                </ng-container>
                <ng-container matColumnDef="compliant">
                    <th mat-header-cell *matHeaderCellDef>Compliant</th>
                    <td mat-cell *matCellDef="let element"> {{element.compliant}} </td>
                </ng-container>
                <ng-container matColumnDef="ministryStation">
                    <th mat-header-cell *matHeaderCellDef>Ministry Station</th>
                    <td mat-cell *matCellDef="let element"> {{element.ministryStation}} </td>
                </ng-container>
                <ng-container matColumnDef="ministryInspection">
                    <th mat-header-cell *matHeaderCellDef>Ministry Inspection</th>
                    <td mat-cell *matCellDef="let element"> {{element.ministryInspection}} </td>
                </ng-container>
                <ng-container matColumnDef="makeVehicle">
                    <th mat-header-cell *matHeaderCellDef>Make</th>
                    <td mat-cell *matCellDef="let element"> {{element.makeVehicle}} </td>
                </ng-container>
                <ng-container matColumnDef="odemetreReading">
                    <th mat-header-cell *matHeaderCellDef>Odometre Reading</th>
                    <td mat-cell *matCellDef="let element"> {{element.odemetreReading}} </td>
                </ng-container>
                <ng-container matColumnDef="transmissionAutoManual">
                    <th mat-header-cell *matHeaderCellDef>Transmission</th>
                    <td mat-cell *matCellDef="let element"> {{element.transmissionAutoManual}} </td>
                </ng-container>
                <ng-container matColumnDef="engineNoCapacity">
                    <th mat-header-cell *matHeaderCellDef>CC</th>
                    <td mat-cell *matCellDef="let element"> {{element.engineNoCapacity}} </td>
                </ng-container>
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Action/Download</th>
                    <td class="button-row" mat-cell *matCellDef="let element">
                        <button mat-button  color="primary" (click)="customAction(element,'downloadReport')">Download Report</button>
                        <button mat-button  color="primary" (click)="customAction(element,'downloadUnfilled')">Download Unfilled</button>
                        <button *ngIf="element.hasMinistryInspection" mat-button  color="primary" (click)="customAction(element,'downloadChecklist')">Download Ministry Checklist</button>
                        <button mat-button  color="primary" (click)="customAction(element,'requestMinistryChecklist')">Request Ministry Inspection</button>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </mat-table>
        </div>
    </div>
</div>