<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Review Plant/Branch Details</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">

                        </div>
                        <div class="material-datatables">
                            <section class="wizard-section">
                                <div class="row no-gutters">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="form-wizard">

                                            <div class="form-wizard-header">
                                                <p>Fill all the fields to go next step</p>
                                                <!--                                                <ul class="list-unstyled form-wizard-steps clearfix">-->
                                                <!--                                                    <li [ngClass]="step >= 0? 'active': ''"><span>1</span></li>-->
                                                <!--                                                    <li><span [ngClass]="step === 2? 'active': ''">2</span></li>-->
                                                <!--                                                </ul>-->
                                            </div>
                                            <div [ngSwitch]="step">

                                                <div *ngSwitchCase="1">
                                                    <h2 style="text-align: center"><b>Step</b> <b> 1</b><b> of</b> <b>
                                                        2</b></h2>

                                                    <fieldset class="wizard-fieldset show">
                                                        <form (ngSubmit)="onClickNext(stepTwoForm.valid)"
                                                              [formGroup]="stepTwoForm" action="" class="form"
                                                              enctype="multipart/form-data" method="post">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <h2 class="welcome2">
                                                                        Address & Contact Information
                                                                    </h2>
                                                                </div>

                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="branchName">
                                                                            Branch Name
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="branchName"
                                                                               id="branchName"
                                                                               name="branchName"
                                                                               placeholder="Branch name"
                                                                               required="required" type="text">
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="buildingName">
                                                                            Building Name
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="buildingName"
                                                                               id="buildingName"
                                                                               name="buildingName"
                                                                               placeholder="Company building name"
                                                                               required="required" type="text">
                                                                    </div>
                                                                </div>

                                                                <div class="row input-row">

                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="physicalAddress">
                                                                            Physical Address
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="physicalAddress"
                                                                               id="physicalAddress"
                                                                               name="physicalAddress"
                                                                               placeholder="Company physical address"
                                                                               required="required" type="text">
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="location">
                                                                            Location
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="location" id="location"
                                                                               name="location"
                                                                               placeholder="Company location"
                                                                               required="required" type="text">
                                                                    </div>

                                                                </div>

                                                                <div class="row input-row">

                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="postalAddress">
                                                                            Postal Address
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="postalAddress"
                                                                               id="postalAddress"
                                                                               name="postalAddress"
                                                                               placeholder="Company postal address"
                                                                               required="required" type="text">
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="plotNo">
                                                                            Plot Number
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="plotNo" id="plotNo"
                                                                               name="plotNo"
                                                                               placeholder="Plot number"
                                                                               required="required" type="text">

                                                                    </div>
                                                                </div>
                                                                <div class="row input-row">

                                                                    <div class="col">

                                                                        <label class="input-placeholder-required"
                                                                               for="street">
                                                                            Street
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="street" id="street"
                                                                               name="street"
                                                                               placeholder="Street name"
                                                                               required="required" type="text">
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="nearestLandMark">
                                                                            Nearest LandMark
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="nearestLandMark"
                                                                               id="nearestLandMark"
                                                                               name="nearestLandMark"
                                                                               placeholder="Nearest LandMark"
                                                                               required="required" type="text">

                                                                    </div>
                                                                </div>
                                                                <div class="row input-row">

                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="region">
                                                                            Region
                                                                        </label>
                                                                        <br>
                                                                        <ng-container *ngIf="region$ | async as apps">
                                                                            <select (ngModelChange)="updateSelectedRegion()"
                                                                                    formControlName="region" id="region"
                                                                                    name="region" required="required"
                                                                                    class="form-control">
                                                                                <option ngValue="null" selected>Please
                                                                                    select
                                                                                </option>
                                                                                <option
                                                                                        *ngFor="let app of apps| filterPipe: {status: true}"
                                                                                        [ngValue]="app.id"
                                                                                >{{app.region}}</option>
                                                                            </select>

                                                                        </ng-container>
                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="county">
                                                                            County
                                                                        </label>
                                                                        <br>
                                                                        <ng-container *ngIf="county$ | async as apps">
                                                                            <select
                                                                                    (ngModelChange)="updateSelectedCounty()"
                                                                                    formControlName="county" id="county"
                                                                                    name="county" required="required"
                                                                                    class="form-control">
                                                                                <option ngValue="null" selected>Please
                                                                                    select
                                                                                </option>
                                                                                <option
                                                                                        *ngFor="let app of apps| filterPipe: {status: true, regionId: selectedRegion}"
                                                                                        [ngValue]="app.id"
                                                                                >{{app.county}}</option>
                                                                            </select>

                                                                        </ng-container>
                                                                    </div>

                                                                </div>
                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="input-placeholder-required"
                                                                               for="town">
                                                                            Town
                                                                        </label>
                                                                        <ng-container *ngIf="town$ | async as apps">
                                                                            <select (ngModelChange)="updateSelectedTown()"
                                                                                    formControlName="town" id="town"
                                                                                    name="town" required="required"
                                                                                    class="form-control">
                                                                                <option ngValue="null" selected>Please
                                                                                    select
                                                                                </option>
                                                                                <option
                                                                                        *ngFor="let app of apps| filterPipe: {status: true, countyId: selectedCounty}"
                                                                                        [ngValue]="app.id"
                                                                                >{{app.town}}</option>
                                                                            </select>

                                                                        </ng-container>
                                                                    </div>
                                                                    <div class="col">
                                                                        <!--                                                                        <label class="input-placeholder-required"-->
                                                                        <!--                                                                               for="county">-->
                                                                        <!--                                                                            County-->
                                                                        <!--                                                                        </label>-->
                                                                        <!--                                                                        <br>-->
                                                                        <!--                                                                        <ng-container *ngIf="county$ | async as apps">-->
                                                                        <!--                                                                            <select-->
                                                                        <!--                                                                                    (ngModelChange)="updateSelectedCounty()"-->
                                                                        <!--                                                                                    formControlName="county" id="county"-->
                                                                        <!--                                                                                    name="county" required="required"-->
                                                                        <!--                                                                                    class="form-control">-->
                                                                        <!--                                                                                <option ngValue="null" selected>Please-->
                                                                        <!--                                                                                    select-->
                                                                        <!--                                                                                </option>-->
                                                                        <!--                                                                                <option-->
                                                                        <!--                                                                                        *ngFor="let app of apps| filterPipe: {status: true, regionId: selectedRegion}"-->
                                                                        <!--                                                                                        [ngValue]="app.id"-->
                                                                        <!--                                                                                >{{app.county}}</option>-->
                                                                        <!--                                                                            </select>-->

                                                                        <!--                                                                        </ng-container>-->
                                                                    </div>

                                                                </div>
                                                                <div class="form-group clearfix">
                                                                    <button class="form-wizard-next-btn float-right"
                                                                            [disabled]="!stepTwoForm.valid"
                                                                            type="submit">NEXT
                                                                    </button>
                                                                </div>
                                                            </div>


                                                        </form>
                                                    </fieldset>
                                                </div>
                                                <div *ngSwitchCase="2">
                                                    <h2 style="text-align: center"><b>Step</b> <b> 2</b><b> of</b> <b>
                                                        2</b></h2>

                                                    <fieldset class="wizard-fieldset show">
                                                        <form (ngSubmit)="onClickSave(stepThreeForm.valid)"
                                                              [formGroup]="stepThreeForm" action="" class="form"
                                                              enctype="multipart/form-data" method="post">
                                                            <div class="container">
                                                                <div class="row">
                                                                    <h2 class="welcome2">
                                                                        Contact Information
                                                                    </h2>
                                                                </div>
                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="filter-inputs"
                                                                               for="contactPerson">
                                                                            Contact Person
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="contactPerson"
                                                                               id="contactPerson"
                                                                               name="contactPerson"
                                                                               placeholder="The contactPerson"
                                                                               required="required" type="text">

                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="filter-inputs" for="designation">
                                                                            Designation
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="designation"
                                                                               id="designation"
                                                                               name="designation"
                                                                               placeholder="The designation"
                                                                               required="required" type="text">

                                                                    </div>
                                                                </div>
                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="filter-inputs-not-required"
                                                                               for="descriptions">
                                                                            Description
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="descriptions"
                                                                               id="descriptions"
                                                                               name="descriptions"
                                                                               placeholder="The descriptions"
                                                                               type="text">

                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="filter-inputs" for="status">
                                                                            Active
                                                                        </label>
                                                                        <br>
                                                                        <input formControlName="status" id="status"
                                                                               name="status"
                                                                               placeholder="The status"
                                                                               required="required" type="checkbox">

                                                                    </div>
                                                                </div>
                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="filter-inputs" for="emailAddress">
                                                                            Email Address
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="emailAddress"
                                                                               id="emailAddress"
                                                                               name="emailAddress"
                                                                               placeholder="The emailAddress"
                                                                               required="required" type="email">

                                                                    </div>
                                                                    <div class="col">
                                                                        <label class="filter-inputs" for="telephone">
                                                                            Telephone
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="telephone"
                                                                               id="telephone"
                                                                               name="telephone"
                                                                               placeholder="The telephone"
                                                                               required="required" type="text">

                                                                    </div>
                                                                </div>
                                                                <div class="row input-row">
                                                                    <div class="col">
                                                                        <label class="filter-inputs-not-required"
                                                                               for="faxNo">
                                                                            Fax No
                                                                        </label>
                                                                        <br>
                                                                        <input class="form-control two-column-input"
                                                                               formControlName="faxNo" id="faxNo"
                                                                               name="faxNo"
                                                                               placeholder="The faxNo" type="text">

                                                                    </div>
                                                                    <div class="col">

                                                                        <!--                  <input class="form-control two-column-input" formControlName="companyProfileId" id="companyProfileId"-->
                                                                        <!--                         name="companyProfileId"-->
                                                                        <!--                         type="hidden">-->

                                                                        <!--                  <input class="form-control two-column-input" formControlName="id" id="id"-->
                                                                        <!--                         name="id"-->
                                                                        <!--                         type="hidden">-->

                                                                    </div>
                                                                </div>

                                                                <br>
                                                                <div class="form-group clearfix">
                                                                    <div class="col">
                                                                        <button (click)="onClickPrevious()"
                                                                                class="form-wizard-next-btn float-left"
                                                                                type="button">PREV
                                                                        </button>
                                                                    </div>
                                                                    <div class="col">
                                                                        <button class="form-wizard-next-btn float-right"
                                                                                disabled type="submit">SAVE
                                                                        </button>
                                                                    </div>
                                                                </div>


                                                            </div>


                                                        </form>
                                                    </fieldset>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
