<!DOCTYPE html>


<div class="container-fluid">
    <div class="row">
        <div class="col-sm-9">
            <h3>USER DETAILS</h3>
            <form class="row form-block w-form" ng-submit="applyFilter()">
                <div class="col text-block-2">
                    <label for="s-userName">User Name</label>
                    <input class="input-field w-input" id="s-userName" ng-model="searchForm.userName" required="required" type="text">
                </div>
                <div class="col text-block-2">
                    <label for="s-email">Email</label>
                    <input class="w-input" id="s-email" ng-model="searchForm.email" type="text">
                </div>
                <div class="col text-block-2">
                    <label for="s-firstName">First Name</label>
                    <input class="w-input" id="s-firstName" ng-model="searchForm.firstName" type="text">
                </div>
                <div class="col text-block-2">
                    <label for="searchLastName">Last Name</label>
                    <input class="w-input" id="searchLastName" ng-model="searchForm.lastName" type="text">
                </div>

                <div class="col" style="flex: content; flex-flow: column;">
                    <div class="row">
                        <input class="button w-button" data-wait="Please wait..." type="submit" value="Apply Filter">
                    </div>
                    <div class="row">
                        <input class="button w-button" data-wait="Please wait..." type="reset" value="Reset">
                    </div>


                </div>
            </form>
            <div class="row">
                <div class="col-4 col-sm-6">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Names</th>
                            <th>Email</th>

                            <th>View</th>

                        </tr>
                        </thead>
                        <tbody>

                        <tr ng-repeat="user in paged.users">
                            <td> {{ user.firstName + ' ' + user.lastName }}</td>
                            <td>{{ user.email }}</td>

                            <td>
                                <a class="edit-button"
                                   ng-click="editUser(user)">View</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>

                    <!--    {{noOfPages}} &nbsp; {{currentPage}} &nbsp; {{maxSize}}-->
                    <pagination items-per-page="itemsPerPage" max-size="maxSize"
                                ng-model="currentPage" num-pages="noOfPages"
                                total-items="users.length"></pagination>
                </div>
                <div class="col-8 col-sm-6">
                    <form class="form-block w-form" ng-submit="submitUser()">
                        <div class="row">
                            <div class="col-sm-5">

                                <div>
                                    <label class="field-label" for="title">Select Title
                                    </label>
                                    <select convert-to-number id="title" ng-model="userForm.title">
                                        <option value="">Select One...</option>
                                        <option ng-repeat="x in titles track by x.id" ng-value="{{x.id}}">{{x.title}}
                                        </option>
                                    </select>
                                </div>
                                <div>
                                    <label class="field-label" for="firstName">FirstName</label>
                                    <input class="w-input" id="firstName" ng-model="userForm.firstName" required=""
                                           type="text">
                                </div>
                                <div>
                                    <label class="field-label" for="lastName">LastName</label>
                                    <input class="w-input" id="lastName" ng-model="userForm.lastName" required=""
                                           type="text">
                                </div>
                                <div>
                                    <label class="field-label" for="userPinIdNumber">UserPinIdNumber</label>
                                    <input class="w-input" id="userPinIdNumber" ng-model="userForm.userPinIdNumber" required=""
                                           type="text">
                                </div>
                                <div>
                                    <label class="field-label" for="userName">UserName</label>
                                    <input class="w-input" id="userName" ng-model="userForm.userName" required=""
                                           type="text">
                                </div>
                                <div>
                                    <label class="field-label" for="email">Email</label>
                                    <input class="w-input" id="email" ng-model="userForm.email" required="" type="text">
                                </div>
                                <div>
                                    <label class="field-label" for="userType">Select User
                                        Type</label>
                                    <select convert-to-number id="userType" ng-model="userForm.userType"
                                            required="required">
                                        <option value="">Select One...</option>
                                        <option ng-repeat="x in userTypes track by x.id" ng-value="{{x.id}}">
                                            {{x.typeName}}
                                        </option>
                                    </select>

                                </div>

                                <div class="checkbox">
                                    <label for="enabled">
                                        <input id="enabled" ng-model="userForm.enabled" type="checkbox" value="">Enabled</label>
                                </div>
                                <div class="checkbox">
                                    <label for="accountExpired">
                                        <input id="accountExpired" ng-model="userForm.accountExpired" type="checkbox"
                                               value="">Account Expired</label>
                                </div>
                                <div class="checkbox">
                                    <label for="accountLocked">
                                        <input id="accountLocked" ng-model="userForm.accountLocked" type="checkbox"
                                               value="">Account Locked</label>
                                </div>
                                <div class="checkbox">
                                    <label for="credentialsExpired">
                                        <input id="credentialsExpired" ng-model="userForm.credentialsExpired"
                                               type="checkbox"
                                               value="">Credentials Expired</label>
                                </div>
                                <div class="checkbox">
                                    <label for="status"><input id="status" ng-model="userForm.status"
                                                               type="checkbox">Active</label>
                                </div>
                                <div>
                                    <label class="field-label" for="registrationDate">Registered On </label>
                                    <input class="w-input" id="registrationDate" ng-model="userForm.registrationDate"
                                           readonly
                                           type="text">
                                </div>

                            </div>
                            <div class="col-4 col-sm-5">
                                <div>
                                    <label class="field-label" for="directorate">Select Directorate
                                        <select id="directorate" ng-model="userForm.directorate" ng-options="x.id as x.directorate for x in activeDirectorates"></select>
                                    </label>
                                </div>
                                <div>
                                    <label class="field-label" for="department">Select Department
                                        <select id="department" ng-model="userForm.department" ng-options="x.id as x.department for x in departments | filter:{directorateId:userForm.directorate}"></select>
                                    </label>
                                </div>
                                <div>
                                    <label class="field-label" for="division">Select Division
                                        <select id="division" ng-model="userForm.division" ng-options="x.id as x.division for x in divisions | filter:{departmentId:userForm.department}"></select>
                                    </label>

                                </div>
                                <div>
                                    <label class="field-label" for="section">Select Section
                                        <select id="section" ng-model="userForm.section" ng-options="x.id as x.section for x in sections | filter:{divisionId:userForm.division}"></select>
                                    </label>

                                </div>
                                <div>
                                    <label class="field-label" for="l1SubSubSection">Select Sub-Section-L2
                                        <select id="l1SubSubSection" ng-model="userForm.l1SubSubSection" ng-options="x.id as x.subSection for x in subsectionsL1s | filter:{sectionId:userForm.section}"></select>
                                    </label>

                                </div>
                                <div>
                                    <label class="field-label" for="l2SubSubSection">Select Sub-Section-L2
                                        <select id="l2SubSubSection" ng-model="userForm.l2SubSubSection" ng-options="x.id as x.subSection for x in subsectionsL2s | filter:{subSectionId:userForm.l1SubSubSection}"></select>
                                    </label>

                                </div>

                                <div>
                                    <label class="field-label" for="designation">Select Designation
                                        <select id="designation" ng-model="userForm.designation" ng-options="x.id as x.designationName for x in activeDesignations | filter:{directorateId:userForm.directorate}"></select>
                                    </label>
                                </div>

                                <div>
                                    <label class="field-label" for="region">Select Region
                                        <select id="region" ng-model="userForm.region" ng-options="x.id as x.region for x in activeRegions"></select>
                                    </label>
                                </div>


                                <div>
                                    <label class="field-label" for="subRegion">Select Sub-Region
                                        <select id="subRegion" ng-model="userForm.subRegion" ng-options="x.id as x.subRegion for x in subRegions| filter:{regionId:userForm.region}"></select>
                                    </label>

                                </div>

                            </div>

                        </div>
                        <div class="row ">
                            <div class="col align-self-end col-sm-4">
                                <input class="w-button" data-wait="Please wait..." type="submit" value="Save">

                            </div>
                            <div class="col align-self-start col-sm-4">
                                <input class="w-button" data-wait="Please wait..." type="reset" value="Cancel">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
