<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header card-header-primary card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">assignment</i>
                </div>
                <h4 class="card-title"><b>Rejected Applications</b></h4>
            </div>

            <div class="card-body">
                <div class="toolbar">
                    <div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
                        <div class="d-flex flex-wrap align-items-center">
                            <h5 class="mr-4">Rejected Applications</h5>

                        </div>
                    </div>
                </div>
                <div class="material-datatables table-responsive">
                    <table class="table table-striped table-bordered table-hover" datatable
                           [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                        <thead>
                        <tr>
                            <th class="id">ID</th>
                            <th class="task">Task</th>
                            <th class="task">TC</th>
                            <th class="task">Applicant Name</th>
                            <th class="task">Status</th>

                            <th class="action">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tcTask of tcTasks  let i= index;">
                            <td>{{i + 1}}</td>
                            <td>Review Application</td>
                            <td>{{tcTask.technicalCommittee}}</td>
                            <td>{{tcTask.nomineeName}}</td>
                            <td>
                                <ng-container [ngSwitch]="tcTask.status">
                                    <ng-container *ngSwitchCase="null">
<span style=" font-size: 10px;"
      class="badge badge-success">Awaiting Decision By HOF</span></ng-container>
                                    <ng-container *ngSwitchCase="'0'">
<span style=" font-size: 10px;"
      class="badge badge-success">Rejected By HOF</span></ng-container>
                                    <ng-container *ngSwitchCase="'1'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved By HOF</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'2'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved By SPC</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'3'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Rejected By SAC</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'4'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved By SAC</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'5'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved For Appointment</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'6'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Appointment Confirmed</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'7'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">ICT</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'8'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'9'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved</span>
                                    </ng-container>
                                    <ng-container *ngSwitchCase="'10'"><span
                                            style=" font-size: 10px;"
                                            class="badge badge-success">Approved</span>
                                    </ng-container>
                                    <ng-container *ngSwitchDefault></ng-container>
                                </ng-container>
                            </td>
                            <td><a type="button" (click)="onOpenModal(tcTask)"
                                   class="btn btn-info tooltips"
                                   data-placement="top" data-original-title="View Application">View
                                Application</a></td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog"
     aria-labelledby="viewRequestModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"
                    id="viewRequestModalLabel">{{actionRequest?.nomineeName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"
                        #closeViewModal>
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-12">
                        <ul class="list-group">
                            <li class="list-group-item active">Application Details</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Technical
                                Committee: </strong>{{actionRequest?.technicalCommittee}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Organisation
                                Classification: </strong>{{actionRequest?.organisationClassification}}
                            </li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Organisation
                                Name:</strong> {{actionRequest?.organisationName}}</li>

                            <li style="background: lightgray"
                                class="list-group-item">
                                <strong>Nominee: </strong> {{actionRequest?.nomineeName}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Position
                                Held: </strong> {{actionRequest?.position}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Postal
                                Address: </strong> {{actionRequest?.postalAddress}}</li>
                            <li style="background: lightgray"
                                class="list-group-item">
                                <strong>Phone: </strong> {{actionRequest?.mobileNumber}}</li>
                            <li style="background: lightgray"
                                class="list-group-item">
                                <strong>Email: </strong> {{actionRequest?.email}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Authorising
                                Person: </strong> {{actionRequest?.authorizingPerson}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Authorising Person
                                Position: </strong>{{actionRequest?.authorizingPersonPosition}}</li>
                            <li style="background: lightgray"
                                class="list-group-item"><strong>Authorising Person
                                Email: </strong> {{actionRequest?.authorizingPersonEmail}}</li>

                            <li style="background: lightgray"
                                class="list-group-item">
                                <strong>Qualifications:</strong> {{actionRequest?.qualification}}</li>

                            <li style="background: lightgray"
                                class="list-group-item">Curriculum Vitae:

                            </li>
                            <li style="background: lightgray">
                                <div class="material-datatables table-responsive">
                                    <table class="table table-striped table-bordered table-hover"
                                           datatable
                                           [dtOptions]="dtOptionsB" [dtTrigger]="dtTrigger2">
                                        <thead>
                                        <tr>
                                            <th class="task">Document Name</th>
                                            <th class="task">Action</th>

                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let doc of docs let i= index; ">

                                            <td>{{doc.name}}</td>
                                            <td>
                                                <button class="btn btn-info tooltips"
                                                        style="width: inherit"
                                                        (click)="
                                                                        viewPdfFile( doc.id,doc?.name, 'application/pdf')"
                                                        data-placement="top"
                                                ><i
                                                        class="fa fa-eye"></i> View
                                                </button>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </li>

                        </ul>
                    </div>
                </div>

                <br>

                <div class="row">
                    <div class=" col-12">
                        <div class="card ">
                            <div class="card-body ">
                                <ng-container [ngSwitch]="this.actionRequest?.status">
                                    <ng-container *ngSwitchCase="'3'">
                                        <div class="row">
                                            <div class=" col-12">
                                                <ul class="list-group">
                                                    <li style="background-color: red" class="list-group-item active">SAC
                                                        REJECTION
                                                    </li>

                                                    <li style="background: lightgray"
                                                        class="list-group-item">REJECTION
                                                        BY:{{userDetails?.firstName + ' ' + userDetails?.lastName}}</li>

                                                    <li style="background: lightgray"
                                                        class="list-group-item">REJECTION REASON:
                                                        {{this.actionRequest?.commentsBySac}}
                                                    </li>


                                                </ul>
                                            </div>
                                        </div>
                                    </ng-container>

                                    <ng-container *ngSwitchDefault></ng-container>
                                </ng-container>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class=" col-12">
                        <div class="card ">
                            <div class="card-header card-header-rose card-header-text">
                                <div class="card-text">
                                    <h4 class="card-title">Resubmit Applicant Request</h4>
                                </div>
                            </div>
                            <div class="card-body ">
                                <div class="row">
                                    <form #editForm="ngForm" class="form" style="width: 100%">
                                        <div class="form-body">
                                            <div class="form-group">
                                                <label><b>Provide reason for the decision</b></label>
                                                <textarea
                                                        aria-describedby="inputGroup-sizing-sm" ngModel
                                                        id="commentsBySpc"
                                                        aria-label="Small"
                                                        class="form-control one-column-input"
                                                        name="commentsBySpc"
                                                        placeholder=" " type="text" required></textarea>
                                            </div>
                                        </div>


                                        <button class="btn btn-info"
                                                (click)="decisionOnApplications(editForm.value,actionRequest?.id)">
                                            Resubmit
                                        </button>

                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>


            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-secondary"
                        data-dismiss="modal">Close
                </button>

            </div>
        </div>
    </div>
</div>

