<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>

                            </div>
                            <div class="card-title float-left"><h4 style="color: #0d47a1; font-weight: bold">XYZ Milk Levy Payment History</h4></div>

                            <div class="card-title float-right">
                                <button class="btn btn-sm btn-primary">Print/Download To Excel</button>
                                <button type="button" class="btn btn-sm btn-outline-warning">
                                    Tasks <span class="badge badge-primary">{{tasks.length}}</span>
                                </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="row">
                                <div class="material-datatables table-responsive col-md-9">
                                    <table  class="table table-striped table-bordered table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="knw">Month</th>
                                            <th class="sl">Month Turnover</th>
                                            <th class="knw">Paid Levy</th>
                                            <th class="sl">Levy Penalties</th>
                                            <th class="requestNumber">Payment Date </th>
                                            <th class="knw">Total Penalty</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor="let task of tasks let i=index">
                                            <td>{{i+1}}</td>
                                            <td>{{task.penaltyGenerationDate | date: 'MM/dd/'}}</td>
                                            <td>Ksh -</td>
                                            <td>KSH -</td>
                                            <td>{{task.penaltyPayable}}</td>
                                            <td>13/06/2018</td>
                                            <td>KSH 1000</td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col-md-3">

                                    <div class="card" style="background-color: #e7ecee">
                                        <div class="card-body">
                                            <h4 class="card-title" style="color: #0d0505; font-weight: bold">Actions</h4>
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-primary" style="width: 126px">Assign</button>
                                                </div>
                                                <div class="col-md-12">
<!--                                                    <button (click)="onOpenModal(task,'schedule')" style="width: 126px;" class="btn btn-primary btn-sm">Schedule</button>-->
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-primary" style="width: 126px">Add Remarks</button>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-primary" style="width: 126px">View Remarks</button>
                                                </div>
                                                <div class="col-md-12">
                                                    <button class="btn btn-sm btn-warning">Close Account</button>
                                                </div>

                                            </div>

                                        </div>
                                    </div>

                                    <div class="modal fade" id="schedule" tabindex="-1" role="dialog" aria-labelledby="approveRJExampleModalLabel" aria-hidden="true">a
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="approveRJExampleModalLabel">Schedule Visit</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form (ngSubmit)="scheduleVisit()" [formGroup]="scheduleVisitFormGroup" class="form">
                                                    <div class="modal-body">
                                                        <div class="row col-12">
                                                            <div class="form-group col-12">
                                                                <label>Date of Visit <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                                <input [class.is-invalid]="scheduleVisitForm.scheduledVisitDate.invalid && scheduleVisitForm.scheduledVisitDate.touched"
                                                                       class="form-control"  formControlName="scheduledVisitDate" name="scheduledVisitDate" type="date">
                                                            </div>
                                                        </div>
                                                        <input type="hidden" ngModel="961" formControlName="manufacturerEntity" name="manufacturerEntity" value="961" >
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                        <button *ngIf="scheduleVisitFormGroup.valid" [disabled]="!scheduleVisitFormGroup.valid" class="btn btn-sm btn-primary float-right" type="submit">Save</button>
                                                        <button *ngIf="!scheduleVisitFormGroup.valid" class="btn btn-sm btn-primary float-right"
                                                                (click)="showNotification('top','right')">Save
                                                        </button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

