<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>KEBS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" th:href="@{/images/favicon.ico}" type="image/x-icon">
    <link rel="apple-touch-icon" th:href="@{/images/kebs_favicon.png}">
    <link rel="stylesheet" th:href="@{/css/style.css}" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
    <script>
        function init()
        {
            window.location.replace("https://kims.kebs.org/");

        }


    </script>

</head>
<body onload="init()">
<header>

    <div class="header">
        <div class="kebs-image">
            <img th:src="@{/images/kebs_new_logo.png}" class="logo-image" alt="kebs Logo" id="logo">
        </div>
        <div class="title">
            <h3>
                Self-Service Portal
            </h3>
        </div>
        <div class="vision-2030">
            <img th:src="@{/images/Vision2030_logo.svg}" class="vision-image" alt="kebs Logo" id="logo">
        </div>
    </div>
</header>
<section class="infor">
    <div class="about-us">
        <div class="about-us-content">
            <p class="content-title">
                Vision:
            </p>
            <p class="content-details">
                To be a global leader in standards based solutions that deliver quality and confidence
            </p>
            <br>
            <p class="content-title">
                Mission:
            </p>
            <p class="content-details">
                To provide standard based solutions that promote innovation, trade and quality life
            </p>
            <br>
            <p class="content-title">
                Motto:
            </p>
            <p class="content-details">
                Standards for quality life
            </p>
        </div>
    </div>
    <div class="login-form">
        <form id="login-form" method="POST" name="login-form" th:action="@{/auth/login-service}">
            <div th:if="${param.error}">
                <div class="alert alert-danger">
                    <span class="welcome">
                        Your login attempt was not successful, try again.<br>
                    </span>
                </div>
            </div>
            <h2 class="welcome">
                Welcome Back
            </h2>
            <p class="input-placeholder">
                Email Address
            </p>
            <input type="email" class="login-form-inputs" placeholder="" id="username" name="username" required>
            <p class="input-placeholder">
                Password
            </p>
            <input type="password" class="login-form-inputs" placeholder="" id="password" name="password" required>

            <p><input type="text" class="login-form-small-inputs" placeholder="" id="otp" name="otp" required>
                <button type="button" class="login-button" onClick="getOTPCodeBtn(this)" id="verificationCode">GET OTP
                </button>
            </p>

            <p></p>
            <button type="submit" value="" class="login-button" id="login-btn" style="display:none;">LOG IN</button>
            <br>
            <a th:href="@{/auth/forgot-password}" class="reset-credentials">Forgot Username /Password</a>
            <!--                                <span>Forgot username/password ? </span><span><a th:href="@{/api/auth/signup/forgot-password}">Reset</a></span>-->

            <br>
<!--            <a class="reset-credentials" href="/migration/index.html">Sign Up</a>-->
        </form>
    </div>
</section>
<section class="footer">
    <div class="location">
        <p class="location-details">
            Popo Road, Off Mombasa Road,
        </p>
        <p class="location-details">
            Tel : + 254 (20) 694 8000
        </p>
        <p class="location-details">
            Mobile : 0722 202 137 or 0734 600 471/2
        </p>
        <p class="location-details">
            PVOC : 0724 255 242
        </p>
        <p class="location-details">
            Email: info@kebs.org
        </p>
    </div>
    <div class="standard-marks marks">
        <div class="f-mark">
            <img th:src="@{/images/Fmark.png}" class="mark-image" alt="fortified Logo" id="fortified">
        </div>
        <div class="d-mark">
            <img th:src="@{/images/Dmark.png}" class="mark-image" alt="d_mark Logo" id="d_mark">
        </div>
        <div class="n-mark">
            <img th:src="@{/images/Smark Logo.png}" class="mark-image" alt="quality Logo" id="quality">
        </div>
    </div>
    <div class="copyright">
        <p class="copyright-details">
            Copyright 2021 Kenya Bureau of Standards.
        </p>
        <p class="copyright-details push-middle">
            All Rights Reserved v1.0.0.
        </p>
    </div>
</section>
</body>


<!--<div class="header mb-2">-->
<!--    <a class="navbar-brand">-->
<!--        <img alt="" th:src="@{/images/kebs_new_logo.png}">Self-service portal-->
<!--    </a>-->
<!--</div>-->

<!--<div class="nav"></div>-->

<!--&lt;!&ndash; Begin page content &ndash;&gt;-->
<!--<main role="main" class="container-fluid" style="width: 100vw;">-->
<!--    <div class="row" style="height: 100vh">-->
<!--        <div class="col-lg-6 d-none d-sm-block left-column">-->
<!--        </div>-->

<!--        <div class="col-lg-6 col-xs-12 right-column">-->
<!--            <div class="form-container">-->
<!--                <div class="container-fluid" style="margin-top: 5%">-->
<!--                    <form id="login-form" method="POST" name="login-form" th:action="@{/auth/login-service}">-->
<!--                        <h1>Welcome</h1>-->
<!--                        <p>Enter your details to stay connected</p>-->
<!--                        <hr>-->

<!--                        <div class="form-body">-->
<!--                            <div class="form-group">-->
<!--                                <label><b>Username</b></label>-->
<!--                                <input type="text" class="form-control one-column-input" aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="" id="username" name="username" required>-->
<!--                            </div>-->
<!--                            <div class="form-group"><label><b>Password</b></label>-->
<!--                                <input type="password" class="form-control one-column-input " aria-label="Small" aria-describedby="inputGroup-sizing-sm" placeholder="" id="password" name="password" required>-->
<!--                            </div>-->
<!--                            <div class="row" style="align-items: center; margin-bottom: 10px">-->
<!--                                <div class="col-lg-6">-->
<!--                                    <div class="form-group">-->
<!--                                        <label><b>Enter OTP</b></label>-->
<!--                                        <input type="text" class="form-control one-column-input" aria-label="Small" aria-describedby="inputGroup-sizing-sm" id="otp" name="otp" required>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="col-lg-6" style="padding-top: 2%">-->
<!--                                    <button type="button" class="submit-button" onClick="getOTPCodeBtn(this)" id="verificationCode">GET OTP</button>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div style="margin: 3em 0 2em 0">-->
<!--                                <button type="submit" class="submit-button" id="login-btn" style="display:none;">LOGIN</button>-->
<!--                            </div>-->

<!--                            <div>-->
<!--                                <span>Don't have an account ? </span><span><a th:href="@{/api/auth/signup/user}">Register</a></span>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <span>Forgot username/password ? </span><span><a th:href="@{/api/auth/signup/forgot-password}">Reset</a></span>-->
<!--                            </div>-->
<!--                        </div>-->

<!--                    </form>-->
<!--                </div>-->

<!--            </div>-->

<!--        </div>-->
<!--    </div>-->

<!--</main>-->

<!--<footer class="footer">-->
<!--    <div class="center">-->
<!--        <div class="row" style="text-align: center">-->
<!--            <div class="col-lg-4">-->
<!--                <img th:src="@{/images/d_mark.jpg}" class="footer-image" alt="">-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <img th:src="@{/images/Fortification-mark-png.png}" class="footer-image">-->
<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <img th:src="@{/images/KEBS_SMARK.jpg}" class="footer-images">-->
<!--            </div>-->
<!--        </div>-->
<!--        <hr>-->
<!--        <div class="row mt-3" style="text-align: center">-->
<!--            <div class="col-lg-4">-->
<!--                <p style="margin-bottom: -5px">Kenya Bureau of Standards-->
<!--                    Popo Road, Off Mombasa Road</p>-->

<!--                   <p> P.O. Box 54974 - 00200-->

<!--                    Nairobi, Kenya.-->
<!--                </p>-->

<!--            </div>-->

<!--            <div class="col-lg-4">-->
<!--                <p style="margin-bottom: -5px">Email: info@kebs.org</p>-->
<!--                <p>Website: www.kebs.org</p>-->

<!--            </div>-->
<!--            <div class="col-lg-4">-->
<!--                <p style="margin-bottom: -5px">Tel : + 254 (20) 694 8000</p>-->
<!--                <p style="margin-bottom: -5px"> Mobile : 0722 202 137 or 0734 600 471/2</p>-->
<!--                <p style="margin-bottom: -5px"> PVOC : 0724 255 242</p>-->
<!--                <p> Toll Free Number : 1545</p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="container mt-4" style="text-align: center">-->
<!--            <p>Copyright &#169; 2021 Kenya Bureau of Standards. All Rights Reserved</p>-->
<!--            <p>v1.0.0</p>-->
<!--        </div>-->
<!--    </div>-->
<!--</footer>-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript"></script>
<script>window.jQuery || document.write('<script th:src="@{/js/vendor/jquery-slim.min.js}"><\/script>')</script>
<!--<script th:src="@{/js/vendor/popper.min.js}"></script>-->
<script th:src="@{/js/spinner.js}" type="text/javascript"></script>
<script th:src="@{/assets2/bootstrap-4.5.3-dist/js/bootstrap.js}"></script>
<script>
    document.onreadystatechange = function () {
        showSpinnerOnLoad(document)
    }

    function loadSpinner() {
        showSpinner(document)
    }
</script>
<script>
    var wait = 60;

    function getOTPCodeBtn(btn) {


        if ($("#username").val() == "") {
            alert("Please fill in the username first.");
            return;
        }
        if (!validateEmail()) {
            return;
        }

        if (wait == 0) {

            btn.removeAttribute("disabled");
            // document.getElementById("verificationCode").style.display = "block";

            $(btn).val("Get OTP Code ");
            wait = 60;
        } else {
            $(btn).attr("disabled", true);
            document.getElementById("verificationCode").style.display = "none";
            $(btn).val(wait + " secs");
            // btn.value = "Obtain again in "+wait +" seconds";
            if (wait == 60) {
                document.getElementById("verificationCode").style.display = "none";
                getMobileCode();
            }
            wait--;
            setTimeout(function () {
                getOTPCodeBtn(btn);
            }, 1000)
        }
    }

    function getMobileCode() {
        var loginInfo = {
            "username": $('#username').val(),
            "password": $('#password').val()
        };
        var loginInfoJson = JSON.stringify(loginInfo)
        $.ajax({
            cache: true,
            type: "POST",
            url: "/api/v1/otp",
            headers: {
                'Content-Type': 'application/json'
            },
            data: loginInfoJson,
            async: false,
            dataType: 'json',
            error: function (request) {
                // console.log(`${JSON.stringify(request)} Messages:${request.responseJSON.message}`);
                if (request?.responseJSON?.message) {

                    alert(`Message:${request.responseJSON.message}`);
                } else {

                    alert("Connection error");

                }
            },
            success: function (json) {
                // console.log(json);
                // console.log('otp is: ', json.otp);
                // console.log(json);
                console.log('otp is: ', json.otp);
                $("#login-btn").show();
                // $("#otp").val(json.otp);
            }
        });
    }

</script>
<script>
    function validateEmail() {
        const x = $("#username").val();
        const atposition = x.indexOf("@");
        const dotposition = x.lastIndexOf(".");
        if (atposition < 1 || dotposition < atposition + 2 || dotposition + 2 >= x.length) {
            alert("Please enter a valid email address");
            return false;
        }
        return true;
    }
</script>
<script>
    window.onload = function() {
        // similar behavior as an HTTP redirect
        window.location.replace("https://kimsint.kebs.org/");
    }
</script>
</html>
