<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Jul 17 2020 07:38:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f114f29a0db1a1e9a44be8b" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/multiStepForm.css}"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap3/css/bootstrap.css}"/>
</head>
<body>
<div class="top-bar flex">
    <div class="div-block-8"></div>
    <div class="top-bar-grid stretch">
        <div class="div-block-3" id="w-node-1b8d60fecab3-9a44be8b">
            <a class="brand w-inline-block" href="/" th:href="@{/index}">
                <img alt="" th:src="@{/images/Component-1.png}" width="145">
            </a>
        </div>
        <h1 class="white" id="w-node-1b8d60fecab6-9a44be8b" th:text="${session.applicationName}"></h1>
    </div>
</div>
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-content-div" id="w-node-a58aeb4cd9dd-9a44be8b">
            <div class="content-nav">
                <button class="back-button w-button" onclick="window.history.back()">go back</button>
            </div>
            <div class="content-wrap">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3" th:if="${usersEntity.userTypes == mapUserTypeManufacture}">
                        <form id="msform" enctype="multipart/form-data" method="post" th:action="@{/api/auth/signup/manufacturer/save(appId = ${map.id}, userLoggedInId = ${usersEntity.id})}" th:object="${usersEntity}">
                            <!-- progressbar -->
                            <!--                            <ul id="progressbar">-->
                            <!--                                <li class="active">BIO INFORMATION</li>-->
                            <!--                                <li>COMPLAINT DETAILS</li>-->
                            <!--                                <li>LOCATION </li>-->
                            <!--                            </ul>-->
                            <!-- fieldsets -->
                            <fieldset th:object="${usersEntity}">
                                <h2 class="fs-title">Contact Person Details</h2>
                                <h3 class="fs-subtitle">Fill in the Details bellow</h3>
                                <label for="firstName" class="field-label">First Name</label>
                                <input  maxlength="100" type="text" class="form-control" placeholder="Enter First Name" id="firstName" disabled  th:field="*{firstName}" />
                                <label for="lastName" class="field-label">Last Name</label>
                                <input maxlength="100" type="text" class="form-control" placeholder="Enter Last Name" id="lastName"  disabled th:field="*{lastName}" />
                                <label for="email" class="field-label">Email</label>
                                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Email" id="email" disabled th:field="*{email}" />
                                <div th:object="${manufacturerContactEntity}">
                                    <input type="hidden" id="firstName"  name="firstName" th:value="${firstName}">
                                    <input type="hidden" id="lastName"  name="lastName" th:value="${lastName}">
                                    <input type="hidden" id="emailAddress"  name="emailAddress" th:value="${email}">
                                        <label for="cellPhone" class="field-label">Telephone Number</label>
                                        <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Phone Number" id="cellPhone"   th:field="*{cellPhone}" />
                                </div>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${manufacturersEntity}">
                                <h2 class="fs-title">Company Details</h2>
                                <h3 class="fs-subtitle">Fill in bellow Your Company details</h3>
                               
                                    <label for="name" class="field-label">Business / Company Name</label>
                                    <input  type="text" required="required" class="form-control" placeholder="Enter Company Name" id="name" th:field="*{name}"/>
                                    <label for="kraPin" class="field-label">KRA PIN</label>
                                    <input  minlength="13" maxlength="20" type="text" onkeyup="check();" required="required" class="form-control" placeholder="Enter KRA PIN" id="kraPin" th:field="*{kraPin}"/>
                                    <label for="registrationNumber" class="field-label">BRS</label>
                                    <input  minlength="13" maxlength="20" type="text" onkeyup="checkBRS();" required="required" class="form-control" placeholder="Enter BRS" id="registrationNumber" th:field="*{registrationNumber}"/>
                                    <label for="companyEmail" class="field-label">Company Email</label>
                                    <input  type="email" required="required" class="form-control" placeholder="Enter Email" id="companyEmail" th:field="*{companyEmail}"/>
                                    <label for="postalAddress" class="field-label">Postal Address</label>
                                    <input  type="text" required="required" class="form-control" placeholder="Enter Postal Address" id="postalAddress" th:field="*{postalAddress}"/>
                                    <label for="companyTelephone" class="field-label">Telephone</label>
                                    <input  type="text" required="required" class="form-control" placeholder="Enter Telephone" id="companyTelephone" th:field="*{companyTelephone}"/>
                                <label for="businessLineId" class="field-label">Manufacturer Line of Business</label>
                                <select  required="required" id="businessLineId"   class="form-control" th:field="*{businessLineId}">
                                    <option value="">Select One...</option>
                                    <option th:each="businessLine : ${businessLines}" th:text="${businessLine.name}" th:value="${businessLine.id}"></option>
                                </select>
                                <label for="businessNatureId" class="field-label">Manufacturer Nature of Business</label>
                                <select  required="required" id="businessNatureId"  class="form-control" th:field="*{businessNatureId}">
                                    <option value="">Select One...</option>
                                    <!--                                        <option th:each="businessNature : ${businessNatures}" th:text="${businessNature.name}" th:value="${businessNature.id}"></option>-->
                                </select>

                                <div th:object="${yearlyTurnoverEntity}">
                                    <label for="Company-yearly-turnover" class="field-label">Yearly Turnover</label>
                                    <input  type="number" min="1" required="required" class="form-control" placeholder="Enter Company Yearly Turnover" id="Company-yearly-turnover" th:field="*{turnOverAmount}"/>
                                </div>

                                <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${stdLevyNotificationFormEntity}">
                                <h2 class="fs-title">Standard Levy Notification Details</h2>
                                <h3 class="fs-subtitle">Fill in the Details bellow</h3>
                                <label for="nameBusinessProprietor" class="field-label">Name and Business of proprietor or partners</label>
                                <textarea class="form-control" cols="15" rows="8" id="nameBusinessProprietor"  th:field="*{nameBusinessProprietor}"></textarea>
                                <label for="nonComplianceStatus_yes" class="field-label">No Companies<input type="radio"  th:name="chiefExecutiveDirectorsStatus" id="nonComplianceStatus_yes" th:value="1"></label>
                                <label for="nonComplianceStatus_no" class="field-label" style="color: red">Companies, Chief Executive and Directors<input type="radio" id="nonComplianceStatus_no" th:name="chiefExecutiveDirectorsStatus"  th:value="0"></label>
                                <textarea  style="margin: auto;margin-left: 10px; display: none" id="nonCompliance_rm" th:field="*{chiefExecutiveDirectors}" class="w-input" cols="15" rows="8"></textarea>
                                <label for="dateManufactureCommenced" class="field-label">Date Upon manufacture commenced or will commence</label>
                                <input  type="date" required="required" class="form-control" placeholder="date commenced" id="dateManufactureCommenced" th:field="*{dateManufactureCommenced}"/>
                                <label for="totalValueOfManufacture" class="field-label">Total Value of manufacture in last Calendar year</label>
                                <input  type="number" required="required" class="form-control" id="totalValueOfManufacture" th:field="*{totalValueOfManufacture}"/>
<!--                                <label for="commoditiesManufactured" class="field-label">All Commodities Manufactured or to be Manufactured</label>-->
<!--                                <textarea class="form-control" cols="15" rows="8" placeholder="Enter First Name" id="commoditiesManufactured"  th:field="*{commoditiesManufactured}"></textarea>-->
                                <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${manufacturerAddressesEntity}">
                                <h2 class="fs-title">Main Physical Location Details</h2>
                                <h3 class="fs-subtitle">Fill in the Main Physical Location Details</h3>
                                <label for="buildingName" class="field-label">Main Address Building</label>
                                <input  type="text" required="required" class="form-control" id="buildingName" th:field="*{buildingName}"/>
                                <label for="streetName" class="field-label">Street Name</label>
                                <input  type="text" required="required" class="form-control" id="streetName" th:field="*{streetName}"/>

                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" class="submit action-button" style="background-color: #47cf73" value="Submit"/>
                            </fieldset>
                        </form>
                    </div>
                    <div class="col-md-6 col-md-offset-3" th:if="${usersEntity.userTypes == mapUserTypeImporter}">
                        <form id="msform" enctype="multipart/form-data" method="post" th:action="@{/api/auth/signup/importer/save(appId = ${map.id}, userLoggedInId = ${usersEntity.id})}">
                            <!-- progressbar -->
                            <!--                            <ul id="progressbar">-->
                            <!--                                <li class="active">BIO INFORMATION</li>-->
                            <!--                                <li>COMPLAINT DETAILS</li>-->
                            <!--                                <li>LOCATION </li>-->
                            <!--                            </ul>-->
                            <!-- fieldsets -->
                            <fieldset th:object="${usersEntity}">
                                <h2 class="fs-title">Personal Details</h2>
                                <h3 class="fs-subtitle">Fill in the Details bellow</h3>
                                <label for="firstName" class="field-label">First Name</label>
                                <input  maxlength="100" type="text" class="form-control" placeholder="Enter First Name" id="firstName" disabled  th:field="*{firstName}" />
                                <label for="lastName" class="field-label">Last Name</label>
                                <input maxlength="100" type="text" class="form-control" placeholder="Enter Last Name" id="lastName"  disabled th:field="*{lastName}" />
                                <label for="email" class="field-label">Email</label>
                                <input maxlength="100" type="text" required="required" class="form-control" placeholder="Enter Email" id="email" disabled th:field="*{email}" />
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${importerContactDetailsEntity}">
                                <h2 class="fs-title">Contact Details</h2>
                                <h3 class="fs-subtitle">Fill in bellow Your Contact details</h3>
                                <label for="cellPhone" class="field-label">Telephone Number</label>
                                <input maxlength="100" type="text" class="form-control" placeholder="Enter Phone Number" id="cellPhone"  required="required" th:field="*{cellPhone}" />
                                <label for="pin"  class="field-label">Pin </label>
                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Pin" id="pin" th:field="*{pin}"/>
                                <label for="fax"  class="field-label">Fax</label>
                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter fax" id="fax"   th:field="*{fax}" />
                                <label for="physicalCountry" class="field-label">Physical Country</label>
                                <select maxlength="200" required="required" id="physicalCountry" th:field="*{physicalCountry}" class="form-control">
                                    <option value="">Select Country...</option>
                                    <option  th:each="selectCountry : ${countries}" th:value="${selectCountry.country}" th:text="${selectCountry.country}"></option>
                                </select>
                                <label for="physicalAddress" class="field-label">Physical Address</label>
                                <input  type="text" required="required" class="form-control" placeholder="Enter Your Physical Address" id="physicalAddress" th:field="*{physicalAddress}"/>
                                <label for="postalCountry" class="field-label">Postal Country</label>
                                <select maxlength="200" required="required" id="postalCountry" th:field="*{postalCountry}" class="form-control">
                                    <option value="">Select Country...</option>
                                    <option  th:each="selectCountry : ${countries}" th:value="${selectCountry.country}" th:text="${selectCountry.country}"></option>
                                </select>
                                <label for="postalAddress" class="field-label">Postal Address</label>
                                <input maxlength="200" type="text" required="required" class="form-control" placeholder="Enter Physical Address" id="postalAddress"   th:field="*{postalAddress}"/>
                                <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" class="submit action-button" style="background-color: #47cf73" value="Submit"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e70fb3a565ebd99c1db37ce" type="text/javascript"></script>
<script src="../js/webflow.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/assets/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- [if lte IE 9]><!--<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>--><![endif] -->
<script>
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale('+scale+')',
                    'position': 'absolute'
                });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function(){
        return true;
    })
</script>
<script>
    $(document).ready(function(){
        $("#nonComplianceStatus_no").click(function(){
            if($(this).is(':checked')){
                $("#nonCompliance_rm").css("display","block")
            }else{
                $("#nonCompliance_rm").css("display","none")
            }
        });
        $("#nonComplianceStatus_yes").click(function(){
            if($(this).is(':checked')){
                $("#nonCompliance_rm").css("display","none")
            }
        });

    });

    var check = function() {
        var  kraPin = document.getElementById('kraPin').value
        if (kraPin.length < 20 && kraPin.length >13 ){
            document.getElementById('kraPin').style.borderColor = "green";
            document.getElementById("submitDetails").disabled = false;
            // document.getElementById('message').style.color = 'green';
            // document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('kraPin').style.borderColor = "red";
            document.getElementById("submitDetails").disabled = true;
            alert("KRA PIN IS LESS THAN 13 OR MORE THAN 20 !");
            // document.getElementById('message').style.color = 'red';
            // document.getElementById('message').innerHTML = 'not matching';
        }
    }

    var checkBRS = function() {
        var  brs = document.getElementById('registrationNumber').value
        if (brs.length < 20 && brs.length >13 ) {
            document.getElementById('registrationNumber').style.borderColor = "green";
            document.getElementById("submitDetails").disabled = false;
            // document.getElementById('message').style.color = 'green';
            // document.getElementById('message').innerHTML = 'matching';
        } else {
            document.getElementById('registrationNumber').style.borderColor = "red";
            document.getElementById("submitDetails").disabled = true;
            alert("BRS PIN IS LESS THAN 13 OR MORE THAN 20 !");
            // document.getElementById('message').style.color = 'red';
            // document.getElementById('message').innerHTML = 'not matching';
        }
    }
</script>
<script>
    function loadDepartment () {
        let directorateId = $("#confirmDirectorateId").val()
        // console.log(categories.length)
        $.ajax({
            method: "GET",
            url: `/api/auth/get-departments/${directorateId}`,
            success(response){
                console.log(response)
                let s = '';
                s +=  ' <option value="0">Select One...</option>';
                for(let i = 0; i < response.length; i++) {
                    // response.push('Select one')
                    s += '<option value="' + response[i].id + '">' + response[i].department + '</option>';
                    // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                }

                $("#confirmDepartmentId").html(s);
            }
        })

    }

    function loadDesignation () {
        let designationId = $("#confirmDirectorateId").val()
        // console.log(categories.length)
        $.ajax({
            method: "GET",
            url: `/api/auth/designation-list/${designationId}`,
            success(response){
                console.log(response)
                let s = '';
                s +=  ' <option value="0">Select One...</option>';
                for(let i = 0; i < response.length; i++) {
                    // response.push('Select one')
                    s += '<option value="' + response[i].id + '">' + response[i].descriptions + '</option>';
                    // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                }
                $("#confirmDesignationId").html(s);
            }
        })

    }

    // window.onload = function () {
    //     setTimeout(function () {
    //         // loadDepartment();
    //         // loadDesignation();
    //     }, 1000);
    // }

    $(document).ready(function() {
            $("#confirmDirectorateId").click(function () {
                loadDepartment();
                loadDesignation();
            });

            $("#confirmRegionId").click(function () {
                // let methodId = $("#divisionId").children("option:selected").val()
                let regionId = $("#confirmRegionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/county-list/${regionId}`,
                    // data: regionId,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].county + '</option>';
                        // <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                            // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                        }
                        $("#confirmCountyId").html(s);
                    }
                })
            });

            $("#confirmCountyId").click(function () {
                // let methodId = $("#divisionId").children("option:selected").val()
                let countyId = $("#confirmCountyId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/town-list/${countyId}`,
                    // data: regionId,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].town + '</option>';
                        // <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                            // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                        }
                        $("#confirmTownId").html(s);
                    }
                })
            });

            $("#confirmDepartmentId").click(function () {
                let departmentId = $("#confirmDepartmentId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/division-list/${departmentId}`,
                    success(response){
                        console.log(response)
                        var s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].division + '</option>';
                        }
                        $("#confirmDivisionId").html(s);
                    }
                })

            });

            $("#confirmDivisionId").click(function () {
                let divisionId = $("#confirmDivisionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/section-list/${divisionId}`,
                    success(response){
                        console.log(response)
                        var s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].section + '</option>';
                        }
                        $("#confirmSectionId").html(s);
                    }
                })

            });

            $("#confirmSectionId").click(function () {
                let sectionId = $("#confirmSectionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l1-list/${sectionId}`,
                    success(response){
                        console.log(response)
                        var s = ''
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#confirmSubSectionL1Id").html(s);
                    }
                })

            });

            $("#confirmSubSectionL1Id").click(function () {
                let sectionId = $("#confirmSubSectionL1Id").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l2-list/${sectionId}`,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#confirmSubSectionL2Id").html(s);
                    }
                })

            });

            $("#businessLineId").click(function () {
            let businessLineId = $("#businessLineId").val()
            // console.log(categories.length)
            $.ajax({
                method: "GET",
                url: `/api/auth/business-nature-list/${businessLineId}`,
                success(response){
                    console.log(response)
                    let s = '';
                    s +=  ' <option value="0">Select One...</option>';
                    for(let i = 0; i < response.length; i++) {
                        // response.push('Select one')
                        s += '<option value="' + response[i].id + '">' + response[i].name + '</option>';
                    }
                    $("#businessNatureId").html(s);
                }
            })

        });
        }
    )
</script>

</body>
</html>