<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Tasks</h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables">
                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <th class="knw">Title</th>
                                    <th class="sl">Reference Material</th>
                                    <th class="requestNumber">Scope</th>
                                    <th class="department">Normative Reference</th>
                                    <th class="issuesAddressed">Issues Addressed</th>
                                    <th class="referenceMaterial">Clause</th>
                                    <th class="referenceMaterial">Special</th>
                                    <th class="action">Action</th>
                                    <th></th>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let task of tasks ">
                                        <td>{{task.taskData.title}}</td>
                                        <td>{{task.taskData.referenceMaterial}}</td>
                                        <td>{{task.taskData.scope}}</td>
                                        <td>{{task.taskData.normativeReference}}</td>
                                        <td>{{task.taskData.issuesAddressed}}</td>
                                        <td>{{task.taskData.clause}}</td>
                                        <td>{{task.taskData.special}}</td>
                                        <td *ngIf="task.name ==='Editing of FDKNWA (Workshop Draft)'"><a  (click)="onOpenModal(task,'edit')" class="btn btn-primary btn-sm tooltips" data-placement="top" style="width: 90px; " data-original-title="Edit"> Edit Draft</a></td>
                                        <td *ngIf="task.name ==='Upload KNWA to Standards Database'"><a  (click)="onOpenModal(task,'upload')" class="btn btn-success btn-sm tooltips" data-placement="top" style="width: 90px;" data-original-title="Edit">Save Standard</a></td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="approveExampleModalLabel" aria-hidden="true">a
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="approveExampleModalLabel">Edit Workshop Draft</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="onEdit()" [formGroup]="prepareWorkShopDraftFormGroup" class="form">
                                                <div class="modal-body">
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Title</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.title}}" name="title" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Scope</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.scope}}" name="scope" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Normative Reference</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.normativeReference}}" name="normativeReference" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Reference Material</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.referenceMaterial}}" name="referenceMaterial" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Clause</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.clause}}" name="clause" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Special</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.special}}" name="special" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-12">
                                                            <label><b>Upload Workshop Draft  </b> <span style="font-size: xx-small; color: red;">(*)Required</span></label><br>
                                                            <form #demoForm="ngForm">
                                                                <input type="file" name="uploadedFiles" [(ngModel)]="uploadedFiles"  multiple>
                                                                <file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"   fileslimit="2" accept=".pdf, .doc, .docx" ></file-upload>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                                <input type="hidden" ngModel="{{actionRequest?.taskId}}" name="taskId" >
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                    <button  class="btn btn-sm btn-primary float-right" type="submit">Edit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadExampleModalLabel" aria-hidden="true">a
                                    <div class="modal-dialog " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="uploadExampleModalLabel">Upload Kenya National WorkShop Agreement Standard</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="onNwaUpload()" [formGroup]="prepareStandardFormGroup" class="form">
                                                <div class="modal-body">
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Title</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.title}}" name="title" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Scope</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.scope}}" name="scope" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Normative Reference</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.normativeReference}}" name="normativeReference" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Reference Material</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.referenceMaterial}}" name="referenceMaterial" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Clause</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.clause}}" name="clause" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Special</label>
                                                            <input class="form-control"  ngModel="{{actionRequest?.taskData?.special}}" name="special" type="text">
                                                        </div>
                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-12">
                                                            <label><b>Upload Standard  </b> <span style="font-size: xx-small; color: red;">(*)Required</span></label><br>
                                                            <form #demoForm="ngForm">
                                                                <input type="file" name="uploadedFiles" [(ngModel)]="uploadedFiles"  multiple>
                                                                <file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"   fileslimit="2" accept=".pdf, .doc, .docx" ></file-upload>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                                <input type="hidden" ngModel="{{actionRequest?.taskId}}" name="taskId" >
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary btn-sm"  data-dismiss="modal">Save</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
