<!DOCTYPE html>
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      lang="th" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title th:text="'KIMS - ' + ${title}"></title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
    <style>
        .wrimagecard{
            margin-top: 0;
            margin-bottom: 1.5rem;
            text-align: left;
            position: relative;
            background: #fff;
            box-shadow: 12px 15px 20px 0px rgba(46,61,73,0.15);
            border-radius: 4px;
            transition: all 0.3s ease;
        }
        .wrimagecard .fa{
            position: relative;
            font-size: 70px;
        }
        .wrimagecard-topimage_header{
            padding: 20px;
        }
        a.wrimagecard:hover, .wrimagecard-topimage:hover {
            box-shadow: 2px 4px 8px 0px rgba(46,61,73,0.2);
        }
        .wrimagecard-topimage a {
            width: 100%;
            height: 100%;
            display: block;
        }
        .wrimagecard-topimage_title {
            padding: 20px 24px;
            height: 80px;
            padding-bottom: 0.75rem;
            position: relative;
        }
        .wrimagecard-topimage a {
            border-bottom: none;
            text-decoration: none;
            color: #525c65;
            transition: color 0.3s ease;
        }


    </style>
</head>
<body>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d" th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div class="main-content-div" id="w-node-d308c123a224-c123a20d">
            <!--            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>-->
            <!--            <div class="content-nav">-->
            <!--                <div class="content-title">KIMS Platform</div>-->
            <!--                <a class="content-nav-link" href="#"><span class="font-awesome-span">th</span>Dashboard</a><a class="content-nav-link" href="#"><span class="font-awesome-span"></span>Quality Assurance</a><a class="content-nav-link" href="#"><span class="font-awesome-span"></span><span th:text="${title}"></span></a>-->
            <!--            </div>-->
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>

            <div class="content-wrap">
                <div class="content-row-top">
                    <div class="container-fluid">
                        <div class="row">
                            <h3>Quality Assurance</h3>
                            <!--                            <div class="col-md-3 col-sm-4">-->
                            <!--                                <div class="wrimagecard wrimagecard-topimage">-->
                            <!--                                    <a href="#">-->
                            <!--                                        <div class="wrimagecard-topimage_header" style="background-color:rgba(187, 120, 36, 0.1) ">-->
                            <!--                                            <center><i class="fa fa-area-chart" style="color:#BB7824"></i></center>-->
                            <!--                                        </div>-->
                            <!--                                        <div class="wrimagecard-topimage_title">-->
                            <!--                                            <h4>Charts-->
                            <!--                                                <div class="pull-right badge">18</div></h4>-->
                            <!--                                        </div>-->
                            <!--                                    </a>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
<!--                            <div class="col-md-3 col-sm-4">-->
<!--                                <div class="wrimagecard wrimagecard-topimage">-->
<!--                                    <a href="#">-->
<!--                                        <div class="wrimagecard-topimage_header" style="background-color: rgba(22, 160, 133, 0.1)">-->
<!--                                            <center><i class = "fa fa-cubes" style="color:#16A085"></i></center>-->
<!--                                        </div>-->
<!--                                        <div class="wrimagecard-topimage_title">-->
<!--                                            <h4>Defaulters-->
<!--                                                <div class="pull-right badge" id="WrControls"></div></h4>-->
<!--                                        </div>-->
<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3 col-sm-4">-->
<!--                                <div class="wrimagecard wrimagecard-topimage">-->
<!--                                    <a href="#">-->
<!--                                        <div class="wrimagecard-topimage_header" style="background-color:  rgba(213, 15, 37, 0.1)">-->
<!--                                            <center><i class="fa fa-pencil-square-o" style="color:#d50f25"> </i></center>-->
<!--                                        </div>-->
<!--                                        <div class="wrimagecard-topimage_title" >-->
<!--                                            <h4>Unpaid-->
<!--                                                <div class="pull-right badge" id="WrForms"></div>-->
<!--                                            </h4>-->
<!--                                        </div>-->

<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-3 col-sm-4">-->
<!--                                <div class="wrimagecard wrimagecard-topimage">-->
<!--                                    <a href="#">-->
<!--                                        <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">-->
<!--                                            <center><i class="fa fa-table" style="color:#3369e8"> </i></center>-->
<!--                                        </div>-->
<!--                                        <div class="wrimagecard-topimage_title">-->
<!--                                            <h4>Paid-->
<!--                                                <div class="pull-right badge" id="WrGridSystem"></div></h4>-->
<!--                                        </div>-->

<!--                                    </a>-->
<!--                                </div>-->
<!--                            </div>-->
                            <div sec:authorize="hasAuthority('ALLOCATE_DMARK_TO_QAO') or hasAuthority('ASSIGN_OFFICER') or hasAuthority('APPROVE_PERMIT') or hasAuthority('GIVE_RECOMMENDATION_ON_PERMIT_AWARD')" class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a th:href="@{/api/qa/hof}">
                                        <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
                                            <center><i class="fa fa-info-circle" style="color:#fabc09"> </i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>My Tasks
                                                <div class="pull-right badge" id="WrInformation"></div></h4>
                                        </div>

                                    </a>
                                </div>
                            </div>

                            <div sec:authorize="hasAuthority('SCHEDULE_FACTORY_VISIT') or hasAuthority('ASSESS_DMARK') or hasAuthority('REVIEW_DMARK_ASSESSMENT') or hasAuthority('PETROLEUM_ALLOCATE_INSPECTION_OFFICER') or hasAuthority('RECEIVE_EPRA_NOTIFICATION_LETTER')" class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a th:href="@{/api/qao/applications}">
                                        <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
                                            <center><i class="fa fa-info-circle" style="color:#fabc09"> </i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>My Tasks
                                                <div class="pull-right badge" id="WrInformation"></div></h4>
                                        </div>

                                    </a>
                                </div>
                            </div>
                            <div sec:authorize="hasAuthority('GENERATE_BS_NUMBER')" class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a th:href="@{/inspection(whereTo=lab_home)}">
                                        <div class="wrimagecard-topimage_header" style="background-color:  rgba(250, 188, 9, 0.1)">
                                            <center><i class="fa fa-info-circle" style="color:#fabc09"> </i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>My Tasks
                                                <div class="pull-right badge" id="WrInformation"></div></h4>
                                        </div>

                                    </a>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-4">
                                <div class="wrimagecard wrimagecard-topimage">
                                    <a th:href="@{/ii(whereTo='all_tasks')}">
                                        <div class="wrimagecard-topimage_header" style="background-color: rgba(121, 90, 71, 0.1)">
                                            <center><i class="fa fa-bars" style="color:#795a47"> </i></center>
                                        </div>
                                        <div class="wrimagecard-topimage_title">
                                            <h4>Fuel Inspection
                                                <div class="pull-right badge" id="WrNavigation"></div></h4>
                                        </div>

                                    </a>
                                </div>
                            </div>
                                                        <div class="col-md-3 col-sm-4">
                                                            <div class="wrimagecard wrimagecard-topimage">
                                                                <a th:href="@{/api/qao/workplan(whereTo='prepare_workplan_page')}">
                                                                    <div class="wrimagecard-topimage_header" style="background-color: rgba(130, 93, 9, 0.1)">
                                                                        <center><i class="fa fa-magic" style="color:#825d09"></i></center>
                                                                    </div>
                                                                    <div class="wrimagecard-topimage_title">
                                                                        <h4>Prepare Workplan
                                                                            <div class="pull-right badge" id="WrThemesIcons"></div></h4>
                                                                    </div>
                                                                </a>
                                                            </div>
                                                        </div>


                                                        <div class="col-md-3 col-sm-4">
                                                            <div class="wrimagecard wrimagecard-topimage">
                                                                <a th:href="@{/api/qao/workplan(whereTo='workplans')}">
                                                                    <div class="wrimagecard-topimage_header" style="background-color:  rgba(51, 105, 232, 0.1)">
                                                                        <center><i class="fa fa-table" style="color:#3369e8"> </i></center>
                                                                    </div>
                                                                    <div class="wrimagecard-topimage_title">
                                                                        <h4>Workplans
                                                                            <div class="pull-right badge" id="WrGridSystem"></div></h4>
                                                                    </div>

                                                                </a>
                                                            </div>
                                                        </div>
                        </div>
                    </div>
                </div>
<!--                <div sec:authorize="hasAuthority('PERMIT_APPLICATION') and hasAuthority('PERMIT_RENEWAL')" class="div-block-4"><a class="content-button" th:href="@{/api/v1/permit/customer(appId=${session.appId})}"><span class="font-awesome-span"></span>Customer</a></div>-->
            </div>
        </div>
    </div>
</div>
<!--<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>-->
<!--<script th:src="@{/assets/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>-->
<!--<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>-->
<!--<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">-->
</body>
</html>