<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Tasks</h4>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables">
                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">

                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="knw">Standard Number</th>
                                        <th class="sl">Standard Type</th>
                                        <th class="requestNumber">Date Prepared</th>
                                        <th class="department">Title</th>
                                        <th class="action">Scope</th>
                                        <th></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let task of tasks let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{task.taskData.standardNumber}}</td>
                                        <td>{{task.taskData.standardType}}</td>
                                        <td>{{task.taskData.datePrepared}}</td>
                                        <td>{{task.taskData.title}}</td>
                                        <td>{{task.taskData.scope}}</td>
                                        <td *ngIf="task.name==='viewRecommendations'"><a  (click)="onOpenModal(task,'comment')" class="btn btn-outline-info btn-sm tooltips" data-placement="top"  data-original-title="Approve">Decision On Recommendation</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentLabel" aria-hidden="true">a
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="commentLabel">Recommendations on Proposal</h3>
                                                <button type="button" #closeModalCDetails class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <hr>
                                            <section id="tabs">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-xs-12 col-md-12 col-lg-12 col-xl-12">
                                                            <nav>
                                                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                                                    <a class="nav-item nav-link active" id="nav-proposal-tab" data-toggle="tab" href="#nav-proposal" role="tab" aria-controls="nav-proposal" aria-selected="true">Proposal</a>
                                                                    <a class="nav-item nav-link" id="nav-proposal-comments-tab" (click)=toggleStandardsProposalCommentsTab(actionRequest?.taskData?.reviewID) data-toggle="tab" href="#nav-proposal-comments" role="tab" aria-controls="nav-proposal-comments" aria-selected="false">Stakeholders Comments</a>
                                                                    <a class="nav-item nav-link" id="nav-approve-proposal-tab" data-toggle="tab" href="#nav-approve-proposal" role="tab" aria-controls="nav-approve-proposal" aria-selected="false">Approve</a>
                                                                    <a class="nav-item nav-link" id="nav-reject-proposal-tab" data-toggle="tab" href="#nav-reject-proposal" role="tab" aria-controls="nav-reject-proposal" aria-selected="false">Reject</a>
                                                                </div>
                                                            </nav>
                                                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                                                <div class="tab-pane fade show active" id="nav-proposal" role="tabpanel" aria-labelledby="nav-proposal-tab">
                                                                    <div class="modal-body">
                                                                        <div class="form-body">
                                                                            <div class="list-group list-group-flush">

                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                        <div>
                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Title</b></h5>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>

                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.title}}.</p>
                                                                                </a>
                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                        <div>
                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Date of Circulation</b></h5>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>

                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.datePrepared}}.</p>
                                                                                </a>
                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                        <div>
                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Closing Date</b></h5>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>

                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.datePrepared}}.</p>
                                                                                </a>


                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                </div>
                                                                <div class="tab-pane fade" id="nav-proposal-comments" role="tabpanel" aria-labelledby="nav-proposal-comments-tab">
                                                                    <div class="modal-body">
                                                                        <div class="form-body">
                                                                            <div class="material-datatables">
                                                                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">

                                                                                    <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th class="knw">Time</th>
                                                                                        <th class="knw">Title</th>
                                                                                        <th class="knw">Document Type</th>
                                                                                        <th class="knw">Clause</th>
                                                                                        <th class="knw">Paragraph</th>
                                                                                        <th class="knw">Type</th>
                                                                                        <th class="knw">Proposed Change</th>
                                                                                        <th class="knw">Comment</th>
                                                                                    </tr>
                                                                                    </thead>
                                                                                    <tbody>
                                                                                    <tr  *ngFor="let reviewProposalComment of reviewProposalComments let i=index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{reviewProposalComment.commentTime}}</td>
                                                                                        <td>{{reviewProposalComment.title}}</td>
                                                                                        <td>{{reviewProposalComment.documentType}}</td>
                                                                                        <td>{{reviewProposalComment.clause}}</td>
                                                                                        <td>{{reviewProposalComment.paragraph}}</td>
                                                                                        <td>{{reviewProposalComment.typeOfComment}}</td>
                                                                                        <td>{{reviewProposalComment.proposedChange}}</td>
                                                                                        <td>{{reviewProposalComment.adoptionComment}}</td>
                                                                                    </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                    </div>

                                                                </div>
                                                                <div class="tab-pane fade" id="nav-approve-proposal" role="tabpanel" aria-labelledby="nav-approve-proposal-tab">
                                                                    <form (ngSubmit)="approveRecommendation()" [formGroup]="approveRecommendationFormGroup" class="form">
                                                                    <div class="modal-body">
                                                                        <div class="form-body">
                                                                            <div class="container col-md-12" [hidden]="isShowRecommendationsTab">
                                                                                <div class="col-12">
                                                                                    <div class="card" >
                                                                                        <div class="card-header">View Recommendations From the TC Secretary</div>
                                                                                        <div class="list-group list-group-flush">

                                                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                <div class="d-flex w-100 justify-content-between">
                                                                                                    <div>
                                                                                                        <div class="d-flex w-100 align-items-center">
                                                                                                            <h5 class="mb-1" style="color: #0d0505"><b>Title</b></h5>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                                <p class="text-sm mb-0">{{actionRequest?.taskData?.title}}.</p>
                                                                                            </a>
                                                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                <div class="d-flex w-100 justify-content-between">
                                                                                                    <div>
                                                                                                        <div class="d-flex w-100 align-items-center">
                                                                                                            <h5 class="mb-1" style="color: #0d0505"><b>Standard Number</b></h5>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                                <p class="text-sm mb-0">{{actionRequest?.taskData?.standardNumber}}.</p>
                                                                                            </a>
                                                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                <div class="d-flex w-100 justify-content-between">
                                                                                                    <div>
                                                                                                        <div class="d-flex w-100 align-items-center">
                                                                                                            <h5 class="mb-1" style="color: #0d0505"><b>Standard Type</b></h5>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                                <p class="text-sm mb-0">{{actionRequest?.taskData?.standardType}}.</p>
                                                                                            </a>
                                                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                <div class="d-flex w-100 justify-content-between">
                                                                                                    <div>
                                                                                                        <div class="d-flex w-100 align-items-center">
                                                                                                            <h5 class="mb-1" style="color: #0d0505"><b>Recommendation</b></h5>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>


                                                                                                <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='1'">Withdrawal with replacement of the standard</p>
                                                                                                <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='2'">Withdraw without Replacement</p>
                                                                                                <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='3'">Revise the standard</p>
                                                                                                <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='4'">Confirm the current standard</p>
                                                                                            </a>
                                                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                <div class="d-flex w-100 justify-content-between">
                                                                                                    <div>
                                                                                                        <div class="d-flex w-100 align-items-center">
                                                                                                            <h5 class="mb-1" style="color: #0d0505"><b>Comments from Recommending Officer</b></h5>
                                                                                                        </div>
                                                                                                    </div>

                                                                                                </div>

                                                                                                <p class="text-sm mb-0">{{actionRequest?.taskData?.summaryOfRecommendations}}.</p>
                                                                                            </a>

                                                                                        </div>
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                            <hr>
                                                                            <div class="container col-md-12">
                                                                             <h4 style="font-weight: bold;color: orangered">Action</h4>
                                                                                <div class="row">
                                                                                    <div class="form-group col-12">
                                                                                        <label><b>Comments/Remarks</b><span style="font-size: xx-small; color: orangered;">(*)Optional</span></label>
                                                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                  class="form-control one-column-input" formControlName="comments" name="comments"
                                                                                                  placeholder="Comments" type="text"></textarea>
                                                                                        <div *ngIf="actionRequest?.taskData?.feedback==1"><input type="hidden" formControlName="taskType" value="1" name="taskType" ></div>
                                                                                        <div *ngIf="actionRequest?.taskData?.feedback!=1"><input type="hidden" formControlName="taskType" value="0" name="taskType" ></div>
                                                                                        <input type="hidden" formControlName="taskId" value="{{actionRequest?.taskId}}" name="taskId" >
                                                                                        <input type="hidden" formControlName="accentTo" value="{{approve}}" name="accentTo"  >
                                                                                        <input type="hidden" formControlName="processId" value="{{actionRequest?.processId}}" name="processId" >
                                                                                        <input type="hidden" formControlName="proposalId" name="proposalId" value="{{actionRequest?.taskData?.reviewID}}" >
                                                                                    </div>
                                                                                </div>

                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="modal-footer">
                                                                        <button type="button" class="btn btn-sm btn-info" type="submit" >Approve</button>
                                                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                    </div>
                                                                    </form>
                                                                </div>
                                                                <div class="tab-pane fade" id="nav-reject-proposal" role="tabpanel" aria-labelledby="nav-reject-proposal-tab">
                                                                    <form (ngSubmit)="rejectRecommendation()" [formGroup]="rejectRecommendationFormGroup" class="form">
                                                                        <div class="modal-body">
                                                                            <div class="form-body">
                                                                                <div class="container col-md-12" [hidden]="isShowRecommendationsTab">
                                                                                    <div class="col-12">
                                                                                        <div class="card" >
                                                                                            <div class="card-header">View Recommendations From the TC Secretary</div>
                                                                                            <div class="list-group list-group-flush">

                                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                                        <div>
                                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Title</b></h5>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>

                                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.title}}.</p>
                                                                                                </a>
                                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                                        <div>
                                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Standard Number</b></h5>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>

                                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.standardNumber}}.</p>
                                                                                                </a>
                                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                                        <div>
                                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Standard Type</b></h5>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>

                                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.standardType}}.</p>
                                                                                                </a>
                                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                                        <div>
                                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Recommendation</b></h5>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>


                                                                                                    <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='1'">Withdrawal with replacement of the standard</p>
                                                                                                    <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='2'">Withdraw without Replacement</p>
                                                                                                    <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='3'">Revise the standard</p>
                                                                                                    <p class="text-sm mb-0" *ngIf="actionRequest?.taskData?.feedback=='4'">Confirm the current standard</p>
                                                                                                </a>
                                                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                                                    <div class="d-flex w-100 justify-content-between">
                                                                                                        <div>
                                                                                                            <div class="d-flex w-100 align-items-center">
                                                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Comments from Recommending Officer</b></h5>
                                                                                                            </div>
                                                                                                        </div>

                                                                                                    </div>

                                                                                                    <p class="text-sm mb-0">{{actionRequest?.taskData?.summaryOfRecommendations}}.</p>
                                                                                                </a>

                                                                                            </div>
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                                <hr>
                                                                                <div class="container col-md-12">
                                                                                    <h4 style="font-weight: bold;color: orangered">Action</h4>
                                                                                    <div class="row">
                                                                                        <div class="form-group col-12">
                                                                                            <label><b>Comments/Remarks</b><span style="font-size: xx-small; color: orangered;">(*)Optional</span></label>
                                                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                                                      class="form-control one-column-input" formControlName="comments" name="comments"
                                                                                                      placeholder="Comments" type="text"></textarea>

                                                                                            <input type="hidden" formControlName="taskId" value="{{actionRequest?.taskId}}" name="taskId" >
                                                                                            <input type="hidden" formControlName="accentTo" value="{{reject}}" name="accentTo"  >
                                                                                            <input type="hidden" formControlName="processId" value="{{actionRequest?.processId}}" name="processId" >
                                                                                            <input type="hidden" formControlName="proposalId" name="proposalId" value="{{actionRequest?.taskData?.reviewID}}" >
                                                                                        </div>
                                                                                    </div>

                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <div class="modal-footer">
                                                                            <button type="button" class="btn btn-sm btn-danger" type="submit" >Reject</button>
                                                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                                        </div>
                                                                    </form>

                                                                </div>
                                                                <!--                                                                <div class="tab-pane fade" id="nav-approve-proposal" role="tabpanel" aria-labelledby="nav-approve-proposal-tab">-->
                                                                <!--                                                                    <form (ngSubmit)="approveProposal()" [formGroup]="approveProposalFormGroup" class="form">-->
                                                                <!--                                                                        <div class="modal-body">-->
                                                                <!--                                                                            <div class="form-body">-->
                                                                <!--                                                                                <div class="row">-->
                                                                <!--                                                                                    <div class="form-group col-12">-->
                                                                <!--                                                                                        <label><b>Comments/Remarks</b><span style="font-size: xx-small; color: orangered;">(*)Optional</span></label>-->
                                                                <!--                                                                                        <textarea class="form-control" formControlName="comments"  name="comments" rows="2" ></textarea>-->
                                                                <!--                                                                                    </div>-->
                                                                <!--                                                                                </div>-->
                                                                <!--                                                                                <input type="hidden" formControlName="processId" value="{{actionRequest?.processId}}" name="processId" >-->
                                                                <!--                                                                                <input type="hidden" formControlName="taskId" value="{{actionRequest?.taskId}}" name="taskId" >-->
                                                                <!--                                                                                <input type="hidden" formControlName="accentTo" value="{{approve}}" name="accentTo"  >-->
                                                                <!--                                                                                <input type="hidden" formControlName="approvalID" name="approvalID" value="{{actionRequest?.taskData?.ID}}" >-->
                                                                <!--                                                                            </div>-->
                                                                <!--                                                                        </div>-->
                                                                <!--                                                                        <div class="modal-footer">-->
                                                                <!--                                                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>-->
                                                                <!--                                                                            <button type="submit" class="btn btn-primary btn-sm"  >Approve</button>-->
                                                                <!--                                                                        </div>-->
                                                                <!--                                                                    </form>-->
                                                                <!--                                                                </div>-->
                                                                <!--                                                                <div class="tab-pane fade" id="nav-reject-proposal" role="tabpanel" aria-labelledby="nav-reject-proposal-tab">-->
                                                                <!--                                                                    <form (ngSubmit)="rejectProposal()" [formGroup]="rejectProposalFormGroup" class="form">-->
                                                                <!--                                                                        <div class="modal-body">-->
                                                                <!--                                                                            <div class="form-body">-->
                                                                <!--                                                                                <div class="row">-->
                                                                <!--                                                                                    <div class="form-group col-12">-->
                                                                <!--                                                                                        <label><b>Comments/Remarks</b><span style="font-size: xx-small; color: orangered;">(*)Optional</span></label>-->
                                                                <!--                                                                                        <textarea class="form-control" formControlName="comments"  name="comments" rows="2" ></textarea>-->
                                                                <!--                                                                                    </div>-->
                                                                <!--                                                                                </div>-->
                                                                <!--                                                                                <input type="hidden" formControlName="processId" value="{{actionRequest?.processId}}" name="processId" >-->
                                                                <!--                                                                                <input type="hidden" formControlName="taskId" value="{{actionRequest?.taskId}}" name="taskId" >-->
                                                                <!--                                                                                <input type="hidden" formControlName="accentTo" value="{{reject}}" name="accentTo"  >-->
                                                                <!--                                                                                <input type="hidden" formControlName="approvalID" name="approvalID" value="{{actionRequest?.taskData?.ID}}" >-->
                                                                <!--                                                                            </div>-->
                                                                <!--                                                                        </div>-->
                                                                <!--                                                                        <div class="modal-footer">-->
                                                                <!--                                                                            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>-->
                                                                <!--                                                                            <button type="submit" class="btn btn-primary btn-sm"  >Reject Proposal</button>-->
                                                                <!--                                                                        </div>-->
                                                                <!--                                                                    </form>-->
                                                                <!--                                                                </div>-->
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                            </section>



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

