<div class="card-body">
    <div class="row no_margin">
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Serial Number</label>
            <p>{{billDetails.billNumberSequence}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Bill Reference</label>
            <p>{{billDetails.billRefNumber}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Bill Number</label>
            <p>{{billDetails.billNumber}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="billDetails.invoiceNumber">
            <label class="waiver-form-label">Invoice Number</label>
            <p>{{billDetails.invoiceNumber}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Bill Status</label>
            <p>{{billDetails.billStatusDesc ? billDetails.billStatusDesc : "NA"}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Amount</label>
            <p>{{billDetails.billAmount}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Penalty Amount</label>
            <p>{{billDetails.penaltyAmount}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Total Amount</label>
            <p>{{billDetails.totalAmount}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="billDetails.paymentReceipts">
            <label class="waiver-form-label">Payment Receipts</label>
            <p>{{billDetails.paymentReceipts}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="billDetails.paymentDate">
            <label class="waiver-form-label">Payment Date</label>
            <p>{{billDetails.paymentDate | date:'mediumDate'}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Date</label>
            <p>{{billDetails.createOn | date:'mediumDate'}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Time</label>
            <p>{{billDetails.createOn| date:'shortTime'}}</p>
        </div>
        <div class="col-sm-12 col-md-12">
            <div class="table-responsive table-striped">
                <ng2-smart-table class="table table-hover" [settings]="settings"
                                 [source]="dataSet"
                                 style="font-size: medium">
                </ng2-smart-table>
            </div>
        </div>
    </div>
</div>