<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner " *ngIf="loading">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                color="#fff"
                size="medium"
                type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title">Approve Committee  Draft
                            </h4>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>

                            <h4 class="card-title">All Committee Drafts
                            </h4>
                            <div class="material-datatables table-responsive">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
                                    <thead>
                                    <tr>
                                        <th class="id">Committee Draft ID</th>
                                        <th class="task">Committee Draft Name</th>
                                        <th class="action">Status</th>
                                        <th class="action">Approval Status</th>

                                        <th class="action">Comments</th>
                                        <th class="action">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let pd of committee_drafts let i= index; ">
                                        <td>{{i + 1}}</td>
                                        <td>{{pd.cdname}}</td>

                                        <td><span class="badge badge-rose">{{pd.status}}</span></td>
                                        <td><span class="badge badge-danger">{{pd.approvalstatus}}</span></td>

                                        <td><span class="badge badge-orange"><a
                                                (click)="onOpenModal(pd,'comments')"
                                                class="btn btn-rose tooltips"
                                                data-placement="top"
                                                data-original-title="View Comments"> {{pd.numberofcomments}}
                                            Comment(s)</a></span></td>

                                        <td>
                                            <div *ngIf="pd.approvalstatus=='Approved' ; then thenBlock else elseBlock"></div>

                                            <ng-template #thenBlock>
                                                <a (click)="onOpenModal(pd,'moreDetails')"
                                                   class="btn btn-info tooltips"
                                                   data-placement="top"
                                                   data-original-title="More Details">View Draft</a>
                                            </ng-template>
                                            <ng-template #elseBlock>
                                            <a (click)="onOpenModal(pd,'moreDetails')"
                                               class="btn btn-info tooltips"
                                               data-placement="top"
                                               data-original-title="More Details">View Draft</a>
                                                <br>

                                            <a (click)="approveCD(pd)"
                                               class="btn btn-info tooltips" style="width: max-content"
                                               data-placement="top"
                                               data-original-title="Upload NWI">Approve Committee Draft</a>
                                            <br>
                                            </ng-template>

                                        </td>

                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="modal fade" id="moreDetails" tabindex="-1"
                                 role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-xl" role="document"
                                     style="width: 100%;">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Committee Draft Details
                                            </h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row col-12">
                                                <div class="form-group col-12">


                                                    <ul class="list-group">
                                                        <li class="list-group-item active">
                                                            Committee Draft Details
                                                        </li>
                                                        <li style="background: lightgray"
                                                            class="list-group-item">{{"Committee Draft Name: " + committee_draftsB?.cdname}}</li>

                                                        <li style="background: lightgray"
                                                            class="list-group-item">{{"Prepared By: " + committee_draftsB?.cdby}}</li>

                                                    </ul>

                                                    <div class="material-datatables">
                                                        <ng-template #loadingDocsTable
                                                                     class="loaderHolder">
                                                            <ngx-spinner name="loader2"
                                                                         type="ball-clip-rotate-multiple"
                                                                         size="medium">
                                                                <p class="loading">
                                                                    Loading...</p>
                                                            </ngx-spinner>
                                                        </ng-template>
                                                        <div *ngIf="displayUsers; else loadingDocsTable">
                                                            <table class="table table-striped table-bordered table-hover">
                                                                <thead>
                                                                <tr>
                                                                    <th class="task">
                                                                        Document Name
                                                                    </th>
                                                                    <th class="task">
                                                                        Description
                                                                    </th>

                                                                    <th class="task">
                                                                        Action
                                                                    </th>

                                                                </tr>
                                                                </thead>
                                                                <tbody>
                                                                <tr *ngFor="let doc of standardDocuments let i= index; ">

                                                                    <td>{{doc.name}}</td>
                                                                    <td>{{doc.description}}</td>

                                                                    <td>
                                                                        <button class="btn btn-info tooltips"
                                                                                style="width: inherit"
                                                                                (click)="viewPdfFile( doc.id,doc?.name, doc.documentType)"
                                                                                data-placement="top"
                                                                        ><i
                                                                                class="fa fa-eye"></i>
                                                                            View
                                                                        </button>
                                                                    </td>

                                                                </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    #closeModal (click)="hideModel()"
                                                    data-dismiss="modal">Close
                                            </button>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="modal fade " id="comments" tabindex="-1" role="dialog"
                                 aria-labelledby="updateExampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-xl" role="document" style="width: 100%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" >View Comments</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row col-12">
                                                <div class="form-group col-12">
                                                    <label><b>Comments</b></label>
                                                    <div class="material-datatables">
                                                        <table class="table table-striped table-bordered table-hover"
                                                               datatable
                                                               [dtOptions]="dtOptions" [dtTrigger]="dtTrigger3">
                                                            <thead>
                                                            <tr>
                                                                <th class="id">No</th>
                                                                <th class="action">Comment</th>
                                                                <th class="action">Made by</th>
                                                                <th class="action">Comment Date</th>
                                                                <th class="action">Action</th>

                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr *ngFor="let commentMadeRetrieved of commentMadeRetrievedS let i= index; ">
                                                                <td>{{i + 1}}</td>
                                                                <td>{{commentMadeRetrieved.comments_made}}</td>
                                                                <td>{{commentMadeRetrieved.comment_by}}</td>
                                                                <td>{{commentMadeRetrieved.created_on}}</td>
                                                                <td>
                                                                    <a (click)="onOpenModalB(commentMadeRetrieved,'viewComment')"
                                                                       class="btn btn-info tooltips"
                                                                       data-placement="top"
                                                                       data-original-title="More Details">More
                                                                        Details</a></td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    (click)="hideModel()" data-dismiss="modal">Close
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade " id="viewComment" tabindex="-1"
                                 role="dialog" aria-hidden="true">
                                <div class="modal-dialog modal-lg modal-xl" role="document"
                                     style="width: 100%">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title"
                                                id="updateExampleModalLabel">
                                                View Comment On Committee Draft</h5>
                                            <button type="button" class="close"
                                                    data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row col-12">
                                                <div class="form-group col-12">

                                                    <div class="form-body">

                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>Title</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="title"
                                                                        ngModel="{{this.commentMadeRetrievedB?.title}}"
                                                                        placeholder="Title"
                                                                        type="text">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label><b>Document
                                                                    Type</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="documentType"
                                                                        ngModel="{{this.commentMadeRetrievedB?.document_type}}"
                                                                        placeholder="Document Type"
                                                                        type="text">
                                                            </div>


                                                        </div>
                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>Circulation
                                                                    Date</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="circulationDate"
                                                                        ngModel="{{formatFormDate(this.commentMadeRetrievedB?.circulation_date.toString().split(' ')[0])}}"
                                                                        placeholder="Circulation Date"
                                                                        type="date">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label><b>Closing
                                                                    Date</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="closingDate"
                                                                        ngModel="{{formatFormDate(this.commentMadeRetrievedB?.closing_date.toString().split(' ')[0])}}"
                                                                        placeholder="Closing Date"
                                                                        type="date">
                                                            </div>


                                                        </div>
                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>Organization
                                                                </b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="organization"
                                                                        placeholder="Organization"
                                                                        ngModel="{{this.commentMadeRetrievedB?.organization}}"

                                                                        type="text">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label><b>Clause
                                                                </b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="clause"
                                                                        ngModel="{{this.commentMadeRetrievedB?.clause}}"

                                                                        placeholder="Clause"
                                                                        type="text">
                                                            </div>


                                                        </div>
                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>Paragraph/Figure/Table
                                                                </b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="paragraph"
                                                                        placeholder="Paragraph"
                                                                        ngModel="{{this.commentMadeRetrievedB?.paragraph}}"

                                                                        type="text">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label><b>Type Of
                                                                    Comment
                                                                </b></label>
                                                                <select aria-label="Small"
                                                                        aria-describedby="inputGroup-sizing-lg"
                                                                        class="form-control"
                                                                        required
                                                                        name="commentType"
                                                                        ngModel="{{this.commentMadeRetrievedB?.comment_type}}"
                                                                        readonly="">
                                                                    <option selected>
                                                                        {{this.commentMadeRetrievedB?.comment_type}}
                                                                    </option>

                                                                </select>
                                                            </div>


                                                        </div>
                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>Comment</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="commentsMade"
                                                                        placeholder="Comment"
                                                                        ngModel="{{this.commentMadeRetrievedB?.comments_made}}"

                                                                        type="text">
                                                            </div>
                                                            <div class="form-group col-6">
                                                                <label><b>Proposed
                                                                    Change</b></label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="proposedChange"
                                                                        placeholder="Proposed Change"
                                                                        ngModel="{{this.commentMadeRetrievedB?.proposed_change}}"

                                                                        type="text">
                                                            </div>


                                                        </div>
                                                        <div class="row col-12">
                                                            <div class="form-group col-6">
                                                                <label><b>TC
                                                                    Observation</b>
                                                                </label>
                                                                <input
                                                                        readonly
                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                        aria-label="Small"
                                                                        class="form-control one-column-input"
                                                                        name="observation"
                                                                        placeholder="TC Observation"
                                                                        ngModel="{{this.commentMadeRetrievedB?.observation}}"

                                                                        type="text">
                                                            </div>



                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                    #closeModalB
                                                    (click)="hideModelB()"
                                                    data-dismiss="modal">Close
                                            </button>

                                        </div>

                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

