<div class="container-fluid" style="margin-top: 5%" id="main-container">
<div  class="loading-spinner ">
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
</div>
<div class="main-content" >
<div class="container-fluid">
    <div class="row" >
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    Company Standard Requests
                </div>

            </div>
            <div class="card-footer">
                <div class="stats col-12">
                    <div class="row align-items-center mb-2 d-flex col-12">
                        <div class="col-8">
                            <h4 class="d-flex align-items-center mb-0">
                                <span style="color: orangered">Go</span>
                            </h4>
                        </div>
                        <div class="col-4 text-right">
                            <span style="color: orangered"> <i class="fa fa-arrow-right"></i></span>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    Uploaded Drafts
                </div>

            </div>
            <div class="card-footer">
                <div class="stats col-12">
                    <div class="row align-items-center mb-2 d-flex col-12">
                        <div class="col-8">
                            <h4 class="d-flex align-items-center mb-0">
                                <a href="comStdDraft" style="color: dodgerblue">Go</a>
                            </h4>
                        </div>
                        <div class="col-4 text-right">
                            <a href="comStdDraft" style="color: dodgerblue"><span> <i class="fa fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-success card-header-icon">
                <div class="card-icon">
                    Publishing Tasks
                </div>

            </div>
            <div class="card-footer">
                <div class="stats col-12">
                    <div class="row align-items-center mb-2 d-flex col-12">
                        <div class="col-8">
                            <h4 class="d-flex align-items-center mb-0">
                                <a href="hopTasks" style="color: seagreen">Go</a>
                            </h4>
                        </div>
                        <div class="col-4 text-right">
                            <a href="hopTasks" style="color: seagreen"><span> <i class="fa fa-arrow-right"></i></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
Tasks <span class="badge badge-primary">{{tasks.length}}</span>
</button></div>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<div  class="material-datatables table-responsive">
    <table class="table table-striped table-bordered table-hover" datatable
           [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
<thead>
<tr>
<th>#</th>
<th class="knw">Request Number</th>
<th class="sl">Company Name</th>
<th class="requestNumber">Department </th>
<th class="requestNumber">Submission Date </th>
<th class="sl">Phone Number</th>
<th class="sl">Commitment Letter</th>
<th class="action">Action</th>
</tr>
</thead>
<tbody>
<tr  *ngFor="let task of tasks let i=index">
<td>{{i+1}}</td>
<td>{{task.requestNumber}}</td>
<td>{{task.companyName}}</td>
<td>{{task.departmentName}}</td>
<td>{{task.submissionDate | date: 'dd/MM/yyyy'}}</td>
<td>{{task.companyPhone}}</td>
    <td><button mat-raised-button type="button" (click)="viewCommitmentLetter( task.id,'Letter'+task.id, 'application/pdf')" target="_blank" class="btn btn-info btn-sm ">
      <i class="material-icons">visibility</i> </button></td>
<td *ngIf="task.status==0"><a  (click)="onOpenModal(task,'assignProjectLeader',task.id)" class="btn btn-info btn-sm tooltips" data-placement="top"  data-original-title="Approve" style="width: 190px">Assign To Project Leader</a></td>
<td *ngIf="task.status==1"><a  (click)="onOpenModal(task,'formJointCommittee',task.id)" class="btn btn-warning btn-sm tooltips" data-placement="top"  data-original-title="Approve" style="width: 190px">Form Joint Committee</a></td>
<td *ngIf="task.status==2"><a  (click)="onOpenModal(task,'uploadDraft',task.id)" class="btn btn-success btn-sm tooltips" data-placement="top"  data-original-title="Approve" style="width: 190px">Upload Draft</a></td>
</tr>
</tbody>
</table>

</div>
    <div class="modal fade" id="assignProjectLeader" tabindex="-1" role="dialog" aria-labelledby="assignProjectLeaderModalLabel" aria-hidden="true">a
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="assignProjectLeaderModalLabel">Assign To Project Leader</h3>
                    <button type="button" class="close" #closeModalAssign data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div  class="nav nav-tabs nav-fill" id="nav-edit-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-form-view-tab"  data-toggle="tab" href="#nav-form-view" role="tab" aria-controls="nav-form-view" aria-selected="false">Assign Project Leader</a>
                    <a class="nav-item nav-link " id="nav-cot-view-tab"  data-toggle="tab" href="#nav-cot-view" role="tab" aria-controls="nav-cot-view" aria-selected="false">Contact Persons</a>
                </div>
                <div  class="tab-content py-3 px-3 px-sm-0" id="nav-edit-justification-content">
                    <div class="tab-pane fade show active" id="nav-form-view" role="tabpanel" aria-labelledby="nav-form-view-tab">
                        <div class="container col-md-12" >
                            <form #assignForm="ngForm" >
                                <div class="modal-body">
                                    <div class="form-body">
                                        <div class="row col-12">
                                            <div class="form-group col-12">
                                                <label>Assign To one</label>
                                                <ng-select [(ngModel)]="selectedUser"  class="form-control" ngModel name="assignedTo"  >
                                                    <ng-option *ngFor="let user of users" [value]="user.id" >{{user.name}} </ng-option>
                                                </ng-select>

                                            </div>
                                            <input type="hidden" ngModel="{{actionRequest?.id}}" name="requestId" >
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary btn-sm" (click)="onAssign(assignForm.value)" data-dismiss="modal">Assign</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-cot-view" role="tabpanel" aria-labelledby="nav-cot-view-tab">
                        <div  class="material-datatables table-responsive">
                            <table class="table table-striped table-bordered table-hover" datatable
                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="knw">Name</th>
                                    <th class="sl">Email</th>
                                    <th class="requestNumber">Phone Number </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let contactPersonDetail of contactPersonDetails let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{contactPersonDetail.fullName}}</td>
                                    <td>{{contactPersonDetail.email}}</td>
                                    <td>{{contactPersonDetail.telephone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="formJointCommittee" tabindex="-1" role="dialog" aria-labelledby="formJointCommitteeModalLabel" aria-hidden="true">a
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="formJointCommitteeModalLabel">Upload Draft</h3>
                    <button type="button" class="close" #closeModalJC data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div  class="nav nav-tabs nav-fill" id="nav-joint-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-joint-form-tab"  data-toggle="tab" href="#nav-joint-form" role="tab" aria-controls="nav-joint-form" aria-selected="false">Form Joint Committee</a>
                    <a class="nav-item nav-link " id="nav-joint-view-tab"  data-toggle="tab" href="#nav-joint-view" role="tab" aria-controls="nav-joint-view" aria-selected="false">Contact Persons</a>
                </div>
                <div  class="tab-content py-3 px-3 px-sm-0" id="nav-joint-content">
                    <div class="tab-pane fade show active" id="nav-joint-form" role="tabpanel" aria-labelledby="nav-joint-form-tab">
                        <div class="container col-md-12" >
                            <form (ngSubmit)="formJointCommittee()" [formGroup]="committeeFormGroup" class="form">
                                <hr>
                                <div class="form-body">
                                    <div class="form-group col-12">
                                        <label><b>Select Members to add to Joint Committee</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <ng-multiselect-dropdown
                                                [placeholder]="'Select Joint Committee Members'"
                                                [settings]="dropdownSettings"
                                                [data]="dropdownList"
                                                (onSelect)="onItemSelect($event)"
                                                (onSelectAll)="onSelectAll($event)"
                                                formControlName="names"
                                                name="names">
                                        </ng-multiselect-dropdown>
                                        <!--                            <mat-form-field>-->
                                        <!--                                <mat-select [formControl]="websiteCtrl" formControlName="names" name="names" placeholder="Members"  multiple >-->
                                        <!--                                    <mat-option>-->
                                        <!--                                        <ngx-mat-select-search [formControl]="websiteFilterCtrl"></ngx-mat-select-search>-->
                                        <!--                                    </mat-option>-->
                                        <!--                                    <mat-option *ngFor="let user of users " [value]="user.email">-->
                                        <!--                                        {{user.name}} -->
                                        <!--                                    </mat-option>-->
                                        <!--                                </mat-select>-->
                                        <!--                            </mat-form-field>-->
                                    </div>
                                    <div class="form-group col-12">
                                        <label><b>Enter Emails of Committee members(Comma Separated)</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                  class="form-control one-column-input" formControlName="name" name="name"
                                                  placeholder="Type Emails of Committee Members" type="text"></textarea>

                                    </div>
                                    <input type="hidden" formControlName="requestId"  ngModel="{{actionRequest?.id}}" name="requestId" >

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary btn-sm" >Submit</button>
                                </div>





                            </form>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="nav-joint-view" role="tabpanel" aria-labelledby="nav-joint-view-tab">
                        <div  class="material-datatables table-responsive">
                            <table class="table table-striped table-bordered table-hover" datatable
                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="knw">Name</th>
                                    <th class="sl">Email</th>
                                    <th class="requestNumber">Phone Number </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let contactPersonDetail of contactPersonDetails let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{contactPersonDetail.fullName}}</td>
                                    <td>{{contactPersonDetail.email}}</td>
                                    <td>{{contactPersonDetail.telephone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="modal fade" id="uploadDraft" tabindex="-1" role="dialog" aria-labelledby="uploadDraftModalLabel" aria-hidden="true">a
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="uploadDraftModalLabel">Upload Draft</h3>
                    <button type="button" class="close" #closeModalUploadDraft data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div  class="nav nav-tabs nav-fill" id="nav-draft-tab" role="tablist">
                    <a class="nav-item nav-link active" id="nav-draft-form-tab"  data-toggle="tab" href="#nav-draft-form" role="tab" aria-controls="nav-draft-form" aria-selected="false">Upload Draft</a>
                    <a class="nav-item nav-link " id="nav-draft-view-tab"  data-toggle="tab" href="#nav-draft-view" role="tab" aria-controls="nav-draft-view" aria-selected="false">Contact Persons</a>
                    <a class="nav-item nav-link " id="nav-draft-jc-tab"  data-toggle="tab" href="#nav-draft-jc" role="tab" aria-controls="nav-draft-jc" aria-selected="false">Joint Committee</a>
                </div>
                <div  class="tab-content py-3 px-3 px-sm-0" id="nav-draft-content">
                    <div class="tab-pane fade show active" id="nav-draft-form" role="tabpanel" aria-labelledby="nav-draft-form-tab">
                    <form (ngSubmit)="uploadDraft()" [formGroup]="uploadDraftFormGroup" class="form">
                    <div class="modal-body">
                        <div class="form-body">
                            <div class="row col-12">
                                <div class="form-group col-6">
                                    <label><b>Request Number</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                    <input
                                            aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                            class="form-control one-column-input" value="{{actionRequest?.requestNumber}}" formControlName="requestNumber" name="requestNumber"
                                            placeholder="" type="text" disabled>
                                </div>
                                <div class="form-group col-12">
                                    <label><b>Title</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                              class="form-control one-column-input"  formControlName="title" name="title"
                                              placeholder="Title" type="text" ></textarea>

                                </div>
<!--                                <div class="form-group col-12">-->
<!--                                    <label><b>Normative Reference</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
<!--                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"-->
<!--                                              class="form-control one-column-input"  formControlName="normativeReference" name="normativeReference"-->
<!--                                              placeholder="Normative Reference" type="text" ></textarea>-->

<!--                                </div>-->
<!--                                <div class="form-group col-12">-->
<!--                                    <label><b>Symbols Abbreviated Terms</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
<!--                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"-->
<!--                                              class="form-control one-column-input"  formControlName="symbolsAbbreviatedTerms" name="symbolsAbbreviatedTerms"-->
<!--                                              placeholder="Symbols Abbreviated Terms" type="text" ></textarea>-->

<!--                                </div>-->

<!--                                <div class="form-group col-12">-->
<!--                                    <label><b>Clause</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
<!--                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"-->
<!--                                              class="form-control one-column-input"  formControlName="clause" name="clause"-->
<!--                                              placeholder="Clause" type="text" ></textarea>-->

<!--                                </div>-->
<!--                                <div class="form-group col-12">-->
<!--                                    <label><b>Scope</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
<!--                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"-->
<!--                                              class="form-control one-column-input"  formControlName="scope" name="scope"-->
<!--                                              placeholder="Scope" type="text" ></textarea>-->

<!--                                </div>-->
<!--                                <div class="form-group col-12">-->
<!--                                    <label><b>Special</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
<!--                                    <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"-->
<!--                                              class="form-control one-column-input"   formControlName="special" name="special"-->
<!--                                              placeholder="Special" type="text" ></textarea>-->

<!--                                </div>-->
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <label><b>Attach Draft</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <form #demoForm="ngForm">
                                            <file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"  fileslimit="2" accept=".docx" ></file-upload>
                                            <input class="form-control one-column-input" ngModel="Report"  name="DocDescription" type="hidden">
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <input type="hidden" formControlName="requestId" value="{{actionRequest?.id}}" name="requestId" >

                            <input type="hidden" formControlName="departmentId" value="{{actionRequest?.departmentId}}" name="departmentId" >
                            <input type="hidden" formControlName="subject" value="{{actionRequest?.subject}}" name="subject" >
                            <input type="hidden" formControlName="description" value="{{actionRequest?.description}}" name="description" >
                            <input type="hidden" formControlName="contactOneFullName" value="{{actionRequest?.contactOneFullName}}" name="contactOneFullName" >
                            <input type="hidden" formControlName="contactOneTelephone" value="{{actionRequest?.contactOneTelephone}}" name="contactOneTelephone" >
                            <input type="hidden" formControlName="contactOneEmail" value="{{actionRequest?.contactOneEmail}}" name="contactOneEmail" >

                            <input type="hidden" formControlName="contactTwoFullName" value="{{actionRequest?.contactTwoFullName}}" name="contactTwoFullName" >
                            <input type="hidden" formControlName="contactTwoTelephone" value="{{actionRequest?.contactTwoTelephone}}" name="contactTwoTelephone" >
                            <input type="hidden" formControlName="contactTwoEmail" value="{{actionRequest?.contactTwoEmail}}" name="contactTwoEmail" >
                            <input type="hidden" formControlName="contactThreeFullName" value="{{actionRequest?.contactThreeFullName}}" name="contactThreeFullName" >
                            <input type="hidden" formControlName="contactThreeTelephone" value="{{actionRequest?.contactThreeTelephone}}" name="contactThreeTelephone" >
                            <input type="hidden" formControlName="contactThreeEmail" value="{{actionRequest?.contactThreeEmail}}" name="contactThreeEmail" >

                            <input type="hidden" formControlName="companyName" value="{{actionRequest?.companyName}}" name="companyName" >
                            <input type="hidden" formControlName="companyPhone" value="{{actionRequest?.companyPhone}}" name="companyPhone" >

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary btn-sm"  >Save</button>
                    </div>
                </form>
                    </div>
                    <div class="tab-pane fade" id="nav-draft-view" role="tabpanel" aria-labelledby="nav-draft-view-tab">
                        <div  class="material-datatables table-responsive">
                            <table class="table table-striped table-bordered table-hover" datatable
                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger3">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="knw">Name</th>
                                    <th class="sl">Email</th>
                                    <th class="requestNumber">Phone Number </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let contactPersonDetail of contactPersonDetails let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{contactPersonDetail.fullName}}</td>
                                    <td>{{contactPersonDetail.email}}</td>
                                    <td>{{contactPersonDetail.telephone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="nav-draft-jc" role="tabpanel" aria-labelledby="nav-draft-jc-tab">
                        <div  class="material-datatables table-responsive">
                            <table class="table table-striped table-bordered table-hover" datatable
                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger4">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th class="knw">Name</th>
                                    <th class="sl">Email</th>
                                    <th class="requestNumber">Phone Number </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr  *ngFor="let jointCommitteeList of jointCommitteeLists let i=index">
                                    <td>{{i+1}}</td>
                                    <td>{{jointCommitteeList.name}}</td>
                                    <td>{{jointCommitteeList.email}}</td>
                                    <td>{{jointCommitteeList.telephone}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>

</div>