table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
}



.th-center{
    text-align: center;
}
.th-left{
    text-align: left;
}
.th-right{
    text-align: right;
}
.nav-link{
    border-right: 1px solid #ccc; 
}
.tabs-container{
    border-bottom: 1px solid #ccc;
}
::ng-deep .cdk-overlay-container {
    z-index: 9999;
}
.cdk-global-overlay-wrapper, .cdk-overlay-container {
    z-index: 99999 !important;
}
