.gradle
**/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
./gradlew*

### IntelliJ IDEA ###
.idea/**
*.iws
*.iml
*.ipr
*.log
**/node_modules/



### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/
**/.idea/
/node_modules

### VS Code ###
.vscode/
**.kotlintest/
.history/**
**/build/
**/bin/
**/.gradle/
**/out/
**/logs/
**/lib/

### PROFILER DUMPS ###
*.hprof

**/uploads/
package-lock.json
/apollo-angular/yarn-error.log
/apollo-angular/yarn.lock
/apollo-api/src/main/resources/static/migration/
/apollo-config/src/main/resources/

*.zip
*.txt
*.xlsx
*.xls
DAT_KEBS_CONSIGNMENT_DOCUMENT_DETAILS_IDX/
*.pdf
outbound/
sent-files/