<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e7130c996c4ca37928b351f" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/multiStepForm.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d" th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div id="w-node-27962c2db181-c676b3e3" class="main-content-div">
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>
            <div class="content-wrap">
                <div class="content-row">
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3">
                            <form id="msform" th:object="${sampleCollect}" th:action="@{/api/ms/onsite/forms/save(workPlanID=${valueID}, docType='sampleCollect',ViewType=${ViewType})}" method="post">
                                <!-- progressbar -->
                                <!--                            <ul id="progressbar">-->
                                <!--                                <li class="active">BIO INFORMATION</li>-->
                                <!--                                <li>Counts And Particulars</li>-->
                                <!--                                <li>If Accused Arrested</li>-->
                                <!--                                <li>Other Details</li>-->
                                <!--                            </ul>-->
                                <!-- fieldsets -->
                                <fieldset >
                                    <h2 class="fs-title">Sample Collection</h2>
                                    <h3 class="fs-subtitle">Fill in the Name and Address of Manufacturer/Trade below</h3>
                                    <label for="nameManufacturerTrader" class="field-label">Name of Manufacturer/Trader</label>
                                    <input type="text" class="w-input" maxlength="256" name="importerName" data-name="importer Name" id="nameManufacturerTrader" th:field="*{nameManufacturerTrader}">
                                    <label for="addressManufacturerTrader" class="field-label">Address of Manufacturer/Trader</label>
                                    <input type="text" class="w-input" maxlength="256" name="addressManufacturerTrader" data-name="importer Name" id="addressManufacturerTrader" th:field="*{addressManufacturerTrader}">
                                    <label for="samplingMethod" class="field-label">Sampling method</label>
                                    <textarea class="w-input" maxlength="256" name="samplingMethod" data-name="sampling Method" id="samplingMethod"   th:field="*{samplingMethod}"></textarea>
                                    <label for="reasonsCollectingSamples" class="field-label">Reasons for Collecting Samples</label>
                                    <textarea  class="w-input" maxlength="256" name="reasonsCollectSample" data-name="reasons Collect Sample" id="reasonsCollectingSamples"   th:field="*{reasonsCollectingSamples}"></textarea>
                                    <label for="anyRemarks" class="field-label">Any Remarks</label>
                                    <textarea  class="w-input" maxlength="256" name="samplingMethod" data-name="sampling Method" id="anyRemarks"   th:field="*{anyRemarks}"></textarea>
                                    <input type="button" name="next" class="next action-button" value="Next"/>
                                </fieldset>
                                <fieldset >
                                    <h2 class="fs-title">Officer Details</h2>
                                    <h3 class="fs-subtitle">Fill in the details Below</h3>
                                    <input type="hidden" id="designationOfficerCollectingSample"  name="designationOfficerCollectingSample" th:value="${session.designation.designationName}">
                                    <input type="hidden" id="nameOfficerCollectingSample" name="nameOfficerCollectingSample" th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                    <label for="nameOfficerCollectingSample1" class="field-label">Name of Officer collecting sample</label>
                                    <input type="text" disabled class="w-input" maxlength="256" name="samplingMethod" data-name="sampling Method" id="nameOfficerCollectingSample1"   th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                    <label for="designationOfficerCollectingSample1" class="field-label">Designation</label>
                                    <input  class="w-input" disabled maxlength="256" name="designationOfficerCollectingSample1" data-name="sampling Method" id="designationOfficerCollectingSample1"   th:value="${session.designation.designationName}">
                                    <label for="dateOfficerCollectingSample" class="field-label">Date</label>
                                    <input  type ="date" class="w-input" maxlength="256" name="dateOfficerCollectingSample" data-name="sampling Method" id="dateOfficerCollectingSample"   th:field="*{dateOfficerCollectingSample}">
                                    <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                    <input type="button" name="next" class="next action-button" value="Next"/>
                                </fieldset>
                                <fieldset>
                                    <h2 class="fs-title">Witness Details</h2>
                                    <h3 class="fs-subtitle">Fill in the details Below</h3>
                                    <label for="nameWitness" class="field-label">Name of witness</label>
                                    <input type="text" class="w-input" maxlength="256" name="samplingMethod" data-name="sampling Method" id="nameWitness"   th:field="*{nameWitness}">
                                    <label for="designationWitness" class="field-label">Designation</label>
                                    <input  class="w-input" maxlength="256" name="designationWitness" data-name="sampling Method" id="designationWitness"   th:field="*{designationWitness}">
                                    <label for="dateWitness" class="field-label">Date</label>
                                    <input  type ="date" class="w-input" maxlength="256" name="dateWitness" data-name="sampling Method" id="dateWitness"   th:field="*{dateWitness}">
                                    <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                    <input type="submit" name="submit" class="submit action-button" style="background-color: #47cf73" value="Submit"/>
                                </fieldset>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e70fb3a565ebd99c1db37ce" type="text/javascript"></script>
<script src="../js/webflow.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script th:src="@{/assets/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>t>
<!-- [if lte IE 9]>
<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>

    $(document).ready(function(){
        $("#nonComplianceStatus_no").click(function(){
            if($(this).is(':checked')){
                $("#nonCompliance_rm").css("display","block")
            }else{
                $("#nonCompliance_rm").css("display","none")
            }
        });
        $("#nonComplianceStatus_yes").click(function(){
            if($(this).is(':checked')){
                $("#nonCompliance_rm").css("display","none")
            }
        });

    });


    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale('+scale+')',
                    'position': 'absolute'
                });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function(){
        return true;
    })
</script>
</body>
</html>