<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/accordion.css}"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap3/css/bootstrap.css}"/>

</head>
<body>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>

<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d"
             th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div id="w-node-27962c2db181-c676b3e3" class="main-content-div">
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>
            <div class="content-wrap">
                <div class="content-container">
<!--                    <h3 class="h3-blue" style="color: #0082f3">WorkPlan Uploads List</h3>-->
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 95%" >
                            <div class="content-block-child---top" style="flex: 0 75%" >
                            <div class="applicant-details" >
                            <div>
                                <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>Laboratory Test Report</u></h5>
                            </div>
                            <ul class="w-list-unstyled">
                                <li th:if="${labParameters?.labResultStatus == 1}" class="list-item-accordion">
                                    <div class="list-title-accordion">REPORT UID:</div>
                                    <div class="list-text-accordion" style="width: 650px" th:text="${labParameters?.reportUid}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">KEBS Sample Ref. No:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.bsNumber}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Date:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.modifiedOn}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Description of Sample:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.nameProduct}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Sample Submitted by:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.createdBy}"></div>
                                </li>
                                <div>
                                    <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>Customer Details</u></h5>
                                </div>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Customer Contact:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.sendersName}"></div>
                                </li>
<!--                                <li class="list-item-accordion">-->
<!--                                    <div class="list-title-accordion">Customers Ref No:</div>-->
<!--                                    <div class="list-text-accordion" th:text="${labParameters?.sizeRefSample}"></div>-->
<!--                                </li>-->
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Customer's Address:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.address}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion">Additional Information provided by the customer:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.additionalInfProvidedCustomer}"></div>
                                </li>
                                <div>
                                    <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>Other Details</u></h5>
                                </div>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion"> Acceptance criteria-title and number of specification against which it is tested:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.referencesStandards}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion"> Lab Ref:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.labRef}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion"> Date of Receipt:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.dateOfReceipt}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion"> Date Analysis Started:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.dateAnalsyisStarted}"></div>
                                </li>
                                <li class="list-item-accordion">
                                    <div class="list-title-accordion"> Sample Submission Form No:</div>
                                    <div class="list-text-accordion" th:text="${labParameters?.sampleSubmissionId?.id}"></div>
                                </li>
                                <div th:if="${labParameters?.labResultStatus == 1}">
                                    <div>
                                        <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>LAB Results Details</u></h5>
                                    </div>
                                    <li class="list-item-accordion">
                                        <div class="list-title-accordion"> Parameter Tested:</div>
                                        <div class="list-text-accordion" th:text="${labParameters?.parameters}"></div>
                                    </li>
                                    <li class="list-item-accordion">
                                        <div class="list-title-accordion"> Results:</div>
                                        <div class="list-text-accordion" th:text="${labParameters?.results}"></div>
                                    </li>
                                    <li class="list-item-accordion">
                                        <div class="list-title-accordion"> Requirements:</div>
                                        <div class="list-text-accordion" th:text="${labParameters?.requirements}"></div>
                                    </li>
                                    <li class="list-item-accordion">
                                        <div class="list-title-accordion"> Test Method No:</div>
                                        <div class="list-text-accordion" th:text="${labParameters?.testMethodNo}"></div>
                                    </li>
                                    <li class="list-item-accordion">
                                        <div class="list-title-accordion"> LOD:</div>
                                        <div class="list-text-accordion" th:text="${labParameters?.lod}"></div>
                                    </li>
                                </div>
                            </ul>
<!--                            <div class="row-table ">-->
<!--                                <table class="table table-striped">-->
<!--                                    <thead>-->
<!--                                    <tr>-->
<!--                                        <th>Parameter Name</th>-->
<!--                                        <th>Results </th>-->
<!--                                        <th>Requirements</th>-->
<!--                                        <th>Test Method No</th>-->
<!--                                        <th>LOD</th>-->
<!--                                        <th th:if="${labParameters?.workPlanGeneratedID?.bsNumberStatus != 1 and labParameters?.workPlanGeneratedID?.labParameterstedStatus == 1 and labParameters?.workPlanGeneratedID?.ssfLabparamsStatus == 1 }" >ADD</th>-->
<!--                                        <th th:if="${labParameters?.msFuelInspectionId?.bsNumberStatus != 1 and labParameters?.msFuelInspectionId?.labParameterstedStatus == 1 and labParameters?.msFuelInspectionId?.ssfLabparamsStatus == 1 }"  >ADD</th>-->
<!--                                    </tr>-->
<!--                                    </thead>-->
<!--                                    <tbody>-->
<!--                                    &lt;!&ndash;                <a th:each="coc, iStat: ${cocs}" th:href="@{/api/inspection/supervisor/coc-details/{id}(id=${coc.id})}" class="table-row w-inline-block">&ndash;&gt;-->
<!--                                    <tr class="list" th:each="labParametersParam: ${labParametersParams}" style="cursor: pointer">-->

<!--                                        <td th:text="${labParametersParam?.parameters}"></td>-->
<!--                                        <td th:text="${labParametersParam?.laboratoryName}"></td>-->
<!--                                        <td th:text="${labParametersParam?.batchSize}"></td>-->
<!--                                        <td th:text="${labParametersParam?.sampleSize}"></td>-->
<!--                                        <td th:text="${labParametersParam?.remarks}"></td>-->
<!--                                        <td th:if="${labParametersParam?.sampleSubmissionId?.workPlanGeneratedID != null}"><a sec:authorize="hasAuthority('MS_IO_MODIFY')" th:data-some-id="${labParametersParam?.id}" th:if="${labParametersParam?.sampleSubmissionId?.workPlanGeneratedID?.bsNumberStatus != 1 and labParametersParam?.sampleSubmissionId?.workPlanGeneratedID?.labParameterstedStatus == 1 and labParametersParam?.sampleSubmissionId?.workPlanGeneratedID?.ssfLabparamsStatus == 1 }" class="filter-link bsNumberBtn" style="color: white">ADD BS NUMBER</a></td>-->

<!--                                        <td th:if="${labParametersParam?.sampleSubmissionId?.msFuelInspectionId != null}"><a sec:authorize="hasAuthority('MS_IO_MODIFY')"  th:data-some-id="${labParametersParam?.id}" th:if="${labParametersParam?.sampleSubmissionId?.msFuelInspectionId?.bsNumberStatus != 1 and labParametersParam?.sampleSubmissionId?.msFuelInspectionId?.labParameterstedStatus == 1 and labParametersParam?.sampleSubmissionId?.msFuelInspectionId?.ssfLabparamsStatus == 1 }" class="filter-link bsNumberBtn" style="color: white">ADD BS NUMBER</a></td>-->


<!--                                    </tr>-->

<!--                                    </tbody>-->
<!--                                </table>-->
<!--                                <div class="pagination-div">-->
<!--                                    <div th:if="${sampleCollect?.workPlanGeneratedID != null}">-->
<!--                                        <span th:if="${labParametersParams.hasPrevious()}">-->
<!--                                            <a th:href="@{/api/ms/sample-submit(workPlanID=${labParameters?.workPlanGeneratedID?.id},currentPage=${labParametersParams?.number-1},pageSize=${labParametersParams?.size},ViewType=${ViewType})}">Previous</a>-->
<!--                                        </span>-->
<!--                                        <span th:if="${labParametersParams.hasNext()}">-->
<!--                                            <a th:href="@{/api/ms/sample-submit(workPlanID=${labParameters?.workPlanGeneratedID?.id},currentPage=${labParametersParams?.number+1},pageSize=${labParametersParams?.size},ViewType=${ViewType})}">Next</a>-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                    <div th:if="${sampleCollect?.msFuelInspectionId != null}">-->
<!--                                        <span th:if="${labParametersParams.hasPrevious()}">-->
<!--                                            <a th:href="@{/api/ms/sample-submit(fuelInspectID=${labParameters?.msFuelInspectionId?.id},currentPage=${labParametersParams?.number-1},pageSize=${labParametersParams?.size},ViewType=${ViewType})}">Previous</a>-->
<!--                                        </span>-->
<!--                                        <span th:if="${labParametersParams.hasNext()}">-->
<!--                                            <a th:href="@{/api/ms/sample-submit(fuelInspectID=${labParameters?.msFuelInspectionId?.id},currentPage=${labParametersParams?.number+1},pageSize=${labParametersParams?.size},ViewType=${ViewType})}">Next</a>-->
<!--                                        </span>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                                </div></div>-->
                        </div>
                        <div class="filter-block">
                            <div class="filter-block-title">
                                <div class="filter-title">Action:</div>
                            </div>
                            <div>
                                <div th:if="${labParameters?.sampleSubmissionId?.workPlanGeneratedID != null}">
<!--                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY')" th:if="${labParameters?.workPlanGeneratedID?.labParameterstedStatus == 1 and labParameters?.workPlanGeneratedID?.ssfLabparamsStatus != 1}"  class="filter-link uploadBtn" style="color: white">ADD NEW</a>-->
                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY')" th:if="${labParameters?.bsNumber == null
                                     and labParameters?.sampleSubmissionId?.workPlanGeneratedID?.sampleSubmittedStatus == 1 and labParameters?.sampleSubmissionId?.workPlanGeneratedID?.ssfLabparamsStatus == 1 }"  class="filter-link bsNumberBtn" style="color: white">ADD BS NUMBER</a>
                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY')" th:if="${labParameters?.bsNumber != null}" onclick="window.history.back()" class="filter-link" style="color: white">CLOSE</a>
                                </div>
                                <div th:if="${labParameters?.sampleSubmissionId?.msFuelInspectionId != null}">
<!--                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY')" th:if="${labParameters?.msFuelInspectionId?.labParameterstedStatus == 1 and labParameters?.msFuelInspectionId?.ssfLabparamsStatus != 1}"  class="filter-link uploadBtn" style="color: white">ADD NEW</a>-->
                                    <a sec:authorize="hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.bsNumber == null
                                    and labParameters?.sampleSubmissionId?.msFuelInspectionId?.sampleSubmittedStatus == 1
                                    and labParameters?.sampleSubmissionId?.msFuelInspectionId?.ssfLabparamsStatus == 1 }"  class="filter-link bsNumberBtn" style="color: white">ADD BS NUMBER</a>
                                </div>

                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.labResultStatusGood != 1 and labParameters?.labResultStatus == 1 }"  class="filter-link" onclick="myFunction('approveResults');" style="color: white">RESULTS OK</a>
                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.labResultStatusGood != 1 and labParameters?.labResultStatus == 1 }"  class="filter-link" onclick="myFunction('rejectResults');" style="color: white">RESULTS NOT OK</a>

                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.labResultStatusGood == 1 and labParameters?.labResultStatus == 1
                                    and labParameters?.labPassedStatus == null and labParameters?.labFailedStatus == null }"  class="filter-link" onclick="myFunction('approvePass');" style="color: white">COMPLIANT</a>
                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.labResultStatusGood == 1 and labParameters?.labResultStatus == 1
                                    and labParameters?.labPassedStatus == null and labParameters?.labFailedStatus == null}"  class="filter-link" onclick="myFunction('rejectFailed');" style="color: white">NOT COMPLIANT</a>

                                    <a sec:authorize="hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.labResultStatusGood == 1 and labParameters?.labResultStatus == 1
                                    and labParameters?.labPassedStatus != null and labParameters?.labFailedStatus != null and labParameters?.ownerLabResultsStatus == null}"  class="filter-link" th:href="@{/api/ms/sample-submit-lab(labParmID=${labParameters?.id},currentPage=0,pageSize=10,docType ='sendResults',ViewType=${ViewType})}" style="color: white">SEND RESULTS</a>

                                    <a sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')" th:if="${labParameters?.bsNumber != null and labParameters?.labResultStatus != 1}" onclick="window.history.back()" class="filter-link" style="color: white">CLOSE</a>

<!--                                <a class="filter-link inspectBtn" th:href="@{/api/di/back-view(close = ${session.certBack},id = ${session.coc.id},section = ${session.section.section})}">Close</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                    <div class="uploadForm" sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')">
                <form id="upload-form"  enctype="multipart/form-data"  name="upload-form" th:action="@{/api/ms/onsite/forms/save(labParamID=${labParameters?.id},workPlanID='0', docType='labParametersParam', ViewType=${ViewType})}" th:object="${labParametersEntity}" method="post" >
                    <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog" aria-labelledby="uploadModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="font-weight: bold; " class="modal-title" id="uploadModalLabel"><span id="uploadSpan-1" >none</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <input type="hidden" id="createdBy" name="createdBy" th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                        <label for="parameters" class="col-form-label">Parameters Name</label>
                                        <input  type="text" class="input-field w-input" id="parameters" placeholder="parameters" th:field="*{parameters}" th:required="required">
                                        <label for="laboratoryName" class="col-form-label">Laboratory Name</label>
                                        <select id="laboratoryName" class="select-field w-select" th:field="*{laboratoryName}">
                                            <option value="0">Select one...</option>
                                            <option th:each="labs : ${laboratories}" th:name="labs" th:text="${labs.labName}" th:value="${labs.labName}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()"
                                            type="button">Close
                                    </button>
                                    <input type="submit" id="upload-1" class="btn btn-primary" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

                    <div class="remarksForm" sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')">
                        <form id="remarksForm" name="remarksForm" th:action="@{/api/ms/workPlan/add-remarks(labParamID = ${labParameters?.id},  docType='LabReport', ViewType=${ViewType} )}" method="post" th:object="${labParametersEntity}">
                            <div class="modal fade" id="remarksModal" tabindex="-1" role="dialog"
                                 aria-labelledby="remarksModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 style="font-weight: bold;" class="modal-title" id="remarksModalLabel"><span id="mySpan" >none</span></h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="form-group">
<!--                                                <input type="hidden" id="createdBy" name="createdBy" th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">-->
                                                <div id="rejectResults">
                                                    <!--                                        <input type="hidden" id="process1" name="process"  th:value="'REJECT'">-->
                                                    <input type="hidden" id="labResultStatusBadBy" name="labResultStatusBadBy"  th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                                    <input type="hidden" id="processStage" name="processStage"  th:value="'LabResultsComments'">
                                                    <input type="hidden" id="labResultStatusGood" name="labResultStatusGood"  th:value=0>
                                                    <input type="hidden" id="labResultStatusBad" name="labResultStatusBad"  th:value=1>
                                                    <label for="labResultStatusBadRemarks" class="col-form-label">Please write in detail your feedback for this Lab Results:</label>
                                                    <textarea required="required" name="name" id="labResultStatusBadRemarks" class="input-field w-input" cols="65" rows="5" th:field="*{labResultStatusBadRemarks}"></textarea>
                                                </div>
                                                <div id="approveResults">
                                                    <!--                                        <input type="hidden" id="process" name="process"  th:value="'APPROVE'">-->
                                                    <input type="hidden" id="labResultStatusGoodBy" name="labResultStatusGoodBy"  th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                                    <input type="hidden" id="processStage1" name="processStage"  th:value="'LabResultsComments'">
                                                    <input type="hidden" id="labResultStatusGood1" name="labResultStatusGood"  th:value=1>
                                                    <input type="hidden" id="labResultStatusBad1" name="labResultStatusBad"  th:value=0>
                                                    <label for="labResultStatusGoodRemarks" class="col-form-label">Please write in detail your feedback for this workPlan:</label>
                                                    <textarea required name="name" id="labResultStatusGoodRemarks" class="input-field w-input" cols="65" rows="5" th:field="*{labResultStatusGoodRemarks}"></textarea>
                                                </div>
                                                <div id="rejectFailed">
                                                    <!--                                        <input type="hidden" id="process1" name="process"  th:value="'REJECT'">-->
                                                    <input type="hidden" id="labFailedStatusBy" name="labFailedStatusBy"  th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                                    <input type="hidden" id="processStage2" name="processStage"  th:value="'LabResults'">
                                                    <input type="hidden" id="labPassedStatus" name="labPassedStatus"  th:value=0>
                                                    <input type="hidden" id="labFailedStatus" name="labFailedStatus"  th:value=1>
                                                    <label for="labFailedStatusRemarks" class="col-form-label">Please write in detail your feedback for this Lab Results That Failed:</label>
                                                    <textarea required name="name" id="labFailedStatusRemarks" class="input-field w-input" cols="65" rows="5" th:field="*{labFailedStatusRemarks}"></textarea>
                                                </div>
                                                <div id="approvePass">
                                                    <!--                                        <input type="hidden" id="process" name="process"  th:value="'APPROVE'">-->
                                                    <input type="hidden" id="labPassedStatusBy" name="labPassedStatusBy"  th:value="${session.currentUser.firstName}+ ' ' +${session.currentUser.lastName}">
                                                    <input type="hidden" id="processStage3" name="processStage"  th:value="'LabResults'">
                                                    <input type="hidden" id="labPassedStatus1" name="labPassedStatus"  th:value=1>
                                                    <input type="hidden" id="labFailedStatus1" name="labFailedStatus"  th:value=0>
                                                    <label for="labPassedStatusRemarks" class="col-form-label">Please write in detail your feedback for this Lab Results That Passed:</label>
                                                    <textarea required name="name" id="labPassedStatusRemarks" class="input-field w-input" cols="65" rows="5" th:field="*{labPassedStatusRemarks}"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()" type="button">Close</button>
                                            <input type="submit" id="saveValue" class="btn btn-primary" value="Save"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="bsForm" sec:authorize="hasAuthority('MS_IO_MODIFY') or hasAuthority('MS_IOP_MODIFY')">
                <form id="bs-form"  enctype="multipart/form-data"  name="bs-form" th:action="@{/api/ms/onsite/forms/save(labParamID=${labParameters?.id},workPlanID='0', docType='sampleBsNumber',ViewType=${ViewType})}" method="post"  th:object="${labParametersEntity}">
                    <div class="modal fade" id="bsModal" tabindex="-1" role="dialog" aria-labelledby="bsModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 style="font-weight: bold; " class="modal-title" id="bsModalLabel"><span id="bsSpan-1" >none</span></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
<!--                                        <input type="hidden" id="parametersLabID" name="parametersLabID" th:value="0">-->
                                        <label for="bsNumber" class="col-form-label">Bs Number</label>
                                        <input  type="text" class="input-field w-input" id="bsNumber" placeholder="bs Number" th:field="*{bsNumber}" th:required="required">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-dismiss="modal" onClick="window.location.reload()"
                                            type="button">Close
                                    </button>
                                    <input type="submit" id="bsBtn-1" class="btn btn-primary" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
        </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../assets/js/webflow.js" type="text/javascript"></script>
<script th:src="@{/assets/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
    var acc = document.getElementsByClassName("accordion");
    // var btn = document.getElementsByClassName("button w-button eBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.style.border = "none";
            // this.style.position = "sticky"
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                // panel.style.position = "-webkit-sticky"
                // panel.style.position = "sticky"
            }
        });
    }


</script>
<script>
    var myConstants = null;

    function myFunction(eventAction) {
        let arrHead = [ 'rejectResults', 'approveResults', 'rejectFailed', 'approvePass'];
        let arrHeadSave = [ 'Reject', 'Approve', 'NON COMPLIANT', 'COMPLIANT'];

        for (let h = 0; h < arrHead.length; h++) {
            if(eventAction !== arrHead[h]){
                document.getElementById(arrHead[h]).remove();
            }else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('mySpan').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValue").value = 'submit';
                }
            }
        }

        $('.remarksForm #remarksModal').modal();
    }

    $(document).ready(function() {
        /***************************************************************************************************
         * Thymeleaf Complaint Remarks Buttons
         ***************************************************************************************************/



        $('.filter-block .approvalBtn').on('click', function (event) {
            document.getElementById('mySpan').innerHTML = 'Approve'
            document.getElementById("saveValue").value = "submit";
            let idAction = approveResults
            document.getElementById('reject').remove();
            $('.remarksForm #remarksModal').modal();
        });

        $('.filter-block .rejectBtn').on('click', function (event) {
            document.getElementById('mySpan').innerHTML = 'Reject'
            document.getElementById("saveValue").value = "submit";
            document.getElementById('approve').remove();
            $('.remarksForm #remarksModal').modal();
        });

        $('.filter-block .uploadBtn').on('click', function (event) {
            document.getElementById('uploadSpan-1').innerHTML = 'Add New Parameters';
            document.getElementById("upload-1").value = "submit";
            // document.getElementById('bsnumberID').remove();
            $('.uploadForm #uploadModal').modal();
        });

        $('.filter-block .bsNumberBtn').on('click', function (event) {
            document.getElementById('bsSpan-1').innerHTML = 'Add BS Number';
            document.getElementById("bsBtn-1").value = "submit";


            // var data_var = $(event.relatedTarget).data('some-id')
            // console.log(data_var);
            // document.getElementById("parametersLabID").value = data_var;
            // // // $(this).find('.modal-body input').val(bookId)
            // // // https://stackoverflow.com/questions/10626885/passing-data-to-a-bootstrap-modal
            // // // var data_var = $(this).data('some-id');
            // // $('#bsModal .form-group').html(' <input type="hidden" id="parametersLabID" name="parametersLabID" th:value="'+data_var+'">') ;
            $('.bsForm #bsModal').modal();
        });
    });

</script>

</body>
</html>


