<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 w-100"
     *ngIf="selectedWorkplan">
  <h3>
    <fa-icon [icon]="arrowLeftIcon" (click)="backClicked()" style="padding-right: 3px; cursor: pointer"></fa-icon>
    {{selectedWorkplan.refNumber}}
  </h3>
  <div class="btn-toolbar mb-2 mb-md-0">
    <button class="submit-button">SUBMIT WORKPLAN</button>
  </div>
</div>

<div class="container-fluid">
  <div class="row mb-5" *ngIf="selectedWorkplan">
    <div class="col-lg-12">
      <h4 class="mb-4">Workplan Overview</h4>
      <table class="mb-2">
        <tbody>
        <tr>
          <td class="field-titles">Ref Number</td>
          <td>{{selectedWorkplan.refNumber}}</td>
        </tr>
        <tr>
          <td class="field-titles">Year</td>
          <td>{{selectedWorkplan.year}}</td>
        </tr>
        <tr>
          <td class="field-titles">Date Created</td>
          <td>{{selectedWorkplan.dateCreated}}</td>
        </tr>
        <tr>
          <td class="field-titles">Date Completed</td>
          <td>{{selectedWorkplan.dateCompleted}}</td>
        </tr>
        <tr>
          <td class="field-titles">Created By</td>
          <td>{{selectedWorkplan.createdBy}}</td>
        </tr>
        <tr>
          <td class="field-titles">Status</td>
          <td>{{selectedWorkplan.status}}</td>
        </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="row mb-5" style="background-color: #f9f9f9; padding: 20px; overflow-x: auto">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4 w-100">
      <h4>Workplan Activities</h4>
      <!--      <div class="btn-toolbar mb-md-0">-->
      <!--        <button class="submit-button">-->
      <!--          ADD ACTIVITY-->
      <!--        </button>-->
      <!--      </div>-->
    </div>

    <div class="container" align="center" style="display: none">
      <svg xmlns="http://www.w3.org/2000/svg" width="274" height="160.47" viewBox="0 0 274 239.47"
           style="margin-bottom: 4%">
        <g id="Group_294" data-name="Group 294" transform="translate(-853 -378)">
          <g id="humaaans_standing-20" data-name="humaaans/standing-20" transform="translate(853 378)">
            <g id="humaaan-10" transform="translate(0 0)">
              <g id="Head_Front_Hijab2" data-name="Head/Front/Hijab2" transform="translate(57.096 0)">
                <g id="Head" transform="translate(9.744 1.604)">
                  <path id="Path_2848" data-name="Path 2848"
                        d="M4.979,20.783C2.2,17.524.323,13.529.637,9.054,1.542-3.841,19.492-1,22.984,5.5s3.077,23.018-1.436,24.181c-1.8.464-5.634-.672-9.536-3.024l2.449,17.327H0Z"
                        transform="translate(0 0)" fill="#b28b67" fill-rule="evenodd"/>
                </g>
                <path id="Hijab"
                      d="M70.265,34.437c.322.108,0-1.278-.77-1.785C67.132,31.1,60.1,28.8,55.29,29.8a24.443,24.443,0,0,0-9.813,4.487A17.948,17.948,0,0,0,40.226,42.6c-.862,3.137-1.188,7.5,0,10.24,1.415,3.26,6.427,6.773,6.56,7.24.151.532-.441,2.613-.875,4.8a37.184,37.184,0,0,0,0,8.682c.377,1.455,2.4,2.17,3.285,2.275,4.881.582,8.419,6.641,9.892,8.192q9.832,9.871,13.723,8.585c.683-.225-.341-8.4-1.023-11.907s-7.38-9.759-7.809-11.82a30.66,30.66,0,0,1-.321-3.424c-.632-4.354-.523-4.708-1.444-6.483s-1.636-1.878-1.414-2.4c1.082-2.525,4.562-10.253,5.351-12.779.941-3.011.5-2.022,1.466-5.023C68.046,37.459,68.592,33.875,70.265,34.437Z"
                      transform="translate(-39.452 -29.553)" fill="#89c5cc"/>
                <path id="Shade"
                      d="M60.581,38.587c-1.057,3.354-1.284,5.144-1.057,9.727h-.519c-.969-4.325-.107-8.4.924-9.727ZM46.4,47.243c1.97,4.78,2.868,7.6,8.369,11.47l-.425.3c-5.461-3.095-7.051-6.786-8.358-11.568Zm8.093-4.864c.895,6.784,1.156,10.659,5.817,18.08l-.5.152c-4.8-6.461-5.557-11.735-5.784-18.195ZM49.345,62.531l.424-.516c5.789,1.813,5.144,5.557,12.436,9.348l-.609.369C55.211,69.1,53.719,63.446,49.345,62.531Z"
                      transform="translate(-42.211 -33.367)" fill="rgba(0,0,0,0.2)" fill-rule="evenodd"/>
              </g>
              <g id="Bottom_Standing_Sprint" data-name="Bottom/Standing/Sprint" transform="translate(0 78.713)">
                <path id="Leg"
                      d="M62.7,0c-11.524,9.4-7.14,91.773-7.909,92.81Q54.276,93.5,0,104.576l1.562,6.376q63.488-3.15,67.189-7.863,5.3-6.747,13.1-75.467Z"
                      transform="matrix(0.574, -0.819, 0.819, 0.574, 19.26, 68.102)" fill="#b28b67"
                      fill-rule="evenodd"/>
                <path id="Pant"
                      d="M0,102.073l2.751,10.269c31.55,3.623,52.35-.861,59.671-7.826q7.321-6.965,13.129-75.262L55.067,0C27.635,20.7,43.986,88.445,43.285,90S25.945,92.771,0,102.073Z"
                      transform="matrix(0.574, -0.819, 0.819, 0.574, 22.921, 61.888)" fill="#09548b"
                      fill-rule="evenodd"/>
                <g id="Accessories_Shoe_Flat-Sneaker" data-name="Accessories/Shoe/Flat-Sneaker"
                   transform="matrix(0.94, 0.342, -0.342, 0.94, 102.974, 123.134)">
                  <path id="shoe"
                        d="M1.011,3.658A12.938,12.938,0,0,0,0,7.7a30.235,30.235,0,0,0,.543,4.757H34.529Q35.854,8.074,33,7.725t-4.742-.631L12.461.052a.6.6,0,0,0-.8.305l-.007.016L10.643,2.836A10.837,10.837,0,0,1,6.349,4.069,9.725,9.725,0,0,1,2.642,2.985h0a1.205,1.205,0,0,0-1.6.593Q1.026,3.617,1.011,3.658Z"
                        transform="translate(0 0)" fill="#e4e4e4" fill-rule="evenodd"/>
                </g>
                <path id="Leg-2" data-name="Leg" d="M90.4,0,59.217,74.855,28.571,138.139H35.8L114.906,0Z"
                      transform="translate(-27.127 16.743)" fill="#997659" fill-rule="evenodd"/>
                <g id="Accessories_Shoe_Flat-Sneaker-2" data-name="Accessories/Shoe/Flat-Sneaker"
                   transform="translate(0 148.303)">
                  <path id="shoe-2" data-name="shoe"
                        d="M2.054,23.819a12.938,12.938,0,0,0-1.011,4.039,30.235,30.235,0,0,0,.543,4.757H35.572q1.325-4.38-1.529-4.729T29.3,27.256L13.5,20.214a.6.6,0,0,0-.8.305l-.007.016L11.686,23A10.836,10.836,0,0,1,7.392,24.23a9.725,9.725,0,0,1-3.707-1.084h0a1.205,1.205,0,0,0-1.6.593Q2.069,23.778,2.054,23.819Z"
                        transform="translate(-1.043 -20.161)" fill="#e4e4e4" fill-rule="evenodd"/>
                </g>
                <path id="Pant-2" data-name="Pant"
                      d="M33.361,124.993l16.066,3.013C61.848,109.743,113.835,34.86,119.535,0H83.769C64.734,25.2,45.2,106.428,33.361,124.993Z"
                      transform="translate(-29.15 16.743)" fill="#0c6db4" fill-rule="evenodd"/>
              </g>
              <g id="Body_Pointing-Up" data-name="Body/Pointing-Up" transform="translate(46.343 19.481)">
                <path id="Skin"
                      d="M195.089-7.935l22.84-6.856a51.734,51.734,0,0,1,12.056-7.275c1.1-.207,2.917-.087.645,2.491s-4.547,5.392-3.9,6.473,3.013.266,3.7,1.978q.685,1.712-11.75,2.453L200.92,1.779Zm-2.018,40.268,19.221,14.114A51.732,51.732,0,0,1,225.358,51.7c.826.753,1.825,2.278-1.6,2.014s-7.042-.387-7.515.782,1.6,2.567.645,4.143q-.956,1.577-9.03-7.908l-19.034-7.893Z"
                      transform="translate(-127.887 22.134)" fill="#b28b67" fill-rule="evenodd"/>
                <path id="Coat-Back"
                      d="M8.129,0C23.29,16.143,41.783,26.677,67,36.02l-5.6,11.2c-26.022-2.453-39.934-4.413-50.84-20.581C7.826,22.581,2.932,8.619,0,1.368Z"
                      transform="matrix(0.966, 0.259, -0.259, 0.966, 27.478, 14.353)" fill="#faa330"
                      fill-rule="evenodd"/>
                <path id="Shirt"
                      d="M93.861,68.693h46.4q-15.765-48.08-16.107-66c-.012-.609-1.137-1.682-1.634-1.542A17.118,17.118,0,0,1,110.836,0C99.836,17.69,96.033,39.471,93.861,68.693Z"
                      transform="translate(-87.793 12.789)" fill="#f2f2f2" stroke="#faa330" stroke-width="1"
                      fill-rule="evenodd"/>
                <path id="Coat-Front"
                      d="M110.361-3.934c13.3.109,34.878,2.538,59.763-5.452L172.581,2.89c-18.808,12.1-37.853,21.467-54.541,20.136,7.247,31.084,6.913,56.53-9.086,56.53H84.215c-3.929-26.406,6.4-63.018,15.971-81.485a3.264,3.264,0,0,1,2.977-2.035h7.189Z"
                      transform="translate(-83.358 16.752)" fill="#faa330" fill-rule="evenodd"/>
              </g>
            </g>
          </g>
          <g id="Group_293" data-name="Group 293" transform="translate(1015.298 378)">
            <g id="Symbols" transform="translate(0 54.84)">
              <g id="Objects_Seat_Ball" data-name="Objects/Seat/Ball" transform="translate(0 0)">
                <circle id="Ballsy-Ball" cx="18.5" cy="18.5" r="18.5" transform="translate(-0.298 0.16)"
                        fill="#c5cfd6"/>
              </g>
            </g>
            <rect id="Rectangle_401" data-name="Rectangle 401" width="35" height="34" transform="translate(76.702 56)"
                  fill="#c5cfd6"/>
            <path id="Polygon_1" data-name="Polygon 1" d="M20,0,40,40H0Z" transform="translate(33.702)" fill="#c5cfd6"/>
          </g>
        </g>
      </svg>

      <h5 class="page-title">Manage your activities</h5>
      <div>
        <p class="page-content">You currently have no activities added. Add and manage your workplan activities in this
          section.
        </p>
      </div>

      <button type="submit" class="submit-button" style="margin-bottom: 5%">
        ADD AN ACTIVITY
      </button>
    </div>

    <table class="table-hover" *ngIf="selectedWorkplan" id="flip-scroll">
      <thead>
      <th>Activity ID</th>
      <th>Activity Name</th>
      <th>Department</th>
      <th>Division</th>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Status</th>
      </thead>
      <tbody>
      <tr *ngFor="let activity of selectedWorkplan.activities">

        <td><a class="ref-link"
               routerLink="/workplan-activities/{{selectedWorkplan.refNumber}}/activity-details/{{activity.activityId}}">{{activity.activityId}}</a>
        </td>
        <td>{{activity.activityName}}</td>
        <td>{{activity.department}}</td>
        <td>{{activity.division}}</td>
        <td>{{activity.activityStartDate}}</td>
        <td>{{activity.activityEndDate}}</td>
        <td>{{activity.status}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
