.left-column {
  background-image: url(https://images.pexels.com/photos/667203/pexels-photo-667203.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
  background-size: cover;
  background-position: 50% 50%;
  padding-right: 0;
}

.left-overlay {
  background: rgba(0,102,177,0.4);
  overflow: hidden;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.right-column {
  margin: 0 0 5em 0;
  overflow: auto;
  padding: 0 50px;
}

.image-container {
  padding-top: 2em;
}
