<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i title="Add A New Privilege" class="material-icons" data-toggle="modal"
                                   data-target="#privilegeModal">
                                    add
                                </i>
                            </div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Roles <span class="badge badge-primary">{{roles.length}}</span>
                            </button></div>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables table-responsive">
                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="knw">Role ID</th>
                                        <th class="knw">Name</th>
                                        <th class="knw">Description</th>
                                        <th class="knw">Status</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let role of roles let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{role.id}}</td>
                                        <td>{{role.roleName}}</td>
                                        <td>{{role.descriptions}}</td>
                                        <td>{{role.status}}</td>
                                        <td><a  (click)="onOpenModal(role,'assignPrivilege')" class="btn btn-info btn-sm tooltips" data-placement="top" style="width: 130px" data-original-title="Approve">Assign Privilege</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="assignPrivilege" tabindex="-1" role="dialog" aria-labelledby="approveChangesLabel" aria-hidden="true">a
                                    <div class="modal-dialog modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="approveChangesLabel">Assign</h3>
                                                <button type="button" #closeModalChanges class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="onSubmitAssignedRole()" [formGroup]="assignRoleForm" class="form">
                                                <div class="modal-body">
                                                    <div class="form-group bmd-form-group is-filled">
                                                        <div class="row">
                                                            <div class="col">
                                                                <div class="form-group">
                                                                    <div>
                                                                        <label><b>Select Privilege</b></label>
                                                                        <ng-select [(ngModel)]="selectedPrivilege" [class.is-invalid]="formAssignRole.privilegeId.invalid && formAssignRole.privilegeId.touched" formControlName="privilegeId"  class="form-control"  name="privilegeId" >
                                                                            <ng-option *ngFor="let authority of authorities" [value]="authority.id" >{{authority.name}}</ng-option>
                                                                        </ng-select>
                                                                    </div>
                                                                </div>

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <input type="hidden" formControlName="roleId"  value="{{actionRequests?.id}}" name="roleId" >
                                                </div>
                                                <hr>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary btn-sm" >Assign</button>
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="modal fade" id="privilegeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-xl">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h4 class="modal-title">Add Role</h4>
                                            <button type="button" class="close" #closeModalCDetails data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form (ngSubmit)="submit()" [formGroup]="addRoleFormGroup" class="form">
                                            <div class="modal-body">
                                                <div class="form-group bmd-form-group is-filled">
                                                    <div class="row">
                                                        <div class="col">
                                                            <div class="form-group">
                                                                <label><b>Name</b></label>
                                                                <input [class.is-invalid]="formAddRole.roleName.invalid && formAddRole.roleName.touched"
                                                                       class="form-control two-column-input"
                                                                       formControlName="roleName" name="roleName" required type="text">
                                                            </div>
                                                            <div class="form-group col-12">
                                                                <label>Description</label>
                                                                <textarea class="form-control" formControlName="descriptions"  [class.is-invalid]="formAddRole.descriptions.invalid && formAddRole.descriptions.touched" name="descriptions" type="text" ></textarea>
                                                            </div>
                                                            <div class="form-group col-12">
                                                                <label>Select Status</label>
                                                                <ng-select [(ngModel)]="selectedStatus" [class.is-invalid]="formAddRole.status.invalid && formAddRole.status.touched" formControlName="status"  class="form-control"  name="status" >
                                                                    <ng-option  [value]="true" >Active</ng-option>
                                                                    <ng-option  [value]="false" >Not Active</ng-option>
                                                                </ng-select>

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                <button type="submit" class="btn btn-primary btn-sm" >Save</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

