.mat-header-cell, .mat-cell {
    justify-content: start;
    padding-left: 3px !important;
    padding-right: 2px !important;
}

.btn-primary {
    background-color: #2196f3;
    width: 150px;
}
.btn-warning {
    width: 150px;
}