<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">diamond-stone</i>
                        </div>
                        <h4 class="card-title" *ngIf="ismDetails">
                            ISM request Details
                            <button class="btn btn-sm btn-default float-right mr-7"
                                    (click)="goBack()"><i class="fa fa-arrow-left"></i> Back

                            </button>
                        </h4>

                    </div>
                    <div class="card-body" *ngIf="ismDetails">
                        <div class="row">
                            <div class="col-md-2 col-sm-12">
                                <div widget class=" border-0 box-shadow">
                                    <div class="text-center pt-2" style="color: green;">
                                        CD Standard Details
                                    </div>
                                    <div class="card-body pt-0 widget-body" *ngIf="ismDetails.ism_request">
                                        <table class="table-responsive">
                                            <th>
                                                ISM Number
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.ismNumber ? ismDetails.ism_request.ismNumber : "NA"}}</td>
                                            </tr>
                                            <th>
                                                UCR Number
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.ucrNumber}}</td>
                                            </tr>
                                            <th>
                                                Applicant Name
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.firstName}} {{ismDetails.ism_request.middleName}}</td>
                                            </tr>
                                            <th>
                                                Applicant Other Name
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.lastName}}</td>
                                            </tr>
                                            <th>
                                                Company Name
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.companyName}}</td>
                                            </tr>
                                            <th>
                                                Application Completed
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.complated}}</td>
                                            </tr>
                                            <th>
                                                Application Completed On
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.approvedRejectedOn | date:'mediumDate'}} {{ismDetails.ism_request.approvedRejectedOn| date:'shortTime'}}</td>
                                            </tr>
                                            <th>
                                                PVOC Officer
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.approvedRejectedBy}}</td>
                                            </tr>
                                            <th>
                                                Approval Status
                                            </th>
                                            <tr>
                                                <td>{{ismDetails.ism_request.requestApproved}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8 col-sm-12">

                                <!-- <div class="d-flex"> -->
                                <mat-tab-group [(selectedIndex)]="activeTab" [disablePagination]="true"
                                               appMatMultilineTab
                                               class="tab-wraps">
                                    <mat-tab tabindex="1" label="COC Details">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Certificate Type</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.cocType}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType!=='COI'">
                                                <div class="list-title-accordion">{{ismDetails.certificate_details.cocType}}
                                                    NUMBER
                                                </div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.cocNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType=='COI'">
                                                <div class="list-title-accordion">COI NUMBER</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.coiNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">IDF NUMBER</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.idfNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">RFI NUMBER</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.rfiNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">UCR NUMBER</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.ucrNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">RFC DATE</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.rfcDate}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType!=='COI'">
                                                <div class="list-title-accordion">{{ismDetails.certificate_details.cocType}}
                                                    ISSUE DATE
                                                </div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.cocIssueDate}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType=='COI'">
                                                <div class="list-title-accordion">COI ISSUE DATE</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.coiIssueDate}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType!=='COI'">
                                                <div class="list-title-accordion">{{ismDetails.certificate_details.cocType}}
                                                    REMARKS
                                                </div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.cocRemarks}}</div>
                                            </li>
                                            <li class="list-item-accordion"
                                                *ngIf="ismDetails.certificate_details.cocType=='COI'">
                                                <div class="list-title-accordion">COI REMARKS</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.coiRemarks}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">ISSUING OFFICE</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.issuingOffice}}</div>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                    <mat-tab tabindex="2" label="Importer Details">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Name</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerName}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">PIN</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerPin}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Address 1</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerAddress1}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Address 2</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerAddress2}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">City</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerCity}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Country</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerCountry}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">ZipCode</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerZipCode}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Telephone</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerTelephoneNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Fax</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerFaxNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Email</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.importerEmail}}</div>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                    <mat-tab tabindex="3" label="Exporter Details">
                                        <b class="text-primary">Exporter Details</b>
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Name</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterName}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">PIN</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterPin}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Address 1</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterAddress1}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Address 2</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterAddress2}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">City</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterCity}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Country</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterCountry}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">ZipCode</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterZipCode}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Telephone</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterTelephoneNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Fax</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterFaxNumber}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Email</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.exporterEmail}}</div>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                    <mat-tab tabindex="4" label="Invoice Details">
                                        <b class="text-primary">Invoice Details</b>
                                        <div class="panel" style="max-height: 388px;">
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">FOB Value</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.finalInvoiceFobValue}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Exchange Rate</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.finalInvoiceExchangeRate}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Date</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.finalInvoiceDate}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-tab>
                                    <mat-tab tabindex="5" label="Shipment Details">
                                        <b class="text-primary">Shipment Details</b>
                                        <div class="panel" style="max-height: 487px;">
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Mode</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.shipmentMode}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Partial Number</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.route}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Seal Number</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.shipmentSealNumbers}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Container Number</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.shipmentContainerNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Gross Weight</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.shipmentGrossWeight}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Quantity Delivered</div>
                                                    <div class="list-text-accordion">{{ismDetails.certificate_details.shipmentQuantityDelivered}}</div>
                                                </li>
                                            </ul>
                                        </div>
                                    </mat-tab>
                                    <mat-tab tabindex="6" label="Inspection Details">
                                        <b class="text-primary">Inspection Details</b>
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Place Of Inspection</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.placeOfInspection}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Date Of Inspection</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.dateOfInspection}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Route</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.route}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Port Of Destination</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.portOfDestination}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Country Of Supply</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.route}}</div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Product Category</div>
                                                <div class="list-text-accordion">{{ismDetails.certificate_details.productCategory}}</div>
                                            </li>
                                        </ul>
                                    </mat-tab>
                                </mat-tab-group>
                            </div>
                            <div class="col-md-2 col-sm-12">
                                <h5>Action:</h5>
                                <br/>
                                <button class="btn btn-sm btn-primary" (click)="viewConsignmentDocument()">View
                                    Consignment
                                </button>
                                <button *ngIf="ismDetails.ism_request.completed!=='YES'" class="btn btn-sm btn-primary" (click)="approveRejectConsignment()">Approve/Reject Application
                                </button>
                                <h5>Documents:</h5>
                                <button *ngIf="ismDetails.ism_request.completed==='YES'" class="btn btn-sm btn-primary" (click)="downloadISMReport()">Download ISM
                                    report
                                </button>
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>