<h2 mat-dialog-title>Target Supervisor Item</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-8">
            <label for="inspectionNotificationStatus" class="waiver-form-label">inspection Notification Status</label>
            <select id="inspectionNotificationStatus" name="inspectionNotificationStatus" class="waiver-form-input-master"
                formControlName="inspectionNotificationStatus">
                <option value="" disabled selected>Select Status</option>
                <option value="1">Active</option>
                <option value="0">InActive</option>
            </select>
            <label for="targetReason" class="waiver-form-label">Target Reason</label>
            <textarea id="targetReason" class="waiver-form-input-master" placeholder=""
                formControlName="remarks"></textarea>
            <mat-error *ngIf="message">{{message}}</mat-error>
        </div>


    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <!--        [disabled]="!productDetails.valid"-->
        <button class="next-btn btn-gen new-btn" (click)="saveRecord()">SAVE
        </button>
    </div>
</mat-dialog-actions>