@keyframes spin {
  0% {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(1turn)
  }
}

.spinner {
  animation-name: spin;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  width: 24px;
  height: 24px;
  /*margin: 50px 0 50px 0;*/
}


.spinner-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgb(18 12 12 / 64%);
  z-index: 998;

  app-spinner {
    width: 6rem;
    height: 6rem;
  }

}
