<div class="d-flex flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h3>
    <fa-icon [icon]="arrowLeftIcon" (click)="backClicked()" style="padding-right: 3px; cursor: pointer"></fa-icon>
    Desk Tasks
  </h3>
</div>

<div>
  <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

    <li class="nav-item">
      <a class="nav-link active" id="pills-standards-tab" data-toggle="pill" href="#pills-standards" role="tab"
         aria-controls="pills-standards" aria-selected="true">Standards Database</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="pills-certification-tab" data-toggle="pill" href="#pills-certification" role="tab"
         aria-controls="pills-certification" aria-selected="false">Product Certification Database</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="pills-coc-tab" data-toggle="pill" href="#pills-coc" role="tab"
         aria-controls="pills-coc" aria-selected="false">COC Database</a>
    </li>


    <li class="nav-item">
      <a class="nav-link" id="pills-lims-tab" data-toggle="pill" href="#pills-lims" role="tab"
         aria-controls="pills-lims" aria-selected="false">LIMS Database</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" id="pills-activityreports-tab" data-toggle="pill" href="#pills-activityreports" role="tab"
         aria-controls="pills-activityreports" aria-selected="false">MS Activity Reports
      </a>
    </li>

  </ul>
  <hr style="margin-top: -16px">

</div>

<div class="tab-content" id="pills-tabContent">

  <div class="tab-pane fade show active" id="pills-standards" role="tabpanel" aria-labelledby="pills-standards-tab">

    <div class="container-fluid">
      <h4 class="mt-4 mb-3">Query the Standards Database</h4>
      <p class="mb-4">Search for a Standard using KS number, KS Title or ICS number</p>

      <div class="form-group">
        <input class="form-control form-control-dark" type="text" placeholder="Search..." aria-label="Search"
               [(ngModel)]="searchText" autofocus
               style="height: 100px; font-size: 50px">
      </div>
      <!--      <hr style="margin-top: -1%">-->

      <div class="container-fluid mt-5">
        <div class="row" *ngFor="let standard of standards | searchPipe: searchText">
          <div class="col-lg-6">
            <ul>
              <li class="d-flex flex-wrap">
                <fa-icon [icon]="pdfFileIcon" size="3x" style="padding-right: 3%"></fa-icon>
                <div style="width: 60%">
                  <h5>{{standard.ksNumber}}</h5>
                  <p>{{standard.ksTitle}}</p>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-6">
            <div class="d-flex flex-wrap" style="float: right">
              <p class="mr-lg-5"><b>View</b></p>
              <p><b>Download</b></p>
            </div>
          </div>
        </div>


      </div>
    </div>

  </div>

  <div class="tab-pane fade" id="pills-certification" role="tabpanel" aria-labelledby="pills-certification-tab">
    <div class="container-fluid">
      <h4 class="mt-4 mb-3">Query the Product Certification Database</h4>
      <p>Search for a Product Certification using the Product Brand Name, SM/Permit Number or Manufacturer Name</p>

      <input class="form-control form-control-dark" type="text" placeholder="Search..." aria-label="Search"
             style="height: 100px; font-size: 50px">
    </div>
  </div>

  <div class="tab-pane fade" id="pills-coc" role="tabpanel" aria-labelledby="pills-coc-tab">

    <div class="container-fluid">
      <h4 class="mt-4 mb-3">Query the COC Database</h4>
      <p>Search for a Certificate of Compliance using a UCR number</p>

      <input class="form-control form-control-dark" type="text" placeholder="Search..." aria-label="Search"
             style="height: 100px; font-size: 50px">
    </div>
  </div>

  <div class="tab-pane fade" id="pills-lims" role="tabpanel" aria-labelledby="pills-lims-tab">
    <p>hdsjsfjbs</p>
  </div>

  <div class="tab-pane fade" id="pills-activityreports" role="tabpanel" aria-labelledby="pills-activityreports-tab">
    <p>hdsjsfjbs</p>
  </div>


</div>
