<!DOCTYPE html>
<html data-wf-page="5e7130c996c4ca37928b351f" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>

<body>
<div th:replace="fragments/general-form.html :: dashboard-page" ></div>

<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar" ></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <h3 class="h3-blue" style="color: #0082f3; font-weight: bold; "> Motor Vehicle Inspection Requests</h3>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 98%" >

                            <div class="bs-example">
                                <ul class="nav nav-tabs" id="myTab">
                                    <li><a id="linkOne" class="filter-link" href="#ongoing">ONGOING</a></li>
                                    <li><a id="linkTwo" class="filter-link" href="#completed">COMPLETED</a></li>
                                </ul>
                                <div class="tab-content">
                                    <div id="ongoing" class="tab-pane active">
                                        <div class="row-table ">
                                            <table id="example" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ucr Number</th>
                                                    <th>Chassis No</th>
                                                    <th>Used Indicator</th>
                                                    <th>Vehicle Year</th>
                                                    <th>Vehicle Model</th>
                                                    <th>Vehicle Make</th>
                                                    <th>View Details</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="list" th:each="item: ${ongoingMinistryInspectionItemsViewList}" style="cursor: pointer">
                                                    <td th:text="${item?.cdId}"></td>
                                                    <td th:text="${item?.cdUcr}"></td>
                                                    <td th:text="${item?.chassis}"></td>
                                                    <td th:text="${item?.used}"></td>
                                                    <td th:text="${item?.year}"></td>
                                                    <td th:text="${item?.model}"></td>
                                                    <td th:text="${item?.make}"></td>
                                                    <!--                                        <td><a class="filter-link" th:href="@{/api/di/mv-inspection-checklist-detail(itemId=${item?.cdItemDetailsId?.id})}">View Details</a></td>-->
                                                    <td><a class="filter-link" th:href="@{/api/di/motor-vehicle-inspection-details(itemId=${item?.cdItemDetailsId}, docType=${motorVehicleMinistryInspectionChecklistName})}">View Details</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div id="completed" class="tab-pane">
                                        <div class="row-table ">
                                            <table id="example2" class="table table-striped table-bordered" style="width:100%">
                                                <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Ucr Number</th>
                                                    <th>Chassis No</th>
                                                    <th>Used Indicator</th>
                                                    <th>Vehicle Year</th>
                                                    <th>Vehicle Model</th>
                                                    <th>Vehicle Make</th>
                                                    <th>View Details</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr class="list" th:each="item: ${completeMinistryInspectionItemsViewList}" style="cursor: pointer">
                                                    <td th:text="${item?.cdId}"></td>
                                                    <td th:text="${item?.cdUcr}"></td>
                                                    <td th:text="${item?.chassis}"></td>
                                                    <td th:text="${item?.used}"></td>
                                                    <td th:text="${item?.year}"></td>
                                                    <td th:text="${item?.model}"></td>
                                                    <td th:text="${item?.make}"></td>
                                                    <!--                                        <td><a class="filter-link" th:href="@{/api/di/mv-inspection-checklist-detail(itemId=${item?.cdItemDetailsId?.id})}">View Details</a></td>-->
                                                    <td><a class="filter-link" th:href="@{/api/di/motor-vehicle-inspection-details(itemId=${item?.cdItemDetailsId}, docType=${motorVehicleMinistryInspectionChecklistName})}">View Details</a></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/general-form.html :: scripts"></div>

<script>
    $(document).ready(function() {
        $("#linkOne").click(function(e){
            e.preventDefault();
            $("#completed").removeClass("active");
            $("#ongoing").addClass("active");
        });
        $("#linkTwo").click(function(e){
            e.preventDefault();
            $("#ongoing").removeClass("active");
            $("#completed").addClass("active");
        });

        var table = $('#example').DataTable( {
            lengthChange: false,
            buttons: [ 'copy', 'excel', 'pdf', 'colvis' ]
        } );

        table.buttons().container()
            .appendTo( '#example_wrapper .col-sm-6:eq(0)' );
    } );
</script>

</body>
</html>