.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active, .nav-link.show >.nav-link {
  color: #121212;
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FAA330;
  background-color: #ffffff !important;
}

.nav-pills .nav-link:not(.active) {
  background-color: #ffffff;
  color: black;
}

.rejected-pill {
  background-color: #FCBBBB;
  color: darkred;
  border-radius: 8px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.new-pill {
  background-color: #FCBBBB;
  color: darkred;
  border-radius: 8px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.review-pill {
  background-color: #B4D2E8;
  color: #0066B1;
  border-radius: 8px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.accepted-pill {
  background-color: #C8EADE;
  color: #28A745;
  border-radius: 8px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.rejected-pill {
  background-color: #FCBBBB;
  color: darkred;
  border-radius: 8px;
  width: 50px;
  height: 25px;
  text-align: center;
  font-weight: bold;
}

.resolved-pill {
  background-color: #FEE2BF;
  color: #FAA330;
  border-radius: 8px;
  width: min-content;
  height: 25px;
  text-align: center;
  font-weight: bold;
  padding: 0 10px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 0;
}

table {
  width: 100%;
  margin: 3% 0;
}



