<div class="container-fluid" style="margin-top: 5%">
<div  class="loading-spinner ">
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Saving Please Wait...</p>
</ngx-spinner>
</div>
<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<h4 class="card-title"><b>New Diamond Mark Permit</b></h4>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<div class="material-datatables">
<section class="wizard-section">
<div class="row no-gutters">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="form-wizard">

<div [ngSwitch]="step">
<div *ngSwitchCase="1">
<h2 style="text-align: center"><b>Step</b> <b> 1</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickSaveSTA1(sta1Form.valid)"
[formGroup]="sta1Form" class="form"
enctype="multipart/form-data">
<h4><b>STA 1 Form </b></h4>
<p>I/We the undersigned hereby apply for the grant/renewal
of a permit/ the permit No………… to use the
standardization mark on the commodity specified here
under:
</p>
<div class="row">
<div class="col-3"></div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="commodityDescription">Commodity Description <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<input [class.is-invalid]="formSta1Form.commodityDescription.invalid && formSta1Form.commodityDescription.touched"
type="text" class="form-control"
id="commodityDescription"
formControlName="commodityDescription"
name="commodityDescription"
placeholder="Commodity Description"
required="">
</div>
<div class="form-group col-6">
<label for="tradeMark">Trade Mark <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<input type="text"
[class.is-invalid]="formSta1Form.tradeMark.invalid && formSta1Form.tradeMark.touched"
class="form-control" id="tradeMark"
formControlName="tradeMark" name="tradeMark"
placeholder="Trade Mark" required="">
</div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="applicantName">Applicant Name <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<input type="text"  class="form-control" id="applicantName" formControlName="applicantName" name="applicantName"
placeholder="Applicant Name" ngModel="{{fullname}}"  disabled>
</div>

<div class="form-group col-6">
<label for="inputState">Select Section <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<select id="inputState" class="form-control"
formControlName="sectionId" name="sectionId"
[class.is-invalid]="formSta1Form.sectionId.invalid && formSta1Form.sectionId.touched">
<option selected>Select Section</option>
<option *ngFor="let section of sections"
[ngValue]="section.id"
class="dropdown-item">{{section.section}}</option>
</select>
</div>
</div>

<div class="row">
<div class="form-group col-6">
<label for="permitForeignStatus">Application Type <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<select id="permitForeignStatus"
class="form-control"
formControlName="permitForeignStatus"
name="permitForeignStatus"
[class.is-invalid]="formSta1Form.permitForeignStatus.invalid && formSta1Form.permitForeignStatus.touched" >
<option selected>Select Application</option>
<option [ngValue]="0">DOMESTIC</option>
<option [ngValue]="1">FOREIGN</option>
</select>
</div>
<div class="form-group col-6">
<label for="attachedPlant">Indicate Branch <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<select id="attachedPlant" class="form-control"
formControlName="attachedPlant"
name="attachedPlant"
[class.is-invalid]="formSta1Form.attachedPlant.invalid && formSta1Form.attachedPlant.touched">
    <option selected>Select Branch</option>
<option *ngFor="let plant of plants"
[ngValue]="plant.id"
class="dropdown-item">{{plant.buildingName}}</option>

</select>
</div>

</div>

<div *ngIf="sta1Form.valid && !isLoading"
class="form-group clearfix">
<button type="submit"
class="form-wizard-next-btn btn-sm float-right">
Next
</button>
</div>

<div *ngIf="!sta1Form.valid && !isLoading"
class="form-group clearfix">
<button class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Next
</button>
</div>

<div *ngIf="isLoading" class="form-group clearfix">
<button class="btn btn-sm btn-primary float-right">
<app-loader></app-loader>
</button>
</div>

</form>
</fieldset>
</div>
<div *ngSwitchCase="2">
<h2 style="text-align: center"><b>Step</b> <b> 2</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickSaveSTA3A(sta3FormA.valid)"
[formGroup]="sta3FormA" action="" class="form"
enctype="multipart/form-data" method="post">
<h2>STA3 Form </h2>
<p><b style="color: #d50000">Documents will be uploaded on the last step of STA3 Application</b></p>
<h3>1.Factory Organization</h3>
<h4>1.1 PROCEDURES/PAPER WORK</h4>
<h5>Please give the following information</h5>
<div class="row">
<div class="form-group col-12">
<label for="produceOrdersOrStock">Do you produce against Orders or for Stock? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="produceOrdersOrStock"
formControlName="produceOrdersOrStock"
name="produceOrdersOrStock" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormA.produceOrdersOrStock.invalid && formSta3FormA.produceOrdersOrStock.touched"
required="required"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="issueWorkOrderOrEquivalent">Do you issue a work Order or equivalent?<span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="issueWorkOrderOrEquivalent"
formControlName="issueWorkOrderOrEquivalent"
name="issueWorkOrderOrEquivalent" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormA.issueWorkOrderOrEquivalent.invalid && formSta3FormA.issueWorkOrderOrEquivalent.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="identifyBatchAsSeparate">If so does this identify a batch as separate entity? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="identifyBatchAsSeparate"
formControlName="identifyBatchAsSeparate"
name="identifyBatchAsSeparate" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormA.identifyBatchAsSeparate.invalid && formSta3FormA.identifyBatchAsSeparate.touched"
></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="productsContainersCarryWorksOrder">Do products and/or containers carry works order identification in manufacture?<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="productsContainersCarryWorksOrder"
formControlName="productsContainersCarryWorksOrder"
name="productsContainersCarryWorksOrder"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormA.productsContainersCarryWorksOrder.invalid && formSta3FormA.productsContainersCarryWorksOrder.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="isolatedCaseDoubtfulQuality">If not how does system allow for products to be isolated in case of doubtful quality? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="isolatedCaseDoubtfulQuality"
formControlName="isolatedCaseDoubtfulQuality"
name="isolatedCaseDoubtfulQuality"
rows="3"
placeholder=""
[class.is-invalid]="formSta3FormA.isolatedCaseDoubtfulQuality.invalid && formSta3FormA.isolatedCaseDoubtfulQuality.touched"></textarea>
</div>

</div>
<div *ngIf="sta3FormA.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button type="submit"
class="form-wizard-next-btn btn-sm float-right">
Next
</button>
</div>
<div *ngIf="!sta3FormA.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Next
</button>
</div>
</form>
</fieldset>
</div>
<div *ngSwitchCase="3">
<h2 style="text-align: center"><b>Step</b> <b> 3</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickUpdateSTA3B(sta3FormB.valid)"
[formGroup]="sta3FormB" action="" class="form"
enctype="multipart/form-data" method="post">
<h3>QUALITY CONTROL/INSPECTION STAFF</h3>
<h4><b>Please give the following information on factory QC
staff organization:</b></h4>
<div class="row">
<div class="form-group col-12">
<label for="headQaQualificationsTraining">Head of Quality Assurance, Qualifications, Training etc.<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="headQaQualificationsTraining"
formControlName="headQaQualificationsTraining"
name="headQaQualificationsTraining"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormB.headQaQualificationsTraining.invalid && formSta3FormB.headQaQualificationsTraining.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="reportingTo">Reporting to: <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control" id="reportingTo"
formControlName="reportingTo"
name="reportingTo"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormB.reportingTo.invalid && formSta3FormB.reportingTo.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="separateQcid">Is there a separate Quality Control Inspection Department?<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control" id="separateQcid"
formControlName="separateQcid"
name="separateQcid"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormB.separateQcid.invalid && formSta3FormB.separateQcid.touched"></textarea>
</div>
</div>
<div class="row">
<div class="form-group col-12">
<label for="testsRelevantStandard">If so indicate if staff are aware of the tests in the relevant standard(s)<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="testsRelevantStandard"
formControlName="testsRelevantStandard"
name="testsRelevantStandard" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.testsRelevantStandard.invalid && formSta3FormB.testsRelevantStandard.touched"></textarea>
</div>
</div>
<p><b>Please give the following information on factory QC
staff organization:</b></p>
<div class="row">
<div class="form-group col-12">
<label for="spoComingMaterials">i). In-coming materials? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="spoComingMaterials"
formControlName="spoComingMaterials"
name="spoComingMaterials" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.spoComingMaterials.invalid && formSta3FormB.spoComingMaterials.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="spoProcessOperations">ii). In process operations?<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="spoProcessOperations"
formControlName="spoProcessOperations"
name="spoProcessOperations" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.spoProcessOperations.invalid && formSta3FormB.spoProcessOperations.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="spoFinalProducts">iii). Final Products? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control" id="spoFinalProducts"
formControlName="spoFinalProducts"
name="spoFinalProducts" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.spoFinalProducts.invalid && formSta3FormB.spoFinalProducts.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="monitoredQcs">if so are they monitored by Quality Control Staff? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control" id="monitoredQcs"
formControlName="monitoredQcs"
name="monitoredQcs"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormB.monitoredQcs.invalid && formSta3FormB.monitoredQcs.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="qauditChecksCarried">Are Quality Audit checks carried out and by whom? <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="qauditChecksCarried"
formControlName="qauditChecksCarried"
name="qauditChecksCarried" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.qauditChecksCarried.invalid && formSta3FormB.qauditChecksCarried.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="informationQcso">Please give any other information on quality Control Staff Organization <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control" id="informationQcso"
formControlName="informationQcso"
name="informationQcso" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormB.informationQcso.invalid && formSta3FormB.informationQcso.touched"></textarea>
</div>

</div>
<div *ngIf="sta3FormB.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button type="submit"
class="form-wizard-next-btn btn-sm float-right">
Next
</button>
</div>
<div *ngIf="!sta3FormB.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Next
</button>
</div>

</form>
</fieldset>
</div>
<div *ngSwitchCase="4">
<h2 style="text-align: center"><b>Step</b> <b> 4</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickUpdateSTA3C(sta3FormC.valid)"
[formGroup]="sta3FormC" action="" class="form"
enctype="multipart/form-data" method="post">
<h3>MATERIALS OR COMPONENTS:</h3>
<h4>PURCHASE SPECIFICATION/MATERIALS QUALITY ASSURANCE</h4>

<div class="row">
<div class="form-group col-12">
<label for="mainMaterialsPurchasedSpecification">Please detail main materials purchased, specification(s) used and major supplies involved.  <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="mainMaterialsPurchasedSpecification"
formControlName="mainMaterialsPurchasedSpecification"
name="mainMaterialsPurchasedSpecification"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormC.mainMaterialsPurchasedSpecification.invalid && formSta3FormC.mainMaterialsPurchasedSpecification.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="adoptedReceiptMaterials">Please also give quality assurance method adopted on receipt of materials, or components indicating action taken on rejects <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="adoptedReceiptMaterials"
formControlName="adoptedReceiptMaterials"
name="adoptedReceiptMaterials" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormC.adoptedReceiptMaterials.invalid && formSta3FormC.adoptedReceiptMaterials.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="storageFacilitiesExist">What storage facilities exist for in-coming materials and finished products?  <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="storageFacilitiesExist"
formControlName="storageFacilitiesExist"
name="storageFacilitiesExist" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormC.storageFacilitiesExist.invalid && formSta3FormC.storageFacilitiesExist.touched"></textarea>
</div>

</div>
<div *ngIf="sta3FormC.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button type="submit"
class="form-wizard-next-btn btn-sm float-right">
Next
</button>
</div>
<div *ngIf="!sta3FormC.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Next
</button>
</div>
</form>
</fieldset>
</div>
<div *ngSwitchCase="5">
<h2 style="text-align: center"><b>Step</b> <b> 5</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickUpdateSTA3D(sta3FormD.valid)"
[formGroup]="sta3FormD" action="" class="form"
enctype="multipart/form-data" method="post">
<h3>MANUFACTURE</h3>
<h4>SYSTEM</h4>
<div class="row">
<div class="form-group col-12">
<label for="stepsManufacture">Please detail various steps in manufacture – A production schedule and /or supplement in chart form showing stages, which may be advantageous <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control" id="stepsManufacture"
formControlName="stepsManufacture"
name="stepsManufacture" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.stepsManufacture.invalid && formSta3FormD.stepsManufacture.touched"></textarea>
</div>

</div>
<h3>MAINTENANCE SYSTEM – PLANT AND EQUIPMENT</h3>
<div class="row">
<div class="form-group col-12">
<label for="maintenanceSystem">What maintenance
system is in operation? </label>
<textarea class="form-control"
id="maintenanceSystem"
formControlName="maintenanceSystem"
name="maintenanceSystem" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.maintenanceSystem.invalid && formSta3FormD.maintenanceSystem.touched"></textarea>
</div>

</div>
<h3>QUALITY CONTROL AND TESTING</h3>
<p>SYSTEM</p>
<div class="row">
<div class="form-group col-12">
<label for="qcsSupplement">Please detail Quality Control System, including sampling followed with particular reference to the tests in the relevant Standard. A quality Control
Schedule or supplement cross-reference to Chart required in 3.1 is advantageous <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control" id="qcsSupplement"
formControlName="qcsSupplement"
name="qcsSupplement"
rows="3" placeholder=""
[class.is-invalid]="formSta3FormD.qcsSupplement.invalid && formSta3FormD.qcsSupplement.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="qmInstructions">Please attach a copy of the Quality Manual or instructions on Quality Control issued to staff.<span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control" id="qmInstructions"
formControlName="qmInstructions"
name="qmInstructions" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.qmInstructions.invalid && formSta3FormD.qmInstructions.touched"></textarea>
</div>

</div>
<h3>TEST EQUIPMENT/INSTRUMENTS, GAUGES AND TOOLS.</h3>
<div class="row">
<div class="form-group col-12">
<label for="testEquipmentUsed">Please detail test equipment used and if any of the production or test equipment are calibrated?<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="testEquipmentUsed"
formControlName="testEquipmentUsed"
name="testEquipmentUsed" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.testEquipmentUsed.invalid && formSta3FormD.testEquipmentUsed.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="indicateExternalArrangement">Indicate External arrangement for testing if any <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="indicateExternalArrangement"
formControlName="indicateExternalArrangement"
name="indicateExternalArrangement"
rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.indicateExternalArrangement.invalid && formSta3FormD.indicateExternalArrangement.touched"></textarea>
</div>

</div>
<h3>RECORDS AND DOCUMENTATION</h3>
<h4>COMPLIANCE TO SPECIFICATION</h4>
<div class="row">
<div class="form-group col-12">
<label for="levelDefectivesFound">Please indicate
level of defectives found in past six month. If
tests
in accordance with the relevant
standard(s) have already been carried out attach
copies of test reports if available. <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="levelDefectivesFound"
formControlName="levelDefectivesFound"
name="levelDefectivesFound" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.levelDefectivesFound.invalid && formSta3FormD.levelDefectivesFound.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="levelClaimsComplaints">Please indicate
the level of claims/complaints made under
warranty and/or otherwise and also give as a
percentage of total out put.  <span style="font-size: xx-small; color: red;">(*)Required</span></label>

<textarea class="form-control"
id="levelClaimsComplaints"
formControlName="levelClaimsComplaints"
name="levelClaimsComplaints" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.levelClaimsComplaints.invalid && formSta3FormD.levelClaimsComplaints.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="independentTests">Have
independent tests been made on products against
the
standard? By whom? Please attach
copies if available. <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control" id="independentTests"
formControlName="independentTests"
name="independentTests" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.independentTests.invalid && formSta3FormD.independentTests.touched"></textarea>
</div>

</div>
<h3>AFFIXATION ON MARK OF CONFORMITY</h3>
<div class="row">
<div class="form-group col-12">
<label for="independentTests">Please attach an
illustration and indicate method e.g. special
label,
Embossing etc. which will be used
to affix the Mark of Conformity. Please indicate
at which stage of manufacture the Mark of
Conformity
will be affixed. <span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea class="form-control"
id="indicateStageManufacture"
formControlName="indicateStageManufacture"
name="indicateStageManufacture" rows="3"
placeholder=""
[class.is-invalid]="formSta3FormD.indicateStageManufacture.invalid && formSta3FormD.indicateStageManufacture.touched"></textarea>
</div>

</div>
<div *ngIf="sta3FormD.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button type="submit"
class="form-wizard-next-btn btn-sm float-right">
Next
</button>
</div>
<div *ngIf="!sta3FormD.valid" class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger form-wizard-previous-btn">
Previous
</button>
<button class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Next
</button>
</div>

</form>
</fieldset>
</div>
<div *ngSwitchCase="6">
<h2 style="text-align: center"><b>Step</b> <b> 6</b><b> of</b> <b>
6</b></h2>
<fieldset class="wizard-fieldset show">
    <h3>Upload the following documents:</h3>
<ul>
<li *ngIf="sta1.permitForeignStatus == 1">
COC Document
</li>
<li>Premise Photos</li>
<li>Other Supporting Documents</li>
</ul>
<form #demoForm="ngForm">
<file-upload [(ngModel)]="uploadedFiles" name="files"
fileslimit="2"></file-upload>
</form>

<div class="form-group clearfix">
<button (click)="onClickPrevious()"
class="btn btn-sm btn-danger">Previous
</button>
<button (click)="goToPermit()" type="submit"
class="form-wizard-next-btn btn-sm float-right">
Finish
</button>
</div>
</fieldset>
</div>
</div>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
