<h2 mat-dialog-title>Generate Demand Note for Consignment</h2>
<mat-dialog-content>
    <div class="row no_margin">
        <div class="col-sm-12 col-md-11" *ngIf="this.items && this.items.length>0">
            <p class="text-blue-dark">Consignment Items</p>
            <mat-table [dataSource]="selectionDataSource">
                <ng-container matColumnDef="select">
                    <mat-header-cell *matHeaderCellDef>
                        <mat-checkbox (change)="$event ? masterToggle() : null"
                                      [checked]="selection.hasValue() && isAllSelected()"
                                      [indeterminate]="selection.hasValue() && !isAllSelected()">
                        </mat-checkbox>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-checkbox (click)="$event.stopPropagation()"
                                      (change)="selectionChanged($event,row)"
                                      [checked]="selection.isSelected(row)">
                        </mat-checkbox>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="hsCode">
                    <mat-header-cell *matHeaderCellDef>HS Code</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.itemHsCode}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="quantity">
                    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.quantity ? row.quantity : 'NA'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="currency">
                    <mat-header-cell *matHeaderCellDef>Currency Code</mat-header-cell>
                    <mat-cell
                            *matCellDef="let row"> {{row.foreignCurrencyCode ? row.foreignCurrencyCode : 'NA'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="unit_price">
                    <mat-header-cell *matHeaderCellDef>Total Amount(NCY)</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.unitPriceNcy ? row.totalPriceNcy : '0'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="price">
                    <mat-header-cell *matHeaderCellDef>Total Amount(FCY)</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.totalPriceFcy ? row.totalPriceFcy : '0'}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="details">
                    <mat-header-cell *matHeaderCellDef>HS Cde Description</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.itemHsCodeDescription}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="description">
                    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.itemDescription}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="pricing">
                    <mat-header-cell *matHeaderCellDef>Select pricing</mat-header-cell>
                    <mat-cell [attr.colspan]="2" *matCellDef="let row">
                        <mat-form-field>
                            <mat-select [hidden]="!selection.isSelected(row)"
                                        (click)="changePricing(row,$event)"
                                        [(value)]="row.feeId"
                                        (selectionChange)="changePricing(row,$event)">
                                <mat-option [value]="">None</mat-option>
                                <mat-option *ngFor="let d of paymentFees" [value]="d">{{d.description}}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
        <div class="col-sm-12 col-md-11" *ngIf="presentmentData">
            <p class="text-blue-dark">Pricing Applied</p>
            <div class="separator-gray w-100"></div>
            <mat-table [dataSource]="itemPricingDataSource">
                <ng-container matColumnDef="feeName">
                    <mat-header-cell *matHeaderCellDef>FEE NAME</mat-header-cell>
                    <mat-cell ng-class="small" *matCellDef="let row"> {{row.feeName}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="cfvalue">
                    <mat-header-cell *matHeaderCellDef>CFS VALUE</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.cfvalue ? (row.cfvalue| money) : ""}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="rate">
                    <mat-header-cell *matHeaderCellDef>RATE</mat-header-cell>
                    <mat-cell
                            *matCellDef="let row"> {{row.rateType == 'PERCENTAGE' ? row.rate + "%" : (row.rate| money)}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="amountPayable">
                    <mat-header-cell *matHeaderCellDef>CALCULATED AMOUNT</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.amountPayable | money}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="minimumAmount">
                    <mat-header-cell *matHeaderCellDef>MIN AMOUNT</mat-header-cell>
                    <mat-cell
                            *matCellDef="let row"> {{row.minimumAmount ? (row.minimumAmount | money) : ""}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="maximumAmount">
                    <mat-header-cell *matHeaderCellDef>MAX AMOUNT</mat-header-cell>
                    <mat-cell
                            *matCellDef="let row"> {{row.maximumAmount ? (row.maximumAmount | money) : ""}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="adjustedAmount">
                    <mat-header-cell *matHeaderCellDef>PAYABLE AMOUNT</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{row.adjustedAmount | money}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="pricingDisplayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: pricingDisplayedColumns;"></mat-row>
            </mat-table>
        </div>
        <!--        <div class="col-sm-12 col-md-11" *ngIf="presentmentData">-->
        <!--            <label class="waiver-form-label">CD PAYABLE AMOUNT: {{presentmentData.demandNote.totalAmount | money}}</label>-->
        <!--            <label class="waiver-form-label">CD ADJUSTED AMOUNT: {{presentmentData.demandNote.amountPayable| money}}</label>-->
        <!--        </div>-->
        <div class="col-sm-12 col-md-11" *ngIf="items && items.length==0">
            <label for="fcorDemandAmount" class="waiver-form-label">Total Amount</label>
            <input id="fcorDemandAmount" class="waiver-form-input-master" formControlName="amount">
        </div>
        <div class="col-sm-12 col-md-11" [formGroup]="form">
            <label for="sendDemandNoteRemarks" class="waiver-form-label">Please write, in detail, your feedback for this
                consignment:</label>
            <textarea id="sendDemandNoteRemarks" class="waiver-form-input-master"
                      formControlName="remarks"></textarea>
        </div>

    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid || invalidFeeSelection || saveDisabled" class="next-btn btn-gen new-btn"
                (click)="saveRecord(false)">SAVE
            <mat-spinner [diameter]="20" color="warn" *ngIf="saveDisabled"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>