/*.mat-footer-row,*/
/*.mat-header-row,*/
/*.mat-row {*/
/*    display: inline-flex;*/
/*    min-width: 100%;*/
/*}*/

::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
}

::ng-deep .cdk-global-overlay-wrapper {
    z-index: 1000 !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 1050 !important;
    position: absolute;
}

/*
* https://github.com/angular/components/issues/12779
 */
::ng-deep .mat-option-text.mat-option-text {
    white-space: normal;
    /*font-size: 0.7em;*/
}
::ng-deep .mat-select-panel {
    max-width: none;
}
::ng-deep .mat-select-panel mat-option.mat-option {
    margin: 1rem 0;
    height: unset;
    overflow: visible;
    line-height: initial;
    word-wrap: break-word;
    white-space: pre-wrap;
}
