/*.mat-footer-row,*/
/*.mat-header-row,*/
/*.mat-row {*/
/*    display: inline-flex;*/
/*    min-width: 100%;*/
/*}*/

::ng-deep .cdk-overlay-connected-position-bounding-box {
    z-index: 10000 !important;
}

::ng-deep .cdk-global-overlay-wrapper {
    z-index: 1000 !important;
}
.cdk-overlay-container, .cdk-overlay-pane {
    z-index: 1050 !important;
    position: absolute;
}