<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Tasks <span class="badge badge-primary">{{tasks.length}}</span>
                            </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div *ngIf="displayTable"  class="material-datatables table-responsive">
                                <table  class="table table-striped table-bordered table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="knw">Request Number</th>
                                        <th class="knw">KNW Committee</th>
                                        <th class="department">Department</th>
                                        <th class="issuesAddressed">Cost</th>
                                        <th class="requestNumber">Number of Meetings</th>
                                        <th class="sl">Identified Need</th>
                                        <th class="referenceMaterial" style="width: fit-content">Remarks</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let task of tasks  let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{task.taskData.requestNumber}}</td>
                                        <td>{{task.taskData.knwCommittee}}</td>
                                        <td>{{task.taskData.departmentName}}</td>
                                        <td>{{task.taskData.cost}}</td>
                                        <td>{{task.taskData.numberOfMeetings}}</td>
                                        <td>{{task.taskData.identifiedNeed}}</td>
                                        <td style="width: fit-content">{{task.taskData.comments}}</td>
                                        <td><button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.taskData.ID,'DI-Justification'+task.taskData.ID, 'application/pdf')" target="_blank" class="btn btn-info btn-sm ">
                                            <i class="material-icons">visibility</i>

                                        </button>
                                        </td>
                                        <td *ngIf="task.name ==='Prepare Preliminary Draft'"><a  (click)="onOpenModal(task,'preparePD')" class="btn btn-info btn-sm tooltips" data-placement="top"  data-original-title="preparePD">Prepare Preliminary Draft</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                 <div class="modal fade" id="prepPd" tabindex="-1" role="dialog" aria-labelledby="PdExampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="PdExampleModalLabel">Prepare Preliminary Draft</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="uploadPreliminaryDraft()" [formGroup]="preparePreliminaryDraftFormGroup" class="form">
                                                <div class="modal-body">
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Title <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.title.invalid && formPreparePD.title.touched"
                                                                   class="form-control"  formControlName="title" name="title" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Scope <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.scope.invalid && formPreparePD.scope.touched"
                                                                   class="form-control"  formControlName="scope" name="scope" type="text">
                                                        </div>

                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Normative Reference <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.normativeReference.invalid && formPreparePD.normativeReference.touched"
                                                                   class="form-control"  formControlName="normativeReference" name="normativeReference" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Symbols Abbreviated Terms<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.symbolsAbbreviatedTerms.invalid && formPreparePD.symbolsAbbreviatedTerms.touched"
                                                                   class="form-control"  formControlName="symbolsAbbreviatedTerms" name="symbolsAbbreviatedTerms" type="text">
                                                        </div>

                                                    </div>
                                                    <div class="row col-12">

                                                        <div class="form-group col-6">
                                                            <label>Clause<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.clause.invalid && formPreparePD.clause.touched"
                                                                   class="form-control"  formControlName="clause" name="clause" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Special<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.special.invalid && formPreparePD.special.touched"
                                                                   class="form-control"  formControlName="special" name="special" type="text">
                                                        </div>

                                                    </div>

                                                    <div class="row col-12">
                                                        <div class="form-group col-12">
                                                            <label><b>Upload Preliminary Draft  </b> <span style="font-size: xx-small; color: red;">(*)Required</span></label><br>
                                                            <form #demoForm="ngForm">
                                                                <input type="file" name="uploadedFiles" [(ngModel)]="uploadedFiles"  multiple>
                                                                <file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"   fileslimit="2" accept=".pdf" ></file-upload>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                                <input type="hidden" ngModel="{{actionRequest?.taskId}}" formControlName="taskId" name="taskId"  >
                                                <input type="hidden" ngModel="{{actionRequest?.taskData?.ID}}" formControlName="diJNumber" name="diJNumber" value="{{actionRequest?.taskData?.ID}}"  >

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                    <button *ngIf="preparePreliminaryDraftFormGroup.valid" [disabled]="!preparePreliminaryDraftFormGroup.valid" class="btn btn-sm btn-primary float-right" type="submit">Save</button>
                                                    <button *ngIf="!preparePreliminaryDraftFormGroup.valid" class="btn btn-sm btn-primary float-right"
                                                            (click)="showNotification('top','right')">Save
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
