<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="example-stretched-tabs mat-elevation-z4">
                <ul class=" tabs-container nav nav-pills nav-pills-rose nav-pills-icons justify-content-center "
                    style=" border-bottom: 1px solid #ccc;"
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#link7" role="tablist">
                            <i class="material-icons">info</i> Review
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
                            <i class="material-icons">comment</i> Previous Comments
                        </a>
                    </li>

                </ul>
                <div class="tab-content tab-space tab-subcategories">
                    <div class="tab-pane active" id="link7">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primary card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">assignment</i>
                                        </div>
                                        <h4 class="card-title">Vote On Ballot Draft
                                        </h4>

                                    </div>
                                    <div class="card-body">
                                        <div class="toolbar">

                                        </div>

                                        <h4 class="card-title">All Ballot Drafts
                                        </h4>
                                        <div class="material-datatables">
                                            <table class="table table-striped table-bordered table-hover"
                                                   datatable
                                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">
                                                <thead>
                                                <tr>
                                                    <th class="id">Ballot Draft ID</th>
                                                    <th class="task">Ballot Draft Name</th>
                                                    <th class="action">View</th>
                                                    <th class="action">Action</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let ballotDraft of ballotDrafts let i= index; ">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{ballotDraft.ballot_name}}</td>
                                                    <td>
                                                        <button class="btn btn-secondary tooltips"
                                                                (click)="
                                                                viewPdfFile( ballotDraft.id,ballotDraft.ballot_name, 'application/pdf','Ballot Document')"
                                                                data-placement="top"
                                                                data-original-title="Upload NWI"><i
                                                                class="fa fa-download"></i> Download
                                                            Ballot Draft
                                                        </button>
                                                    </td>

                                                    <td>
                                                        <a (click)="onOpenModal(ballotDraft,'makeComment')"
                                                           class="btn btn-info tooltips"
                                                           data-placement="top"
                                                           data-original-title="Make Comment">
                                                            Vote</a>
                                                        <br>

                                                    </td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="modal fade " id="makeComment" tabindex="-1"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-xl" role="document"
                                                 style="width: 100%">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="updateExampleModalLabelB">
                                                            Vote On Ballot Draft</h5>
                                                        <button type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row col-12">
                                                            <div class="form-group col-12">
                                                                <form (ngSubmit)="saveComment()"
                                                                      [formGroup]="commentFormGroup"
                                                                      class="form">
                                                                    <div class="form-body">

                                                                        <div class="row col-12">
                                                                            <div class="form-group col-12">
                                                                                <label><b>Do You Approve
                                                                                    The Draft For
                                                                                    Publication?</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <div class="col-sm-12 checkbox-radios">

                                                                                    <mat-radio-group
                                                                                            aria-labelledby="example-radio-group-label"
                                                                                            class="example-radio-group"
                                                                                            formControlName="approvalStatus"
                                                                                            name="approvalStatus">
                                                                                        <div class="col-sm-12">

                                                                                            <mat-radio-button
                                                                                                    aria-describedby="inputGroup-sizing-sm"
                                                                                                    aria-label="Small"
                                                                                                    value="1">
                                                                                                Approve

                                                                                            </mat-radio-button>
                                                                                        </div>

                                                                                        <div class="col-sm-12">

                                                                                            <mat-radio-button
                                                                                                    aria-describedby="inputGroup-sizing-sm"
                                                                                                    aria-label="Small"
                                                                                                    value="2">
                                                                                                Approve
                                                                                                With
                                                                                                Comments
                                                                                            </mat-radio-button>
                                                                                        </div>
                                                                                        <div class="col-sm-12">

                                                                                            <mat-radio-button
                                                                                                    aria-describedby="inputGroup-sizing-sm"
                                                                                                    aria-label="Small"
                                                                                                    value="3">
                                                                                                Disapprove
                                                                                                With
                                                                                                Comments

                                                                                            </mat-radio-button>
                                                                                        </div>
                                                                                        <div class="col-sm-12">

                                                                                            <mat-radio-button
                                                                                                    aria-describedby="inputGroup-sizing-sm"
                                                                                                    aria-label="Small"
                                                                                                    value="4">
                                                                                                Abstention

                                                                                            </mat-radio-button>
                                                                                        </div>
                                                                                    </mat-radio-group>


                                                                                </div>


                                                                                <div class="form-group col-12">
                                                                                    <label><b>Reasons</b></label>
                                                                                    <textarea
                                                                                            formControlName="comment"
                                                                                            aria-describedby="inputGroup-sizing-sm"
                                                                                            aria-label="Small"
                                                                                            class="form-control one-column-input"
                                                                                            name="comment"
                                                                                            placeholder="Reasons for the vote"
                                                                                            type="text"></textarea>


                                                                                </div>
                                                                            </div>


                                                                        </div>


                                                                        <input type="hidden"
                                                                               formControlName="ballotId"
                                                                               name="ballotId"
                                                                               ngModel="{{ballotDraftB?.id}}">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                #closeModal
                                                                (click)="hideModel()"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button class="btn btn-primary"
                                                                mat-raised-button
                                                                (click)="saveComment()"
                                                                *ngIf="commentFormGroup.valid"
                                                                type="button">VOTE
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="link8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primary card-header-icon">
                                        <div class="card-icon">
                                            <i class="material-icons">schedule</i>
                                        </div>
                                        <h4 class="card-title">Previous Votes
                                        </h4>

                                    </div>
                                    <div class="card-body">
                                        <div class="toolbar">

                                        </div>

                                        <h4 class="card-title">All Votes
                                        </h4>

                                        <div class="material-datatables">
                                            <table class="table table-striped table-bordered table-hover"
                                                   datatable
                                                   [dtOptions]="dtOptions" [dtTrigger]="dtTrigger2">
                                                <thead>
                                                <tr>
                                                    <th class="id">ID</th>
                                                    <th class="task">Ballot Draft Name</th>
                                                    <th class="action">Vote</th>
                                                    <th class="action">Comment</th>

                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr *ngFor="let commentMadeRetrieved of commentMadeRetrievedS let i= index; ">
                                                    <td>{{i + 1}}</td>
                                                    <td>{{commentMadeRetrieved.ballot_name}}</td>
                                                    <td>
                                                        <div class="timeline-body">
                                                            <ng-template
                                                                    [ngIf]=" commentMadeRetrieved.approval_STATUS==1">
                                                                <p>Approved</p>
                                                            </ng-template>
                                                            <ng-template
                                                                    [ngIf]=" commentMadeRetrieved.approval_STATUS==2">
                                                                <p>Approved With Comments</p>
                                                            </ng-template>
                                                            <ng-template
                                                                    [ngIf]=" commentMadeRetrieved.approval_STATUS==3">
                                                                <p>Disapproved With Comments</p>
                                                            </ng-template>
                                                            <ng-template
                                                                    [ngIf]=" commentMadeRetrieved.approval_STATUS==4">
                                                                <p>Abstention</p>
                                                            </ng-template>
                                                            <!--                                                                            <button mat-raised-button type="button"-->
                                                            <!--                                                                                    (click)="onOpenModalB(commentMadeRetrieved,'editComment')"-->
                                                            <!--                                                                                    class="btn btn-primary btn-link btn-sm">-->
                                                            <!--                                                                                <i class="material-icons">edit</i>-->
                                                            <!--                                                                            </button>-->
                                                            <!--                                                                            <button mat-raised-button type="button"-->
                                                            <!--                                                                                    (click)="deleteComment(commentMadeRetrieved)"-->
                                                            <!--                                                                                    class="btn btn-danger btn-link btn-sm">-->
                                                            <!--                                                                                <i class="material-icons">close</i>-->
                                                            <!--                                                                            </button>-->
                                                        </div>
                                                    </td>
                                                    <td>{{commentMadeRetrieved.comments}}</td>


                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>


                                        <div class="modal fade " id="editComment" tabindex="-1"
                                             role="dialog" aria-hidden="true">
                                            <div class="modal-dialog modal-lg modal-xl" role="document"
                                                 style="width: 100%">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title"
                                                            id="updateExampleModalLabel">
                                                            Edit Comment On Ballot Draft</h5>
                                                        <button type="button" class="close"
                                                                data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <div class="row col-12">
                                                            <div class="form-group col-12">
                                                                <form (ngSubmit)="editComment()"
                                                                      [formGroup]="editCommentFormGroup"
                                                                      class="form">
                                                                    <div class="form-body">

                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>Title</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.title.invalid && formEditComment.title.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="title"
                                                                                        name="title"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.title}}"
                                                                                        placeholder="Title"
                                                                                        type="text">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Document
                                                                                    Type</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.documentType.invalid && formEditComment.documentType.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="documentType"
                                                                                        name="documentType"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.document_type}}"
                                                                                        placeholder="Document Type"
                                                                                        type="text">
                                                                            </div>


                                                                        </div>
                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>Circulation
                                                                                    Date</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.circulationDate.invalid && formEditComment.circulationDate.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="circulationDate"
                                                                                        name="circulationDate"
                                                                                        ngModel="{{formatFormDate(this.commentMadeRetrievedB?.circulation_date.toString().split(' ')[0])}}"
                                                                                        placeholder="Circulation Date"
                                                                                        type="date">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Closing
                                                                                    Date</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.closingDate.invalid && formEditComment.closingDate.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="closingDate"
                                                                                        name="closingDate"
                                                                                        ngModel="{{formatFormDate(this.commentMadeRetrievedB?.closing_date.toString().split(' ')[0])}}"
                                                                                        placeholder="Closing Date"
                                                                                        type="date">
                                                                            </div>


                                                                        </div>
                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>Organization
                                                                                </b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.organization.invalid && formEditComment.organization.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="organization"
                                                                                        name="organization"
                                                                                        placeholder="Organization"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.organization}}"

                                                                                        type="text">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Clause
                                                                                </b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.clause.invalid && formEditComment.clause.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="clause"
                                                                                        name="clause"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.clause}}"

                                                                                        placeholder="Clause"
                                                                                        type="text">
                                                                            </div>


                                                                        </div>
                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>Paragraph/Figure/Table
                                                                                </b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        oninput="this.value = this.value.toUpperCase()"
                                                                                        [class.is-invalid]="formEditComment.paragraph.invalid && formEditComment.paragraph.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="paragraph"
                                                                                        name="paragraph"
                                                                                        placeholder="Paragraph"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.paragraph}}"

                                                                                        type="text">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Type Of
                                                                                    Comment
                                                                                </b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <select aria-label="Small"
                                                                                        aria-describedby="inputGroup-sizing-lg"
                                                                                        class="form-control"
                                                                                        required
                                                                                        formControlName="commentType"
                                                                                        name="commentType"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.comment_type}}"
                                                                                        [class.is-invalid]="formEditComment.commentType.invalid && formEditComment.commentType.touched">
                                                                                    <option selected>
                                                                                        {{this.commentMadeRetrievedB?.comment_type}}
                                                                                    </option>
                                                                                    <option value="General">
                                                                                        General
                                                                                    </option>
                                                                                    <option value="Technical">
                                                                                        Technical
                                                                                    </option>
                                                                                    <option value="Editorial">
                                                                                        Editorial
                                                                                    </option>

                                                                                </select>
                                                                            </div>


                                                                        </div>
                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>Comment</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        [class.is-invalid]="formEditComment.commentsMade.invalid && formEditComment.commentsMade.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="commentsMade"
                                                                                        name="commentsMade"
                                                                                        placeholder="Comment"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.comments_made}}"

                                                                                        type="text">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Proposed
                                                                                    Change</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        [class.is-invalid]="formEditComment.proposedChange.invalid && formEditComment.proposedChange.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="proposedChange"
                                                                                        name="proposedChange"
                                                                                        placeholder="Proposed Change"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.proposed_change}}"

                                                                                        type="text">
                                                                            </div>


                                                                        </div>
                                                                        <div class="row col-12">
                                                                            <div class="form-group col-6">
                                                                                <label><b>TC
                                                                                    Observation</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <input
                                                                                        [class.is-invalid]="formEditComment.observation.invalid && formEditComment.observation.touched"
                                                                                        aria-describedby="inputGroup-sizing-sm"
                                                                                        aria-label="Small"
                                                                                        class="form-control one-column-input"
                                                                                        formControlName="observation"
                                                                                        name="observation"
                                                                                        placeholder="TC Observation"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.observation}}"

                                                                                        type="text">
                                                                            </div>
                                                                            <div class="form-group col-6">
                                                                                <label><b>Recipient</b><span
                                                                                        style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                                                <select aria-label="Small"
                                                                                        aria-describedby="inputGroup-sizing-lg"
                                                                                        class="form-control"
                                                                                        required
                                                                                        formControlName="recipientId"
                                                                                        name="recipientId"
                                                                                        ngModel="{{this.commentMadeRetrievedB?.recipient_id}}"
                                                                                        [class.is-invalid]="formEditComment.recipientId.invalid && formEditComment.recipientId.touched">
                                                                                    <option selected
                                                                                            value="{{this.commentMadeRetrievedB?.recipient_id}}">
                                                                                        {{this.commentMadeRetrievedB?.received_by}}
                                                                                    </option>
                                                                                    <option value="23">
                                                                                        Mike Owiti
                                                                                    </option>


                                                                                </select>
                                                                            </div>


                                                                        </div>

                                                                        <input type="hidden"
                                                                               formControlName="id"
                                                                               name="id"
                                                                               ngModel="{{commentMadeRetrievedB?.commentsId}}">
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                #closeModalB
                                                                (click)="hideModelB()"
                                                                data-dismiss="modal">Close
                                                        </button>
                                                        <button class="btn btn-primary"
                                                                mat-raised-button
                                                                (click)="editComment()"
                                                                type="button">EDIT
                                                        </button>
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

