<h2 mat-dialog-title>Compliance Status</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-8">
            <label for="compliantStatus" class="waiver-form-label">Compliant Status</label>
            <select id="compliantStatus" name="compliantStatus" class="waiver-form-input-master"
                    formControlName="compliantStatus">
                <option value="" disabled selected>Compliant Status</option>
                <option value="1">Compliant</option>
                <option value="0">Not Compliant</option>
            </select>
            <label for="documentType" class="waiver-form-label">Document Type</label>
            <select id="documentType" name="compliantStatus" class="waiver-form-input-master"
                    formControlName="documentType">
                <option value="" disabled selected>Select Certificate</option>
                <option value="COC" [hidden]="corRequest">COC</option>
                <option value="COI" [hidden]="corRequest">COI</option>
                <option value="COR" [hidden]="cocRequest">Certificate Of Roadworthiness</option>

            </select>
            <label for="compliantRemarks" class="waiver-form-label">Please write, in detail, your feedback for this
                consignment:</label>
            <textarea id="compliantRemarks" class="waiver-form-input-master" placeholder=""
                      formControlName="remarks"></textarea>
            <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid" class="next-btn btn-gen new-btn" (click)="saveRecord()">SAVE
        </button>
    </div>
</mat-dialog-actions>