<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-title float-left"><button type="button" class="btn btn-sm btn-info" style="color: white; font-weight: bold; width: auto;">
                                Adoption Proposal for International Standard
                            </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables table-responsive">
                                <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                    <th class="knw">Name</th>
                                    <th class="knw">Standard Number</th>
                                    <th class="knw">Title</th>
                                    <th class="knw">Date of Circulation</th>
                                    <th class="knw">Closing Date</th>
                                    <th class="knw">Deadline</th>
                                    <th class="knw">URL</th>
<!--                                    <th class="knw">No. Of Comments</th>-->
                                    <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let isAdoptionProposal of isAdoptionProposals let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{isAdoptionProposal.docName}}</td>
                                        <td>{{isAdoptionProposal.standardNumber}}</td>
                                        <td>{{isAdoptionProposal.title}}</td>
                                        <td>{{isAdoptionProposal.circulationDate | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{isAdoptionProposal.closingDate | date: 'yyyy-MM-dd'}}</td>
                                        <td>{{isAdoptionProposal.deadlineDate | date: 'yyyy-MM-dd'}}</td>
                                        <td><a href="{{isAdoptionProposal.adoptionLink }}" target="_blank">{{isAdoptionProposal.adoptionLink }}</a></td>
<!--                                        <td>{{isAdoptionProposal.noOfComments}}</td>-->
                                        <td *ngIf="isAdoptionProposal.stStatus==0"><a  (click)="onOpenModal(isAdoptionProposal,'comment',isAdoptionProposal.draftId)" class="btn btn-info btn-sm tooltips" data-placement="top" style="width: 200px" data-original-title="Approve"> Make Comment</a></td>
                                        <td *ngIf="isAdoptionProposal.stStatus==1"><a  (click)="onOpenModal(isAdoptionProposal,'comments',isAdoptionProposal.draftId)" class="btn btn-warning btn-sm tooltips" data-placement="top" style="width: 200px" data-original-title="Approve">You have commented</a></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentExampleModalLabel" aria-hidden="true">a
                                    <div class="modal-dialog modal-xl " role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="logo"><a class="simple-text logo-mini">
                                                    <div class="logo-img"><img src="/assets/img/white_logo.png" alt="kebs_logo" style="width: 90px;"></div>
                                                </a></div>
                                                <h2 class="modal-title" >KENYA BUREAU OF STANDARDS </h2>
                                                <button type="button" #closeModalComment class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-header"><h3 class="modal-title">ADOPTION PROPOSAL</h3></div>
                                            <form (ngSubmit)="onSubmit()" [formGroup]="uploadCommentsFormGroup" class="form">
                                                <div class="modal-body">

                                                    <div class="form-group col-12">
                                                        <label><b>Document Type</b></label>
                                                        <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                  class="form-control one-column-input" value="{{actionRequest?.docName}}" name="commentDocumentType" formControlName="commentDocumentType"
                                                                  placeholder="Document Type" type="text" disabled></textarea>
                                                    </div>
                                                    <div class="row">
                                                        <div class="form-group col-6">
                                                            <label><b>Circulation Date</b></label>
                                                            <input aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                   class="form-control one-column-input" value="{{actionRequest?.circulationDate | date: 'yyyy-MM-dd'}}" name="circulationDate" formControlName="circulationDate"
                                                                   placeholder="Document Type" type="text" disabled>

                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label><b>Closing Date</b></label>
                                                            <input aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                   class="form-control one-column-input" value="{{actionRequest?.closingDate | date: 'yyyy-MM-dd'}}" name="closingDate" formControlName="closingDate"
                                                                   placeholder="Document Type" type="text" disabled>

                                                        </div>
                                                    </div>
                                                    <div class="form-group col-12">
                                                        <label><b>TC Secretary</b></label>
                                                        <h4>This form shall be filled, signed and returned to Kenya Bureau of Standards for the attention of <b>{{actionRequest?.tcSecName}}</b></h4><br>
                                                        <p style="font-weight: bold">{{actionRequest?.tcSecEmail}}</p>

                                                    </div>

                                                    <h4 style="font-weight: bold">
                                                        The Kenya Bureau of Standards intends to adopt the International Standard as detailed here below
                                                    </h4>
                                                    <div class="row col-12">
                                                        <div class="form-group col-12">
                                                            <label><b>Standard Number</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                      class="form-control one-column-input" value="{{actionRequest?.standardNumber}}" name="standardNumber" formControlName="standardNumber"
                                                                      placeholder="Standard Number" type="text" disabled></textarea>

                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label><b>Title</b></label>
                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                      class="form-control one-column-input" value="{{actionRequest?.title}}" name="commentTitle" formControlName="commentTitle"
                                                                      placeholder="Title" type="text" disabled></textarea>

                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label><b>Scope</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                      class="form-control one-column-input" value="{{actionRequest?.scope}}"  name="scope" formControlName="scope"
                                                                      placeholder="Scope" type="text" ></textarea>

                                                        </div>
                                                        <h4 style="font-weight: bold">
                                                            We are therefore seeking views from potential users in respect of the same.  The Standard is available at the  Kenya Bureau of Standards Information Center .  Please tick and fill your preference of the listed option.  (If the spaces provided are not enough, please attach a separate sheet of paper).
                                                        </h4>
                                                        <div class="form-group col-12">
                                                            <label><b>Please Select whether it is acceptable or not</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                                    class="form-control" required
                                                                    formControlName="adoptionAcceptableAsPresented"
                                                                    name="adoptionAcceptableAsPresented" #teams (change)="onSelected(teams.value)"
                                                            >
                                                                <option disabled>--Select Option--</option>
                                                                <option  value="Yes">Adoption acceptable as presented</option>
                                                                <option value="No">Adoption proposal not acceptable because of the reason(s) below </option>
                                                            </select>

                                                        </div>
                                                        <div class="form-group col-12" *ngIf="selectedOption=='No'">
                                                            <label><b>Reasons</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                      class="form-control one-column-input"  name="reasons" formControlName="reasons"
                                                                      placeholder="Reasons for not accepting" type="text" ></textarea>
                                                        </div>
                                                        <div class="form-group col-12" >
                                                            <label><b>Recommendations</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <textarea aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                      class="form-control one-column-input"  name="recommendations" formControlName="recommendations"
                                                                      placeholder="Recommendations" type="text" ></textarea>
                                                        </div>

                                                        <div class="form-group col-12">
                                                            <label><b>Name of Recipient/Respondent</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input
                                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                    class="form-control one-column-input" value="{{actionRequest?.stName}}" formControlName="nameOfRespondent" name="nameOfRespondent"
                                                                    placeholder="" type="text" >
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label><b>Email of Recipient/Respondent</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input
                                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                    class="form-control one-column-input" value="{{actionRequest?.stEmail}}"  formControlName="emailOfRespondent" name="emailOfRespondent"
                                                                    placeholder="" type="text" >
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label><b>Phone Number of Recipient/Respondent</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input
                                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                    class="form-control one-column-input" value="{{actionRequest?.stTelephone}}" formControlName="phoneOfRespondent" name="phoneOfRespondent"
                                                                    placeholder="" type="text" >
                                                        </div>

                                                        <div class="form-group col-12">
                                                            <label><b>Position of Respondent</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input
                                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                    class="form-control one-column-input"  formControlName="positionOfRespondent" name="positionOfRespondent"
                                                                    placeholder="" type="text" >
                                                        </div>
                                                        <div class="form-group col-12">
                                                            <label><b>On Behalf of (Name of Organization)</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input
                                                                    aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                    class="form-control one-column-input"   formControlName="nameOfOrganization" name="nameOfOrganization"
                                                                    placeholder="" type="text" >


                                                        </div>
                                                    </div>
                                                </div>

                                                <input type="hidden" formControlName="requestId" value="{{actionRequest?.id}}" name="requestId" >
                                                <input type="hidden" formControlName="draftId" value="{{actionRequest?.draftId}}" name="draftId" >
                                                <input type="hidden" formControlName="stakeHolderId" value="{{actionRequest?.stId}}" name="stakeHolderId" >
                                                <div >

                                                </div>
                                                <div class="modal-footer">
                                                    <button  mat-raised-button  class="btn btn-sm btn-danger" type="button" data-dismiss="modal" >CLOSE</button>
                                                    <button  mat-raised-button
                                                            class="btn btn-sm btn-success"  type="submit" >SUBMIT
                                                    </button>
                                                    <div>
                                                        <h3 style="font-weight: bold">Disclaimer: Comments Once submitted can not be changed.</h3>
                                                        <h4 style="font-weight: bold">NOTE: Absence of any reply or comments shall be deemed to be an acceptance of the proposal for adoption and shall constitute an approval vote.</h4>
                                                    </div>

                                                </div>

<!--                                                <div class="modal-footer">-->
<!--                                                    <button  mat-raised-button  class="btn btn-danger" type="button" >CLOSE</button>-->
<!--                                                    <button *ngIf="predefinedSDCommentsDataAdded" mat-raised-button-->
<!--                                                            class="btn btn-success" (click)="onClickSaveWorkPlanScheduled()" type="button" >SUBMIT-->
<!--                                                    </button>-->
<!--                                                    <button *ngIf="!predefinedSDCommentsDataAdded" mat-raised-button (click)="onClickSaveWorkPlanScheduled()" class="btn btn-danger" type="button" >SUBMIT-->
<!--                                                    </button>-->
<!--                                                </div>-->
<!--                                                <div class="col">-->
<!--                                                    <div class="form-group">-->
<!--                                                        <button *ngIf="uploadCommentsFormGroup.valid" mat-raised-button-->
<!--                                                                class="btn btn-success" (click)="onClickAddResource()" type="button" >ADD COMMENT-->
<!--                                                        </button>-->
<!--                                                    </div>-->
<!--                                                </div>-->
                                            </form>
<!--                                            <div class="col-12">-->
<!--                                                <div class="table-responsive">-->
<!--                                                    <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1">-->
<!--                                                        <thead>-->
<!--                                                        <tr>-->
<!--                                                            <th>Standard Number</th>-->
<!--                                                            <th>Title</th>-->
<!--                                                            <th>Document Type</th>-->
<!--                                                            <th>Date</th>-->
<!--                                                            <th>Name of Recipient</th>-->
<!--                                                            <th>Email of Recipient</th>-->
<!--                                                            <th>Phone Number of Recipient</th>-->
<!--                                                            <th>Organization</th>-->
<!--                                                            <th>Clause</th>-->
<!--                                                            <th>Scope</th>-->
<!--                                                            <th>Paragraph</th>-->
<!--                                                            <th>Type of Comment</th>-->
<!--                                                            <th>Comment</th>-->
<!--                                                            <th>Proposed Change</th>-->
<!--                                                            <th>TC/Stakeholders Observation</th>-->
<!--                                                            <th>Action</th>-->
<!--                                                        </tr>-->
<!--                                                        </thead>-->
<!--                                                        <tbody>-->
<!--                                                        <tr *ngFor="let r of dataSaveResourcesRequiredList; let i=index">-->
<!--                                                            <td>{{r.standardNumber}}</td>-->
<!--                                                            <td>{{r.commentTitle}}</td>-->
<!--                                                            <td>{{r.commentDocumentType}}</td>-->
<!--                                                            <td>{{r.preparedDate}}</td>-->
<!--                                                            <td>{{r.nameOfRespondent}}</td>-->
<!--                                                            <td>{{r.emailOfRespondent}}</td>-->
<!--                                                            <td>{{r.phoneOfRespondent}}</td>-->
<!--                                                            <td>{{r.nameOfOrganization}}</td>-->
<!--                                                            <td>{{r.clause}}</td>-->
<!--                                                            <td>{{r.scope}}</td>-->
<!--                                                            <td>{{r.paragraph}}</td>-->
<!--                                                            <td>{{r.typeOfComment}}</td>-->
<!--                                                            <td>{{r.comment}}</td>-->
<!--                                                            <td>{{r.proposedChange}}</td>-->
<!--                                                            <td>{{r.observation}}</td>-->
<!--                                                            <td>-->
<!--                                                                <button (click)="removeDataResource(i)"-->
<!--                                                                        type="button"-->
<!--                                                                        class="btn btn-warning btn-sm">-->
<!--                                                <span class=""-->
<!--                                                      aria-hidden="true">Remove</span>-->
<!--                                                                </button>-->
<!--                                                            </td>-->
<!--                                                        </tr>-->
<!--                                                        </tbody>-->
<!--                                                    </table>-->
<!--                                                </div>-->
<!--                                            </div>-->


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

