<!-- <div class="main-content">
    <div class="container-fluid"> -->
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">Fortification Mark: All Awarded Applications</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table id="datatables"
                                       class="table table-striped table-bordered table-hover"
                                >
                                    <thead>
                                    <tr>
                                        <th><strong>{{ dataTable.headerRow[0] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[1] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[2] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[3] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[4] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[5] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[6] }}</strong></th>
                                        <th><strong>{{ dataTable.headerRow[7] }}</strong></th>
                                        <th class="disabled-sorting text-right">
                                            <strong>{{ dataTable.headerRow[8] }}</strong></th>
                                    </tr>
                                    </thead>
                                    <tfoot>
                                    <tr>
                                        <th>{{ dataTable.footerRow[0] }}</th>
                                        <th>{{ dataTable.footerRow[1] }}</th>
                                        <th>{{ dataTable.footerRow[2] }}</th>
                                        <th>{{ dataTable.footerRow[3] }}</th>
                                        <th>{{ dataTable.footerRow[4] }}</th>
                                        <th>{{ dataTable.footerRow[5] }}</th>
                                        <th>{{ dataTable.footerRow[6] }}</th>
                                        <th>{{ dataTable.footerRow[7] }}</th>
                                        <th class="text-right">{{ dataTable.footerRow[8] }}</th>
                                    </tr>
                                    </tfoot>
                                    <tbody>
                                    <tr *ngFor="let row of dataTable.dataRows">
                                        <td>{{row[0]}}</td>
                                        <td>{{row[1] | date}}</td>
                                        <td>{{row[2]}}</td>
                                        <td>{{row[3]}}</td>
                                        <td>{{row[4]}}</td>
                                        <td>{{row[5]}}</td>
                                        <td>{{row[6]}}</td>
                                        <td>{{row[7]}}</td>
                                        <td class="text-right">
                                            <a href="/smarkpermitdetails#{{row[8]}}"><i class="material-icons">remove_red_eye</i></a>
                                            <!--                                            <a (click)="onSelect(row[8])"-->
                                            <!--                                               class="btn btn-link btn-info btn-just-icon view"><i-->
                                            <!--                                                    class="material-icons">remove_red_eye</i></a>-->
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    <!-- </div>
</div> -->
