<h2 mat-dialog-title>SSF Details (Sample Submission Form)</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-6">
            <label for="permitNumber" class="waiver-form-label">Permit No:</label>
            <input class="waiver-form-input-master" type="text" id="permitNumber" name="permitNumber" formControlName="permitNumber">
        </div>
        <div class="col-sm-7 col-md-6">
            <label for="ssfSubmissionDate" class="waiver-form-label">SSF Submission Date:</label>
            <input class="waiver-form-input-master" type="date" id="ssfSubmissionDate" name="ssfSubmissionDate"
                   formControlName="ssfSubmissionDate">
        </div>
        <div class="col-sm-7 col-md-6">
            <label for="conditionOfSample" class="waiver-form-label">Condition Of Sample</label>
            <input class="waiver-form-input-master" type="text" id="conditionOfSample" name="conditionOfSample"
                   formControlName="conditionOfSample">
        </div>
        <div class="col-sm-7 col-md-6">
            <label for="testParameters" class="waiver-form-label">List of test parameters</label>
            <input class="waiver-form-input-master" type="text" id="testParameters" name="testParameters"
                   formControlName="testParameters">
        </div>
        <div class="col-sm-7 col-md-6">
            <label for="laboratoryName" class="waiver-form-label">Laboratory Name</label>
            <input class="waiver-form-input-master" type="text" id="laboratoryName" name="laboratoryName"
                   formControlName="laboratoryName">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="returnOrDispose" class="waiver-form-label">Disposal Method</label>
            <select id="returnOrDispose" name="returnOrDispose" class="waiver-form-input-master"
                    formControlName="returnOrDispose">
                <option value="" disabled selected>Select Disposal method</option>
                <option value="RETURN">Return Sample</option>
                <option value="DISPOSE">Dispose Sample</option>
            </select>
        </div>
        <div class="col-sm-12 col-md-12">
            <label for="description" class="waiver-form-label">Remarks</label>
            <textarea class="waiver-form-input-master" id="description" name="description" formControlName="description" rows="4">
            </textarea>
        </div>
        <mat-error *ngIf="message">{{message}}</mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid||loading" class="next-btn btn-gen new-btn" (click)="saveSsfRecord()">SAVE
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>
