<style>
    .loading-spinner{
        background-color: rgba(0,0,0,0.7);
        position: absolute;
        width: 100%;
        top: 0px;
        left: 0px;
        height: 100vh;
        align-items: center;
        justify-content: center;
        display: grid;
    }
</style>
<div *ngIf="loading" class="loading-spinner">
    <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#1B75BC"
            type="ball-spin-clockwise-fade-rotating"
    >
    </ngx-spinner>
</div>
<router-outlet></router-outlet>
