.sidenav {
  /*position: sticky;*/

  border-radius: 0 0.5rem 0 0;
  /*background: rgb(45,92,93);*/
  /*background: linear-gradient(4deg, rgba(45,92,93,0.9990371148459384) 46%, rgba(70,149,151,1) 100%);  transition: all 0.5s ease;*/
  position: fixed;
  z-index: 1;
  top: 0;
  width: 4.845rem;
  height: 100vh;
  /*box-shadow: 0.063rem 0 1.25rem gainsboro;*/
}


.logo-container {
  display: flex;
  align-items: center;
  padding: 0.9rem 0.9rem 0 0.9rem;
  width: 100%;
}

.logo {
  /*background: #D4F1F4;*/
  text-align: center;
  width: 3rem;
  min-width: 3rem;
  border-radius: 0.313rem;
  padding: 0.313rem;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  border: none;
}

.logo-text {
  margin-left: 6px;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

.btn-close {
  padding: 1px;
  margin-left: auto;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  background-color: transparent;
  border: none;
}

.btn-close .fa-angle-double-left {
  padding-right: 47px;
  /*color: white;*/
  font-size: 24px;
}


.sidenav-collapsed {
  width: 16.5rem;
}

.sidenav-nav {
  list-style: none;
  padding: 0.938rem;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 3.5rem);
  cursor: pointer;
}

.sidenav-nav-item {

  width: 100%;
  margin-bottom: 0.6rem;
}

.sidenav-nav-link {
  display: flex;
  align-items: center;
  height: 3rem;
  color: black;
  /*font-weight: bold;*/
  letter-spacing: 1px;
  font-size: 20px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.sidenav-nav-link .sidenav-link-icon {
  font-size: 22px;
  width: 2rem;
  min-width: 2rem;
  margin: 0 0.5rem;
  /*font-weight: bold;*/
  text-align: center;
}

.sidenav-nav-link .sidenav-link-text {
  margin-left: 1.5rem;
}

.sidenav-nav-item:hover .sidenav-nav-link {
  border-radius: 0.5rem;
  background-color: #75E6DA;
  color: black;
}

.active {
  border-radius: 0.5rem;
  background-color: #75E6DA;
  color: black;}

.active .sidenav-link-icon,
.active .sidenav-link-text {
  color: #000;
}

