<h2 mat-dialog-title>Account Status</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-8">
            <label for="actionCode" class="waiver-form-label">Update Status</label>
            <select id="actionCode" name="actionCode" class="waiver-form-input-master"
                    formControlName="actionCode">
                <option value="" disabled selected>Compliant Status</option>
                <option *ngFor="let status of accountStatuses" value="{{status.code}}">{{status.description}}</option>
            </select>
            <label for="remarks" class="waiver-form-label">Status remarks</label>
            <textarea id="remarks" class="waiver-form-input-master" placeholder=""
                      formControlName="remarks"></textarea>
            <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid||loading" class="next-btn btn-gen new-btn" (click)="saveRecord()">SAVE
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>