<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div *ngIf="loading">

        <div class="loading-spinner ">
            <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    type="ball-scale-multiple"
            >
                <p style="font-size: 20px; color: white">{{loadingText}}</p>
            </ngx-spinner>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="example-stretched-tabs mat-elevation-z4">
                <ul class=" tabs-container nav nav-pills nav-pills-rose nav-pills-icons justify-content-center "
                    role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" id="pending-review"
                           (click)="tabChange('Pending Review')" role="tablist">
                            <i class="material-icons"></i> Prepare Preliminary Draft

                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" id="approved-fornwi"
                           (click)="tabChange('All NWI')" role="tablist">
                            <i class="material-icons"></i>All Preliminary Drafts
                        </a>
                    </li>


                </ul>

                <div *ngIf="id == 'Pending Review'" class="w-100">

                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Prepare Preliminary Draft
                                    </h4>

                                </div>
                                <div class="card-body">
                                    <div class="toolbar">

                                    </div>

                                    <h4 class="card-title">All New Work Items Pending Preparation Of A Preliminary Draft
                                    </h4>
                                    <div class="material-datatables">
                                        <table class="table table-responsive table-striped table-bordered table-hover"
                                               datatable
                                               [dtOptions]="dtOptions" [dtTrigger]="dtTrigger3" style="width: 100%">
                                            <thead>
                                            <tr>
                                                <th class="id">New Work Item ID</th>
                                                <th class="task">Reference Number</th>
                                                <th class="task">Proposal Title</th>
                                                <th class="task">Technical Committee Name</th>
                                                <th class="task">Status</th>
                                                <th class="edit">View NWI</th>
                                                <th class="viewRequest">View Request</th>
                                                <th class="justification">View Justification</th>
                                                <th class="uploadMinutes"> Upload</th>

                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr *ngFor="let approvedNwi of approvedNwiSForPd let i= index; ">
                                                <td>{{i + 1}}</td>
                                                <td>{{approvedNwi.referenceNumber}}</td>
                                                <td>{{approvedNwi.proposalTitle}}</td>
                                                <td>{{approvedNwi.nameOfTC}}</td>
                                                <td>


                                                    <div *ngIf="approvedNwi.prPdStatus==null; else elseBlockVy">
                                                        <span class="badge badge-primary">{{approvedNwi.pdStatus}}</span>
                                                    </div>
                                                    <ng-template #elseBlockVy>
                                                        <span class="badge badge-primary">Under Review-{{approvedNwi.prPdStatus}}</span>

                                                    </ng-template>

                                                </td>

                                                <td>
                                                    <a (click)="onOpenModalViewNwi(approvedNwi.id,'edit')"
                                                       class="btn btn-info tooltips"
                                                       data-placement="top"
                                                       data-original-title="Upload NWI">View NWI</a>
                                                </td>
                                                <td>
                                                    <a (click)="onOpenModalViewNwi(approvedNwi.standardId,'viewRequest')"
                                                       class="btn btn-info tooltips"
                                                       data-placement="top"
                                                       data-original-title="Upload NWI">View Request</a>
                                                </td>
                                                <td>
                                                    <a (click)="onOpenModalViewNwi(approvedNwi.id,'justification')"
                                                       class="btn btn-info tooltips"
                                                       data-placement="top"
                                                       data-original-title="Upload NWI">View Justification</a>

                                                </td>
                                                <td>
                                                    <a
                                                            (click)="onOpenModal(approvedNwi,'uploadMinutes')"
                                                            class="btn btn-success tooltips"
                                                            data-placement="top"
                                                            data-original-title="Upload NWI">Upload</a>


                                                </td>


                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="modal fade " id="uploadMinutes" tabindex="-1" role="dialog"
                                         aria-labelledby="updateExampleModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-xl" role="document" style="width: 100%">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="updateExampleModalLabel">Uploads</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close" #closeModal>
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form #formDirective="ngForm"
                                                      (ngSubmit)="uploadPreliminaryDraft(formDirective)"
                                                      [formGroup]="preliminary_draftFormGroup" class="form">
                                                    <div class="modal-body">
                                                        <div class="row col-12">

                                                            <div class="form-group col-12">
                                                                <label><b>CD Number:</b></label>
                                                                <mat-form-field class="example-full-width has-label"
                                                                                [ngClass]="displayFieldCss(preliminary_draftFormGroup, 'requestNo')">
                                                                    <input type="text"
                                                                           matInput
                                                                           aria-describedby="inputGroup-sizing-sm"
                                                                           aria-label="Small"
                                                                           class="form-control one-column-input"
                                                                           placeholder="CD Number"
                                                                           formControlName ="requestNo"
                                                                           readonly>
                                                                    <app-field-error-display
                                                                            [displayError]="isFieldValid(preliminary_draftFormGroup, 'requestNo')"
                                                                            errorMsg="Please Enter CD Number">
                                                                    </app-field-error-display>
                                                                </mat-form-field>
                                                                <label><b>Preliminary Draft Name:</b></label>
                                                                <mat-form-field class="example-full-width has-label"
                                                                                [ngClass]="displayFieldCss(preliminary_draftFormGroup, 'pdName')">
                                                                    <input type="text"
                                                                           matInput
                                                                           id="pdName"
                                                                           placeholder="Preliminary Draft Name"
                                                                           (ngModelChange)="textValidationType($event)"
                                                                           formControlName="pdName">
                                                                    <app-field-error-display
                                                                            [displayError]="isFieldValid(preliminary_draftFormGroup, 'pdName')"
                                                                            errorMsg="Please Enter Preliminary Draft Name">
                                                                    </app-field-error-display>
                                                                </mat-form-field>
                                                            </div>
                                                            <div class="form-group col-12">
                                                                <label><b>Please Upload The Preliminary Draft</b>
                                                                    <a href="../../../../../assets/sdDocuments/Kenya%20Bureau%20of%20Standards%20Template.docx"
                                                                       target="_blank">(Download Preliminary Draft
                                                                        Template)</a>
                                                                </label>
                                                                <form>
                                                                    <file-upload [(ngModel)]="uploadedFilesC"
                                                                                 name="uploadedFiles" fileslimit="1"
                                                                                 required
                                                                                 accept=".pdf, .docx"></file-upload>
                                                                    <input class="form-control one-column-input"
                                                                           ngModel="EACGazette"
                                                                           name="DocDescription" type="hidden">
                                                                </form>
                                                            </div>
                                                            <div class="form-group col-12">
                                                                <label><b>Please Upload The Minutes For The
                                                                    Discussion If any</b>
                                                                    <a href="../../../../../assets/sdDocuments/MinutesTemplate.docx"
                                                                       target="_blank">(Download Minutes Template)</a>
                                                                </label>
                                                                <form>
                                                                    <file-upload [(ngModel)]="uploadedFiles"
                                                                                 name="uploadedFiles" fileslimit="1"
                                                                                 required
                                                                                 accept=".pdf, .docx"></file-upload>
                                                                </form>
                                                            </div>
                                                            <div class="form-group col-12">
                                                                <label><b>Please Upload Reference Documents And Other
                                                                    Relevant
                                                                    Documents From
                                                                    The Discussion If any</b> </label>

                                                                <form>
                                                                    <file-upload [(ngModel)]="uploadedFilesB"
                                                                                 name="uploadedFiles"
                                                                                 required
                                                                                 accept=".pdf, .docx"></file-upload>
                                                                </form>
                                                            </div>
                                                        </div>
                                                        <div class="modal-footer">
                                                            <button type="button" class="btn btn-secondary" #closeModal
                                                                    (click)="hideModel()" data-dismiss="modal">Close
                                                            </button>
                                                            <button class="btn btn-info" mat-raised-button
                                                                    type="submit">SUBMIT
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>


                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="justificationDecisionModal" tabindex="-1"
                                         role="dialog"
                                         aria-labelledby="justificationDecisionModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title">SPC JUSTIFICATION</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <form #editForm="ngForm">
                                                    <div class="modal-body">
                                                        <div *ngFor="let actionRequest of justificationItem let i= index; ">


                                                            <div class="row">
                                                                <div class=" col-12">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item active">
                                                                            Justification
                                                                            Details
                                                                        </li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"SPC Meeting Date: " + actionRequest?.spcMeetingDate}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Department: " + actionRequest?.departmentId}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Technical Committee: " + actionRequest?.tcId}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"TC Secretary: " + userDetails?.firstName + ' ' + userDetails?.lastName}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"SL: " + actionRequest?.sl}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Request No.: " + actionRequest?.requestNo}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Title: " + actionRequest?.title}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Edition: " + actionRequest?.edition}}
                                                                            Version
                                                                        </li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Requested By: " + actionRequest?.requestedBy}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Intended Users: " + actionRequest?.intendedUsers}}</li>
                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"TC Acceptance Date: " + actionRequest?.tcAcceptanceDate}}</li>
                                                                    </ul>
                                                                    <div class="material-datatables">
                                                                        <table class="table table-striped table-bordered table-hover"
                                                                               datatable
                                                                               [dtOptions]="dtOptions"
                                                                               [dtTrigger]="dtTrigger4">
                                                                            <thead>
                                                                            <tr>
                                                                                <th class="task">Document Name</th>
                                                                                <th class="task">Description</th>

                                                                                <th class="task">Action</th>

                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr *ngFor="let doc of docs let i= index; ">

                                                                                <td>{{doc.name}}</td>
                                                                                <td>{{doc.description}}</td>

                                                                                <td>
                                                                                    <button class="btn btn-info tooltips"
                                                                                            style="width: inherit"
                                                                                            (click)="viewPdfFile( doc.id,doc?.name, doc?.fileType)"
                                                                                            data-placement="top"
                                                                                    ><i
                                                                                            class="fa fa-eye"></i>
                                                                                        View
                                                                                    </button>
                                                                                </td>

                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>


                                                            </div>
                                                        </div>

                                                        <div *ngFor="let actionRequest of stdJustificationDecision let i= index; ">
                                                            <div class="row">
                                                                <div class=" col-12">
                                                                    <ul class="list-group">
                                                                        <li class="list-group-item active">Decision
                                                                            Details
                                                                        </li>

                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Decision: " + actionRequest?.decision}}</li>

                                                                        <li style="background: lightgray"
                                                                            class="list-group-item">{{"Reason: " + actionRequest?.reason}}</li>

                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>


                                                    </div>
                                                    <input hidden ngModel="true" name="decision">
                                                    <input hidden ngModel name="reason">

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary"
                                                                #closeViewModal
                                                                (click)="hideModel()" data-dismiss="modal">Close
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="viewNwi" tabindex="-1" role="dialog"
                                         aria-labelledby="viewNwiModalLabel"
                                         aria-hidden="true">
                                        <div class="modal-dialog modal-lg modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="viewNwiModalLabel">NEW WORK
                                                        ITEM</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div class="row">
                                                        <div class=" col-12">
                                                            <ul class="list-group">
                                                                <li class="list-group-item active">New Work Item
                                                                    Details
                                                                </li>

                                                                <div *ngFor="let nwiActionRequest of nwiItem let i= index; ">
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Proposal Title: " + nwiActionRequest?.proposalTitle}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Scope: " + nwiActionRequest?.scope}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Purpose: " + nwiActionRequest?.purpose}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Target Date: " + nwiActionRequest?.targetDate}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Similar Standards: " + nwiActionRequest?.similarStandards}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Name of proposer: " + nwiActionRequest?.nameOfProposer}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Organization: " + nwiActionRequest?.organization}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Date of Circulation: " + nwiActionRequest?.circulationDate}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Closing Date: " + nwiActionRequest?.closingDate}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Sector: " + nwiActionRequest?.nameOfDepartment}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Technical Committee: " + nwiActionRequest?.nameOfTC}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Reference Number given by Secretariat: " + nwiActionRequest?.id}}</li>
                                                                </div>

                                                                <br><br>
                                                                <li style="background: lightgray">
                                                                    <div class="material-datatables">
                                                                        <table class="table table-striped table-bordered table-hover"
                                                                               datatable
                                                                               [dtOptions]="dtOptions"
                                                                               [dtTrigger]="dtTrigger5">
                                                                            <thead>
                                                                            <tr>
                                                                                <th class="task">Document Name</th>
                                                                                <th class="task">Descritpion</th>

                                                                                <th class="task">Action</th>

                                                                            </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr *ngFor="let doc of docs let i= index; ">

                                                                                <td>{{doc.name}}</td>
                                                                                <td>{{doc.description}}</td>

                                                                                <td>
                                                                                    <button class="btn btn-info tooltips"
                                                                                            style="width: inherit"
                                                                                            (click)="viewPdfFile( doc.id,doc?.name, doc?.fileType)"
                                                                                            data-placement="top"
                                                                                    ><i
                                                                                            class="fa fa-eye"></i>
                                                                                        View
                                                                                    </button>
                                                                                </td>

                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>

                                                                </li>

                                                            </ul>
                                                        </div>
                                                    </div>

                                                    <br>

                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                            (click)="hideModel()"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal fade" id="viewRequestModal" tabindex="-1" role="dialog"
                                         aria-labelledby="viewRequestModalLabel"
                                         aria-hidden="true">

                                        <div class="modal-dialog modal-lg modal-xl" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title"
                                                        id="viewRequestModalLabel">Request Details</h5>
                                                    <button type="button" class="close" data-dismiss="modal"
                                                            aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <div *ngFor="let actionRequest of tasks let i= index; ">

                                                        <div class="row">
                                                            <div class=" col-12">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item active">Standard
                                                                        Request
                                                                        Details
                                                                    </li>

                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Organisation: " + actionRequest?.organisationName}}</li>

                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Name: " + actionRequest?.name}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Phone: " + actionRequest?.phone}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Email: " + actionRequest?.email}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Section: " + actionRequest?.departmentName}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Subject: " + actionRequest?.subject}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Description: " + actionRequest?.description}}</li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        Potential To
                                                                        Contribute To Economic Efficiency :
                                                                        <ngb-rating [max]="5"
                                                                                    *ngIf="actionRequest?.economicEfficiency!=null"
                                                                                    [(rate)]="actionRequest.economicEfficiency"
                                                                                    [readonly]="false"></ngb-rating>
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        Potential To
                                                                        Safeguard Health And Safety :
                                                                        <ngb-rating [max]="5"
                                                                                    *ngIf="actionRequest?.healthSafety!=null"
                                                                                    [(rate)]="actionRequest.healthSafety"
                                                                                    [readonly]="false"></ngb-rating>
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        Potential To
                                                                        Preserve The Environment :
                                                                        <ngb-rating [max]="5"
                                                                                    *ngIf="actionRequest?.environment!=null"
                                                                                    [(rate)]="actionRequest.environment"
                                                                                    [readonly]="false"></ngb-rating>
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        Potential To
                                                                        Facilitate The Local Exchange Of Products
                                                                        And
                                                                        Industrial Integration :
                                                                        <ngb-rating [max]="5"
                                                                                    *ngIf="actionRequest?.integration!=null"
                                                                                    [(rate)]="actionRequest.integration"
                                                                                    [readonly]="false"></ngb-rating>
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        Potential To
                                                                        Facilitate Access To Export Markets :
                                                                        <ngb-rating [max]="5"
                                                                                    *ngIf="actionRequest?.exportMarkets!=null"
                                                                                    [(rate)]="actionRequest.exportMarkets"
                                                                                    [readonly]="false"></ngb-rating>
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">{{"Level Of Standard: " + actionRequest?.levelOfStandard}}</li>

                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">Additional
                                                                        Information:

                                                                    </li>
                                                                    <li style="background: lightgray">
                                                                        <div class="material-datatables table-responsive">
                                                                            <table class="table table-striped table-bordered table-hover"
                                                                                   datatable
                                                                                   [dtOptions]="dtOptions"
                                                                                   [dtTrigger]="dtTrigger4">
                                                                                <thead>
                                                                                <tr>
                                                                                    <th class="task">Document Name
                                                                                    </th>
                                                                                    <th class="task">Action</th>

                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                <tr *ngFor="let doc of docs let i= index; ">

                                                                                    <td>{{doc.name}}</td>
                                                                                    <td>
                                                                                        <button class="btn btn-info tooltips"
                                                                                                style="width: inherit"
                                                                                                (click)="viewPdfFile( doc.id,doc?.name, doc?.fileType)"
                                                                                                data-placement="top"
                                                                                        ><i
                                                                                                class="fa fa-eye"></i>
                                                                                            View
                                                                                        </button>
                                                                                    </td>

                                                                                </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </div>

                                                                    </li>

                                                                </ul>
                                                            </div>
                                                        </div>

                                                        <br>
                                                        <div class="row">
                                                            <div class=" col-12">
                                                                <ul class="list-group">
                                                                    <li class="list-group-item active">Review
                                                                        Details
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>TC Secretary
                                                                        Assigned:</b>{{ actionRequest?.tcSecAssigned}}
                                                                    </li>

                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>Desired
                                                                        Output: </b>{{actionRequest?.desiredOutput}}
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>Desired
                                                                        Result: </b>{{actionRequest?.desiredResult}}
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>Reason For
                                                                        Result: </b>{{actionRequest?.reason}}
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>Reviewed
                                                                        By: </b>{{actionRequest?.reviewedBy}}
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item"><b>Reviewed
                                                                        On: </b>{{formatFormDate(actionRequest?.reviewDate)}}
                                                                    </li>
                                                                    <li style="background: lightgray"
                                                                        class="list-group-item">
                                                                        <b>Status: </b>{{actionRequest?.status}}
                                                                    </li>


                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" #closeModalC
                                                            (click)="hideModelC()"
                                                            data-dismiss="modal">Close
                                                    </button>

                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="id == 'All NWI'" class="w-100">
                    <app-all-tasks-pd></app-all-tasks-pd>
                </div>
            </div>
        </div>
    </div>
</div>


