<div class="d-flex flex-wrap pb-2 mb-3 border-bottom">
  <h3>
    <fa-icon [icon]="arrowLeftIcon" (click)="backClicked()" style="padding-right: 3px; cursor: pointer"></fa-icon>
    Carry our MS Tasks for Activity #ADSFJEWIOW983
  </h3>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title">
            <h3>Desk Tasks</h3>
          </div>
          <div class="card-text">
            <p>Ensuring that all complaints related to substandard and counterfeit products are acknowledged, reviewed,
              evaluated and investigated to conclusion.</p>
          </div>

        </div>
        <div class="card-footer">
          <span routerLink="/ms-desk-tasks">Go to Desk Tasks
            <fa-icon [icon]="arrowRightIcon" style="padding-left: 3px"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="col-lg-6 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title">
            <h3>Field Tasks</h3>
          </div>
          <div class="card-text">
            <p>Conducting sector-targeted market surveillance activities (Compliance Assessment) using a programmed
              schedule of activities and results of product risk assessment.</p>
          </div>

        </div>
        <div class="card-footer">
          <span routerLink="/ms-field-tasks">Go to Field Tasks <fa-icon [icon]="arrowRightIcon" style="padding-left: 3px"></fa-icon></span>

        </div>
      </div>
    </div>

  </div>

</div>


