<div [ngSwitch]="page">

  <div *ngSwitchCase="1" style="margin-top: 5%">
    <div class="container">
      <form class="form" [formGroup]="firstFormGroup" (ngSubmit)="onClickNext(firstFormGroup.valid)">
        <h1>Let's ensure the safety of products </h1>
        <p>Please fill in the details to report potentially harmful products in our markets</p>
        <hr>

        <h3 class="form-step-title mt-2 mb-4">Step 1/4: Your information</h3>

        <div class="form-body">
          <div class="form-group">
            <label><b>First name</b></label>
            <input type="text" class="form-control one-column-input" aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm" formControlName="firstName" name="firstName" required
                   [class.is-invalid]="formFirstGroupForm.firstName.invalid && formFirstGroupForm.firstName.touched">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['businessName'].invalid && (firstFormGroup.controls['businessName'].dirty-->
            <!--              || firstFormGroup.controls['businessName'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['businessName'].errors?.required" style="color: red">-->
            <!--                Please enter username-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

          <div class="form-group">
            <label><b>Last name</b></label>
            <input type="text" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="lastName"
                   name="lastName" required
                   style="margin-bottom: 0"
                   [class.is-invalid]="formFirstGroupForm.lastName.invalid && formFirstGroupForm.lastName.touched">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

          <div class="form-group">
            <label><b>Email address</b></label>
            <input type="email" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="emailAddress"
                   name="emailAddress" required
                   style="margin-bottom: 0" [class.is-invalid]="formFirstGroupForm.emailAddress.invalid && formFirstGroupForm.emailAddress.touched">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

          <div class="form-group">
            <label><b>Phone number</b></label>
            <input type="text" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="phoneNumber"
                   name="phoneNumber" required
                   style="margin-bottom: 0" [class.is-invalid]="formFirstGroupForm.phoneNumber.invalid && formFirstGroupForm.phoneNumber.touched">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>
          <div class="form-group">
            <label><b>Postal Address</b></label>
            <input type="text" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="postalAddress"
                   name="postalAddress" required
                   style="margin-bottom: 0" [class.is-invalid]="formFirstGroupForm.postalAddress.invalid && formFirstGroupForm.postalAddress.touched">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

<!--          <button type="submit" class="submit-button mt-3">BACK</button>-->
          <button type="submit" class="submit-button mt-3">NEXT</button>


        </div>
        <!--            <p>Forgot password? <a href="#">Reset</a>.</p>-->
        <!--    <p>Don't have an account? <a routerLink="/signup">Sign Up</a>.</p>-->
      </form>
    </div>

  </div>

  <div *ngSwitchCase="2" style="margin-top: 5%">
    <div class="container">
      <form (ngSubmit)="onClickNext(secondFormGroup.valid)" [formGroup]="secondFormGroup" class="form">
        <h1>Let's ensure the safety of products </h1>
        <p>Please fill in the details to report potentially harmful products in our markets</p>
        <hr>

        <h3 class="form-step-title mt-2 mb-4">
          <fa-icon [icon]="backIcon"></fa-icon>
          Step 2/4: Complaint Details
        </h3>
        <div class="form-body">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label><b>Complaint Category</b></label>
                <div>
                  <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                          class="form-control" required
                          formControlName="complaintCategory"
                          name="complaintCategory" [class.is-invalid]="formSecondGroupForm.complaintCategory.invalid && formSecondGroupForm.complaintCategory.touched">
                    <option label="--select something --"></option>
                    <option [value]="dep.id" *ngFor="let dep of department"> {{ dep.department }} </option>

                  </select>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label><b>Complaint Title</b></label>
                <input type="text" class="form-control two-column-input"
                       formControlName="complaintTitle"
                       name="complaintTitle" required [class.is-invalid]="formSecondGroupForm.complaintTitle.invalid && formSecondGroupForm.complaintTitle.touched">
                <!--                <div-->
                <!--                  *ngIf="secondFormGroup.controls['phoneNumber'].invalid && (secondFormGroup.controls['phoneNumber'].dirty-->
                <!--              || secondFormGroup.controls['phoneNumber'].touched)"-->
                <!--                  class="alert">-->
                <!--                  <div *ngIf="secondFormGroup.controls['phoneNumber'].errors?.required" style="color: red">-->
                <!--                    Please enter a valid phone number-->
                <!--                  </div>-->
                <!--                </div>-->

              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label><b>Product Classification</b></label>
                <div>
                  <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                          class="form-control" required
                          formControlName="productClassification" [class.is-invalid]="formSecondGroupForm.productClassification.invalid && formSecondGroupForm.productClassification.touched"
                          name="productClassification" *ngIf="standardProductCategory"  (change)="onSelectStandardProductCategory($event.target.value)">
                    <option label="--select something --"></option>
                    <option [value]="stdCategory.id" *ngFor="let stdCategory of standardProductCategory"> {{ stdCategory.standardCategory }} </option>
                    <!--<option *ngFor="let industry of AllIndustryTypes" [value]="industry._id">{{industry.industryName}}</option>-->
                  </select>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label><b>Broad Product Category</b></label>
                <div>
                  <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                          class="form-control" required
                          formControlName="broadProductCategory" [class.is-invalid]="formSecondGroupForm.broadProductCategory.invalid && formSecondGroupForm.broadProductCategory.touched"
                          name="broadProductCategory" *ngIf="brdProductCategoryValue" (change)="onSelectBroadProductCategory($event.target.value)">
                    <option label="--select something --"></option>
                    <option [value]="brdCategory.id"
                            *ngFor="let brdCategory of brdProductCategoryValue"> {{ brdCategory.category }} </option>
                    <!--<option *ngFor="let industry of AllIndustryTypes" [value]="industry._id">{{industry.industryName}}</option>-->
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="col">
              <div class="form-group">
                <label><b>Product Category</b></label>
                <div>
                  <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                          class="form-control" required
                          formControlName="productCategory" [class.is-invalid]="formSecondGroupForm.productCategory.invalid && formSecondGroupForm.productCategory.touched"
                          name="productCategory" *ngIf="prdCategoryValue" (change)="onSelectProductCategory($event.target.value)">
                    <option label="--select something --"></option>
                    <option [value]="prdCat.id"
                            *ngFor="let prdCat of prdCategoryValue"> {{ prdCat.name }} </option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col">
              <div class="form-group">
                <label><b>Product</b></label>
                <div>
                  <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                          class="form-control" required
                          formControlName="myProduct" [class.is-invalid]="formSecondGroupForm.myProduct.invalid && formSecondGroupForm.myProduct.touched"
                          name="myProduct" *ngIf="prdCategoryValue"
                          (change)="onSelectProduct($event.target.value)">
                    <option label="--select something --"></option>
                    <option [value]="prd.id"
                            *ngFor="let prd of productValue"> {{ prd.name }} </option>
                  </select>
                </div>
              </div>
            </div>

          </div>

            <div class="row">

              <div class="col">
                <div class="form-group">
                  <label><b>Product SubCategory</b></label>
                  <div>
                    <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                            class="form-control" required
                            formControlName="productSubcategory" [class.is-invalid]="formSecondGroupForm.productSubcategory.invalid && formSecondGroupForm.productSubcategory.touched"
                            name="productSubcategory" *ngIf="prdSubcategoryValue" >
                      <option label="--select something --"></option>
                      <option [value]="prdSubCat.id"
                              *ngFor="let prdSubCat of prdSubcategoryValue"> {{ prdSubCat.name }} </option>
                    </select>
                  </div>
                </div>
              </div>


              <div class="col">
                <div class="form-group">
                  <label><b>Product Brand</b></label>
                  <input type="text" class="form-control two-column-input" aria-label="Small"
                         aria-describedby="inputGroup-sizing-sm"
                         formControlName="productBrand" [class.is-invalid]="formSecondGroupForm.productBrand.invalid && formSecondGroupForm.productBrand.touched"
                         name="productBrand" required>
                  <!--                <div-->
                  <!--                  *ngIf="secondFormGroup.controls['plotNumber'].invalid && (secondFormGroup.controls['plotNumber'].dirty-->
                  <!--              || secondFormGroup.controls['plotNumber'].touched)"-->
                  <!--                  class="alert">-->
                  <!--                  <div *ngIf="secondFormGroup.controls['plotNumber'].errors?.required" style="color: red">-->
                  <!--                    Please enter plot number-->
                  <!--                  </div>-->
                  <!--                </div>-->

                </div>
              </div>

          </div>

          <div class="row">
            <div class="col">
              <div class="form-group">
                <label><b>Complaint Description</b></label>
                <textarea type="text" class="form-control" aria-label="Small"
                          aria-describedby="inputGroup-sizing-sm"
                          placeholder="Describe your complaint in detail"
                          formControlName="complaintDescription" [class.is-invalid]="formSecondGroupForm.complaintDescription.invalid && formSecondGroupForm.complaintDescription.touched"
                          name="complaintDescription" required></textarea>
                <!--                <div-->
                <!--                  *ngIf="secondFormGroup.controls['nearestRoad'].invalid && (secondFormGroup.controls['nearestRoad'].dirty-->
                <!--              || secondFormGroup.controls['nearestRoad'].touched)"-->
                <!--                  class="alert">-->
                <!--                  <div *ngIf="secondFormGroup.controls['nearestRoad'].errors?.required" style="color: red">-->
                <!--                    Please enter nearest road-->
                <!--                  </div>-->
                <!--                </div>-->

              </div>
            </div>
          </div>
        </div>

<!--        <div class="row">-->
<!--          <div class="col">-->
<!--            <div class="form-group">-->
<!--              <label><b>Attach Relevant Documents</b></label><br>-->
<!--              <input type="file" class="rectangle"-->
<!--                     name="fileUploaded">-->
<!--              &lt;!&ndash;<div id="fileUploadedWrap" class="d-flex">&ndash;&gt;-->
<!--              &lt;!&ndash;<img alt="logo">&ndash;&gt;-->
<!--              &lt;!&ndash; <button class="btn btn-sm btn-danger">Remove</button>&ndash;&gt;-->
<!--              &lt;!&ndash;</div>&ndash;&gt;-->
<!--            </div>-->
<!--          </div>-->

<!--        </div>-->


        <div class="container" style="margin-top: 2em">
          <div class="container" style="text-align: right">
            <button (click)="onClickBack(secondFormGroup.valid)" class="submit-button" type="button">BACK</button>
            <br>
            <button type="submit" class="submit-button">NEXT</button>
          </div>

        </div>

      </form>
    </div>
  </div>

  <div *ngSwitchDefault style="margin-top: 5%">
    <div class="container">
      <form (ngSubmit)="onSubmit()" [formGroup]="thirdFormGroup" class="form">
        <h1>Let's ensure the safety of products </h1>
        <p>Please fill in the details to report potentially harmful products in our markets</p>
        <hr>

        <h3 class="form-step-title">
          <fa-icon [icon]="backIcon"></fa-icon>
          Step 3/4: Location Details
        </h3>

        <div class="form-body">
          <div class="form-group">
            <label><b>County</b></label>
            <div>
              <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                      class="form-control" required
                      formControlName="county" [class.is-invalid]="formThirdGroupForm.county.invalid && formThirdGroupForm.county.touched"
                      name="county" *ngIf="counties"
                      (change)="onSelectCounty($event.target.value)">
                <option label="--select something --"></option>
                <option [value]="county.id"
                        *ngFor="let county of counties"> {{ county.county }} </option>
                <!--<option *ngFor="let industry of AllIndustryTypes" [value]="industry._id">{{industry.industryName}}</option>-->
              </select>
            </div>
          </div>

          <div class="form-group">
            <label><b>Town</b></label>
            <div>
              <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                      class="form-control" required
                      formControlName="town" [class.is-invalid]="formThirdGroupForm.town.invalid && formThirdGroupForm.town.touched"
                      name="town" *ngIf="townValue">
                <option label="--select something --"></option>
                <option [value]="twn.id"
                        *ngFor="let twn of townValue"> {{ twn.town }} </option>
                <!--<option *ngFor="let industry of AllIndustryTypes" [value]="industry._id">{{industry.industryName}}</option>-->
              </select>
            </div>
          </div>

          <div class="form-group">
            <label><b>Market Center</b></label>
            <input type="text" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="marketCenter" [class.is-invalid]="formThirdGroupForm.marketCenter.invalid && formThirdGroupForm.marketCenter.touched"
                   name="marketCenter" required
                   style="margin-bottom: 0">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>

          <div class="form-group">
            <label><b>Name of Building</b></label>
            <input type="text" class="form-control one-column-input " aria-label="Small"
                   aria-describedby="inputGroup-sizing-sm"
                   formControlName="buildingName" [class.is-invalid]="formThirdGroupForm.buildingName.invalid && formThirdGroupForm.buildingName.touched"
                   name="buildingName" required
                   style="margin-bottom: 0">
            <!--            <div-->
            <!--              *ngIf="firstFormGroup.controls['kraPin'].invalid && (firstFormGroup.controls['kraPin'].dirty-->
            <!--              || firstFormGroup.controls['kraPin'].touched)"-->
            <!--              class="alert">-->
            <!--              <div *ngIf="firstFormGroup.controls['kraPin'].errors?.required" style="color: red">-->
            <!--                Please enter KRA Pin-->
            <!--              </div>-->
            <!--            </div>-->

          </div>


          <button (click)="onClickBack(thirdFormGroup.invalid)" class="submit-button" style="margin: 5em 0 0 -1%"
                  type="button">BACK
          </button>
          <br>
          <button type="submit" class="submit-button" style="margin: 5em 0 0 -1%">SUBMIT COMPLAINT</button>


        </div>
      </form>
    </div>


  </div>

<!--  <div *ngSwitchDefault>-->
<!--    <div class="container">-->
<!--      <h1>Let's ensure the safety of products </h1>-->
<!--      <p>Please fill in the details to report potentially harmful products in our markets</p>-->
<!--      <hr>-->

<!--      <h3 class="form-step-title mt-2 mb-4">-->
<!--        Step 4/4: Confirm Details-->
<!--      </h3>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--          <h5 class="mb-4">Your information</h5>-->
<!--          <ul class="field-titles">-->
<!--            <li>First Name</li>-->
<!--            <li>Last Name</li>-->
<!--            <li>Email Address</li>-->
<!--            <li>Phone Number</li>-->
<!--            <li>Postal Address</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <h6 class="mb-4">Edit</h6>-->
<!--          <ul>-->
<!--            <li>Brian</li>-->
<!--            <li>Kinyanjui</li>-->
<!--            <li>brian@gmail.com</li>-->
<!--            <li>071111111</li>-->
<!--            <li>P.O. BOX 72496-00200</li>-->
<!--          </ul>-->

<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--          <h5 class="mb-4">Complaint Details</h5>-->
<!--          <ul class="field-titles">-->
<!--            <li>Complaint Category</li>-->
<!--            <li>Complaint Title</li>-->
<!--            <li>Broad Product Category</li>-->
<!--            <li>Product Classification</li>-->
<!--            <li>Product Subcategory</li>-->
<!--            <li>Product Name</li>-->
<!--            <li>Product Brand</li>-->
<!--            <li>Complaint Description</li>-->
<!--            <li>Attached Documents</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <h6 class="mb-4">Edit</h6>-->
<!--          <ul>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--          </ul>-->

<!--        </div>-->
<!--      </div>-->
<!--      <hr>-->
<!--      <div class="row">-->
<!--        <div class="col-lg-6">-->
<!--          <h5 class="mb-4">Location Details</h5>-->
<!--          <ul class="field-titles">-->
<!--            <li>County</li>-->
<!--            <li>Town</li>-->
<!--            <li>Market Center</li>-->
<!--            <li>Building Name</li>-->
<!--          </ul>-->
<!--        </div>-->
<!--        <div class="col-lg-6">-->
<!--          <h6 class="mb-4">Edit</h6>-->
<!--          <ul>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--            <li>First Name</li>-->
<!--          </ul>-->

<!--        </div>-->
<!--      </div>-->


<!--      <button type="submit" class="submit-button" style="margin: 5em 0 0 -1%">SUBMIT APPLICATION</button>-->

<!--    </div>-->
<!--  </div>-->

</div>

