<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.w3.org/1999/xhtml">



<head>
<meta name="apple-itunes-app" content="app-id=934020071">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description">
<meta name="author">





    <linkth: href="@{/datables/css/style_2016.css}" rel="stylesheet">
    <link href="bootstrap/jquery.autocomplete.css" rel="stylesheet">
    <script th:src="@{/resources/pwstrength.js}"></script>
<script src='https://www.google.com/recaptcha/api.js'></script>

    <link href="bootstrap/font-awesome.min.css" rel="stylesheet">
   
    
    <script type="text/javascript" src="bootstrap/saved_resource"></script><script type="text/javascript" src="bootstrap/jquery.js.download"></script>
    <script type="text/javascript" src="bootstrap/jquery.dataTables.js.download"></script>
    <script type="text/javascript" src="bootstrap/TableTools.js.download"></script>
    <script type="text/javascript" src="bootstrap/ZeroClipboard.js.download"></script>
    <script type="text/javascript" src="bootstrap/dataTables.bootstrap.js.download"></script>
    <script type="text/javascript" src="bootstrap/jquery.autocomplete.js.download"></script>
    <script type="text/javascript" src="bootstrap/bootstrap-tagsinput.js.download"></script>

    <style type="text/css"> video { width: 340px; height:340px; text-align: center; margin-left:120px } </style>


    <body class="transparent" style="position: relative; min-height: 100%; top: 0px;">
        <div class="full-bg login-bg"></div>
    
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner clearfix">

                

                <a class="brand" href="#"></a>

                
                <ul class="nav">
                        
        <ul class="nav">
            <li><a href="#" onclick="pageTracker._link(this.href); return false;">
                <strong>Logout</strong></a></li>
         
            
        </ul>
                    
                </ul>
                <div class="mobile-nav-toggle">
            	    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 40.8 30" enable-background="new 0 0 40.8 30" xml:space="preserve">
				    <g id="sB9xYp.tif">
					    <g>
						    <path fill="#F1F2F2" d="M2.6,30c-0.3-0.1-0.6-0.1-0.9-0.2c-1-0.4-1.6-1-1.7-1.9c0-0.9,0-1.7,0-2.6c0-1.2,1.3-2.2,2.8-2.2
							    c7,0,14,0,21,0c4.7,0,9.3,0,14,0c1.3,0,2.4,0.6,2.7,1.6c0.1,0.2,0.1,0.5,0.1,0.7c0,0.7,0,1.5,0,2.2c0,1.2-1,2.1-2.5,2.3
							    c0,0-0.1,0-0.1,0C26.4,30,14.5,30,2.6,30z"></path>
						    <path fill="#F1F2F2" d="M20.4,0C26.2,0,32,0,37.7,0c1,0,1.8,0.2,2.4,0.8c0.4,0.4,0.7,0.8,0.7,1.4c0,0.8,0,1.7,0,2.5
							    c0,1.2-1.3,2.2-2.9,2.2c0,0-0.1,0-0.1,0c-11.6,0-23.2,0-34.8,0c-1.4,0-2.6-0.7-2.9-1.8C0,5,0,4.8,0,4.6c0-0.7,0-1.5,0-2.2
							    C0,1.2,1,0.2,2.5,0c0.2,0,0.4,0,0.6,0C8.9,0,14.7,0,20.4,0z"></path>
						    <path fill="#F1F2F2" d="M20.4,18.5c-5.8,0-11.6,0-17.4,0c-1.5,0-2.7-0.8-2.9-2c0-0.1,0-0.2,0-0.3c0-0.8,0-1.6,0-2.3
							    c0-1,0.8-1.9,2-2.2c0.3-0.1,0.7-0.1,1.1-0.1c8,0,15.9,0,23.9,0c3.6,0,7.2,0,10.8,0c1.2,0,2.2,0.4,2.7,1.3c0.2,0.3,0.3,0.7,0.3,1
							    c0,0.8,0,1.5,0,2.3c0,1.2-1,2.1-2.5,2.3c-0.1,0-0.3,0-0.4,0C32.1,18.5,26.2,18.5,20.4,18.5z"></path>
					    </g>
				    </g>
				    </svg>
                </div>
            </div>

        </div>

        
    <div id="fb-root" class=" fb_reset"><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div></div></div><div style="position: absolute; top: -10000px; height: 0px; width: 0px;"><div><iframe name="fb_xdm_frame_https" frameborder="0" allowtransparency="true" allowfullscreen="true" scrolling="no" allow="encrypted-media" id="fb_xdm_frame_https" aria-hidden="true" title="Facebook Cross Domain Communication Frame" tabindex="-1" src="bootstrap/xaOI6zd9HW9.html" style="border: none;"></iframe></div></div></div>
  < div class="row-fluid">
    <div class="sidebar-nav">
        <ul class="nav nav-list">
            <li class="nav-header">STANDARD DEVELOPMENT AND TRADE</li>

            <li><a th:href="@{/api/sd/requester/requesterform} " title="add new ppe items">
                     >Request  a standard
                </a></li>

            <li><a th:href="@{/api/sd/requester/requests}" title="add PPE ITEMS">
                    <img th:src="@{/img/appoitment.png}">View my requests
                </a></li>
            


            <li class="nav-header">Account</li>

            <li><a th:href="@{/home}" data-toggle="modal" title="log out "
                    onclick="return confirm('Are you  sure you want to Log out of your account ')">
                    <img th:src="@{/img/logout.png}">Log out</a></li>


        </ul>
            <ul class="thumbnails" style="padding-top: 10px; min-height: 100px;" id="friendsList">
            </ul>
        </ul>
    </div>
     <div class="container-fluid"> 

    
    <div class="content">
        <div class="row-fluid">
            <div class="span2">&nbsp;</div>
            <div class="span5">
                <div class="login-container">
                    <div class="login-span">

                        <form class="form-horizontal well-plain-form" th:action="@{/api/sd/request/submit}"
                        th:object="${requestform}" method="post">

                            <fieldset>

                                <h4 class="under-border">Fill the form to do Data cleanup</h4>
                                <br>

                                     
                                <div class="control-group">

                                    <label class="control-label-long" >Full name</label>
                                    <div class="controls-long">
                                        <input type="text" th:field="*{requestfullName}" name="firstName" value="" required="required" placeholder="Enter your full name..." class="input-large">
                                    </div>
                                    <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

                                </div>

                                <!-- <div class="control-group">

                                    <label class="control-label-long" >Phone no</label>
                                    <div class="controls-long">
                                        <input type="text"  th:field="*{requestPhone}" name="firstName" value="" required="required" placeholder="request Phone No..." class="input-large">
                                    </div>
                                    <span id="firstNameError" class="alert alert-danger col-sm-4" style="display:none"></span>

                                </div> -->
                                <div class="control-group">

                                        <label class="control-label-long" >Email</label>
                                        <div class="controls-long">
                                            <input type="email" th:field="*{requesterEmail}" name="email" value="" required="required" placeholder="Enter your email.." class="input-large">
                                        </div>
                                        <span id="lastNameError" class="alert alert-danger col-sm-4" style="display:none"></span>
    
                                    </div>
                                    <div class="control-group">

                                            <label class="control-label-long" >Select area of expertise</label>
                                            <div class="controls-long">
                                                <select th:field="*{speciality}"  >
                                                    <option th:each="skill : ${skills}" th:value="${skill}"
                                                th:text="${skill}">Area of specialization will appear here
                                            </option>
                                                </select>
                                               
                                                     </div>
                                            <span id="emailError" class="alert alert-danger col-sm-4" style="display:none"></span>
                                               
                                        </div>
                                        <!-- <div class="control-group">

                                                <label class="control-label-long" >Brief description of Standard</label>
                                                <div class="controls-long">
                                                    <input type="text"  th:field="*{speciality}" name="text" value="" required="required" placeholder="Give a  brief description  of the   standard" class="input-large">
                                                </div>
                                                <span id="passwordError" class="alert alert-danger col-sm-4" style="display:none"></span>
            
                                            </div>
                                    -->

                               
                            </fieldset>


                        </form>
                    </div>
                </div>

            </div>
            
        </div>
    </div>
    

        

        <div class="modal hide" id="alertModal">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">
                    x</button>
                <h3 id="alertTitle" style="border-bottom:none">BSK GLOBAL TECHNOLOGIES
                </h3>
            </div>
            <div class="modal-body">
                <p id="alertBody">
                </p>
            </div>
            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
            </div>
        </div>
        
     
        <script type="text/javascript" src="bootstrap/bootstrap-transition.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-alert.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-modal.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-dropdown.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-scrollspy.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-tab.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-tooltip.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-popover.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-button.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-collapse.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-carousel.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-typeahead.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootstrap-datepicker.js.download"></script>
        <script type="text/javascript" src="bootstrap/bootbox.js.download"></script>
        <script type="text/javascript" src="bootstrap/Validation.js.download"></script>
        <script type="text/javascript" src="bootstrap/application.js.download"></script>
        <script type="text/javascript" src="bootstrap/main.js(1).download"></script>
        <script type="text/javascript" src="bootstrap/modernizr.js.download"></script>
    

<script type="text/javascript" src="bootstrap/296069.js.download"></script>
    
            </body></html>