<h2 mat-dialog-title>Add/Update Auction Item</h2>
<mat-dialog-content>
    <div class="form-group row" [formGroup]="form">
        <label for="serialNo" class="waiver-form-label">Serial Number</label>
        <input id="serialNo" name="serialNo" class="waiver-form-input-master"
               formControlName="serialNo" type="text"/>
        <label for="itemName" class="waiver-form-label">Item Name</label>
        <input id="itemName" name="itemName" class="waiver-form-input-master"
               formControlName="itemName" type="text"/>
        <label for="quantity" class="waiver-form-label">Quantity</label>
        <input id="quantity" name="quantity" class="waiver-form-input-master"
               formControlName="quantity" type="number"/>
        <div *ngIf="form.value.itemType=='VEHICLE'">
            <label for="chassisNo" class="waiver-form-label">Chassis Number</label>
            <input id="chassisNo" name="chassisNo" class="waiver-form-input-master"
                   formControlName="chassisNo" type="text"/>
            <label for="bodyType" class="waiver-form-label">Body Type</label>
            <input id="bodyType" name="bodyType" class="waiver-form-input-master"
                   formControlName="bodyType" type="text"/>
            <label for="transmission" class="waiver-form-label">Transmission</label>
            <select id="transmission" name="transmission" class="waiver-form-input-master"
                    formControlName="transmission">
                <option value="" disabled selected>Select One</option>
                <option value="MANUAL">Manual Transmission</option>
                <option value="AUTO">Automatic Transmission</option>
            </select>
            <label for="model" class="waiver-form-label">Model</label>
            <input id="model" name="model" class="waiver-form-input-master"
                   formControlName="model" type="text"/>
            <label for="make" class="waiver-form-label">Vehicle Make</label>
            <input id="make" name="make" class="waiver-form-input-master"
                   formControlName="make" type="text"/>
            <label for="fuel" class="waiver-form-label">Fuel Type</label>
            <input id="fuel" name="fuel" class="waiver-form-input-master"
                   formControlName="fuel" type="text"/>
            <label for="typeOfVehicle" class="waiver-form-label">Vehicle Type</label>
            <input id="typeOfVehicle" name="typeOfVehicle" class="waiver-form-input-master"
                   formControlName="typeOfVehicle" type="text"/>
        </div>
        <mat-error *ngIf="message">
            {{message}}
        </mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="btn-group btn-group pull-right" role="group" aria-label="Auction Item">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid" name="submit" type="button" class="btn btn-primary"
                (click)="saveRecord()">Save Auction
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>
