<h2 mat-dialog-title>BS Number & SSF Number update</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <input type="hidden" id="description" name="description" value="'SSF was added sucessfull'">
        <div class="col-sm-12 col-md-6">
            <label for="bsNumber" class="waiver-form-label">BS Number:</label>
            <input class="waiver-form-input-master" type="text" id="bsNumber" name="bsNumber"
                   formControlName="bsNumber">
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="submissionDate" class="waiver-form-label">Submission Date:</label>
            <input class="waiver-form-input-master" type="date" id="submissionDate" name="submissionDate"
                   formControlName="submissionDate">
        </div>
        <div class="col-sm-12 col-md-12">
            <label for="remarks" class="waiver-form-label">Remarks</label>
            <textarea class="waiver-form-input-master" id="remarks" name="remarks" formControlName="remarks" rows="4">
            </textarea>
        </div>
        <mat-error *ngIf="message">{{message}}</mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid" class="next-btn btn-gen new-btn" (click)="saveSsfResult()">SAVE
        </button>
    </div>
</mat-dialog-actions>
