<h2 mat-dialog-title>Assign Officer</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-8">
            <label for="officer" class="waiver-form-label">Select Officer</label>
            <select id="officer" class="waiver-form-input-master" formControlName="officerId">
                <option value="" disabled selected>Select Officer</option>
                <option *ngFor="let officer of officers" [value]="officer.id">{{officer.firstName+" "+(officer.lastName?officer.lastName:'')}} </option>
            </select>

            <label for="remarks" class="waiver-form-label">Please write, in detail, your feedback for this
                consignment:</label>
            <textarea id="remarks" class="waiver-form-input-master"
                      formControlName="remarks"></textarea>
            <mat-error *ngIf="message">{{message}}</mat-error>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid||loading" class="next-btn btn-gen new-btn" (click)="assignOfficer()">SAVE
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>