<style>
  .footer-copyright{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
</style>
<footer class="footer-copyright">


          <img style="height: 40px; width: 40px" src="./assets/img/Fmark.png"/>


          <img style="height: 60px; width: 60px" src="./assets/img/Dmark.png"/>

          <img style="height: 60px; width: 60px" src="./assets/img/Smark%20Logo.png"/>



    <div>
      &copy;
      {{test | date: 'yyyy'}},
      <a href="https://www.bskglobaltech.com" target="_blank">Kenya Bureau of Standards.
      </a>  All Rights Reserved v1.0.0

    </div>
</footer>
