<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"><b>Edit Draft Standards</b></h4>
                        </div>

                        <div class="card-body">
                            <div class="toolbar">
                                <div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <h5 class="mr-4">Edit Draft Standards</h5>
                                        <div class="resolved-pill">
                                            <p>{{tasks.length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="material-datatables table-responsive">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th class="id">ID</th>
                                        <th class="task">Task</th>
                                        <th class="task">Title</th>
                                        <th class="task">Document</th>
                                        <th class="task">Version</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let task of tasks  let i= index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{task.name}}</td>
                                        <td>{{task.taskData.title}}</td>
                                        <td>
                                            <button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.taskData.ID,'ApprovedDraftStandard'+task.taskData.ID, 'application/pdf')"
                                                    target="_blank" class="btn btn-info btn-sm ">
                                                <i class="material-icons">visibility</i>

                                            </button>
                                        </td>
                                        <td>{{task.taskData.versionNumber}}</td>
                                        <td><a (click)="onOpenModal(task,'edit')" type="button"
                                               class="btn btn-info"
                                               data-placement="top" data-original-title="Review draft">Edit Draft</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade" id="justificationDecisionModal" tabindex="-1" role="dialog"
                                 aria-labelledby="updateExampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateExampleModalLabel">Edit Draft</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form #editForm="ngForm">
                                            <div class="modal-body">
                                                <p>{{actionRequest?.taskData?.title}} Details</p>
                                                <ul>
                                                    <li><b>Proposal Title:</b>{{actionRequest?.taskData?.title}}</li>
                                                    <li><b>Version:</b>{{actionRequest?.taskData?.versionNumber}}</li>
                                                    <li><b>Standard
                                                        Officer:</b>{{actionRequest?.taskData?.standardOfficerName}}
                                                    </li>
                                                    <li><a href="#"
                                                           (click)="viewPdfFile( actionRequest?.taskData?.ID,'DraftStandard'+actionRequest?.taskData?.ID, 'application/pdf')"
                                                           target="_blank">View Approved Draft Standard To Be Edited</a>
                                                    </li>
                                                </ul>
                                                <div class="row">
                                                    <input hidden ngModel="{{actionRequest?.taskId}}" name="taskId"
                                                           id="taskId">
                                                    <div class="form-group col-12">
                                                        <label><b>Upload Draft Document</b></label>
                                                        <form #demoForm="ngForm">
                                                            <file-upload [(ngModel)]="uploadedFiles"
                                                                         name="uploadedFiles" fileslimit="2"
                                                                         required
                                                                         accept=".pdf"></file-upload>
                                                            <input class="form-control one-column-input"
                                                                   ngModel="DraftStandard"
                                                                   name="DocDescription" type="hidden">
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <input hidden name="id" id="id">
                                            <div class="modal-footer">
<!--                                                <button type="button" class="btn btn-danger" #closeModal-->
<!--                                                        data-dismiss="modal"-->
<!--                                                        (click)="decisionOnDraft(editForm.value,'false',actionRequest?.taskData?.ID)">Reject-->
<!--                                                </button>-->
                                                <button class="btn btn-info" data-dismiss="modal" #closeModal
                                                        (click)="decisionOnDraft(editForm.value,'true',actionRequest?.taskData?.ID)">Forward To
                                                    Proofreader
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







