<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"><b>Editor Tasks</b></h4>
                        </div>

                        <div class="card-body">
                            <div class="toolbar">
                                <div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <h5 class="mr-4">Editor Tasks</h5>
                                        <div class="resolved-pill">
                                            <p>{{tasks.length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="material-datatables table-responsive">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th class="id">ID</th>
                                        <th class="task">Title</th>
                                        <th class="task">Original Draft</th>

                                        <th class="task">Edited Status</th>
                                        <th class="task">Edited Draft</th>

                                        <th class="task">Draughted Status</th>
                                        <th class="task">Draughted Draft</th>

                                        <th class="task">Proofread Status</th>
                                        <th class="task">ProofRead Draft</th>

                                        <th class="task">Process</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let task of tasks  let i= index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{task.title}}</td>
                                        <td>
                                            <button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.id,'ApprovedDraftStandard'+task.id, 'application/pdf')"
                                                    target="_blank" class="btn btn-info btn-sm ">
                                                <i class="material-icons">visibility</i>

                                            </button>
                                        </td>
                                        <td>{{task.editedStatus}}</td>
                                        <td>
                                            <button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.id,'ApprovedDraftStandard'+task.id, 'application/pdf')"
                                                    target="_blank" class="btn btn-info btn-sm ">
                                                <i class="material-icons">visibility</i>

                                            </button>
                                        </td>
                                        <td>{{task.draughtingStatus}}</td>
                                        <td>
                                            <button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.id,'ApprovedDraftStandard'+task.id, 'application/pdf')"
                                                    target="_blank" class="btn btn-info btn-sm ">
                                                <i class="material-icons">visibility</i>

                                            </button>
                                        </td>
                                        <td>{{task.proofreadStatus}}</td>
                                        <td>
                                            <button mat-raised-button type="button" data-toggle="modal"
                                                    (click)="viewPdfFile( task.id,'ApprovedDraftStandard'+task.id, 'application/pdf')"
                                                    target="_blank" class="btn btn-info btn-sm ">
                                                <i class="material-icons">visibility</i>

                                            </button>
                                        </td>

                                        <td>{{task.approvalStatus}}</td>
                                        <td>
                                            <div *ngIf="task.editedStatus=='Edited'&& task.approvalStatus!='Approved For Draughting'
                                            && task.approvalStatus!='Draughting' && task.approvalStatus!='Approved For Proofreading'
                                            && task.approvalStatus!='ProofRead Done'">
                                                <a (click)="approveForDraughting(task)" type="button"
                                                   class="btn btn-info"
                                                   data-placement="top" data-original-title="Review draft">Send For
                                                    Draughting</a>
                                            </div>
                                            <div *ngIf="task.editedStatus=='Not Edited'">
                                                <a (click)="onOpenModal(task,'edit')" type="button"
                                                   class="btn btn-info"
                                                   data-placement="top" data-original-title="Review draft">Edit
                                                    Draft</a>
                                            </div>
                                            <div *ngIf="task.draughtingStatus=='Draughted' && task.draughtingStatus=='Draughting Not Needed' && task.approvalStatus!='Approved For Proofreading'">
                                                <a (click)="approveForProofReading(task)" type="button"
                                                   class="btn btn-info"
                                                   data-placement="top" data-original-title="Review draft">Send For
                                                    Proofreading</a>
                                            </div>

                                            <div *ngIf="task.approvalStatus=='ProofRead Done'">
                                                <a (click)="sendToOfficer(task)" type="button"
                                                   class="btn btn-info"
                                                   data-placement="top" data-original-title="Review draft">Send To
                                                    Officer</a>
                                            </div>


                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade" id="justificationDecisionModal" tabindex="-1" role="dialog"
                                 aria-labelledby="updateExampleModalLabel"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateExampleModalLabel">Edit Draft</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form #editForm="ngForm">
                                            <div class="modal-body">
                                                <p>{{actionRequest?.title}} Details</p>
                                                <ul>
                                                    <li><b>Proposal Title:</b>{{actionRequest?.title}}</li>
                                                    <li><b>Version:</b>{{actionRequest?.versionNumber}}</li>
                                                    <li><b>Standard
                                                        Officer:</b>{{actionRequest?.standardOfficerName}}
                                                    </li>
                                                    <li>
                                                        <button class="btn btn-info tooltips"
                                                                style="width: inherit"
                                                                (click)="viewPdfFile( actionRequest?.id,'DraftStandard'+actionRequest?.id, 'application/pdf')"
                                                                data-placement="top"> View Draft
                                                        </button>
                                                    </li>
                                                </ul>
                                                <div class="row">
                                                    <input hidden ngModel="{{actionRequest?.id}}" name="taskId"
                                                           id="taskId">
                                                    <div class="form-group col-12">
                                                        <label><b>Upload Draft Document</b></label>
                                                        <form #demoForm="ngForm">
                                                            <file-upload [(ngModel)]="uploadedFiles"
                                                                         name="uploadedFiles" fileslimit="2"
                                                                         required
                                                                         accept=".pdf"></file-upload>
                                                            <input class="form-control one-column-input"
                                                                   ngModel="DraftStandard"
                                                                   name="DocDescription" type="hidden">
                                                        </form>
                                                    </div>
                                                </div>

                                            </div>
                                            <input hidden name="id" id="id">
                                            <div class="modal-footer">
                                                <!--                                                <button type="button" class="btn btn-danger" #closeModal-->
                                                <!--                                                        data-dismiss="modal"-->
                                                <!--                                                        (click)="decisionOnDraft(editForm.value,'false',actionRequest?.taskData?.ID)">Reject-->
                                                <!--                                                </button>-->
                                                <button class="btn btn-info" data-dismiss="modal" #closeModal
                                                        (click)="decisionOnDraft(editForm.value,'true',actionRequest?.id)">
                                                    Submit Edited Draft
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







