<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">document</i>
                        </div>
                        <h4 class="card-title">RFC for COR
                            <button class="btn btn-sm btn-default float-right mr-7"
                                    (click)="goBack()"><i class="fa fa-arrow-left"></i> Back

                            </button>
                        </h4>
                    </div>
                    <div class="error-message" *ngIf="message">
                        <p>{{message}}</p>
                    </div>
                    <div class="card-body">
                        <app-rfc-fragment
                                (reloadRfc)="reloadRfcDetails($event)"
                                [rfcDetails]="rfcDetails"
                                [certType]="'COR'"
                        ></app-rfc-fragment>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>