.nav-pills .nav-link {
  border-radius: 0;
}

.nav-pills .nav-link.active, .nav-link.show >.nav-link {
  color: #121212;
  text-decoration: none;
  border-bottom-width: 4px;
  border-bottom-style: solid;
  border-bottom-color: #FAA330;
  background-color: #ffffff !important;
}

.nav-pills .nav-link:not(.active) {
  background-color: #ffffff;
  color: black;
}

.submit-button {
  height: calc(1.5em + 0.75rem + 2px);
  padding: 5px;
  margin-top: 10px;
}
