<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>KEBS: Renewal invoice</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>KEBS Invoice</title>
    <link
            href="https://truehost.co.ke/cloud/templates/lagom/core/styles/depth/assets/css/theme.css?v=1.5.0"
            rel="stylesheet"
    />
    <link
            href="https://truehost.co.ke/assets/css/fontawesome-all.min.css"
            rel="stylesheet"
    />

    <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <!--    <script-->
    <!--      src="https://truehost.co.ke/cloud/templates/lagom/assets/js/scripts.min.js?v=1.5.0"-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--    ></script>-->
    <!--    <script-->
    <!--      src="https://truehost.co.ke/cloud/templates/lagom/assets/js/core.min.js?v=1.5.0"-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--    ></script>-->

    <!--    <script-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--      src="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/js/mgLibs.js"-->
    <!--    ></script>-->
    <link
            rel="stylesheet"
            type="text/css"
            href="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/css/jquery.dataTables.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/css/select2.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/css/mg-style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/css/icheck/skins/all.css"
    />
    <!--    <script-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--      src="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/js/mgLibs.js"-->
    <!--    ></script>-->
    <!--    <script-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--      src="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/js/jquery.dataTables.js"-->
    <!--    ></script>-->
    <!--    <script-->
    <!--      src="https://truehost.co.ke/modules/addons/DomainAllocator/templates/admin/assets/js/validator.js"-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--    ></script>-->
    <!--    <script-->
    <!--      src="modules/addons/DomainAllocator/templates/admin/assets/js/select2.min.js"-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--    ></script>-->
    <!--    <script-->
    <!--      src="modules/addons/DomainAllocator/templates/admin/assets/js/icheck.min.js"-->
    <!--      type="ae60137051d53d44f06612ca-text/javascript"-->
    <!--    ></script>-->
    <style>
        #MGLoader {
            background-color: rgba(0, 0, 0, 0.1);
            height: 155%;
            left: -30%;
            position: absolute;
            top: -30%;
            width: 159.1%;
            z-index: 60000;
        }

        #MGLoader img {
            position: fixed;
            top: 50%;
            left: 50%;
            width: 300px;
            margin-left: -150px;
        }
        #assign_domain {
            margin-bottom: 30px;
        }
        .assign_modal {
            padding: 40px;
        }
        .assign_modal .form-group {
            margin-bottom: 30px;
        }
        .assign_modal .checkbox {
            margin-bottom: 30px;
        }
    </style>
    <div
            id="client_area_modal"
            class="modal fade bs-example-modal-lg"
            tabindex="-1"
            role="dialog"
            aria-labelledby="myLargeModalLabel"
    >
        <div class="modal-dialog modal-lg">
            <div class="modal-content"></div>
        </div>
    </div>
    <div id="MGLoader" style="display: none;">
        <div>
            <img
                    src="modules/addons/DomainAllocator/templates/admin/assets/img/ajax-loader.gif"
                    alt="Loading ..."
            />
        </div>
    </div>
</head>
<body
        class="lagom lagom-layout-condensed page-viewinvoice page-user-logged"
        data-phone-cc-input=""
>
<div class="app-nav app-nav-condensed hidden-print">
    <section id="header" style="background-color: #0166B1;">
        <div class="container">
            <a th:href="@{/}" class="logo"
            ><img
                    src="https://dl.dropbox.com/s/vs47rl78o1o8krg/Component-1.png?dl=0"
                    title="Truehost Cloud"
                    alt="Truehost Cloud"
            /></a>
        </div>
    </section>
</div>
<div class="app-main">
    <div class="main-body">
        <div class="container">
            <div class="main-grid row">
                <div class="main-header col-md-12">
                    <div class="header-lined">
                        <h1>
                            View Invoice
                        </h1>
                        <!-- <div class="d-flex space-between align-center">
                          <ol class="breadcrumb">
                            <li>
                              <a href="index.php"> Portal Home </a>
                            </li>
                            <li>
                              <a href="clientarea.php"> Client Area </a>
                            </li>
                            <li>
                              <a href="clientarea.php?action=invoices"> My Invoices </a>
                            </li>
                            <li class="active">
                              Invoice #68525
                            </li>
                          </ol>
                        </div> -->
                    </div>
                </div>
                <div class="main-content col-xs-12">
                    <div class="row row-eq-height row-eq-height-md">
                        <div class="col-md-9 tab-m-b-48">
                            <div class="invoice">
                                <div class="section">
                                    <div class="row">
                                        <div class="col-sm-7">
                          <span class="invoice-title">
                            Invoice #68525
                            <span th:if="${invoice.status == 0}"
                                  class="invoice-status label label-lg label-danger"
                            >Unpaid</span
                            >
                          </span>
                                            <span th:if="${invoice.status == 1}"
                                                  class="invoice-status label label-lg label-info"
                                            >Paid</span
                                            >
                                        </div>
                                        <div class="col-sm-5">
                                            <ul class="list-info list-info-50">
                                                <li>
                                                    <span class="list-info-text">Invoice Date</span>
                                                    <span class="list-info-title" th:text="${#dates.format(invoice.createdOn, 'dd/MM/yyyy')}"></span>
                                                </li>
                                                <li>
                                                    <span class="list-info-text">Due Date</span>
                                                    <span class="list-info-title" th:text="${#dates.format(invoice.expiryDate, 'dd/MM/yyyy')}"></span>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <h3>Pay To:</h3>
                                            <address>
                                                KEBS<br />
                                                <!--                            MPESA TILL NO: 804700<br />-->
                                                <!--                            Paypal:-->
                                                <!--                            <a-->
                                                <!--                              href="/cdn-cgi/l/email-protection"-->
                                                <!--                              class="__cf_email__"-->
                                                <!--                              data-cfemail="3646574f76424443535e59454218555a594352"-->
                                                <!--                              >pay@kebs.go.ke</a-->
                                                <!--                            >-->
                                            </address>
                                        </div>
                                        <div class="col-sm-5">
                                            <h3>Invoiced To:</h3>
                                            <address th:text="${invoice.businessName}">
                                                <div th:text="${invoice.manufacturer.postalAddress}"></div>
                                                <!--                            BSK<br />-->
                                                <!--                            Vincent Muriuki<br />-->
                                                <!--                            3998, <br />-->
                                                <!--                            Nairobi, Trance Towers<br />-->
                                                <!--                            Kenya-->
                                            </address>
                                        </div>
                                        <div class="col-sm-5">
                                            <h3>Invoice for:</h3>
                                            <address th:text="${'Renewal for' + ' ' invoice?.permitId?.saveReason}">
                                                <div th:text="'Permit Number' + ' ' 'Brand'"></div>
                                                <div th:text="${invoice?.permitId?.postalAddress}"></div>
                                                <br>
                                                <div th:text="'Product'"></div>
                                                <div th:text="'Brand'"></div>
                                                <!--                            BSK<br />-->
                                                <!--                            Vincent Muriuki<br />-->
                                                <!--                            3998, <br />-->
                                                <!--                            Nairobi, Trance Towers<br />-->
                                                <!--                            Kenya-->
                                            </address>
                                        </div>
                                    </div>
                                </div>
                                <div class="section">
                                    <h3>Invoice Items</h3>
                                    <div class="table-responsive">
                                        <table class="table table-condensed">
                                            <thead>
                                            <tr>
                                                <th width="61%">Description</th>
                                                <th width="20%"></th>
                                                <th width="19%" class="text-center">Amount</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td colspan="2">
                                                    Application cost -
                                                    <br /><br>
                                                    <!--                                + Cost of Standard <br />-->

                                                </td>
                                                <td class="text-center" th:text="'KSH' + ${invoice.amount}"></td>
                                            </tr>
                                            <tr class="sub-total-row first">
                                                <!--                              <td></td>-->
                                                <td colspan="2">
                                                    Cost of standard -
                                                    <br /><br>
                                                <td th:text="'KSH' + ${invoice.amount}"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="2">
                                                    Product cost -
                                                    <br /><br>
                                                    <!--                                + Cost of Standard <br />-->

                                                </td>
                                                <td class="text-center" th:text="'KSH' + ${invoice.amount}"></td>
                                            </tr>
                                            <tr class="sub-total-row last">
                                                <td></td>
                                                <td>Tax</td>
                                                <td>KSH 0.00</td>
                                            </tr>
                                            <tr class="total-row">
                                                <td></td>
                                                <td class="h3">Total</td>
                                                <td class="h3" th:text="'KSH' + ${invoice.amount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="section">
                                    <h3>Transactions</h3>
                                    <div class="table-responsive">
                                        <table class="table table-condensed m-b-0">
                                            <thead>
                                            <tr>
                                                <th width="41%" class="text-center">
                                                    <strong>Transaction Date</strong>
                                                </th>
                                                <th width="20%" class="text-center">
                                                    <strong>Gateway</strong>
                                                </th>
                                                <th width="20%" class="text-center">
                                                    <strong>Transaction ID</strong>
                                                </th>
                                                <th width="19%" class="text-center">
                                                    <strong>Amount</strong>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr>
                                                <td class="text-center" colspan="4">
                                                    No Related Transactions Found
                                                </td>
                                            </tr>
                                            <tr class="total-row">
                                                <td></td>
                                                <td></td>
                                                <td>Balance</td>
                                                <td th:text="'KSH' + ${invoice.amount}"></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 sidebar hidden-print">
                            <div id="sticky-sidebar">
                                <div
                                        menuitemname="Client Details"
                                        class="panel panel-sidebar panel-payment"
                                        style="background-color: #0166B1;"
                                >
                                    <div class="panel-body" data-role="paymethod-info">
                                        <div class="total">
                                            <span class="total-text">Total Due</span>
                                            <span class="total-price"
                                                  th:text="'KSH' + ${invoice.amount}"><i class="ls ls-exclamation-circle"></i
                                            ></span>
                                        </div>
                                        <label>Payment Method:</label>
                                        <form
                                                method="post"
                                                action="/cloud/viewinvoice.php?id=68525"
                                        >
                                            <div class="form-group">
                                                <input
                                                        type="hidden"
                                                        name="token"
                                                        value="28a018a90daa0c5e579e53c5272b8a8f656f8cbe"
                                                /><select name="gateway" class="form-control select-inline" id="selectPaymentMethodId"
                                            >
                                                <option value="default" selected="true">- SELECT -</option>
                                                <option th:each="i : ${session.paymentMethods}" th:value="${i?.id}" th:text="${i?.method}"></option></select>
                                                <!--                            <p id="method"></p>-->
                                                <!--                            onchange="if (!window.__cfRLUnblockHandlers) return false; submit()"-->
                                                <!--                            selected="selected"-->
                                            </div>
                                        </form>
                                        <span class="small-text"></span>
                                        <div
                                                class="payment-form payment-btn-container"
                                                data-btntext="Make Payment"
                                                data-btnsubscribetext="Subscribe"
                                        ><strong>Payment Instructions (804700)</strong><br/>
                                            <p   id="dataRow" style="display: none">
                                                <!--                            style="visibility:hidden"-->
                                                <br />

                                                1. Go to M-Pesa menu <br />
                                                2. Click on Lipa na M-Pesa <br />
                                                3. Click on Buy Goods and Services <br />
                                                4. Enter till no <strong>804700</strong><br />
                                                5. Enter amount <strong>10,000.00 KES</strong><br />
                                                6. Wait for the M-Pesa message<br />
                                                7. Click Pay Now.<br />Reference Number: 68525<br />
                                                <!--                            <div id="mpesaMenu"></div><br/>-->
                                                <!--                            <div id="lipaNaMpesa"></div><br/>-->
                                                <!--                            <div id="mpesaBuyGoods"></div><br/>-->
                                                <!--                            <div id="mpesaTillNumber"></div><br/>-->
                                                <!--                            <div id="enterAmount"></div><br/>-->
                                                <!--                            <div id="waitForMessage"></div><br/>-->
                                                <!--                            <div id="clickPayNow"></div><br/>-->
                                            </p>
                                            <form
                                                    method="post"
                                                    action="/cloud/viewinvoice.php?id=68525"
                                            >
                                                <input
                                                        type="hidden"
                                                        name="username"
                                                        value=""
                                                /><input
                                                    type="hidden"
                                                    name="invoice_id"
                                                    value="68525"
                                            /><input
                                                    type="hidden"
                                                    name="shortcode"
                                                    value="565254"
                                            /><input
                                                    type="hidden"
                                                    name="description"
                                                    value="Truehost+Cloud+-+Invoice+%2368525"
                                            /><input
                                                    type="hidden"
                                                    name="amount"
                                                    th:value="'KSH'+${invoice.amount}"
                                            /><input
                                                    type="hidden"
                                                    name="currency"
                                                    value="KES"
                                            /><input
                                                    type="hidden"
                                                    name="first_name"
                                                    value="Vincent"
                                            /><input
                                                    type="hidden"
                                                    name="last_name"
                                                    value="Muriuki"
                                            /><input
                                                    type="hidden"
                                                    name="email"
                                                    value="bsk@40gmail.com"
                                            /><input
                                                    type="hidden"
                                                    name="address1"
                                                    value="3998"
                                            /><input
                                                    type="hidden"
                                                    name="address2"
                                                    value=""
                                            /><input
                                                    type="hidden"
                                                    name="city"
                                                    value="Nakuru"
                                            /><input
                                                    type="hidden"
                                                    name="state"
                                                    value="Nakuru"
                                            /><input
                                                    type="hidden"
                                                    name="postcode"
                                                    value="201000"
                                            /><input
                                                    type="hidden"
                                                    name="country"
                                                    value="KE"
                                            /><input
                                                    type="hidden"
                                                    name="phone"
                                                    value="705874443"
                                            /><input
                                                    type="hidden"
                                                    name="send_url"
                                                    value="tillnumber"
                                            /><input
                                                    type="hidden"
                                                    name="moduleName"
                                                    value="woza"
                                            /><input
                                                    type="hidden"
                                                    name="trans_id"
                                                    value=""
                                            /><input
                                                    type="hidden"
                                                    name="clientsecret"
                                                    value=""
                                            /><input
                                                    type="hidden"
                                                    name="clientkey"
                                                    value=""
                                            /><input
                                                    type="text"
                                                    name="trans_id"
                                                    placeholder="Mpesa Transaction Id"
                                                    style="
                                border-radius: 10px;
                                -moz-border-radius: 10px;
                                padding: 5px;
                              "
                                            />

                                                <input style="
                                color: green;
                                border-radius: 5px;
                                -moz-border-radius: 5px;
                                padding: 5px;
                                margin-left: 10px;
                                width: 200px;
                              "  type="submit" value="Pay Now"/>
                                                <!--                            <a style="-->
                                                <!--                                color: green;-->
                                                <!--                                border-radius: 5px;-->
                                                <!--                                -moz-border-radius: 5px;-->
                                                <!--                                padding: 5px;-->
                                                <!--                                margin-left: 10px;-->
                                                <!--                                width: 200px;" th:href="@{/generated/invoice/pay/{id}(id = ${invoice.id})}"></a>-->
                                            </form>
                                            <!--                          <a style="-->
                                            <!--                                color: green;-->
                                            <!--                                border-radius: 5px;-->
                                            <!--                                -moz-border-radius: 5px;-->
                                            <!--                                padding: 5px;-->
                                            <!--                                margin-left: 10px;-->
                                            <!--                                width: 200px;" th:href="@{/generated/invoice/pay/{id}(id = ${invoice.id})}">Pay Now</a>-->
                                        </div>
                                        <!--                        <a style="-->
                                        <!--                                color: green;-->
                                        <!--                                border-radius: 5px;-->
                                        <!--                                -moz-border-radius: 5px;-->
                                        <!--                                padding: 5px;-->
                                        <!--                                margin-left: 10px;-->
                                        <!--                                width: 200px;" th:href="@{/generated/invoice/pay/{id}(id = ${invoice.id})}"></a>-->
                                    </div>
                                </div>
                                <div
                                        menuitemname="Client Shortcuts"
                                        class="panel panel-sidebar panel-sidebar"
                                >
                                    <div class="panel-heading">
                                        <h3 class="panel-title">
                                            <i class="fa fa-bookmark"></i>&nbsp; Actions
                                            <i
                                                    class="fa fa-chevron-up panel-minimise pull-right"
                                            ></i>
                                        </h3>
                                    </div>
                                    <div class="list-group">
                                        <a
                                                href="dl.php?type=i&amp;id=68525"
                                                class="list-group-item"
                                        >
                                            <i class="fa fa-download"></i>Download
                                        </a>
                                        <div class="button-icon w-embed">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 width="20"
                                                 height="20"
                                                 viewbox="0 0 20 20"> </svg>
                                            <a class="filter-link " th:href="@{/all-invoices(page=1,records=10,appId=199)}"> Close </a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>

</div>

<!--    <script-->
<!--      data-cfasync="false"-->
<!--      src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"-->
<!--    ></script>-->

<div class="overlay"></div>
<!--    <script-->
<!--      src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"-->
<!--      data-cf-settings="ae60137051d53d44f06612ca-|49"-->
<!--      defer=""-->
<!--    ></script>-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    // $(document).ready(function(){
    //           //
    //           //console.log(details)
    //           $("#selectPaymentMethodId").change(function() {
    //             let methodId = $("#selectPaymentMethodId").children("option:selected").val()
    //             $.ajax({
    //               url: "/payment/methods/"+ methodId,
    //               type: 'POST',
    //               data: methodId,
    //               dataType: 'json',
    //               success: function(response) {
    //                 // if the response contains any errors, replace the form
    //                 //get the element id you to display
    //                 let len = response.length
    //                 alert(response)
    //                 console.log(len)
    //                 // if (response.result === "applicationSuccess"){
    //                 //   window.location.href("/")
    //                 // }
    //                 console.log(response);
    //               },
    //               error: function(msg) {
    //                 if(msg){
    //                   alert("Something wrong"+ msg)
    //                 }
    //               }
    //             });
    //           })
    //         }
    // )
</script>
<script>
    // function changeInput(){
    //   document.getElementById("#selectPaymentMethodId")
    // }
    $(document).ready(function() {
            $("#selectPaymentMethodId").click(function () {
                let methodId = $("#selectPaymentMethodId").children("option:selected").val()
                if (methodId == 1) {
                    $("#dataRow").css("display", "block")
                }
                console.log(methodId)
            });
        }
        // $(document).ready(function(){
        //           //
        //           //console.log(details)
        //           $("#selectPaymentMethodId").click(function() {
        //             let methodId = $("#selectPaymentMethodId").children("option:selected").val()
        //             if(methodId == 1){
        //               $("#dataRow").css("display", "block")
        //             }
        //             alert(methodId)
        //             console.log(methodId)
        //             //   $.ajax({
        //     url: "/payment/methods/"+ methodId,
        //     type: 'POST',
        //     data: methodId,
        //     dataType: 'json',
        //     success: function(response) {
        //       // if the response contains any errors, replace the form
        //       //get the element id you to display
        //       let len = response.length
        //       alert(response)
        //       console.log(len)
        //       // if (response.result === "applicationSuccess"){
        //       //   window.location.href("/")
        //       // }
        //       console.log(response);
        //     },
        //     error: function(msg) {
        //       if(msg){
        //         alert("Something wrong"+ msg)
        //       }
        //     }
        //   });
        //   })
        // }
    )
</script>

</body>
</html>

