.card-profile {
  padding: 20px 10px 10px 10px;
  min-height: auto;
  min-width: auto;
  margin-top: 15px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 3px 0 rgba(0, 0, 0, 0.12);
  -webkit-transition: .25s box-shadow;
  transition: .25s box-shadow;
}
