/* You can add global styles to this file, and also import other style files */
.btn-primary{
    background-color: #0f22d0;
}

.importation-waiver-main{
    width: 80%;
    margin-left: 25px;
    /* margin-top: 160px;
    float: right; */
}

.main-title-font{
    font-size: 20px;
    color: #1878b3;
    font-family: "Roboto";
}

.importation-waiver-title{
    margin-top: 20px;
}

.w-100{
    width: 100%;
}

.display-nothing{
    display: none !important;
}

.file-input ul{
    padding-left: 20px;
}

.file-input p{
    margin-bottom: 3px;
}

.importation-waiver-subtitle{
    margin-bottom: 0px;
}

.close-btn{
    cursor: pointer;
    font-size: 13px;
    color: red;
}

.waiver-form-label{
    color: #1878b3;
    font-family: "Roboto";
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    margin-top: 20px;
}

.waiver-form-input{
    border: #1878b3 solid 1px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 500px;
    font-size: 18px;
    padding-left: 10px;
}

.waiver-form-input-master{
    border: #1878b3 solid 1px;
    border-radius: 5px;
    padding-bottom: 15px;
    padding-top: 15px;
    width: 100%;
    font-size: 18px;
    padding-left: 10px;
}

.master-list-new-btn button{
    float: left;
}

.err-msg{
    margin-top: 8px;
    color: red;
}

.nxt-and-back-container-holder{
    width: 80%;
    margin-top: 40px;
    margin-bottom: 80px;
    display: inline-block;
}

.btn-gen{
    font-size: 15px;
    padding: 15px 50px;
    font-weight: 500;
}

.back-btn{
    background-color: #fbbc48;
    color: black;
    border: none;
    float: left;
}

.back-btn:hover{
    background-color: #F29F05;
}


.next-btn{
    background-color: #1878b3;
    color: white;
    border: none;
    float: right;
}

.next-btn:hover{
    background-color: #0f4b70;
}

.next-btn:disabled{
    background-color: grey;
    cursor: not-allowed;
}

.btn-attach{
    font-size: 15px;
    padding: 15px 40px;
    font-weight: 500;
    float: left;
}

.master-list-new-btn{
    margin-top: 15px;
    margin-left: 0px;
}

@media (max-width: 768px){
    .waiver-form-input{
        width: 90%;
    }
}

.risky {
    color: rgba(231, 14, 14, 0.99);
}
:host /deep/ tr.risky {
    color: rgba(231, 14, 14, 0.99);
}
.progress {
    color:rgba(86, 241, 86, 0.5) ;
}
:host /deep/ tr.progress {
    color:rgba(86, 241, 86, 0.5) ;
}

/**
* Inpection
*/
.w-list-unstyled {
    padding-left: 0;
    list-style: none;
}

.list-item-accordion {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
    padding-bottom: 2px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
}

.list-title-accordion {
    -webkit-box-flex: 0;
    -webkit-flex: 0 49%;
    -ms-flex: 0 49%;
    flex: 0 49%;
    font-weight: 600;
    font-size: 14px;
}
.list-text-accordion {
    -webkit-box-flex: 0;
    -webkit-flex: 0 49%;
    -ms-flex: 0 49%;
    flex: 0 49%;
    font-size: 14px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul, ol {
    margin-top: 0px;
    margin-bottom: 10px;
    padding-left: 40px;
}

.navdets {
    background-color: bisque;
}
.nav-tabs .nav-item .nav-link {
    line-height: 15px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 200;
    min-width: 100px;
    text-align: center;
    color: #FFF;
    transition: all 0.3s;
    border-radius: 30px;
    padding: 10px 15px;
    background-color: #2196f3;
    margin-bottom: 5px;
    margin-right: 2px;
}

.button-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
}

.button-row {
    display: table-cell;
    height: fit-content;
}

.button-row button {
    display: block;
    font-size: 0.75em;
    width: fit-content;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 120px;
}
/* this is for clicked or active tabs */
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #F4F4F4 !important;
    color: #000 !important;
    font-size: 15px !important;
    font-weight: bold !important;
}
.btn-primary {
    background-color: #2196f3;
    width: 150px;
}
.btn-warning {
    width: 150px;
}
.tab-wraps .mat-tab-labels{
    flex-wrap: wrap !important;
}
.mat-tab-group.mat-tab-multiline >
    .mat-tab-header:first-child >
      .mat-tab-header-pagination {
        display: none;
      }

      .mat-tab-group.mat-tab-multiline >
      .mat-tab-header:first-child > .mat-tab-labels {
        flex-wrap: wrap;
      }
    
  

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.loader-view {
    margin-left: auto;
    margin-right: auto;
    width: available;
}


.search-form-label{
    color: #1878b3;
    font-weight: 400;
    width: 40%;
}
.search-bar {
    width: available;
}

.search-bar .form-group{
    width: available;
}
.search-form-input{
    border: #1878b3 solid 1px;
    border-radius: 1px;
    width: 300px;
    padding: 14px;
    font-size: 18px;
}

.search-form-input-master{
    border: #1878b3 solid 1px;
    border-radius: 1px;
    font-size: 18px;
    width: 300px;
    padding: 14px;
}

.btn-background {
    background-color: #2196f3;
    padding: 14px;
}