<div *ngIf="isLoaded">
<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">Confirmation Complete</h3>
        </div>
        <div class="row">
            <div class="card card-plain">
                <div class="card-content">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge success">
                                <i class="material-icons">email</i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <span class="label label-danger">You Have Now Been Approved As A Member Of The Technical Committee</span>
                                </div>
                                <div class="timeline-body">
                                    <p>You will receive a notification letter on your email within a few days. This email will also include your invitation
                                        for induction and login credentials to the QAIMSS portal. </p>
                                </div>
                                <h6>
                                    <i class="ti-time"></i> HOD KEBS
                                </h6>
                            </div>
                        </li>


                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
