
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary card-header-icon">
                                    <div class="card-icon">
                                        <i class="material-icons">assignment</i>
                                    </div>
                                    <h4 class="card-title">Rejected <small
                                            class="resolved-pill">{{rejectedTasks.length}}
                                        Requests</small>
                                    </h4>

                                </div>
                                <div class="card-body">
                                    <div class="toolbar">

                                    </div>
                                    <div class="mat-elevation-z8">
                                        <mat-form-field appearance="standard" style="width:20%; float: right">
                                            <mat-label>Search</mat-label>
                                            <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                                        </mat-form-field>
                                        <table class="table table-striped table-bordered table-hover" mat-table [dataSource]="dataSourceC" matSort style="width: 100%">

                                            <!-- ID Column -->
                                            <ng-container matColumnDef="requestNumber">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Request No.</th>
                                                <td mat-cell *matCellDef="let row"> {{row.requestNumber}} </td>
                                            </ng-container>

                                            <!-- Progress Column -->
                                            <ng-container matColumnDef="departmentName">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Section</th>
                                                <td mat-cell *matCellDef="let row"> {{row.departmentName}} </td>
                                            </ng-container>

                                            <!-- Name Column -->
                                            <ng-container matColumnDef="subject">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject</th>
                                                <td mat-cell *matCellDef="let row"> {{row.subject}} </td>
                                            </ng-container>

                                            <!-- Fruit Column -->
                                            <ng-container matColumnDef="name">
                                                <th mat-header-cell *matHeaderCellDef mat-sort-header> Requester</th>
                                                <td mat-cell *matCellDef="let row"> {{row.name}} </td>
                                            </ng-container>

                                            <ng-container matColumnDef="actions">
                                                <th mat-header-cell *matHeaderCellDef> Actions</th>

                                                <td mat-cell *matCellDef="let row">
                                                    <a (click)="onOpenModal(row,'view')" class="btn btn-info tooltips"
                                                       data-placement="top"
                                                       data-original-title="Review"> View</a>
                                                </td>
                                            </ng-container>

                                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                            <!-- Row shown when there is no matching data. -->
                                            <tr class="mat-row" *matNoDataRow>
                                                <td class="mat-cell" colspan="4">No data matching the filter
                                                    "{{input.value}}"
                                                </td>
                                            </tr>
                                        </table>

                                        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                                       aria-label="Select page of users"></mat-paginator>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
               

            <div class="modal fade" id="viewRequestModal" tabindex="-1" role="dialog"
                 aria-labelledby="viewRequestModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title"
                                id="viewRequestModalLabel">{{actionRequest?.name}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="row">
                                <div class=" col-12">
                                    <ul class="list-group">
                                        <li class="list-group-item active">Standard Request Details</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Organisation: " + actionRequest?.organisationName}}</li>

                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Name: " + actionRequest?.name}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Phone: " + actionRequest?.phone}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Email: " + actionRequest?.email}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Section: " + actionRequest?.departmentName}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Subject: " + actionRequest?.subject}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Description: " + actionRequest?.description}}</li>
                                        <li style="background: lightgray" class="list-group-item">Potential To
                                            Contribute To Economic Efficiency :
                                            <ngb-rating [max]="5"
                                                        *ngIf="actionRequest?.economicEfficiency!=null"
                                                        [(rate)]="actionRequest.economicEfficiency"
                                                        [readonly]="false"></ngb-rating>
                                        </li>
                                        <li style="background: lightgray" class="list-group-item">Potential To
                                            Safeguard Health And Safety :
                                            <ngb-rating [max]="5"
                                                        *ngIf="actionRequest?.healthSafety!=null"
                                                        [(rate)]="actionRequest.healthSafety"
                                                        [readonly]="false"></ngb-rating>
                                        </li>
                                        <li style="background: lightgray" class="list-group-item">Potential To
                                            Preserve The Environment :
                                            <ngb-rating [max]="5"
                                                        *ngIf="actionRequest?.environment!=null"
                                                        [(rate)]="actionRequest.environment"
                                                        [readonly]="false"></ngb-rating>
                                        </li>
                                        <li style="background: lightgray" class="list-group-item">Potential To
                                            Facilitate The Local Exchange Of Products And
                                            Industrial Integration :
                                            <ngb-rating [max]="5"
                                                        *ngIf="actionRequest?.integration!=null"
                                                        [(rate)]="actionRequest.integration"
                                                        [readonly]="false"></ngb-rating>
                                        </li>
                                        <li style="background: lightgray" class="list-group-item">Potential To
                                            Facilitate Access To Export Markets :
                                            <ngb-rating [max]="5"
                                                        *ngIf="actionRequest?.exportMarkets!=null"
                                                        [(rate)]="actionRequest.exportMarkets"
                                                        [readonly]="false"></ngb-rating>
                                        </li>
                                        <li style="background: lightgray"
                                            class="list-group-item">{{"Level Of Standard: " + actionRequest?.levelOfStandard}}</li>

                                        <li style="background: lightgray"
                                            class="list-group-item">Additional Information:

                                        </li>
                                        <li style="background: lightgray">
                                            <div class="material-datatables table-responsive">
                                                <table class="table table-striped table-bordered table-hover"
                                                       datatable
                                                       [dtOptions]="dtOptionsB" [dtTrigger]="dtTrigger5">
                                                    <thead>
                                                    <tr>
                                                        <th class="task">Document Name</th>
                                                        <th class="task">Action</th>

                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let doc of docs let i= index; ">

                                                        <td>{{doc.name}}</td>
                                                        <td>
                                                            <button class="btn btn-info tooltips"
                                                                    style="width: inherit"
                                                                    (click)="viewPdfFile( doc.id,doc?.name, 'application/pdf')"
                                                                    data-placement="top"
                                                            ><i
                                                                    class="fa fa-eye"></i> View
                                                            </button>
                                                        </td>

                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </div>

                            <br>
                            <div class="row">
                                <div class=" col-12">
                                    <ul class="list-group">
                                        <li class="list-group-item active">Review Details</li>
                                        <li style="background: lightgray"
                                            class="list-group-item"><b>TC Secretary
                                            Assigned:</b>{{ actionRequest?.tcSecAssigned}}</li>

                                        <li style="background: lightgray"
                                            class="list-group-item"><b>Desired
                                            Output: </b>{{actionRequest?.desiredOutput}}</li>
                                        <li style="background: lightgray"
                                            class="list-group-item"><b>Desired
                                            Result: </b>{{actionRequest?.desiredResult}}</li>
                                        <div *ngIf="actionRequest?.reason != null">
                                            <li style="background: lightgray"
                                                class="list-group-item"><b>Reason For Result: </b>{{actionRequest?.reason}}
                                            </li>
                                        </div>
                                        <li style="background: lightgray"
                                            class="list-group-item"><b>Reviewed By: </b>{{actionRequest?.reviewedBy}}
                                        </li>
                                        <li style="background: lightgray"
                                            class="list-group-item"><b>Reviewed
                                            On: </b>{{formatFormDate(actionRequest?.reviewDate)}}
                                        </li>
                                        <li style="background: lightgray"
                                            class="list-group-item"><b>Status: </b>{{actionRequest?.status}}</li>


                                    </ul>
                                </div>
                            </div>


                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" #closeModalC
                                    (click)="hideModelC()"
                                    data-dismiss="modal">Close
                            </button>

                        </div>
                    </div>
                </div>
            </div>
