<!DOCTYPE html>
<div th:replace="fragments/general-form.html :: headerfiles" ></div>
<body>
<div th:replace="fragments/general-form.html :: dashboard-page" ></div>
<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar" ></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <div th:replace="fragments/general-form.html :: alerts-bar"></div>
                    <h1 th:if="${manufacturers} and ${type == 'load_manufacturers'}">All Manufacturers</h1>
                    <h1 th:if="${tasks} and ${type == 'load_tasks'}">My Pending Tasks</h1>

                    <div>
                        <div class="content-block">
                            <div class="content-block-parent">
                                <div th:if="${manufacturers} and ${not #lists?.isEmpty(manufacturers)} and ${type == 'load_manufacturers'}">
                                    <div class="row-table ">
                                        <table class="table table-striped table-bordered" id="manufacturers">
                                            <thead>
                                            <tr>
                                                <th>Entry No.</th>
                                                <th>Manufacturer</th>
                                                <th>Reg No</th>
                                                <th>KRA PIN</th>
                                                <th>Registration Date</th>
                                                <th>View</th>
                                                <!--                                        <th>View</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <!--                <a th:each="coc, iStat: ${cocs}" th:href="@{/api/inspection/supervisor/coc-details/{id}(id=${coc.id})}" class="table-row w-inline-block">-->
                                            <tr class="list" style="cursor: pointer"
                                                th:each="manufacturer, iStat: ${manufacturers}">
                                                <td th:text="${manufacturer?.id}"></td>
                                                <td th:text="${manufacturer?.name}"></td>
                                                <td th:text="${manufacturer?.registrationNumber}"></td>
                                                <td th:text="${manufacturer?.kraPin}"></td>
                                                <td th:text="${#dates.format(app?.createdOn, 'dd/MM/yyyy')}"></td>
                                                <td><a class="btn btn-info"
                                                       th:href="@{/sl/manufacturer(manufacturerId = ${manufacturer.id}, appId=${map.id})}">view</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div th:if="${#lists?.isEmpty(manufacturers)} and ${#lists?.isEmpty(tasks)}">
                                            <h1>There's nothing here, &#129409;</h1>
                                        </div>
                                    </div>

                                </div>
                                <div th:if="${tasks} and ${not #lists?.isEmpty(tasks)} and ${type == 'load_tasks'}">
                                    <div class="row-table ">
                                        <table class="table table-striped table-bordered" id="tasks" style="width:100%">
                                            <thead>
                                            <tr>
                                                <th>REF No.</th>
                                                <th>Task</th>
                                                <th>Created On</th>
                                                <th>Due On</th>
                                                <th>View</th>
                                                <!--                                        <th>View</th>-->
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="list" style="cursor: pointer" th:each="task, iStat: ${tasks}">
                                                <td th:text="${task?.taskId}"></td>
                                                <td th:text="${task?.name}"></td>
                                                <td th:text="${#dates.format(task?.assignedDate, 'dd/MM/yyyy')}"></td>
                                                <td th:text="${#dates.format(task?.dueDate, 'dd/MM/yyyy')}"></td>
                                                <td><a class="btn btn-info"
                                                       th:href="@{/sl/manufacturer(manufacturerId = ${task.manufacturerId}, appId=${map.id})}">view</a>
                                                </td>
                                            </tr>

                                            </tbody>
                                        </table>
                                        <div th:if="${#lists?.isEmpty(manufacturers)} and ${#lists?.isEmpty(tasks)}">
                                            <h1>Hooray, nothing pending for you, &#129409;</h1>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </section>
    </div>


</div>
<div th:replace="fragments/general-form.html :: scripts"></div>
<script>
    $(document).ready(function () {
        let table = $('#manufacturers').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#manufacturers_wrapper .col-sm-6:eq(0)');
    });
    $(document).ready(function () {
        let table_2 = $('#tasks').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table_2.buttons().container()
            .appendTo('#tasks_wrapper .col-sm-6:eq(0)');
    });
</script>
</body>
