<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>
<body>
<div id="spinnerContainer">
    <div class="spinner"></div>
</div>
<div th:replace="fragments/general-form.html :: dashboard-page"></div>

<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar"></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <h4 class="h3-blue" style="color: #0082f3; font-weight: bold; "><span
                            th:text="${permitType?.mark}"></span> Permits</h4>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 75%">
                            <p>Click on the buttons inside the tabbed menu:</p>
                            <div class="tab">
                                <button class="tablinks" onclick="openTabsDetails(event, 'allApplicationsOpen')">All
                                    Applications
                                </button>
                                <button class="tablinks" onclick="openTabsDetails(event, 'completeApplicationsOpen')">
                                    Complete Applications
                                </button>
                                <button class="tablinks" onclick="openTabsDetails(event, 'myTasksOpen')">My Tasks
                                </button>

                            </div>
                            <div id="allApplicationsOpen" class="tabcontent">
                                <div class="row-table ">
                                    <table id="example1" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Permit Ref No</th>
                                            <th>Firm Name</th>
                                            <th>Application Date</th>
                                            <th>Product</th>
                                            <th>Brand Name</th>
                                            <th>Permit Number</th>
                                            <th>Issue Date</th>
                                            <th>Expiry Date</th>
                                            <th>Section</th>
                                            <th>Region</th>
                                            <th>County</th>
                                            <th>Status</th>
                                            <th>View Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="permit: ${permitListAllApplications}"
                                            style="cursor: pointer">
                                            <td th:text="${permit?.permitRefNumber}"></td>
                                            <td th:text="${permit?.firmName}"></td>
                                            <td th:text="${#dates.format(permit?.createdOn, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${permit?.productName}"></td>
                                            <td th:text="${permit?.tradeMark}"></td>
                                            <td th:text="${permit?.awardedPermitNumber}"></td>
                                            <td th:text="${#dates.format(permit?.dateOfIssue, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${#dates.format(permit?.dateOfExpiry, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${permit?.sectionValue}"></td>
                                            <td th:text="${permit?.region}"></td>
                                            <td th:text="${permit?.county}"></td>
                                            <td style="color: #0082f3" th:text="${permit?.permitStatus}"></td>

                                            <td><a class="filter-link"
                                                   th:href="@{/api/qa/permit-details(permitID=${permit.id},userID=${permit?.userId})}">view</a>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div id="completeApplicationsOpen" class="tabcontent">
                                <div class="row-table ">
                                    <table id="example2" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>Permit Ref No</th>
                                            <th>Firm Name</th>
                                            <th>Application Date</th>
                                            <th>Product</th>
                                            <th>Brand Name</th>
                                            <th>Permit Number</th>
                                            <th>Issue Date</th>
                                            <th>Expiry Date</th>
                                            <th>Section</th>
                                            <th>Region</th>
                                            <th>County</th>
                                            <th>Status</th>
                                            <th>View Details</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="permit: ${permitListAllComplete}"
                                            style="cursor: pointer">
                                            <td th:text="${permit?.permitRefNumber}"></td>
                                            <td th:text="${permit?.firmName}"></td>
                                            <td th:text="${#dates.format(permit?.createdOn, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${permit?.productName}"></td>
                                            <td th:text="${permit?.tradeMark}"></td>
                                            <td th:text="${permit?.awardedPermitNumber}"></td>
                                            <td th:text="${#dates.format(permit?.dateOfIssue, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${#dates.format(permit?.dateOfExpiry, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${permit?.sectionValue}"></td>
                                            <td th:text="${permit?.region}"></td>
                                            <td th:text="${permit?.county}"></td>
                                            <td style="color: #0082f3" th:text="${permit?.permitStatus}"></td>
                                            <td><a class="filter-link"
                                                   th:href="@{/api/qa/permit-details(permitID=${permit.id},userID=${permit?.userId})}">view</a>
                                            </td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <div id="myTasksOpen" class="tabcontent">
                                <div class="row-table ">
                                    <table id="example3" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>View Details</th>
                                            <th>Status</th>
                                            <th>Permit Ref No</th>
                                            <th>Firm Name</th>
                                            <th>Application Date</th>
                                            <th>Product</th>
                                            <th>Brand Name</th>
                                            <th>Permit Number</th>
                                            <!--                                            <th>Issue Date</th>-->
                                            <!--                                            <th>Expiry Date</th>-->
                                            <th>Section</th>
                                            <th>Region</th>
                                            <th>County</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="permit: ${permitListMyTasks}" style="cursor: pointer">
                                            <td><a class="filter-link"
                                                   th:href="@{/api/qa/permit-details(permitID=${permit.id},userID=${permit?.userId})}">view</a>
                                            </td>
                                            <td style="color: #0082f3" th:text="${permit?.permitStatus}"></td>
                                            <td th:text="${permit?.permitRefNumber}"></td>
                                            <td th:text="${permit?.firmName}"></td>
                                            <td th:text="${#dates.format(permit?.createdOn, 'dd/MM/yyyy')}"></td>
                                            <td th:text="${permit?.productName}"></td>
                                            <td th:text="${permit?.tradeMark}"></td>
                                            <td th:text="${permit?.awardedPermitNumber}"></td>
                                            <!--                                            <td th:text="${#dates.format(permit?.dateOfIssue, 'dd/MM/yyyy')}"></td>-->
                                            <!--                                            <td th:text="${#dates.format(permit?.dateOfExpiry, 'dd/MM/yyyy')}"></td>-->
                                            <td th:text="${permit?.sectionValue}"></td>
                                            <td th:text="${permit?.region}"></td>
                                            <td th:text="${permit?.county}"></td>

                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>


                        </div>
                        <div class="filter-block">
                            <div class="filter-block-title">
                                <div class="filter-title">Action:</div>
                            </div>
                            <div>
                                <a sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                   th:if="${permitType?.id != fmarkPermit}"
                                   th:href="@{/api/qa/new-permit(permitTypeID=${permitType.id})}" class="filter-link"
                                   style="color: white">NEW PERMIT</a>
                                <a sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                   th:if="${permitType?.id == fmarkPermit}"
                                   onclick="popUpFunctionUpload('addParamBtn');" class="filter-link"
                                   style="color: white">NEW FMARK PERMIT</a>
                            </div>
                        </div>


                        <div sec:authorize="hasAuthority('PERMIT_APPLICATION')" id="idPopUp" class="uploadForm">
                            <form id="upload-form" name="upload-form" th:action="@{/api/qa/kebs/apply/new-fmark-permit}"
                                  method="post" th:object="${fmarkEntityDto}">
                                <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                                     aria-labelledby="uploadModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-weight: bold; " class="modal-title"
                                                    id="uploadModalLabel"><span id="uploadSpan">none</span></h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <!--                                                    <input type="hidden" id="confirmSampleId"  name="confirmSampleId" th:value="${sampleSubmit?.id}">-->
                                                    <div id="addParamBtn">
                                                        <!--                                                        <input type="hidden" id="companyProfileId"  name="companyProfileIdeId" th:value="${message}">-->
                                                        <label class="field-label" for="smarkPermitID">Select Smark
                                                            :</label>
                                                        <select id="smarkPermitID" name="smarkPermitID"
                                                                class="input-field w-input" th:field="*{smarkPermitID}">
                                                            <option value="0">Select One...</option>
                                                            <option th:each="mySmarkPermit : ${mySmarkPermits}"
                                                                    th:text="${mySmarkPermit.tradeMark}"
                                                                    th:value="${mySmarkPermit.id}"></option>
                                                            <!--                                        <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                                                        </select>

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        onClick="window.location.reload()" data-mdb-dismiss="modal">
                                                    Close
                                                </button>
                                                <input type="submit" id="upload" class="btn btn-primary" value="Save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="fragments/general-form.html :: scripts"></div>

<script>
    document.onreadystatechange = function () {
        showSpinnerOnLoad(document)
    }

    function loadSpinner() {
        showSpinner(document)
    }
</script>
<script>
    $(document).ready(function () {
        var table = $('#example1').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');

        var table2 = $('#example2').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table2.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');

        var table3 = $('#example3').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table3.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');
    });
</script>
<script>
    function openTabsDetails(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>
<script>

    let arrHead = ['addParamBtn',];
    let arrHeadSave = ['Please select applicable smark',];


    function refreshPage() {
        window.location.reload();
    }

    function popUpFunctionUpload(eventAction) {

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('uploadSpan').innerHTML = arrHeadSave[h];
                    document.getElementById("upload").value = 'Save';
                }
            }
        }

        $('.uploadForm #uploadModal').modal();
    }

    window.onload = function () {
        setTimeout(function () {
            hello();
        }, 1000);
    }
</script>
</body>
</html>


