<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>
<body>
<div id="spinnerContainer">
    <div class="spinner"></div>
</div>
<div th:replace="fragments/general-form.html :: dashboard-page"></div>

<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar"></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <h4 class="h3-blue" style="color: #0082f3; font-weight: bold; "><span
                            th:text="${permitType?.mark}"></span> Permits</h4>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 75%">
                            <div class="sticky" style="margin-bottom: 30px">
                                <h6 class="h3-blue" style="color: #0082f3; font-weight: bold; font-size: 16px">Invoice
                                    Details</h6>
                                <div class="applicant_details_container">
                                    <div class="detail-list application_details">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Invoice Number</div>
                                                <div class="list-text-accordion"
                                                     th:text="${InvoiceDetails?.invoiceNumber}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Name of firm </div>
                                                <div class="list-text-accordion" th:text="${InvoiceDetails?.firmName}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Postal address </div>
                                                <div class="list-text-accordion" th:text="${InvoiceDetails?.postalAddress}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Physical address </div>
                                                <div class="list-text-accordion" th:text="${InvoiceDetails?.physicalAddress}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Telephone number </div>
                                                <div class="list-text-accordion" th:text="${InvoiceDetails?.telephoneNo}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Email address </div>
                                                <div class="list-text-accordion" th:text="${InvoiceDetails?.email}"></div>
                                            </li>

                                        </ul>
                                    </div>
                                    <div class="application_reports">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Receipt No</div>
                                                <div class="list-text-accordion"
                                                     th:text="${InvoiceDetails?.receiptNo}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Paid Date</div>
                                                <div class="list-text-accordion"
                                                     th:text="${#dates.format(InvoiceDetails?.paidDate, 'dd/MM/yyyy')}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Total Amount</div>
                                                <div class="list-text-accordion"
                                                     th:text="${InvoiceDetails?.totalAmount}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">Paid Status</div>
                                                <div class="list-text-accordion" style="color: #0082f3"
                                                     th:text="${InvoiceDetails?.paidStatus} ? 'PAID' : 'NOT PAID'"></div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <button class="accordion">Invoices Attached Details</button>
                            <div class="panel">
                                <div class="row-table ">
                                    <table id="example" class="table table-striped table-bordered" style="width:100%">
                                        <thead>
                                        <tr>
                                            <th>INVOICE REF NO</th>
                                            <th>COMMODITY DESCRIPTION</th>
                                            <th>BRAND NAME</th>
                                            <th>TOTAL AMOUNT</th>
                                            <th>PAID STATUS</th>
                                            <th>VIEW</th>
                                            <th th:if="${InvoiceDetails?.submittedStatus != 1}">ACTIONS</th>
                                            <!--                                        <th>View Details</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="invoice: ${allBatchPermitInvoiceList}"
                                            style="cursor: pointer">
                                            <td th:text="${invoice?.invoiceNumber}"></td>
                                            <td th:text="${invoice?.commodityDescription}"></td>
                                            <td th:text="${invoice?.brandName}"></td>
                                            <td th:text="${invoice?.totalAmount}"></td>
                                            <td th:text="${invoice?.paidStatus} ? 'PAID' : 'NOT PAID'"></td>
                                            <td><a class="filter-link" target='_blank'
                                                   th:href="@{/api/qa/invoice-details(permitID=${invoice?.permitID})}">VIEW</a>
                                            </td>
                                            <!--                                            <td><a class="filter-link" th:href="@{/api/qa/kebs/invoice/remove-invoice-detail/save(permitID=${invoice?.permitID}, batchID=${InvoiceDetails?.batchID})}" style="color: white">REMOVE</a></td>-->
                                            <td th:if="${InvoiceDetails?.submittedStatus != 1}">
                                                <button sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                                        class="btn btn-primary" th:value="${invoice.permitID}"
                                                        onclick="popUpFunctionRemove('batchRemoveDetails', this);"
                                                        type="button">REMOVE
                                                </button>
                                            </td>
                                            <!--                                            <td><a sec:authorize="hasAuthority('PERMIT_APPLICATION')" onclick="popUpFunctionUpload('batchRemoveDetails');" class="filter-link" style="color: white">REMOVE</a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="filter-block">
                            <div class="filter-block-title">
                                <div class="filter-title">Action:</div>
                            </div>
                            <div th:if="${InvoiceDetails?.submittedStatus != 1}">
                                <a sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                   onclick="popUpFunctionUpload('addParamBtn');" class="filter-link"
                                   style="color: white">ADD INVOICE</a>
                                <a sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                   onclick="popUpFunctionUpload('submitInvoice');" class="filter-link"
                                   style="color: white">SUBMIT INVOICE</a>
                                <!--                                <button id="addParam" class="btn btn-primary"  type="button">ADD PLANT DETAILS</button>-->
                            </div>
                            <div th:if="${InvoiceDetails?.submittedStatus == 1 and InvoiceDetails?.paidStatus == 0}">
                                <a sec:authorize="hasAuthority('PERMIT_APPLICATION')"
                                   onclick="popUpFunctionUpload('mpesaSTKPUSH');" class="filter-link"
                                   style="color: white">PAY VIA MPESA</a>
                                <!--                                <button id="addParam" class="btn btn-primary"  type="button">ADD PLANT DETAILS</button>-->
                            </div>
                        </div>



                        <div sec:authorize="hasAuthority('PERMIT_APPLICATION')" id="idPopUp" class="uploadForm">
                            <form id="upload-form" name="upload-form" method="post" th:object="${NewBatchInvoiceDto}">
                                <div class="modal fade" id="uploadModal" tabindex="-1" role="dialog"
                                     aria-labelledby="uploadModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-weight: bold; " class="modal-title"
                                                    id="uploadModalLabel"><span id="uploadSpan">none</span></h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">

                                                    <div id="addParamBtn">
                                                        <input type="hidden" id="batchID1" name="batchID"
                                                               th:value="${InvoiceDetails?.batchID}">
                                                        <label class="field-label" for="select-state">Select
                                                            Permit:</label>
                                                        <select name="permitID"
                                                                data-placeholder="Select multiple one after another..."
                                                                id="select-state" th:field="*{permitInvoicesID}">
                                                            <option value="0">Select One...BRAND = KSH AMOUNT/=</option>
                                                            <option th:each="permitInvoice : ${allPermitInvoiceList}"
                                                                    th:text="${permitInvoice.brandName}+ '= KSH ' + ${permitInvoice.totalAmount}"
                                                                    th:value="${permitInvoice.permitID}"></option>
                                                        </select>
                                                    </div>
                                                    <div id="submitInvoice">
                                                        <input type="hidden" id="batchID2" name="batchID"
                                                               th:value="${InvoiceDetails?.batchID}">
                                                        <p>By clicking Submit You will be submitting the invoice</p>
                                                    </div>
                                                    <div id="mpesaSTKPUSH">
                                                        <input type="hidden" id="batchInvoiceID" name="batchInvoiceID"
                                                               th:value="${InvoiceDetails?.batchID}">
                                                        <input type="text" class="form-control" id="phoneNumber"
                                                               maxlength="256" name="phoneNumber"
                                                               placeholder="Phone Number">
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        onClick="window.location.reload()" data-mdb-dismiss="modal">
                                                    Close
                                                </button>
                                                <input type="submit" id="upload" class="btn btn-primary" value="Save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div sec:authorize="hasAuthority('PERMIT_APPLICATION')" id="batchRemove"
                             class="batchRemoveForm">
                            <form id="batch-remove-form" name="batch-remove-form"
                                  th:action="@{/api/qa/kebs/invoice/remove-invoice-detail/save}" method="post"
                                  th:object="${NewBatchInvoiceDto}">
                                <div class="modal fade" id="batchRemoveModal" tabindex="-1" role="dialog"
                                     aria-labelledby="batchRemoveModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-weight: bold; " class="modal-title"
                                                    id="batchRemoveModalLabel"><span id="batchRemoveSpan">none</span>
                                                </h5>
                                                <button type="button" class="btn-close" data-mdb-dismiss="modal"
                                                        aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">

                                                    <div id="batchRemoveDetails">
                                                        <input type="hidden" id="batchID" name="batchID"
                                                               th:value="${InvoiceDetails?.batchID}">
                                                        <input type="hidden" id="permitID" name="permitID">
                                                        <p>Are You Sure you want to Remove The Invoice?</p>
                                                        <!--                                                        <label for="messageBody" class="col-form-label">MESSAGE:</label>-->
                                                        <!--                                                        <textarea readonly  name="messageBody" id="messageBody" class="input-field w-input" cols="65" rows="10" th:field="*{messageBody}"></textarea>-->
                                                        <!--                                                        <label class="field-label" for="permitID">Select Permit:</label>-->
                                                        <!--                                                        <select id="permitID" name="permitID" class="input-field w-input" th:field="*{permitID}">-->
                                                        <!--                                                            <option value="0">Select One...BRAND = KSH AMOUNT/=</option>-->
                                                        <!--                                                            <option th:each="permitInvoice : ${allPermitInvoiceList}" th:text="${permitInvoice.brandName}+ '= KSH ' + ${permitInvoice.totalAmount}" th:value="${permitInvoice.permitID}"></option>-->
                                                        <!--                                                        </select>-->

                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        onClick="window.location.reload()" data-mdb-dismiss="modal">
                                                    Close
                                                </button>
                                                <input type="submit" id="batchRemoveUpload" class="btn btn-primary"
                                                       value="Save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="fragments/general-form.html :: scripts"></div>

<script>
    document.onreadystatechange = function(){
        showSpinnerOnLoad(document)
    }

    function loadSpinner(){
        showSpinner(document)
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    // var btn = document.getElementsByClassName("button w-button eBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.style.border = "none";
            // this.style.position = "sticky"
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                // panel.style.position = "-webkit-sticky"
                // panel.style.position = "sticky"
            }
        });
    }


</script>
<script>
    $(document).ready(function() {
        $('select').selectize({
            sortField: 'text'
        });


        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');
    } );
</script>
<script>

    let arrHead = ['addParamBtn', 'submitInvoice', 'mpesaSTKPUSH'];
    let arrHeadAndAction = [
        {
            "head": "Please select applicable smark",
            "action": "/api/qa/kebs/invoice/create-batch-invoice/save",
        },
        {
            "head": "Please click yes to submit invoice",
            "action": "/api/qa/kebs/invoice/submit-invoice-detail/save",
        },
        {
            "head": "Please Enter Phone Number",
            "action": "/api/qa/kebs/mpesa-stk-push",
        }
    ]


    function refreshPage() {
        window.location.reload();
    }

    function popUpFunctionUpload(eventAction) {

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    $('#upload-form').attr('action', arrHeadAndAction[h].action);
                    document.getElementById('uploadSpan').innerHTML = arrHeadAndAction[h].head;
                    document.getElementById("upload").value = 'Submit';
                }
            }
        }

        $('.uploadForm #uploadModal').modal();
    }


    function popUpFunctionRemove(eventAction, paramID) {

        let arrHead = ['batchRemoveDetails',];
        let arrHeadSave = ['Removing The Permit Details',];
        let paramValue = paramID.value;

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById("permitID").value = paramValue
                    document.getElementById('batchRemoveSpan').innerHTML = arrHeadSave[h];
                    document.getElementById("batchRemoveUpload").value = 'Yes';
                }
            }
        }

        $('.batchRemoveForm #batchRemoveModal').modal();
    }

    window.onload = function () {
        setTimeout(function () {
            hello();
        }, 1000);
    }
</script>
</body>
</html>


