<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8">
  <title>KEBS</title>
  <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>
<body>
<div id="spinnerContainer">
  <div class="spinner"></div>
</div>
<div th:replace="fragments/general-form.html :: dashboard-page"></div>

<div class="dashboard-body">
  <div th:replace="fragments/general-form.html :: side-navigation-bar"></div>
  <div class="main-area">
    <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
    <section class="dashboard-content">
      <div class="content-wrap">
        <div class="content-container">
          <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>Justification for Diamond Mark
            Assessment</u></h5>
          <div class="content-block">
            <div class="content-block-parent" style="flex: 0 75%">

              <div class="sticky" style="margin-bottom: 30px">
                <h6 class="h3-blue" style="font-weight: bold; font-size: 16px">SUMMARY OF PRODUCT QUALITY STATUS </h6>
                <div class="applicant_details_container">
                  <div class="detail-list application_details">
                    <ul class="w-list-unstyled">
                      <li class="list-item-accordion">
                        <div class="list-title-accordion">Product</div>
                        <div class="list-text-accordion" th:text="${permitDetails?.commodityDescription}"></div>
                      </li>

                      <li class="list-item-accordion">
                        <div class="list-title-accordion">Brand</div>
                        <div class="list-text-accordion" th:text="${permitDetails?.tradeMark}"></div>
                      </li>

                      <!--                      <li class="list-item-accordion">-->
                      <!--                        <div class="list-title-accordion">Date of Submission</div>-->
                      <!--&lt;!&ndash;                        <div class="list-text-accordion"&ndash;&gt;-->
                      <!--&lt;!&ndash;                             th:text="${permitDetails?.telephoneNo}"></div>&ndash;&gt;-->
                      <!--                      </li>-->
                      <li class="list-item-accordion">
                        <div class="list-title-accordion">BS Number</div>
                        <div class="list-text-accordion" th:text="${permitDetails?.bsNumber}"></div>
                      </li>
                      <li class="list-item-accordion">
                        <div class="list-title-accordion">Date of Issue</div>
                        <div class="list-text-accordion" th:text="${#dates.format(permitDetails?.dateOfIssue, 'dd/MM/yyyy')}"></div>
                      </li>
                      <li class="list-item-accordion">
                        <div class="list-title-accordion">Compliance Status</div>
                        <div class="list-text-accordion" th:text="${permitDetails?.compliantStatus} ? 'COMPLIANT' : 'NON-COMPLIANT'"></div>
                      </li>

                    </ul>
                  </div>
                  <div class="application_reports">
                    <ul class="w-list-unstyled">

                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="filter-block">
              <div class="filter-block-title">
                <div class="filter-title">Document Details:</div>
              </div>
              <div>
              </div>
              <div class="filter-block-title">
                <div class="filter-title">Action:</div>
              </div>
              <div>

                <div sec:authorize="hasAuthority('QA_OFFICER_MODIFY')">
                  <a th:if="${permitDetails?.justificationReportStatus != 10}"  th:href="@{/api/qa/justification-submit(permitID=${permitDetails?.id})}" class="filter-link" style="color: white">SUBMIT JUSTIFICATION REPORT</a>
                </div>
                <div sec:authorize="hasAuthority('QA_HOD_MODIFY')">
                  <a th:if="${permitDetails?.justificationReportStatus == 10}" style="color: white" onclick="popUpFunction('approveRejectJustification');" class="filter-link">Approve/Reject</a>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>

      <div  class="qaApplicationForm">
        <form id="qa-application-form"   name="qa-application-form" th:action="@{/api/qa/apply/update-permit(permitID=${permitDetails.id})}" method="post" th:object="${permitDetails}">
          <div class="modal fade" id="qaApplicationModal" tabindex="-1" role="dialog" aria-labelledby="qaApplicationModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 style="font-weight: bold; " class="modal-title" id="qaApplicationModalLabel"><span id="spanValue" >none</span></h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <div id="approveRejectJustification">
                      <input type="hidden" id="description" name="description" th:value="'Justification report status successfully updated'">
                      <label for="justificationReportStatus" class="col-form-label">Select approval status:</label>
                      <select id="justificationReportStatus" required class="select-field w-select" th:field="*{justificationReportStatus}">
                        <option th:text="'Select one.....'" th:value="null"></option>
                        <option th:text="'Approve'" th:value="1"></option>
                        <option th:text="'Reject'" th:value="0"></option>
                      </select>
                      <label for="hofQamCompletenessRemarks" class="col-form-label">Please write, in detail, your feedback for this report:</label>
                      <textarea name="name" id="hofQamCompletenessRemarks" class="input-field w-input" cols="65"
                                rows="5" th:field="*{justificationReportRemarks}"></textarea>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-secondary" data-dismiss="modal" onClick="refreshPage()" type="button">Close
                  </button>
                  <input type="submit" id="saveValue" class="btn btn-primary" value="Save"/>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </section>
  </div>
</div>
<div th:replace="fragments/general-form.html :: scripts"></div>

<script>
  document.onreadystatechange = function () {
    showSpinnerOnLoad(document)
  }

  function loadSpinner() {
    showSpinner(document)
  }
</script>
<script>
  var acc = document.getElementsByClassName("accordion");
  // var btn = document.getElementsByClassName("button w-button eBtn");
  var i;

  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function () {
      this.classList.toggle("active");
      this.style.border = "none";
      // this.style.position = "sticky"
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + "px";
        // panel.style.position = "-webkit-sticky"
        // panel.style.position = "sticky"
      }
    });
  }
</script>
<script>
  $(document).ready(function () {
    var table = $('#example').DataTable({
      lengthChange: false,
      buttons: ['copy', 'excel', 'pdf', 'colvis']
    });

    table.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');
  });
</script>
<script>
  $(document).ready(function () {
    $('.filter-block .uploadBtn').on('click', function (event) {
      document.getElementById('uploadSpan-1').innerHTML = 'Upload document And Give The Name'
      document.getElementById("upload-1").value = "submit";
      $('.uploadForm #uploadModal').modal();
    });


    $("#portOfArrival").click(function () {
      let sectionId = $("#portOfArrival").val()
      // console.log(categories.length)
      if (sectionId !== 0) {
        $.ajax({
          method: "GET",
          url: `/api/auth/sub-section-l1-list/${sectionId}`,
          success(response) {
            console.log(response)
            var s = ''
            s += ' <option value="0">Select One...</option>';
            for (var i = 0; i < response.length; i++) {
              // response.push('Select one')
              s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
            }
            $("#clusterId").html(s);
          }
        })
      }

    });

    $("#clusterId").click(function () {
      let subSectionL1Id = $("#clusterId").val()
      // console.log(categories.length)
      if (subSectionL1Id !== 0) {
        $.ajax({
          method: "GET",
          url: `/api/auth/sub-section-l2-list/${subSectionL1Id}`,
          success(response) {
            console.log(response)
            let s = '';
            s += ' <option value="0">Select One...</option>';
            for (let i = 0; i < response.length; i++) {
              // response.push('Select one')
              s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
            }
            $("#freightStation").html(s);
          }
        })
      }

    });
  });
</script>
<script>
  function popUpFunction(eventAction) {
    let arrHead = ['approveRejectJustification'];
    let arrHeadSave = ['Approve or Reject Justification Report'];

    for (let h = 0; h < arrHead.length; h++) {
      if (eventAction !== arrHead[h]) {
        document.getElementById(arrHead[h]).remove();
      } else {
        if (eventAction === arrHead[h]) {
          document.getElementById('spanValue').innerHTML = arrHeadSave[h];
          document.getElementById("saveValue").value = 'Save';
        }
      }
    }

    $('.qaApplicationForm #qaApplicationModal').modal();
  }

  function refreshPage() {
    window.location.reload();
  }
</script>
</body>
</html>


