<div class="pb-2 mb-3 mr-2 border-bottom w-100">
  <h2>
    <fa-icon [icon]="arrowLeftIcon" routerLink="/users-list"
             style="padding-right: 3px; cursor: pointer"></fa-icon>
    Create User
  </h2>
</div>
<div class="container-fluid mb-5">
  <form (ngSubmit)="onSubmit()" [formGroup]="addUserFormGroup">
    <div class="form-body">

      <h5 class="mb-3" style="color: #0066B1">Basic Details</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Title</b></label>
            <div>
              <select [class.is-invalid]="formAddUser.title.invalid && formAddUser.title.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small" class="form-control"
                      formControlName="title" name="title" required>
                <option label="--select something --"></option>
                <option *ngFor="let tl of titles" [value]="tl.id"> {{ tl.title }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>Email</b></label>
            <input [class.is-invalid]="formAddUser.email.invalid && formAddUser.email.touched"
                   class="form-control two-column-input"
                   formControlName="email" name="email" required type="text">
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>First Name</b></label>
            <input [class.is-invalid]="formAddUser.firstName.invalid && formAddUser.firstName.touched"
                   class="form-control two-column-input"
                   formControlName="firstName" name="firstName" required type="text">
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>Last Name</b> </label>
            <input [class.is-invalid]="formAddUser.lastName.invalid && formAddUser.lastName.touched"
                   class="form-control two-column-input"
                   formControlName="lastName"
                   name="lastName" required type="text">
          </div>
        </div>

      </div>
      <!--      <div class="row">-->
      <!--        <div class="col">-->
      <!--          <div class="form-group">-->
      <!--            <label><b>Email</b></label>-->
      <!--            <input type="text" class="form-control two-column-input"-->
      <!--                   formControlName="email" name="email" required [class.is-invalid]="formAddUser.email.invalid && formAddUser.email.touched">-->
      <!--          </div>-->
      <!--        </div>-->

      <!--        <div class="col">-->
      <!--          <div class="form-group">-->
      <!--&lt;!&ndash;            <label><b>Last Name</b> </label>&ndash;&gt;-->
      <!--&lt;!&ndash;            <input type="text" class="form-control two-column-input"&ndash;&gt;-->
      <!--&lt;!&ndash;                   formControlName="lastName"&ndash;&gt;-->
      <!--&lt;!&ndash;                   name="lastName" required [class.is-invalid]="formAddUser.lastName.invalid && formAddUser.lastName.touched">&ndash;&gt;-->
      <!--          </div>-->
      <!--        </div>-->

      <!--      </div>-->

      <h5 class="mb-3" style="color: #0066B1">Employee Details</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Directorate</b></label>
            <div>
              <select (change)="onSelectDirectorate($event.target.value)"
                      [class.is-invalid]="formAddUser.directorate.invalid && formAddUser.directorate.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="directorate" name="directorate"
                      required>
                <option label="--select something --"></option>
                <option *ngFor="let directorate of directoratesEntityDto"
                        [value]="directorate.id"> {{ directorate.directorate }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>Designation</b></label>
            <div>
              <select [class.is-invalid]="formAddUser.designation.invalid && formAddUser.designation.touched"
                      aria-describedby="inputGroup-sizing-lg"
                      aria-label="Small" class="form-control"
                      formControlName="designation"
                      name="designation" required>
                <option label="--select something --"></option>
                <option *ngFor="let designation of designations"
                        [value]="designation.id"> {{ designation.designationName }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Department</b></label>
            <div>
              <select (change)="onSelectDepartment($event.target.value)"
                      [class.is-invalid]="formAddUser.department.invalid && formAddUser.department.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="department" name="department"
                      required>
                <option label="--select something --"></option>
                <option *ngFor="let dep of department" [value]="dep.id"> {{ dep.department }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>Division</b></label>
            <div>
              <select (change)="onSelectDivision($event.target.value)"
                      [class.is-invalid]="formAddUser.division.invalid && formAddUser.division.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="division" name="division"
                      required>
                <option label="--select something --"></option>
                <option *ngFor="let divs of division" [value]="divs.id"> {{ divs.division }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Section</b></label>
            <div>
              <select (change)="onSelectSection($event.target.value)" aria-describedby="inputGroup-sizing-lg"
                      aria-label="Small"
                      class="form-control"
                      formControlName="section"
                      name="section">
                <option label="--select something --"></option>
                <option *ngFor="let sec of sections" [value]="sec.id"> {{ sec.section }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>Sub Section 1</b></label>
            <div>
              <select (change)="onSelectL1SubSubSection($event.target.value)" aria-describedby="inputGroup-sizing-lg"
                      aria-label="Small"
                      class="form-control"
                      formControlName="l1SubSubSection"
                      name="l1SubSubSection">
                <option label="--select something --"></option>
                <option *ngFor="let l1SubSec of l1SubSubSections"
                        [value]="l1SubSec.id"> {{ l1SubSec.subSection }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Sub Section 2</b></label>
            <div>
              <select aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="l2SubSubSection"
                      name="l2SubSubSection">
                <option label="--select something --"></option>
                <option *ngFor="let l2SubSec of l2SubSubSections"
                        [value]="l2SubSec.id"> {{ l2SubSec.subSection }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <!--            <label><b>l1 Sub Section</b></label>-->
            <!--            <div>-->
            <!--              <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"-->
            <!--                      class="form-control" required-->
            <!--                      formControlName="l1SubSubSection"-->
            <!--                      name="l1SubSubSection" [class.is-invalid]="formAddUser.l1SubSubSection.invalid && formAddUser.l1SubSubSection.touched"-->
            <!--                      (change)="onSelectL1SubSubSection($event.target.value)">-->
            <!--                <option label="&#45;&#45;select something &#45;&#45;"></option>-->
            <!--                <option [value]="l1SubSec.id" *ngFor="let l1SubSec of l1SubSubSections"> {{ l1SubSec.subSection }} </option>-->
            <!--              </select>-->
            <!--            </div>-->
          </div>
        </div>
      </div>

      <h5 class="mb-3" style="color: #0066B1">Location Details</h5>
      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Region</b></label>
            <div>
              <select (change)="onSelectRegion($event.target.value)"
                      [class.is-invalid]="formAddUser.region.invalid && formAddUser.region.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="region" name="region"
                      required>
                <option label="--select something --"></option>
                <option *ngFor="let regn of regionsEntityDto" [value]="regn.id"> {{ regn.region }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <label><b>County</b></label>
            <div>
              <select (change)="onSelectCounty($event.target.value)"
                      [class.is-invalid]="formAddUser.county.invalid && formAddUser.county.touched"
                      aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                      class="form-control"
                      formControlName="county" name="county"
                      required>
                <option label="--select something --"></option>
                <option *ngFor="let cts of counties" [value]="cts.id"> {{ cts.county }} </option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="form-group">
            <label><b>Town</b></label>
            <div>
              <select [class.is-invalid]="formAddUser.town.invalid && formAddUser.town.touched"
                      aria-describedby="inputGroup-sizing-lg"
                      aria-label="Small" class="form-control"
                      formControlName="town"
                      name="town" required>
                <option label="--select something --"></option>
                <option *ngFor="let twn of towns" [value]="twn.id"> {{ twn.town }} </option>
              </select>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="form-group">
            <!--            <label><b>Town</b></label>-->
            <!--            <div>-->
            <!--              <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"-->
            <!--                      class="form-control" required-->
            <!--                      formControlName="town"-->
            <!--                      name="town"[class.is-invalid]="formAddUser.town.invalid && formAddUser.town.touched">-->
            <!--                <option label="&#45;&#45;select something &#45;&#45;"></option>-->
            <!--                <option [value]="twn.id" *ngFor="let twn of towns"> {{ twn.town }} </option>-->
            <!--              </select>-->
            <!--            </div>-->
          </div>
        </div>
      </div>

    </div>

    <button [disabled]="!addUserFormGroup.valid" class="submit-button mt-3" type="submit">SUBMIT</button>


  </form>
</div>
