
<div class="main-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-9">
                <div class="card">

                    <div class="text-center">
                        <h5 class="text-dark" style="text-align: left;
                          margin-left: 20px; margin-top: 20px;">Inspection Report List</h5>

                    </div>

                    <div class="card-body">
                        <div class="table-responsive">

                            <div  class="w-100">


                                <div class="main-content" style="margin-top: 1px;">
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <!-- <div class="card"> -->



                                                <div class="card-body">


                                                    <!-- <form method="get" action="file.doc">
                                                        <button type="submit">PDF</button>
                                                     </form> -->


                                                    <div class="search" >

                                                        <input  type="text" style="border: none; margin-left: 2px;" placeholder="Search..." >
                                                        <i class="fa fa-search" aria-hidden="true" style="margin-right: 5px;"></i>

                                                    </div>

                                                    <div class="material-datatables">
                                                        <div class="table-responsive" >
                                                            <ng-template #loading class="loaderHolder">
                                                                <!-- <ngx-spinner  type="ball-clip-rotate-multiple" size="medium">
                                                                    <p class="loading">Loading...</p>
                                                                </ngx-spinner> -->
                                                            </ng-template>
                                                            <div >
                                                                <table class=" table table-bordered table-hover table-striped">
                                                                    <thead style="text-align: left;">
                                                                    <tr>
                                                                        <th class="">
                                                                            <strong>View Details</strong></th>
                                                                        <th>
                                                                            <strong>Status</strong></th>
                                                                        <th>
                                                                            <strong>Inspection Report <br>REF No</strong></th>
                                                                        <th>
                                                                            <strong>Date Created</strong></th>

                                                                        <th >
                                                                            <strong>Report Filled</strong></th>

                                                                    </tr>
                                                                    </thead>

                                                                    <tbody>
                                                                    <tr>
                                                                        <td class="text-right">
                                                                            <a mat-list-item routerLinkActive routerLink="/inspection-report-details"  class="btn btn-info" style="width: 100%; margin-right: 5px;background: linear-gradient(60deg,#1b75bc,#1b75bc);
                                                                                    background-color: rgba(0, 0, 0, 0);">View</a>

                                                                        </td>
                                                                        <td>N/A</td>
                                                                        <td>REFSM#202211162510B</td>

                                                                        <td>17/11/2022</td>



                                                                        <td style="padding: .75rem;
                                                                                vertical-align: top;color: #0082f3;font-size: .875rem;
                                                                                font-weight: 400;"> YES
                                                                        </td>

                                                                    </tr>


                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </div>
                                                <!-- </div> -->
                                                <!-- end content-->
                                            </div>
                                            <!--  end card  -->
                                        </div>
                                        <!-- end col-md-12 -->
                                    </div>
                                    <!-- end row -->
                                </div>



                            </div>



                        </div>
                    </div>

                </div>

            </div>
            <div class="col-md-3">
                <div class="card" style="padding: 5px;">

                    <div class="text-center" style="padding: 0 10px;">
                        <h5 class="text-dark" style="text-align: left;
                  margin-left: 20px; margin-top: 20px; font-weight: 700; ">Action:</h5>

                        <a routerLink="/new-inspection-report" class="btn btn-info"
                           style="background: linear-gradient(60deg,#1b75bc,#1b75bc);
                   background-color: rgba(0, 0, 0, 0);width: 100%; margin-right: 5px;">
                            GENERATE NEW INSPECTION REPORT</a>

                        <a routerLink="/permit-details"
                           class="btn btn-info" style="width: 100%; margin-right: 5px;background: linear-gradient(60deg,#1b75bc,#1b75bc);
                    background-color: rgba(0, 0, 0, 0);">GO TO PERTMIT DETAILS</a>


                    </div>



                </div>
            </div>


        </div>
    </div>
</div>
















