/*!* Full-width input fields *!*/
/*input[type=text], input[type=password] {*/
/*  width: 90%;*/
/*  padding: 10px;*/
/*  margin: 5px 0 22px 0;*/
/*  display: inline-block;*/
/*  border: 1px solid #E0E0E0;*/
/*  border-radius: 3px;*/
/*  !*background: #f9f9f9;*!*/
/*}*/

input[type=text]:focus, input[type=password]:focus {
  background-color: #f9f9f9;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

a {
  text-decoration: underline !important;
}

