<!DOCTYPE html>
<div>
    <div class="row">
        <div class="col-lg-7">
            <div>
                <label>Filter:
                    <input ng-model="searchText.directorate" placeholder="Enter  directorate to search" type="text">
                </label><br/><br/>
            </div>
            <div id="role-list">
                <button class="content-nav-link tablinks"
                        ng-click="loadInitialData()"
                        style="float: right; margin-bottom: 2em; height: 20px;"><i
                        class="fa fa-refresh"></i>
                </button>
                <table class="table table-striped table-hover">
                    <thead>
                    <tr>
                        <!--                        <th>item#</th>-->
                        <th>Name</th>
                        <th>Enabled</th>
                        <th>View</th>

                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="directorate in paged.directorates |filter : searchText">
                        <!--                        <td> {{ designation.id }}</td>-->
                        <td> {{ directorate.directorate }}</td>
                        <td>
                            <label>
                                <input ng-model="directorate.status" readonly type="checkbox"/>
                            </label>
                        </td>

                        <td>
                            <a class="edit-button"
                               ng-click="editDirectorate(directorate)">View</a>
                        </td>

                    </tr>
                    </tbody>
                </table>

                <!--    {{noOfPages}} &nbsp; {{currentPage}} &nbsp; {{maxSize}}-->
                <pagination items-per-page="itemsPerPage" max-size="maxSize"
                            ng-model="currentPage" num-pages="noOfPages"
                            total-items="directorate.length"></pagination>
            </div>
        </div>
        <div class="col-lg-5" style="margin-top: 5%;">
            <div class="form-block w-form" id="role-form-div">
                <form ng-submit="submitDirectorate()">
                    <!-- <h2>ROLE DETAILS</h2> -->
                    <div>
                        <label class="field-label" for="id">#</label>
                        <input class="w-input" id="id" ng-model="directoratesForm.id"
                               readonly required="" type="text">
                    </div>
                    <div>
                        <label class="field-label" for="name">Name</label>
                        <input class="w-input" id="name"
                               ng-model="directoratesForm.directorate" type="text">
                    </div>

                    <div>
                        <label for="status">Enabled</label>
                        <input class="checkbox" id="status" ng-model="directoratesForm.status"
                               type="checkbox">
                    </div>

                    <input class="w-button" data-wait="Please wait..." type="submit"
                           value="Save">
                    <input class="w-button" data-wait="Please wait..." type="reset"
                           value="Cancel">
                </form>

            </div>
        </div>
    </div>
</div>