<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Fri Jul 17 2020 07:38:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5f114f29a0db1a1e9a44be8b" data-wf-site="5e70fb3a565ebd99c1db37ce" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/multiStepForm.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>
</head>
<body>
<div class="top-bar flex">
    <div class="div-block-8"></div>
    <div class="top-bar-grid stretch">
        <div class="div-block-3" id="w-node-1b8d60fecab3-9a44be8b">
            <a class="brand w-inline-block" href="/" th:href="@{/index}">
                <img alt="" th:src="@{/images/Component-1.png}" width="145">
            </a>
        </div>
        <h1 class="white" id="w-node-1b8d60fecab6-9a44be8b" th:text="${session.applicationName}"></h1>
    </div>
</div>
<!--<div th:if="${pageView == 'letterComplaint'}"  class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>-->
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-content-div" id="w-node-a58aeb4cd9dd-9a44be8b">
            <div class="content-nav">
                <button class="back-button w-button" onclick="window.history.back()">go back</button>
            </div>
<!--            <div th:if="${pageView == 'letterComplaint'}" class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>-->
            <div class="content-wrap">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <form id="msform" enctype="multipart/form-data" method="post" th:action="@{/api/ms/complaints/new/save(msTypeUuid = ${msType.uuid})}">
                            <fieldset th:object="${complaintCustomersEntity}">
                                <h2 class="fs-title">Bio Information</h2>
                                <h3 class="fs-subtitle">Tell us something more about you</h3>
                                <label class="field-label" for="firstName">First Name</label>
                                <input class="input-field w-input" id="firstName" required="" placeholder="First Name" th:field="*{firstName}" th:required="required" type="text">
                                <label class="field-label" for="lastName">Last Name</label>
                                <input class="input-field w-input" id="lastName" placeholder="Last Name" th:field="*{lastName}" th:required="required" type="text">
                                <label class="field-label" for="mobilePhoneNumber">Telephone Number</label>
                                <input class="input-field w-input" id="mobilePhoneNumber" placeholder="Phone Number" th:field="*{mobilePhoneNumber}" th:required="required" type="text">
                                <label class="field-label" for="emailAddress">Email Address</label>
                                <input class="input-field w-input" id="emailAddress" placeholder="Email Address" th:field="*{emailAddress}" th:required="required" type="text">
                                <label class="field-label" for="postalAddress">Postal Address</label>
                                <input class="input-field w-input" id="postalAddress" placeholder="Postal Address" th:field="*{postalAddress}" th:required="required" type="text">
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${complaintEntity}">
                                <h2 class="fs-title">Complaint Details</h2>
                                <h3 class="fs-subtitle">Fill in bellow Your Complaints details</h3>
                                <label class="field-label" for="complaintTitle">Complaint Title</label>
                                <input class="input-field w-input" min="5" id="complaintTitle" placeholder="Complain Title" th:field="*{complaintTitle}" th:required="required">
                                <label for="complaintDepartment" class="col-form-label">Select Complaint Category:</label>
                                <select id="complaintDepartment" name="complaintDepartment" required="required" class="select-field w-select" th:field="*{complaintDepartment}">
                                    <option value="">Select One...</option>
                                    <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>
                                </select>
                                <label for="standardCategory" class="field-label">Select Product Category:</label>
                                <select id="standardCategory" name="standardCategory" required="required" class="select-field w-select" th:field="*{standardCategory}">
                                    <option value="">Select One...</option>
                                    <option th:each="stdCat : ${standardCategory}" th:text="${stdCat.standardCategory}" th:value="${stdCat.id}"></option>
                                </select>
                                <label for="broadCat" class="field-label">Broad Product Category</label>
                                <select reqiured="" id="broadCat" th:field="*{broadProductCategory}" class="select-field w-select">
                                    <option value="">Select one...</option>
                                </select>
                                <label for="productCategories" class="field-label">Product Category</label>
                                <select reqiured="" id="productCategories" th:field="*{productCategory}" class="select-field w-select">
                                    <option value="">Select one...</option>
                                    <!--                                        <option value="">Select one...</option>-->
                                    <!--                                        <option  th:each="product : ${session.products}" th:value="${product.id}" th:text="${product.category}"></option>-->
                                </select>
                                <label for="product" class="field-label">Product</label>
                                <select reqiured="" id="product" th:field="*{product}" class="select-field w-select">
                                    <option value="">Select one...</option>
                                </select>
                                <label for="subc" class="field-label">Product Sub-Category</label>
                                <select reqiured="" id="subc" th:field="*{productSubCategory}" class="select-field w-select">
                                    <option value="">Select one...</option>
                                </select>
                                <label class="field-label" for="complaintDetails">Please describe your complaint in detail. Attach files where necessary.</label>
                                <textarea class="input-field w-input" min="5" required="required" cols="20" id="complaintDetails" rows="4" placeholder="Please describe your complaint in detail. Attach files where necessary" th:field="*{complaintDetails}"></textarea>
                                <label for="docFile">Attach photos of the product, receipt etc</label>
                                <input type="file"  name="doc_file" data-name="doc_file" id="docFile" required="required" >
<!--                                <input id="filepath" multiple name="filepath"  th:field="*{document}" type="file">-->
                                <input type="button" name="previous"  class="previous action-button-previous" value="Previous"/>
                                <input type="button" name="next" class="next action-button" value="Next"/>
                            </fieldset>
                            <fieldset th:object="${complaintLocationEntity}">
                                <h2 class="fs-title">LOCATION & DETAILS OF COMPLAINT SUBJECT</h2>
                                <h3 class="fs-subtitle">Fill in the location and details of complaint subject</h3>
<!--                                <label class="field-label" for="regionId">Select Region</label>-->
<!--                                <select id="regionId" required="required" class="select-field w-select" th:field="*{regionId}">-->
<!--                                    <option value="0">Select one...</option>-->
<!--                                    <option  th:each="reg : ${regions}" th:text="${#strings.capitalize(reg.region)}" th:name="assignedIo" th:value="${reg.id}"></option>-->
<!--                                </select>-->
                                <label class="field-label" for="county">County</label>
                                <select id="county" name="county" class="form-control" th:field="*{county}">
                                    <option value="0">Select One...</option>
                                    <option th:each="county : ${counties}" th:text="${county.county}" th:value="${county.id}"></option>
                                    <!--                                        <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                                </select>
<!--                                <input class="input-field w-input" id="county" placeholder="County" required="required" th:field="*{county}" type="text">-->
<!--                                <label class="field-label" for="subcounty">Sub-County</label>-->
<!--                                <input class="input-field w-input" id="subcounty" placeholder="sub-county" required="required" th:field="*{subcounty}" type="text">-->
                                <label class="field-label" for="town">Town</label>
                                <select id="town" name="town" class="input-field w-input" th:field="*{town}">
                                    <option value="0">Select One...</option>
                                    <!--                                        <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                                </select>
<!--                                <input class="input-field w-input" id="town"  required="required" placeholder="Town" th:field="*{town}" type="text">-->
                                <label class="field-label" for="marketCenter">Market Center</label>
                                <input class="input-field w-input" id="marketCenter" required="required" placeholder="Market Center" th:field="*{marketCenter}" type="text">
                                <label class="field-label" for="building">Name of Building</label>
                                <input class="input-field w-input" id="building" required="required" placeholder="Name of Building" th:field="*{building}" type="text">
                                <label class="field-label" for="productBrand">Product Brand</label>
                                <input class="input-field w-input" id="productBrand" required="required" placeholder="Product Brand" th:field="*{productBrand}" type="text">
                                <input type="button" name="previous" class="previous action-button-previous" value="Previous"/>
                                <input type="submit" name="submit" class="submit action-button" style="background-color: #47cf73" value="Submit"/>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script crossorigin="anonymous" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js?site=5e70fb3a565ebd99c1db37ce" type="text/javascript"></script>
<script src="../js/webflow.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<!-- [if lte IE 9]><!--<script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script>--><![endif] -->
<script>
    //jQuery time
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        next_fs = $(this).parent().next();

        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale current_fs down to 80%
                scale = 1 - (1 - now) * 0.2;
                //2. bring next_fs from the right(50%)
                left = (now * 50)+"%";
                //3. increase opacity of next_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({
                    'transform': 'scale('+scale+')',
                    'position': 'absolute'
                });
                next_fs.css({'left': left, 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".previous").click(function(){
        if(animating) return false;
        animating = true;

        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();

        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({opacity: 0}, {
            step: function(now, mx) {
                //as the opacity of current_fs reduces to 0 - stored in "now"
                //1. scale previous_fs from 80% to 100%
                scale = 0.8 + (1 - now) * 0.2;
                //2. take current_fs to the right(50%) - from 0%
                left = ((1-now) * 50)+"%";
                //3. increase opacity of previous_fs to 1 as it moves in
                opacity = 1 - now;
                current_fs.css({'left': left});
                previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
            },
            duration: 800,
            complete: function(){
                current_fs.hide();
                animating = false;
            },
            //this comes from the custom easing plugin
            easing: 'easeInOutBack'
        });
    });

    $(".submit").click(function(){
        return true;
    })
</script>
<script>
    $(document).ready(function() {
            $("#confirmDirectorateId").click(function () {
                loadDepartment();
                loadDesignation();
            });

        $("#standardCategory").click(function () {
            let methodId = $("#standardCategory").val()
            // let categories = $("#sth").val()
            // console.log(categories.length)
            $.ajax({
                method: "GET",
                url: `/api/auth/populate-broad-category/${methodId}`,
                data: methodId,
                success(response){
                    console.log(response)
                    let s = '';
                    s +=  ' <option value="0">Select One...</option>';
                    for(let i = 0; i < response.length; i++) {
                        // response.push('Select one')
                        s += '<option value="' + response[i].id + '">' + response[i].category + '</option>';
                    }
                    $("#broadCat").html(s);
                }
            })
        });

        $("#broadCat").click(function () {
            let methodId2 = $("#broadCat").val()
            // let categories = $("#sth").val()
            // console.log(categories.length)
            $.ajax({
                method: "GET",
                url: `/api/auth/populate-product-category/${methodId2}`,
                data: methodId2,
                success(response){
                    console.log(response)
                    var s = '';
                    s +=  ' <option value="0">Select One...</option>';
                    for(var i = 0; i < response.length; i++) {
                        // response.push('Select one')
                        s += '<option value="' + response[i].id + '">' + response[i].name + '</option>';
                    }
                    $("#productCategories").html(s);
                }
            })

        });

        $("#productCategories").click(function () {
            let methodId3 = $("#productCategories").val()
            // let categories = $("#sth").val()
            // console.log(categories.length)
            $.ajax({
                method: "GET",
                url: `/api/auth/populate-product-categories/${methodId3}`,
                data: methodId3,
                success(response){
                    console.log(response)
                    var s = '';
                    s +=  ' <option value="0">Select One...</option>';
                    for(var i = 0; i < response.length; i++) {
                        // response.push('Select one')
                        s += '<option value="' + response[i].id + '">' + response[i].name + '</option>';
                    }
                    $("#product").html(s);
                }
            })

        });

        $("#product").click(function () {
            let methodId4 = $("#product").val()
            // let categories = $("#sth").val()
            // console.log(categories.length)
            $.ajax({
                method: "GET",
                url: `/api/auth/populate-sub-category/${methodId4}`,
                data: methodId4,
                success(response){
                    console.log(response)
                    let s = '';
                    s +=  ' <option value="0">Select One...</option>';
                    for(let i = 0; i < response.length; i++) {
                        // response.push('Select one')
                        s += '<option value="' + response[i].id + '">' + response[i].name + '</option>';
                    }
                    $("#subc").html(s);
                }
            })

        });

        // $("#subc").click(function () {
        //     let methodId5 = $("#subc").children("option:selected").val()
        //     $.ajax({
        //         method: "GET",
        //         url: `/populate-standards/${methodId5}`,
        //         data: methodId5,
        //         success(response){
        //             console.log(response)
        //             let s = '';
        //             s +=  ' <option value="0">Select One...</option>';
        //             for(let i = 0; i < response.length; i++) {
        //                 s += '<option value="' + response[i].id + '">' + response[i].standardNumber + '</option>';
        //             }
        //             $("#ksNumber").html(s);
        //         }
        //     })
        //
        // });

        $("#county").click(function () {
            // let methodId = $("#divisionId").children("option:selected").val()
            let countyId = $("#county").val()
            // console.log(categories.length)
            if (countyId!==0){
                $.ajax({
                    method: "GET",
                    url: `/api/auth/town-list/${countyId}`,
                    // data: regionId,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].town + '</option>';
                            // <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                            // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                        }
                        $("#town").html(s);
                    }
                })
            }
        });

            $("#confirmRegionId").click(function () {
                // let methodId = $("#divisionId").children("option:selected").val()
                let regionId = $("#confirmRegionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-region/${regionId}`,
                    // data: regionId,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subRegion + '</option>';
                            // <option th:each="subRegion : ${subRegions}" th:text="${subRegion.subRegion}" th:value="${subRegion.id}"></option>-->
                            // s += ' <option th:each="department : ${departments}" th:text="${department.department}" th:value="${department.id}"></option>';
                        }
                        $("#confirmSubRegionId").html(s);
                    }
                })
            });

            $("#complaintDepartment").click(function () {
                let departmentId = $("#complaintDepartment").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/division-list/${departmentId}`,
                    success(response){
                        console.log(response)
                        var s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].division + '</option>';
                        }
                        $("#confirmDivisionId").html(s);
                    }
                })

            });

            $("#confirmDivisionId").click(function () {
                let divisionId = $("#confirmDivisionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/section-list/${divisionId}`,
                    success(response){
                        console.log(response)
                        var s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].section + '</option>';
                        }
                        $("#confirmSectionId").html(s);
                    }
                })

            });

            $("#confirmSectionId").click(function () {
                let sectionId = $("#confirmSectionId").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l1-list/${sectionId}`,
                    success(response){
                        console.log(response)
                        var s = ''
                        s +=  ' <option value="0">Select One...</option>';
                        for(var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#confirmSubSectionL1Id").html(s);
                    }
                })

            });

            $("#confirmSubSectionL1Id").click(function () {
                let sectionId = $("#confirmSubSectionL1Id").val()
                // console.log(categories.length)
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l2-list/${sectionId}`,
                    success(response){
                        console.log(response)
                        let s = '';
                        s +=  ' <option value="0">Select One...</option>';
                        for(let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#confirmSubSectionL2Id").html(s);
                    }
                })

            });
        }
    )

</script>
</body>
</html>