<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/accordion.css}"/>
    <link rel="stylesheet" th:href="@{/assets/bootstrap3/css/bootstrap.css}"/>

</head>
<body>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>

<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d"
             th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div id="w-node-27962c2db181-c676b3e3" class="main-content-div">
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>
            <div class="content-wrap">
                <div class="content-container">
                    <h3 class="h3-blue" style="color: #0082f3">WorkPlan Uploads List</h3>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 75%" >
                            <div class="row-table ">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th>File Name</th>
                                        <th>File Type</th>
                                        <th>Document Description</th>
                                        <th>Transaction Date</th>
                                        <th>View</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!--                <a th:each="coc, iStat: ${cocs}" th:href="@{/api/inspection/supervisor/coc-details/{id}(id=${coc.id})}" class="table-row w-inline-block">-->
                                    <tr class="list" th:each="upload: ${uploads}" style="cursor: pointer">

                                        <td th:text="${upload?.name}"></td>
                                        <td th:text="${upload?.fileType}"></td>
                                        <td th:text="${upload?.description}"></td>
                                        <td th:text="${#dates.format(upload?.transactionDate, 'dd/MM/yyyy')}"></td>
                                        <td><a target='_blank' th:href="@{/api/ms/load/uploads(uploadId = ${upload?.id} )}">view</a></td>
                                    </tr>

                                    </tbody>
                                </table>
<!--                                <div class="pagination-div">-->
<!--                                    <span th:if="${uploads.hasPrevious()}">-->
<!--                                        <a th:href="@{/api/ms/workPlan-uploads(workPlanId = ${workplan?.id},currentPage=${uploads?.number-1},pageSize=${uploads?.size})}">Previous</a>-->
<!--                                    </span>-->
<!--                                    <span th:if="${uploads.hasNext()}">-->
<!--                                        <a th:href="@{/api/ms/workPlan-uploads(workPlanId = ${workplan?.id},currentPage=${uploads?.number+1},pageSize=${uploads?.size})}">Next</a>-->
<!--                                    </span>-->
<!--                                </div>-->
                            </div>
                        </div>
<!--                        <div class="filter-block">-->
<!--                            <div class="filter-block-title">-->
<!--                                <div class="filter-title">Action:</div>-->
<!--                            </div>-->
<!--                            <div>-->
<!--                                <a class="filter-link inspectBtn"-->
<!--                                   th:href="@{/api/di/back-view(close = ${session.certBack},id = ${session.coc.id},section = ${session.section.section})}">Close</a>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../assets/js/webflow.js" type="text/javascript"></script>
<script th:src="@{/assets/bootstrap3/js/bootstrap.js}" type="text/javascript"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
    var acc = document.getElementsByClassName("accordion");
    // var btn = document.getElementsByClassName("button w-button eBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.style.border = "none";
            // this.style.position = "sticky"
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                // panel.style.position = "-webkit-sticky"
                // panel.style.position = "sticky"
            }
        });
    }


</script>

</body>
</html>


