<div class="main-content">
    <div class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                color="#fff"
                size="medium"
                type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">Loading Please Wait...</p>
        </ngx-spinner>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">WP</i>
                        </div>
                        <h4 class="card-title">Work-Plan List Details
                            <button class="btn btn-sm btn-default float-right mr-7"
                                    (click)="goBack()"><i class="fa fa-arrow-left"></i> Back
                            </button>
                        </h4>

                        <!--                        <h4 class="card-title">#REGION NAME : {{this.loadedData.fuelBatchDetailsDto.region}}</h4>-->
                        <!--                        <h4 class="card-title">#COUNTY NAME : {{this.loadedData.fuelBatchDetailsDto.county}}</h4>-->
                        <!--                        <h4 class="card-title">#TOWN NAME : {{this.loadedData.fuelBatchDetailsDto.town}}</h4>-->
                        <!--                        <h4 class="card-title">#YEAR NAME : {{this.loadedData.fuelBatchDetailsDto.batchFileYear}}</h4>-->
                        <!--                        <h4 class="card-title">#STATUS : {{this.loadedData.fuelBatchDetailsDto.batchClosed}}</h4>-->
                    </div>
                    <!--                    <div class="card-body">-->
                    <!--&lt;!&ndash;                        <div class="row">&ndash;&gt;-->
                    <!--                            <div class="col-md-2 m-0 p-0">-->
                    <!--                                <div widget class=" border-0 box-shadow">-->
                    <!--                        <div class="text-center pt-2" style="color: green;">-->
                    <!--                            FUEL BATCH INFORMATION-->
                    <!--                        </div>-->
                    <!--                        <div class="card-body p-0 m-0 widget-body">-->
                    <!--                            <table class="table-responsive">-->
                    <!--                                <th>-->
                    <!--                                    Batch Reference No #-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.referenceNumber ? this.loadedData.fuelBatchDetailsDto.referenceNumber : 'NA' }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                                <th>-->
                    <!--                                    Region Name-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.region ? this.loadedData.fuelBatchDetailsDto.region : 'NA' }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                                <th>-->
                    <!--                                    County Name-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.county ? this.loadedData.fuelBatchDetailsDto.county : 'NA' }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                                <th>-->
                    <!--                                    Town Name-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.town ? this.loadedData.fuelBatchDetailsDto.town : 'NA' }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                                <th>-->
                    <!--                                    Year Name-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.batchFileYear ? this.loadedData.fuelBatchDetailsDto.batchFileYear : 'NA' }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                                <th>-->
                    <!--                                    Status-->
                    <!--                                </th>-->
                    <!--                                <tr>-->
                    <!--                                    <td>{{ this.loadedData.fuelBatchDetailsDto.batchClosed ? this.loadedData.fuelBatchDetailsDto.batchClosed : false }}-->
                    <!--                                    </td>-->
                    <!--                                </tr>-->
                    <!--                            </table>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <!--                            </div>-->
                    <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
                    <!--                    </div>-->
                    <div class="card-body">
                        <div class="toolbar">
                            <div class="search-bar" *ngIf="documentTypes">
                                <div class="input-group form-inline">
                                    <div class="input-group-btn">
                                        <select *ngIf="managerPetroleumUser && activeStatus=='my-tasks'" id="filter-tasks"
                                                (change)="onManagerPetroleumChange($event)" class="search-form-input">
                                            <option value="" selected>Task Owner</option>
                                            <option value="true">Personal Tasks</option>
                                            <option value="false">All Tasks</option>
                                        </select>
                                    </div>
                                    <!--                                    <input id="searchDocument" class="search-form-input" (keyup)="searchPhraseChanged()"-->
                                    <!--                                           [(ngModel)]="keywords" placeholder="Search Document">-->
                                    <!--                                    <div class="input-group-btn">-->
                                    <!--                                        <button type="button" class="btn btn-primary btn-background"-->
                                    <!--                                                (click)="searchPhraseChanged()">-->
                                    <!--                                            <i class="fa fa-search"></i>-->
                                    <!--                                        </button>-->
                                    <!--                                    </div>-->
                                </div>
                            </div>
                            <div class="btn-group btn-group-sm" role="group" aria-label="Applications Status">
                                <button type="button" (click)="toggleStatus('all-list')"
                                        [className]="activeStatus == 'all-list' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    All List
                                </button>
                                <button type="button" (click)="toggleStatus('my-tasks')"
                                        [className]="activeStatus == 'my-tasks' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    My Tasks
                                </button>
                                <button type="button" (click)="toggleStatus('on-going')"
                                        [className]="activeStatus == 'on-going' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    ON GOING
                                </button>
                                <button type="button" (click)="toggleStatus('completed')"
                                        [className]="activeStatus == 'completed' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">
                                    COMPLETED
                                </button>
<!--                                <button type="button" (click)="toggleStatus('new-workPlan')"-->
<!--                                        [className]="activeStatus == 'new-workPlan' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">-->
<!--                                    NEW WORK-PLAN-->
<!--                                </button>-->
                                <!--                                <button type="button" (click)="toggleStatus('completed')"-->
                                <!--                                        [className]="activeStatus == 'completed' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">-->
                                <!--                                    COMPLETED-->
                                <!--                                </button>-->
                                <!--                                <button *ngIf="searchStatus" type="button" (click)="toggleStatus('completed')"-->
                                <!--                                        [className]="activeStatus == 'search-result' ? 'btn btn-sm btn-primary pr-2' : 'btn btn-sm btn-default pr-2'">-->
                                <!--                                    SEARCH_RESULT-->
                                <!--                                </button>-->
                            </div>
                            <div class="btn-group btn-group-sm float-right" role="group"
                                 aria-label="Applications Status">
                                <div *ngFor="let role of roles">
<!--                                    <div *ngIf="role == 'MS_IO_MODIFY'">-->
<!--                                        <button *ngIf="loadedData?.createdWorkPlan?.batchClosed==false" (click)="onClickCloseBatch()" mat-raised-button=""-->
<!--                                                class="btn btn-sm btn-warning mr-2"><span-->
<!--                                                class="mat-button-wrapper">SUBMIT WORK-PLAN FOR APPROVAL</span>-->
<!--                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>-->
<!--                                            <div class="mat-button-focus-overlay"></div>-->
<!--                                        </button>-->
<!--                                    </div>-->
                                    <br>
                                    <div *ngIf="role == 'MS_IO_MODIFY'">
                                        <button (click)="openModalAddDetails('addNewScheduleDetails')" mat-raised-button="" data-toggle="modal"
                                                data-target="#workPlanModal"
                                                class="btn btn-sm btn-primary mr-2"><span
                                                class="mat-button-wrapper">ADD NEW WORK-PLAN FILE</span>
                                            <div matripple="" class="mat-ripple mat-button-ripple"></div>
                                            <div class="mat-button-focus-overlay"></div>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div widget class="card border-0 box-shadow">
                            <div class="card-body pt-0 widget-body">
                                <div class="table-responsive table-striped">
                                    <ng2-smart-table class="table table-hover"
                                                     [settings]="settings"
                                                     [source]="dataSet"
                                                     (custom)="onCustomAction($event)">
                                    </ng2-smart-table>
                                    <br/>
                                    <ngb-pagination [(page)]="currentPage" [pageSize]="defaultPageSize"
                                                    [collectionSize]="totalCount"
                                                    (pageChange)=pageChange($event)>
                                        <ng-template ngbPaginationFirst>First</ng-template>
                                        <ng-template ngbPaginationLast>Last</ng-template>
                                        <ng-template ngbPaginationPrevious>Prev</ng-template>
                                        <ng-template ngbPaginationNext>Next</ng-template>
                                        <ng-template ngbPaginationEllipsis>...</ng-template>
                                        <ng-template ngbPaginationNumber let-page>{{ page }}</ng-template>
                                    </ngb-pagination>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>

    <!-- Classic Modal -->
    <!-- Classic Modal For Saving Details -->
    <div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">{{currDivLabel}}</h4>
                    <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <div *ngIf="(currDiv == 'addNewScheduleDetails')">
                        <form [formGroup]="addNewScheduleForm" class="form">
                            <div class="form-body">
<!--                                <div class="form-group">-->
<!--                                    <div>-->
<!--                                        <label for="company">Company Name</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="company" matInput type="text" placeholder="Please Enter Company Name" formControlName="company" name="company"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.company.invalid && formNewScheduleForm.company.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="stationOwnerEmail">Station Owner Email</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="stationOwnerEmail" matInput type="text" placeholder="Please Enter Station Owner Email" formControlName="stationOwnerEmail" name="stationOwnerEmail"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.stationOwnerEmail.invalid && formNewScheduleForm.stationOwnerEmail.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="petroleumProduct">Petroleum Product Name</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="petroleumProduct" matInput type="text" placeholder="Please Enter Petroleum Product Name" formControlName="petroleumProduct" name="petroleumProduct"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.petroleumProduct.invalid && formNewScheduleForm.petroleumProduct.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="physicalLocation">Physical Location Name</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="physicalLocation" matInput type="text" placeholder="Please Enter Physical Location Name" formControlName="physicalLocation" name="physicalLocation"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.physicalLocation.invalid && formNewScheduleForm.physicalLocation.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="inspectionDateFrom">Inspection Date From</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="inspectionDateFrom" matInput type="date" placeholder="Please Enter Inspection Date From" formControlName="inspectionDateFrom" name="inspectionDateFrom"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.inspectionDateFrom.invalid && formNewScheduleForm.inspectionDateFrom.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="inspectionDateTo">Inspection Date To</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <input id="inspectionDateTo" matInput type="date" placeholder="Please Enter Inspection Date To" formControlName="inspectionDateTo" name="inspectionDateTo"-->
<!--                                                   [class.is-invalid]="formNewScheduleForm.inspectionDateTo.invalid && formNewScheduleForm.inspectionDateTo.touched">-->
<!--                                        </mat-form-field>-->

<!--                                        <label for="remarks">Please write, in detail, your feedback for this fuel inspection schedule:</label>-->
<!--                                        <mat-form-field class="example-full-width">-->
<!--                                            <textarea id="remarks" matInput type="text"-->
<!--                                                      formControlName="remarks"-->
<!--                                                      placeholder="Please Enter your feedback for this fuel inspection schedule"-->
<!--                                                      name="remarks"-->
<!--                                                      [class.is-invalid]="formNewScheduleForm.remarks.invalid && formNewScheduleForm.remarks.touched">-->
<!--                                            </textarea>-->
<!--                                        </mat-form-field>-->
<!--                                    </div>-->
<!--                                </div>-->
                            </div>
                        </form>
                    </div>

                </div>
                <div class="modal-footer">

                    <button mat-raised-button type="button" class="btn btn-danger" data-dismiss="modal">Close
                    </button>
                    <!--                    <button *ngIf="(currDiv == 'closeBatchDetails')" mat-raised-button type="button" class="btn btn-success"-->
                    <!--                            (click)="onClickCloseBatch(closeBatchForm.valid);"-->
                    <!--                            [disabled]="!closeBatchForm.valid"-->
                    <!--                            data-dismiss="modal"-->
                    <!--                    >SUBMIT-->
                    <!--                    </button>-->
                </div>
            </div>
        </div>
    </div>
    <!--  End Modal -->
    <!-- Work Plan Modal -->
    <div class="modal fade" id="workPlanModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Fill in bellow activity Details</h4>
                    <button mat-button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <i class="material-icons">clear</i>
                    </button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="addNewScheduleForm">
                        <div class="form-group bmd-form-group is-filled">
                            <h5 class="mb-3" style="color: #0066B1">Work-Plan Details</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Department</b></label>
                                        <select (change)="onChangeSelectedDepartment()"
                                                [class.is-invalid]="submitted && formNewScheduleForm.complaintDepartment.errors && formNewScheduleForm.complaintDepartment.invalid"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="complaintDepartment" name="complaintDepartment" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of msDepartments | filterPipe: {status: true}" [value]="app.id">{{app.department}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.complaintDepartment.errors && formNewScheduleForm.complaintDepartment.invalid" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.complaintDepartment.errors.required">Department is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Division</b></label>
                                        <select [class.is-invalid]="formNewScheduleForm.divisionId.errors && formNewScheduleForm.divisionId.invalid"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="divisionId" name="divisionId" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of msDivisions | filterPipe: {status: true, departmentId: departmentSelected}" [value]="app.id">{{app.division}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.divisionId.errors
                                        && formNewScheduleForm.divisionId.invalid" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.divisionId.errors.required">Division is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Name of Activity</b></label>
                                        <select [class.is-invalid]="formNewScheduleForm.nameActivity.invalid && formNewScheduleForm.nameActivity.errors"
                                                class="form-control two-column-input"
                                                formControlName="nameActivity" name="nameActivity" required type="text">
<!--                                            <option [value]="" selected>Please select</option>-->
                                            <option  [value]="'Surveillance'" selected>Surveillance</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.nameActivity.errors && formNewScheduleForm.nameActivity.invalid" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.nameActivity.errors.required">Name of Activity is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Date of activity</b> </label>
                                        <input [class.is-invalid]="formNewScheduleForm.timeActivityDate.invalid && formNewScheduleForm.timeActivityDate.errors"
                                               class="form-control two-column-input"
                                               formControlName="timeActivityDate"
                                               name="timeActivityDate" required type="date">
                                        <div *ngIf="submitted && formNewScheduleForm.timeActivityDate.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.timeActivityDate.errors.required">Date of Activity is
                                                required
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group" >
                                        <label><b>County</b></label>
                                        <select (change)="updateSelectedCounty()"
                                                [class.is-invalid]="formNewScheduleForm.county.invalid && formNewScheduleForm.county.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="county" name="county" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of msCounties| filterPipe: {status: true}" [ngValue]="app.id"
                                                    >{{app.county}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.county.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.county.errors.required">County is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group" >
                                        <label><b>Town/Market center</b></label>
                                        <select (change)="updateSelectedTown()"
                                                [class.is-invalid]="formNewScheduleForm.townMarketCenter.invalid && formNewScheduleForm.townMarketCenter.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="townMarketCenter" name="townMarketCenter" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of msTowns| filterPipe: {status: true, countyId: selectedCounty}"
                                                    [ngValue]="app.id">{{app.town}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.townMarketCenter.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.townMarketCenter.errors.required">Town/Market center is required</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Other</b></label>
                                        <input type="text" class="form-control two-column-input"
                                               formControlName="locationActivityOther" name="locationActivityOther" required
                                               [class.is-invalid]="formNewScheduleForm.locationActivityOther.invalid && formNewScheduleForm.locationActivityOther.errors">
                                        <div *ngIf="submitted && formNewScheduleForm.locationActivityOther.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.locationActivityOther.errors.required">Other is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Product Category</b> </label>
                                        <select (change)="onChangeSelectedProductClassification()"
                                                 [class.is-invalid]="formNewScheduleForm.standardCategory.invalid && formNewScheduleForm.standardCategory.errors"
                                                 aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                 class="form-control" formControlName="standardCategory" name="standardCategory" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of standardProductCategory | filterPipe: {status: true}" [value]="app.id">{{app.standardCategory}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.standardCategory.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.standardCategory.errors.required">Product Category is required</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Broad Product Category</b> </label>
                                        <select (change)="onChangeSelectedBroadProductCategory()"
                                                [class.is-invalid]="formNewScheduleForm.broadProductCategory.invalid && formNewScheduleForm.broadProductCategory.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="broadProductCategory" name="broadProductCategory" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of broadProductCategory | filterPipe: {status: true, divisionId: standardProductCategorySelected}" [value]="app.id">{{app.category}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.broadProductCategory.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.broadProductCategory.errors.required">Broad Product Category is required</div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Product Category</b> </label>
                                        <select (change)="onChangeSelectedProductCategory()"
                                                [class.is-invalid]="formNewScheduleForm.productCategory.invalid && formNewScheduleForm.productCategory.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small" class="form-control"
                                                formControlName="productCategory" id="productCategory" name="productCategory" >
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of productCategories | filterPipe: {status: true, broadProductCategoryId: broadProductCategorySelected}" [value]="app.id">{{app.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.productCategory.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.productCategory.errors.required">Product Category is required</div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Product</b> </label>
                                        <select (change)="onChangeSelectedMyProduct()"
                                                [class.is-invalid]="formNewScheduleForm.product.invalid && formNewScheduleForm.product.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small" class="form-control"
                                                formControlName="product" id="product" name="product" >
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of products | filterPipe: {status: true, productCategoryId: productCategoriesSelected}" [value]="app.id">{{app.name}}</option>
                                        </select><div *ngIf="submitted && formNewScheduleForm.product.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.product.errors.required">Product is required</div>
                                        </div>

                                    </div>
                                </div>

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Product Sub-Category</b> </label>
                                        <select (change)="onChangeSelectedProductSubcategory()"
                                                [class.is-invalid]="formNewScheduleForm.productSubCategory.invalid && formNewScheduleForm.productSubCategory.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small" class="form-control"
                                                formControlName="productSubCategory" id="productSubCategory" name="productSubCategory" >
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of productSubcategory | filterPipe: {status: true, productId: productsSelected}" [value]="app.id">{{app.name}}</option>
                                        </select>
                                        <div *ngIf="submitted && formNewScheduleForm.productSubCategory.errors" class="invalid-feedback">
                                            <div *ngIf="formNewScheduleForm.productSubCategory.errors.required">Product Sub-Category is required</div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="row">

                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Budget</b> </label>
                                        <input [class.is-invalid]="formNewScheduleForm.budget.invalid && formNewScheduleForm.budget.errors"
                                               class="form-control two-column-input" formControlName="budget" name="budget" required type="text">
                                    </div>
                                    <div *ngIf="submitted && formNewScheduleForm.budget.errors" class="invalid-feedback">
                                        <div *ngIf="formNewScheduleForm.budget.errors.required">The Budget is required</div>
                                    </div>
                                </div>

                                <div class="col">

                                </div>


                            </div>
                        </div>
                    </form>
                    <br>
                    <form [formGroup]="addResourceRequiredForm">
                        <div class="form-group bmd-form-group is-filled">
                            <h5 class="mb-3" style="color: #0066B1">Resources required Details</h5>
                            <div class="row">
                                <div class="col">
                                    <div class="form-group">
                                        <label><b>Select Resource</b> </label>
                                        <select [class.is-invalid]="formAddResourceRequiredForm.resourceName.invalid && formAddResourceRequiredForm.resourceName.errors"
                                                aria-describedby="inputGroup-sizing-lg" aria-label="Small"
                                                class="form-control" formControlName="resourceName" name="resourceName" required>
                                            <option [value]="" selected>Please select</option>
                                            <option *ngFor="let app of predefinedResourcesRequired| filterPipe: {status: true}" [ngValue]="app.resourceName">{{app.resourceName}}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="form-group">
                                        <button *ngIf="addResourceRequiredForm.valid" mat-raised-button
                                                class="btn btn-success" (click)="onClickAddResource()" type="button" >ADD RESOURCE
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table id="datatables" class="table table-striped table-bordered table-hover">
                                    <thead>
                                    <tr>
                                        <th>Resource Name</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let r of dataSaveResourcesRequiredList; let i=index">
                                        <td>{{r.resourceName}}</td>
                                        <td>
                                            <button (click)="removeDataResource(i)"
                                                    type="button"
                                                    class="btn btn-warning btn-sm">
                                                <span class=""
                                                      aria-hidden="true">Remove</span>
                                            </button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button  mat-raised-button type="button" class="btn btn-danger"
                                 data-dismiss="modal">
                            Close
                        </button>
                        <button *ngIf="addNewScheduleForm.valid" mat-raised-button   data-dismiss="modal"
                                class="btn btn-success" (click)="onClickSaveWorkPlanScheduled()" type="button" >SUBMIT
                        </button>
                        <button *ngIf="addNewScheduleForm.invalid" mat-raised-button (click)="onClickSaveWorkPlanScheduled()" class="btn btn-success" type="button" >SUBMIT
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Work Plan Modal -->
</div>

