<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>
<body>
<div id="spinnerContainer">
    <div class="spinner"></div>
</div>
<div th:replace="fragments/general-form.html :: dashboard-page"></div>

<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar"></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-row">
                    <div class="row">

                        <form id="exemption-application-form" action="#">
                            <h3>Manufacturer</h3>
                            <fieldset>
                                <legend>Step 1/4: Manufacturer Details</legend>

                                <label for="companyName">Company Name</label>
                                <input type="text" disabled name="companyName" id="companyName"
                                       th:value="${details?.companyName}">

                                <label for="kraPin">Company KRA Pin</label>
                                <input type="text" disabled name="kraPin" id="kraPin"
                                       th:value="${details?.companyPinNo}">

                                <label for="postalAddress">Postal Address</label>
                                <input type="text" disabled name="postalAddress" id="postalAddress"
                                       th:value="${details?.postalAddress}">

                                <label for="postalAddress">Telephone No.</label>
                                <input type="text" disabled name="telephoneNo" id="telephoneNo"
                                       th:value="${details?.telephoneNo}">

                                <label for="emailAddress">Email Address</label>
                                <input type="text" disabled name="emailAddress" id="emailAddress"
                                       th:value="${details?.email}">

                                <label for="emailAddress">Physical Location</label>
                                <input type="text" disabled name="physicalLocation" id="physicalLocation"
                                       th:value="${details?.physicalLocation}">

                                <label for="contactPerson">Contact Person</label>
                                <input type="text" disabled name="contactPerson" id="contactPerson"
                                       th:value="${details?.contactPerson}">
                            </fieldset>

                            <h3>Goods</h3>
                            <fieldset>
                                <legend>Step 2/4: Select Goods Manufactured</legend>
                            </fieldset>

                        </form>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<div th:replace="fragments/general-form.html :: scripts"></div>
<script>
    document.onreadystatechange = function () {
        showSpinnerOnLoad(document)
    }

    function loadSpinner() {
        showSpinner(document)
    }
</script>
<script>
    $("#exemption-application-form").steps({
        headerTag: "h3",
        bodyTag: "fieldset",
        transitionEffect: "slideLeft",
        autoFocus: true
    });
</script>

</body>
</body>
</html>