<!DOCTYPE html>
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/exemptionsForm.css}" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>

</head>
<body>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d" th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div class="main-content-div" id="w-node-d308c123a224-c123a20d">
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>
            <div class="content-wrap">
                <div class="container-fluid">
                    <form class="form">
                        <div class="form-body">
                            <div class="form-group">
                                <label><b>Name of business</b></label>
                                <input type="text" class="form-control one-column-input" aria-label="Small"
                                       aria-describedby="inputGroup-sizing-sm"
                                       placeholder="e.g. Example Business Limited"
                                       name="businessName" required>
                            </div>
                        </div>

                    </form>

                </div>
            </div>
        </div>
    </div>
</div>



</body>
</html>
