<!DOCTYPE html>
<html data-wf-page="5e7130c996c4ca37928b351f" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/accordion.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div id ="spinnerContainer"><div class="spinner"></div></div>
<div class="top-bar" th:replace="fragments/general-form.html :: top-bar"></div>
</div>
<div class="section">
    <div class="w-layout-grid main-grid">
        <div class="main-grid-side-navigation" id="w-node-d308c123a20f-c123a20d"
             th:replace="fragments/general-form.html :: side-navigation-bar"></div>
        <div id="w-node-27962c2db181-c676b3e3" class="main-content-div">
            <div class="content-nav" th:replace="fragments/general-form.html :: content-navigation-bar"></div>
            <div class="content-wrap">
                <div class="content-container">
                    <h5 class="h3-blue" style="color: #0082f3; font-weight: bold; font-size: 16px; ">Waiver Application Details</h5>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 75%" >
                            <div class="sticky" style="margin-bottom: 30px">
                                <h6 class="h3-blue" style="font-size: 16px;">Waiver Details</h6>
                                <div class="applicant_details_container">
                                    <div class="detail-list application_details">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion">REF Number</div>
                                                <div class="list-text-accordion" th:text="${waiverDetails.id}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion" >Applicant Name</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails?.applicantName}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion" >Date of Application</div>
                                                <div class="list-text-accordion"  th:text="${#dates.format(waiverDetails.createdOn, 'dd/MM/yyyy')}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Phone Number</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.phoneNumber}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Email Address</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.emailAddress}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >KRA Pin</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.kraPin}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Address</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.address}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Category</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.category}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Justification</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.justification}"></div>
                                            </li>
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" >Product Description</div>
                                                <div class="list-text-accordion"  th:text="${waiverDetails.productDescription}"></div>
                                            </li>
<!--                                            <li class="list-item-accordion" >-->
<!--                                                <div class="list-title-accordion" >Product Description</div>-->
<!--                                                <div class="list-text-accordion"  th:text="${waiverDetails.documentation}"></div>-->
<!--                                            </li>-->
                                            <li class="list-item-accordion" >
                                                <div class="list-title-accordion" style="color: #0082f3; font-size: 14px">Recomendation Status</div>
                                                <div class="list-text-accordion" style="color: #0082f3; font-size: 14px; font-weight: bold;" th:text="${waiverDetails?.reviewStatus}"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="application_reports">
<!--                                        <li class="list-item-accordion">-->
<!--                                            <div class="list-title-accordion" style="color: #0082f3">Assigned Officer</div>-->
<!--                                            <div class="list-text-accordion" th:if="${waiverDetails?.assignedStatus == 1}" th:text="${waiverDetails?.assignIoId?.firstName}  + ' ' + ${waiverDetails?.assignIoId?.lastName}"></div>-->
<!--                                            <div class="list-text-accordion" th:if="${waiverDetails?.assignedStatus != 1}" th:text="${status?.notAssignedName}"></div>-->
<!--                                        </li>-->
<!--                                        <li class="list-item-accordion">-->
<!--                                            <div class="list-title-accordion" style="color: #0082f3">Process Status</div>-->
<!--                                            <div class="list-text-accordion" th:text="${waiverDetails?.cdStatus}"></div>-->
<!--                                        </li>-->
                                    </div>
                                </div>
                            </div>
                            <button class="accordion" >Master Lists Details</button>
                            <div class="panel">
                                <div class="row-table ">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <th>Serial No</th>
                                            <th>Applicant</th>
                                            <th>Product Description</th>
                                            <th>Unit</th>
                                            <th>Quantity</th>
                                            <th>Origin</th>
                                            <th>Currency</th>
                                            <th>Total Amount</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="itemwaiverDetails: ${masterLists}" style="cursor: pointer">
                                            <td th:text="${itemwaiverDetails.id}"></td>
                                            <td th:text="${itemwaiverDetails.applicant}"></td>
                                            <td th:text="${itemwaiverDetails.productDescription}"></td>
                                            <td th:text="${itemwaiverDetails.unit}"></td>
                                            <td th:text="${itemwaiverDetails.quantity}"></td>
                                            <td th:text="${itemwaiverDetails.origin}"></td>
                                            <td th:text="${itemwaiverDetails.currency}"></td>
                                            <td th:text="${itemwaiverDetails.totalAmount}"></td>

                                        </tr>

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                        <div class="filter-block">
                            <div class="filter-block-title">
                                <div class="filter-title">Actions:</div>
                            </div>
                            <div>
<!--                                <a th:if="${waiverDetails.assignedStatus != 1}"  style="color: white" class="filter-link assignBtn">Assign Officer</a>-->
<!--                                <a th:if="${waiverDetails.assignedStatus == 1}" style="color: white" class="filter-link assignBtn">Re-assign Officer</a>-->
                                <a sec:authorize="hasAuthority('WAIVERS_APPLICATION_REVIEW') or hasAuthority('WAIVERS_APPLICATION_REPORT_GENERATE')"  style="color: white" class="filter-link addRemarksBtn">Add Remarks</a>
                                <a   style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/waivers-remarks-view/{id}/{remarkType}(id = ${waiverDetails.id}, remarkType='waiver')}">View Remarks</a>
                                <a sec:authorize="hasAuthority('WAIVER_APPLICATION_REPORT_PROCESS')"  style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/aprrove-waivers-application-by-wetc-chiarman/{id}(id = ${waiverDetails.id})}">Approve</a>
                                <a sec:authorize="hasAuthority('WAIVER_APPLICATION_REPORT_PROCESS')" style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/reject-waivers-application-by-wetc-chiarman/{id}(id = ${waiverDetails.id})}">Reject</a>
                                <a sec:authorize="hasAuthority('WAIVER_APPLICATION_REPORT_PROCESS')" style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/defer-waivers-application-by-wetc-chiarman/{id}(id = ${waiverDetails.id})}">Defer</a>
                                <a sec:authorize="hasAuthority('WAIVERS_APPLICATION_REPORT_GENERATE')"  style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/generate-waivers-report(id = ${waiverDetails.id})}">Generate Report</a>
                                <a sec:authorize="hasAuthority('WAIVERS_APPLICATION_MINUTES_GENERATE')"  style="color: white" class="filter-link approveBtn" th:href="@{/api/di/pvoc/generate-minutes/(id = ${waiverDetails.id})}">Generate Minutes</a>
                                <a target="_blank"  style="color: white" class="filter-link uploadMasterList" th:href="@{/api/di/pvoc/load/uploads(id = ${waiverDetails.id})}" >View MasterList File</a>
                                <a  style="color: white" class="filter-link approveBtn">generate waiver letter </a>
<!--                                <a th:if="${waiverDetails.rejectedStatus != 1}" style="font-weight: bold;" class="filter-link bgred rejectBtn">Reject</a>-->
<!--                                <a th:if="${waiverDetails.targetApproved != 1}" style="font-weight: bold;" class="filter-link bgred targetBtn">Target Inspection</a>-->
<!--                                <a  th:if="${waiverDetails.blacklistStatus != 1}" style="font-weight: bold;" class="filter-link bgred blacklistBtn">Blacklist</a>-->
                            </div>
                            <div class="filter-block-title">
                                <div class="filter-title">Document Details:</div>
                            </div>
                            <div>
<!--                                <a th:href="@{/api/di/cors/certificate-of-compliance/{certBack}(certBack = 'waiverDetailsDetailsSupervisor')}" class="filter-link waiverDetailsBtn">Certificate of Roadworthness</a>-->
<!--                                <a th:href="@{/api/di/cors/remarks-view/{id}(id = ${waiverDetails.id})}" class="filter-link waiverDetailsBtn">View Remarks</a>-->
<!--                                <a th:href="@{/api/di/cors/idf-view/{certBack}(certBack = 'waiverDetailsDetailsSupervisor')}" class="filter-link waiverDetailsBtn">IDF Document</a>-->
<!--                                <a th:href="@{/api/di/cors/manifest-view/{certBack}(certBack = 'waiverDetailsDetailsSupervisor')}" class="filter-link waiverDetailsBtn">Manifest Document</a>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

<!--            <div class="myForm">-->
<!--                <form id="assign-form" method="post" name="assign-form"-->
<!--                      th:action="@{/api/di/cors/supervisor/assign/officer/{id}(id = ${waiverDetails.id})}" th:object="${waiverDetails}">-->
<!--                    <div aria-hidden="true" aria-labelledby="exampleModalLabel" class="modal fade" id="exampleModal"-->
<!--                         role="dialog" tabindex="-1">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="exampleModalLabel">Assign Officer</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->

<!--                                    <div class="form-group">-->
<!--                                        <label for="officer" class="col-form-label">Select Officer:</label>-->
<!--                                        <select id="officer"  class="select-field w-select" th:field="*{assignedIo}">-->
<!--                                            <option value="0">Select one...</option>-->
<!--                                            <option  th:each="officer : ${officers}" th:text="${officer.firstName} + ' ' + ${officer.lastName}" th:name="assignedIo" th:value="${officer.id}"></option>-->
<!--                                        </select>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                    <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
            <div class="remarksForm">
                <form id="remarksForm"   name="remarksForm" th:action="@{/api/di/pvoc/waivers-review-remarks/{id}(id = ${waiverDetails.id})}" method="post" th:object="${remarkData}" >
                    <div class="modal fade" id="remarksModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="remarksModalLabel">Remarks</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-group">
                                        <label for="remarksAdd" class="col-form-label">Please write, in detail, your feedback for this waiver:</label>
                                        <textarea required name="name" id="remarksAdd" class="input-field w-input" cols="65" rows="5" th:field="*{remarks}"></textarea>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    <input type="submit" class="btn btn-primary" value="Save"/>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
<!--            <div class="blackListForm">-->
<!--                <form id="blackListForm"   name="blackListForm" th:action="@{/api/di/cors/cor-action-add-remarks/{id}/{remarksType}(id = ${waiverDetails.id},remarksType= 'blackList')}" method="post"  th:object="${waiverDetails}" >-->
<!--                    <div class="modal fade" id="blackListModal" tabindex="-1" role="dialog" aria-labelledby="blackListModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="blackListModalLabel">BlackList</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="remarksBlackList" class="col-form-label">Please write, in detail, Reason for wanting to blacklist this consignment:</label>-->
<!--                                        <textarea required name="name" id="remarksBlackList" class="input-field w-input" cols="65" rows="5" th:field="*{blacklistRemarks}"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                    <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="approveForm">-->
<!--                <form id="approveForm"   name="approveForm" th:action="@{/api/di/cors/cor-action-add-remarks/{id}/{remarksType}(id = ${waiverDetails.id},remarksType= 'approve')}"-->

<!--                      method="post"  th:object="${remarkData}" >-->
<!--                    <div class="modal fade" id="approveModal" tabindex="-1" role="dialog" aria-labelledby="approveModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="approveModalLabel">Approve</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="form-group">-->
<!--                                        &lt;!&ndash;                                        <label for="approval" class="col-form-label">Select Approval:</label>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                        <select id="approval"  class="select-field w-select" th:field="*{assignedIo}">&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                            <option value="0">Select one...</option>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                            <option  th:each="officer : ${officers}" th:text="${officer.firstName} + ' ' + ${officer.lastName}" th:name="assignedIo" th:value="${officer.id}"></option>&ndash;&gt;-->
<!--                                        &lt;!&ndash;                                        </select>&ndash;&gt;-->
<!--                                        <label for="remarksApprove" class="col-form-label">Please write, in detail, your feedback for this consignment:</label>-->
<!--                                        <textarea required name="name" id="remarksApprove" class="input-field w-input" cols="65" rows="5" th:field="*{remarks}"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                    <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="rejectForm">-->
<!--                <form id="rejectForm"   name="rejectForm" th:action="@{/api/di/cors/cor-action-add-remarks/{id}/{remarksType}(id = ${waiverDetails.id},remarksType= 'reject')}" method="post" th:object="${remarkData}" >-->
<!--                    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="remarksModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="rejectModalLabel">Reject</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="remarksReject" class="col-form-label">Please write, in detail, your feedback for this consignment:</label>-->
<!--                                        <textarea required name="name" id="remarksReject" class="input-field w-input" cols="65" rows="5" th:field="*{remarks}"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                    <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->
<!--            <div class="targetForm">-->
<!--                <form id="targetForm"   name="targetForm" th:action="@{/api/di/cors/cor-action-add-remarks/{id}/{remarksType}(id = ${waiverDetails.id},remarksType= 'target')}" method="post" th:object="${remarkData}" >-->
<!--                    <div class="modal fade" id="targetModal" tabindex="-1" role="dialog" aria-labelledby="targetModalLabel" aria-hidden="true">-->
<!--                        <div class="modal-dialog" role="document">-->
<!--                            <div class="modal-content">-->
<!--                                <div class="modal-header">-->
<!--                                    <h5 class="modal-title" id="targetModalLabel">Target</h5>-->
<!--                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                                        <span aria-hidden="true">&times;</span>-->
<!--                                    </button>-->
<!--                                </div>-->
<!--                                <div class="modal-body">-->
<!--                                    <div class="form-group">-->
<!--                                        <label for="remarksTarget" class="col-form-label">Please write, in detail, your feedback for this consignment:</label>-->
<!--                                        <textarea required name="name" id="remarksTarget" class="input-field w-input" cols="65" rows="5" th:field="*{remarks}"></textarea>-->
<!--                                    </div>-->
<!--                                </div>-->
<!--                                <div class="modal-footer">-->
<!--                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
<!--                                    <input type="submit" class="btn btn-primary" value="Save"/>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                </form>-->
<!--            </div>-->

        </div>
    </div>
</div>
</div>
<script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="../assets/js/webflow.js" type="text/javascript"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
<script>
    var acc = document.getElementsByClassName("accordion");
    // var btn = document.getElementsByClassName("button w-button eBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");
            this.style.border = "none";
            // this.style.position = "sticky"
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                // panel.style.position = "-webkit-sticky"
                // panel.style.position = "sticky"
            }
        });
    }



</script>
<script>
    var remarkType = '';
    $(document).ready(function(){
        $('.filter-block .assignBtn').on('click',function (event) {

            $('.myForm #exampleModal').modal();
        });

        $('.filter-block .blacklistBtn').on('click',function (event) {

            $('.blackListForm #blackListModal').modal();
        });

        $('.filter-block .addRemarksBtn').on('click',function (event) {

            $('.remarksForm #remarksModal').modal();
        });

        $('.filter-block .targetBtn').on('click',function (event) {

            $('.targetForm #targetModal').modal();
        });

        $('.filter-block .rejectBtn').on('click',function (event) {

            $('.rejectForm #rejectModal').modal();
        });

        $('.filter-block .approveBtn').on('click',function (event) {

            $('.approveForm #approveModal').modal();
        });

    });

    function formAction() {

    }

</script>
</body>
</html>


