<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">assignment</i>
                        </div>
                        <h4 class="card-title">IMPORT INSPECTION</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                        </div>
                        <mat-horizontal-stepper>
                            <mat-step label="Applicant details" [stepControl]="ApplicantDetailsForm">
                                <div class="importation-waiver-main">
                                    <p class="main-title-font importation-waiver-title">Apply for an importation
                                        waiver</p>
                                    <form name="applicantDetailsForm" [formGroup]="ApplicantDetailsForm"
                                          class="form">

                                        <label for="applicantName" class="waiver-form-label">1. Applicant Name</label>
                                        <input id="applicantName" name="name" class="waiver-form-input"
                                               formControlName="applicantName"
                                               placeholder="Enter Name"
                                               type="name" required>
                                        <div *ngIf="applicantFormErrors.applicantName" class="err-msg">
                                            Applicant name is required
                                        </div>

                                        <label for="phoneNumber" class="waiver-form-label">2. Phone Number</label>
                                        <input id="phoneNumber" name="name" class="waiver-form-input"
                                               formControlName="telephoneNumber"
                                               placeholder="Enter Phone Number" type="text" required>
                                        <div *ngIf="applicantFormErrors.phoneNumber" class="err-msg">
                                            Phone number is required
                                        </div>

                                        <label for="postalAddress" class="waiver-form-label">3. Postal Address</label>
                                        <input id="postalAddress" name="name" class="waiver-form-input"
                                               formControlName="postalAddress"
                                               placeholder="Enter Postal Address" type="text" required>
                                        <div *ngIf="applicantFormErrors.postalAddress" class="err-msg">
                                            Postal Address is required
                                        </div>

                                        <label for="email" class="waiver-form-label">4. Email Address</label>
                                        <input id="email" name="name" class="waiver-form-input" formControlName="email"
                                               placeholder="Enter Email Address"
                                               type="email" required>
                                        <div *ngIf="applicantFormErrors.email" class="err-msg">
                                            Enter a valid email.
                                        </div>

                                        <label for="kraPin" class="waiver-form-label">5. KRA PIN</label>
                                        <input id="kraPin" name="name" class="waiver-form-input"
                                               formControlName="kraPin"
                                               placeholder="Enter KRA PIN"
                                               type="text" required>
                                        <div *ngIf="applicantFormErrors.kraPin" class="err-msg">
                                            KRA PIN is required.
                                        </div>
                                    </form>
                                </div>
                                <div class="pull-right pr-4">
                                    <button [disabled]="!ApplicantDetailsForm.valid" class="btn btn-primary" mat-button
                                            matStepperNext>NEXT
                                    </button>
                                </div>
                            </mat-step>
                            <mat-step label="Application Details" [stepControl]="ApplicationDetailsForm">
                                <div class="importation-waiver-main">
                                    <form class="application-details-form" [formGroup]="ApplicationDetailsForm">
                                        <label class="waiver-form-label">Category</label>
                                        <select id="category" name="category" class="waiver-form-input"
                                                formControlName="category">
                                            <option value="" disabled selected>Select your option</option>
                                            <option *ngFor="let cat of categoryList" [value]="cat.name">
                                                {{cat.description}}
                                            </option>
                                        </select>

                                        <label class="waiver-form-label">Justification</label>
                                        <textarea name="name" class="waiver-form-input" rows="5"
                                                  formControlName="justification"
                                                  placeholder="Enter justification here..."
                                                  type="text"></textarea>

                                        <label for="p_description" class="waiver-form-label">Product Description</label>
                                        <select id="p_description" name="p_description" class="waiver-form-input"
                                                formControlName="productDescription">
                                            <option value="" disabled selected>Select your option</option>
                                            <option *ngFor="let desc of descriptionList" [value]="desc.value">
                                                {{desc.viewValue}}
                                            </option>
                                        </select>
                                    </form>
                                </div>
                                <button class="btn btn-warning" mat-button matStepperPrevious>Back</button>
                                <div class="pull-right pr-4">

                                    <button [disabled]="!ApplicationDetailsForm.valid" class="btn btn-primary"
                                            mat-button matStepperNext>NEXT
                                    </button>
                                </div>

                            </mat-step>
                            <mat-step label="Documentation">
                                <div class="importation-waiver-main">
                                    <div class="row no-margin file-input">
                                        <p>Documents Required</p>
                                        <ul>
                                            <li>Document 1</li>
                                            <li>Document 2</li>
                                            <li>Document 3</li>
                                        </ul>
                                    </div>
                                    <div class="row no-margin file-input">
                                        <p>Documents Added</p>
                                        <ul>
                                            <li *ngFor="let files of secondFormData.documentation; let i = index">
                                                <span>{{files.name}}</span>&nbsp;&nbsp;<span class="close-btn"
                                                                                             (click)="deleteFile(i)">X</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="row no-margin">
                                        <input type="file" accept="image/*" (change)="importFile($event)"
                                               class="display-nothing" #file>
                                        <button class="next-btn btn-attach" (click)="file.click()">ATTACH FILES</button>
                                    </div>
                                    <button class="btn btn-warning" mat-button matStepperPrevious>Back</button>
                                    <div class="pull-right pr-4">
                                        <button class="back-btn btn-gen" mat-button matStepperNext>NEXT</button>
                                    </div>
                                </div>

                            </mat-step>
                            <mat-step label="Products">
                                <div class="importation-waiver-main">
                                    <div class="row no_margin master-list-new-btn">
                                        <button class="next-btn btn-attach" (click)="addMasterListDataToMasterList()">
                                            UPLOAD MASTER
                                            SHEET
                                        </button>
                                        <button class="next-btn btn-attach ml-4" (click)="addNewMasterItem()">ADD
                                        </button>
                                    </div>
                                    <table class="table table-condensed">
                                        <thead>
                                        <tr>
                                            <td>HS CODE</td>
                                            <td>DESCRIPTION</td>
                                            <td>COUNTRY</td>
                                            <td>UNIT</td>
                                            <td>QUANTITY</td>
                                            <td>TOTAL AMOUNT</td>
                                            <td></td>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr *ngFor="let o of masterProductList">
                                            <td>{{o.hsCode}}</td>
                                            <td>{{o.productDescription}}</td>
                                            <td>{{o.countryOfOrigin}}</td>
                                            <td>{{o.productUnit}}</td>
                                            <td>{{o.quantity}}</td>
                                            <td>{{o.totalAmount}}</td>
                                            <td><span class="pointer text-danger"><i
                                                    class="fas fa-trash-alt"></i></span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="pull-right pr-4">
                                    <button (click)="submitDataFunction()" class="btn btn-primary" mat-button
                                            matStepperNext>Submit
                                    </button>
                                </div>
                            </mat-step>
                        </mat-horizontal-stepper>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>