<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Tasks <span class="badge badge-primary">{{tasks.length}}</span>
                            </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="material-datatables table-responsive">
                                <table  class="table table-striped table-bordered table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger"  cellspacing="0" width="100%">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th class="knw">Request Number</th>
                                        <th class="sl">Company Name</th>
                                        <th class="requestNumber">Department </th>
                                        <th class="knw">Product</th>
                                        <th class="sl">Sub Category</th>
                                        <th class="requestNumber">Submission Date </th>
                                        <th class="sl">Phone Number</th>
                                        <th  class="sl">Project Leader / Joint Committee</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  *ngFor="let task of tasks let i=index">
                                        <td>{{i+1}}</td>
                                        <td>{{task.taskData.requestNumber}}</td>
                                        <td>{{task.taskData.companyName}}</td>
                                        <td>{{task.taskData.departmentName}}</td>
                                        <td>{{task.taskData.productName}}</td>
                                        <td>{{task.taskData.productSubCategoryName}}</td>
                                        <td>{{task.taskData.submissionDate | date: 'dd/MM/yyyy hh:mm:ss'}}</td>
                                        <td>{{task.name}}</td>
                                        <td *ngIf="task.name ==='Form Joint Committee'">{{task.taskData.plAssigned}}</td>
                                        <td *ngIf="task.name ==='Upload Draft Company standard'">{{task.taskData.nameOfJc}}</td>
                                        <td *ngIf="task.name ==='Form Joint Committee'"><a  (click)="onOpenModal(task,'formJc')" class="btn btn-info btn-sm tooltips" data-placement="top"  data-original-title="Approve"> Form Joint Committee</a></td>
                                        <td *ngIf="task.name ==='Upload Draft Company standard'"><a  (click)="onOpenModal(task,'prepPd')" class="btn btn-info btn-sm tooltips" data-placement="top"  data-original-title="Approve"> Upload Company Draft</a></td>
                                    </tr>
                                    </tbody>
                                </table>


                                <div class="modal fade" id="formJc" tabindex="-1" role="dialog" aria-labelledby="assignExampleModalLabel" aria-hidden="true">a
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h3 class="modal-title" id="assignExampleModalLabel">Form Joint Committee</h3>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form #assignForm="ngForm" >
                                                <div class="modal-body">
                                                    <div class="form-body">
                                                        <div class="row col-12">
                                                            <div class="form-group col-12">
                                                                <label>Assign To</label>
                                                                <ng-select [(ngModel)]="selectedUser"  class="form-control" ngModel name="idOfJc" >
                                                                    <ng-option *ngFor="let user of users" [value]="user.id" >{{user.firstName}} {{user.lastName}}</ng-option>
                                                                </ng-select>

                                                            </div>
                                                            <input type="hidden" ngModel="{{actionRequest?.taskId}}" name="taskId" >
                                                            <input type="hidden" ngModel="{{actionRequest?.taskData?.requestNumber}}" name="requestNumber" >
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary btn-sm" (click)="onAssign(assignForm.value)" data-dismiss="modal">Assign</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal fade" id="prepPd" tabindex="-1" role="dialog" aria-labelledby="PdExampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="PdExampleModalLabel">Prepare Company Draft</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form (ngSubmit)="uploadPreliminaryDraft()" [formGroup]="preparePreliminaryDraftFormGroup" class="form">
                                                <div class="modal-body">
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Title <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.title.invalid && formPreparePD.title.touched"
                                                                   class="form-control"  formControlName="title" name="title" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Scope <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.scope.invalid && formPreparePD.scope.touched"
                                                                   class="form-control"  formControlName="scope" name="scope" type="text">
                                                        </div>
                                                        <input
                                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                                class="form-control one-column-input" formControlName="uploadedBy" ngModel="{{user_id}}" name="uploadedBy"
                                                                placeholder="ID" type="hidden" disabled>

                                                    </div>
                                                    <div class="row col-12">
                                                        <div class="form-group col-6">
                                                            <label>Normative Reference <span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.normativeReference.invalid && formPreparePD.normativeReference.touched"
                                                                   class="form-control"  formControlName="normativeReference" name="normativeReference" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Symbols Abbreviated Terms<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.symbolsAbbreviatedTerms.invalid && formPreparePD.symbolsAbbreviatedTerms.touched"
                                                                   class="form-control"  formControlName="symbolsAbbreviatedTerms" name="symbolsAbbreviatedTerms" type="text">
                                                        </div>

                                                    </div>
                                                    <div class="row col-12">

                                                        <div class="form-group col-6">
                                                            <label>Clause<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.clause.invalid && formPreparePD.clause.touched"
                                                                   class="form-control"  formControlName="clause" name="clause" type="text">
                                                        </div>
                                                        <div class="form-group col-6">
                                                            <label>Special<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                                            <input [class.is-invalid]="formPreparePD.special.invalid && formPreparePD.special.touched"
                                                                   class="form-control"  formControlName="special" name="special" type="text">
                                                        </div>

                                                    </div>

                                                    <div class="row col-12">
                                                        <div class="form-group col-12">
                                                            <label><b>Upload Preliminary Draft  </b> <span style="font-size: xx-small; color: red;">(*)Required</span></label><br>
                                                            <form #demoForm="ngForm">
                                                                <input type="file" name="uploadedFiles" [(ngModel)]="uploadedFiles"  multiple>
                                                                <file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"   fileslimit="2" accept=".pdf" ></file-upload>
                                                            </form>
                                                        </div>


                                                    </div>
                                                </div>
                                                <input type="hidden" ngModel="{{actionRequest?.taskId}}" formControlName="taskId" name="taskId"  >

                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                                    <button *ngIf="preparePreliminaryDraftFormGroup.valid" [disabled]="!preparePreliminaryDraftFormGroup.valid" class="btn btn-sm btn-primary float-right" type="submit">Save</button>
                                                    <button *ngIf="!preparePreliminaryDraftFormGroup.valid" class="btn btn-sm btn-primary float-right"
                                                            (click)="showNotification('top','right')">Save
                                                    </button>
                                                </div>

                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

