<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div class="loading-spinner ">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"><b>Review SAC Summary</b></h4>
                        </div>

                        <div class="card-body">
                            <div class="toolbar">
                                <div class="justify-content-between d-flex flex-wrap align-items-center mt-5">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <h5 class="mr-4">Review SAC Summary</h5>
                                        <div class="resolved-pill">
                                            <p>{{tasks.length}}</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="material-datatables">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th class="id">ID</th>
                                        <th class="task">Department</th>
                                        <th class="task">Technical Committee</th>
                                        <th class="task">SL</th>
                                        <th class="task">KS NO</th>
                                        <th class="task">Edition</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let task of tasks  let i= index;">
                                        <td>{{i + 1}}</td>
                                        <td>{{task.departmentName}}</td>
                                        <td>{{task.technicalCommittee}}</td>
                                        <td>{{task.sl}}</td>
                                        <td>{{task.ks}}</td>
                                        <td>{{task.edition}}</td>

                                        <td><a (click)="onOpenModal(task,'edit')" type="button"
                                               class="btn btn-info tooltips"
                                               data-placement="top" data-original-title="Review draft">Review SAC
                                            Summary</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="modal fade bd-example-modal-lg" id="decisionModal" tabindex="-1" role="dialog"
                                 aria-labelledby="updateExampleModalLabel" [ngStyle]="{'display':display}"
                                 aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="updateExampleModalLabel">Review SAC Summary</h5>
                                            <button type="button" #closeViewModal class="close" data-dismiss="modal"
                                                    aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form #editForm="ngForm">
                                            <div class="modal-body">

                                                <div class="row col-12">

                                                    <div class="form-group col-6">
                                                        <label><b>Technical Committee Name</b><span
                                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.technicalCommittee}}"
                                                               disabled>
                                                    </div>


                                                    <div class="form-group col-6">
                                                        <label><b> Department</b><span
                                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                                        <mat-form-field class="example-full-width">
                                                            <input matInput
                                                                   value="{{actionRequest?.departmentName}}"
                                                                   disabled>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                                <div class="row col-12">
                                                    <div class="form-group col-6">
                                                        <label><b>SL Number</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.sl}}"
                                                               disabled>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label><b>KS Number</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.ks}}"
                                                               disabled>
                                                    </div>


                                                </div>
                                                <div class="row col-12">
                                                    <div class="form-group col-6">
                                                        <label><b>Title</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.title}}"
                                                               disabled>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <label><b>Edition</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.edition}}"
                                                               disabled>
                                                    </div>


                                                </div>

                                                <div class="row col-12">
                                                    <div class="form-group col-12">
                                                        <label><b>Issues Addressed</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.issuesAddressed}}"
                                                               disabled>
                                                    </div>

                                                </div>

                                                <div class="row col-12">
                                                    <div class="form-group col-12">
                                                        <label><b>Background Information</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.backgroundInformation}}"
                                                               disabled>
                                                    </div>

                                                </div>

                                                <div class="row col-12">
                                                    <div class="form-group col-12">
                                                        <label><b>Feedback</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.feedback}}"
                                                               disabled>
                                                    </div>

                                                </div>
                                                <div class="row col-12">
                                                    <div class="form-group col-12">
                                                        <label><b>Reference Material</b></label>
                                                        <input class="form-control one-column-input"
                                                               value="{{actionRequest?.referenceMaterial}}"
                                                               disabled>
                                                    </div>

                                                </div>
                                                <div class="row col-12">
                                                    <div class="form-group col-6">

                                                        <li>
                                                            <a (click)="viewPdfFile( actionRequest?.id,'EACGazette'+actionRequest?.id, 'application/pdf','EAC Gazette')"
                                                            >View EAC Gazzette</a>
                                                        </li>
                                                    </div>
                                                    <div class="form-group col-6">
                                                        <li><a
                                                                (click)="viewPdfFile( actionRequest?.id,'AuthenticText'+actionRequest?.id, 'application/pdf','Authentic Text')"
                                                        >View Authentic Text</a>
                                                        </li>
                                                    </div>
                                                </div>

                                            </div>
                                            <input hidden ngModel="{{actionRequest?.id}}" name="taskId" id="taskId">
                                            <div class="form-group col-12">
                                                <label><b>Please Upload The Minutes</b></label>
                                                <form #authenticTextForm="ngForm">
                                                    <file-upload [(ngModel)]="uploadedFiles"
                                                                 name="uploadedFiles" fileslimit="1"
                                                                 required
                                                                 accept=".pdf"></file-upload>
                                                    <input class="form-control one-column-input"
                                                           ngModel="Minutes"
                                                           name="DocDescription" type="hidden">
                                                </form>
                                            </div>

                                            <div class="modal-footer justify-content-between">
                                                <button type="button" class="btn btn-secondary" #closeModal
                                                        (click)="hideModel()" data-dismiss="modal">Close
                                                </button>

                                                <button class="btn btn-success"
                                                        (click)=" decisionOnSACSummary(editForm.value,true,actionRequest?.id)">
                                                    Approve
                                                </button>
                                                <button class="btn btn-danger"
                                                        (click)=" decisionOnSACSummary(editForm.value,false,actionRequest?.id)">
                                                    Reject
                                                </button>

                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

