<div class="main-content">
    <div class="loading-spinner ">
        <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-icon card-header-rose">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">Edit Profile -
                            <small class="category">My profile</small>
                        </h4>
                    </div>
                    <div class="card-body">
                        <form [formGroup]="stepOneForm" class="form"
                              (ngSubmit)="onClickSave(stepOneForm.valid)">
                            <div class="row">
                                <div class="col-md-7">
                                    <div class="form-group">
                                        <label for="userName" class="bmd-label-floating">Username</label>
                                        <input class="form-control" formControlName="userName"
                                               id="userName"
                                               name="userName"
                                               readonly
                                               required="required" type="text">
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="firstName" class="bmd-label-floating">Firstname</label>
                                        <input class="form-control" formControlName="firstName"
                                               id="firstName"
                                               name="firstName"
                                               required="required" type="text">
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="lastName" class="bmd-label-floating">Lastname</label>
                                        <input class="form-control" formControlName="lastName"
                                               id="lastName"
                                               name="lastName"
                                               required="required" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        <label for="email" class="bmd-label-floating">Email Address</label>
                                        <input class="form-control" formControlName="email"
                                               id="email"
                                               name="email"
                                               required="required" type="email">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="personalContactNumber" class="bmd-label-floating">Personal Contact
                                            Number <span>(format 254....)</span></label>
                                        <input class="form-control" formControlName="personalContactNumber"
                                               id="personalContactNumber"
                                               name="personalContactNumber"
                                               required="required" type="text">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label for="userRegNo" class="bmd-label-floating">Registration Number</label>
                                        <input class="form-control" formControlName="userRegNo"
                                               id="userRegNo"
                                               name="userRegNo"
                                               readonly
                                               required="required" type="text">
                                    </div>
                                </div>
                            </div>
                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-4">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label class="bmd-label-floating">City</label>-->
                            <!--                                        <input type="text" class="form-control">-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-md-4">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label class="bmd-label-floating">Country</label>-->
                            <!--                                        <input type="text" class="form-control">-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                                <div class="col-md-4">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label class="bmd-label-floating">Postal Code</label>-->
                            <!--                                        <input type="text" class="form-control">-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--                            </div>-->
                            <!--                            <div class="row">-->
                            <!--                                <div class="col-md-12">-->
                            <!--                                    <div class="form-group">-->
                            <!--                                        <label>About Me</label>-->
                            <!--                                        <div class="form-group">-->
                            <!--                                            <label class="bmd-label-floating"> Lamborghini Mercy, Your chick she so-->
                            <!--                                                thirsty, I'm in that two seat Lambo.</label>-->
                            <!--                                            <textarea class="form-control" rows="5"></textarea>-->
                            <!--                                        </div>-->
                            <!--                                    </div>-->
                            <!--                                </div>-->
                            <!--
                                                     </div>-->
                            <div class="row" *ngIf="isImageLoading;">
                                <div class="col-md-4 col-sm-4">
                                    <h3>Signature</h3>
                                    <div class="fileinput fileinput-new text-center" data-provides="fileinput">
                                        <div class="fileinput-new thumbnail">
                                            <img [src]='thumbnail' alt="...">
                                        </div>
                                        <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                        <div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-12">
                                <div class="col-6">
                                    <button mat-raised-button type="submit" class="btn btn-info pull-left">Update
                                        Profile
                                    </button>
                                </div>
                                <div *ngIf="roles?.includes('PERMIT_APPLICATION')" class="col-6">
                                    <button *ngIf="emailVerificationStatus==0" mat-raised-button type="button"
                                            class="btn btn-outline-danger float-right" (click)=toggleDisplayEmailForm()>
                                        Verify Email
                                    </button>
                                </div>
                            </div>

                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <img alt="The User" class="img" src="./assets/img/faces/user.png"/>
                    </div>
                    <div class="card-body">
                        <h6 class="card-category text-gray">{{user?.firstName}} {{user?.lastName}}</h6>
                        <h4 class="card-title"></h4>

                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-body">

                        <div class="form-group col-12">
                            <label><b>Please Upload Your Signature:</b></label>
                           <label>
                               Note: Signature Should be an Image File in a White Background and Less Than 1 MB
                           </label>
                            <form #authenticTextForm="ngForm">
                                <file-upload [(ngModel)]="uploadedFilesB"
                                             name="uploadedFiles" fileslimit="1"
                                             required
                                             accept="image/*"></file-upload>
                                <input class="form-control one-column-input"
                                       type="button" (click)="onClickSaveUploads()" value="Upload">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card card-stats col-md-12" [hidden]="isShowSendEmailForm">
            <form (ngSubmit)="sendEmailVerificationToken()" [formGroup]="emailActivationFormGroup"
                  class="form">
                <h3><b>Proceed to Verify email</b></h3>
                <input type="hidden"
                       value="{{userId}}"
                       ngModel="{{userId}}"
                       class="form-control"
                       formControlName="userId" name="userId"
                >
                <input type="hidden"
                       value="{{email}}"
                       ngModel="{{email}}"
                       class="form-control"
                       formControlName="email" name="email"
                >
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm"   >Verify</button>
                </div>
            </form>
        </div>
        <div class="card card-stats col-md-12" [hidden]="isShowConfirmEmailForm">
            <form (ngSubmit)="confirmEmailAddress()" [formGroup]="activateEmailFormGroup"
                  class="form">
                <h3><b>Proceed to Verify email</b></h3>
                <input type="hidden"
                       value="{{userId}}"
                       ngModel="{{userId}}"
                       class="form-control"
                       formControlName="userId" name="userId"
                >
                <input type="hidden"
                       value="{{email}}"
                       ngModel="{{email}}"
                       class="form-control"
                       formControlName="email" name="email"
                >
                <div class="form-group col-12">
                    <label>Enter Token to Validate</label>
                    <input type="text"
                           class="form-control"
                           formControlName="verificationToken" name="verificationToken"
                   required="" >
                </div>
                <div *ngIf="activateEmailFormGroup.valid" class="modal-footer">
                    <button  type="submit" class="btn btn-primary btn-sm" >Submit</button>

                </div>
            </form>
            <div *ngIf="!activateEmailFormGroup.valid" class="modal-footer">
                <button  class="btn btn-sm btn-primary "
                        (click)="showNotification('top','right')">Submit
                </button>
            </div>
        </div>
    </div>
</div>
