<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<h4 class="card-title">New Permit</h4>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<div class="material-datatables">
<section class="wizard-section">
<div class="row no-gutters">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="form-wizard">
    <form (ngSubmit)="onClickLogin(loginForm.valid)" [formGroup]="loginForm" action="" class="form"
          enctype="multipart/form-data" method="post"
    ><div class="form-wizard-header">
<p>Fill all form field to go next step</p>
<ul class="list-unstyled form-wizard-steps clearfix">
<li class="active"><span>1</span></li>
<li><span>2</span></li>
<li><span>3</span></li>
<li><span>4</span></li>
    <li><span>5</span></li>
</ul>
</div>
<fieldset class="wizard-fieldset show">
<h5>ST1 Form</h5>
<p>I/We the undersigned hereby apply for the grant/renewal of a permit/ the permit No………… to use the
standardization mark on the commodity specified here under:
</p>
<div class="row">
<div class="col-3"></div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="formGroupCommodityInput">Commodity Description</label>
<input type="text" class="form-control" id="formGroupCommodityInput" placeholder="Commodity Description">
</div>
<div class="form-group col-6">
<label for="formGroupCommodityInput1">Trade Mark</label>
<input type="text" class="form-control" id="formGroupCommodityInput1" placeholder="Trade Mark">
</div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="formGroupCommodityInput2">Applicant Name</label>
<input type="text" class="form-control" id="formGroupCommodityInput2" placeholder="Applicant Name">
</div>

<div class="form-group col-6">
<label for="inputState">Select Section</label>
<select id="inputState" class="form-control">
<option selected>Select Section</option>
<option>...</option>
<option>...</option>
</select>
</div>
</div>

<div class="row">
<div class="form-group col-6">
<label for="formGroupCommodityInput3">Application Date</label>
<input type="date" class="form-control" id="formGroupCommodityInput3" placeholder="Application Date">
</div>
    <div class="form-group col-6">
        <label for="applicationType">Application Type</label>
        <select id="applicationType" class="form-control">
            <option selected>Select Application</option>
            <option>...</option>
            <option>...</option>
        </select>
    </div>

</div>
<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-next-btn float-right">Next</a>
</div>
</fieldset>
<fieldset class="wizard-fieldset ">
<h3>1.Factory Organization</h3>
    <h4>1.1 PROCEDURES/PAPER WORK</h4>
    <h5>Please give the following information</h5>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea14">Do you produce against Orders or for Stock?</label>
            <textarea class="form-control" id="exampleFormControlTextarea14" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea15">Do you issue a work Order or equivalent?</label>
            <textarea class="form-control" id="exampleFormControlTextarea15" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea16">If so does this identify a batch as separate entity?</label>
            <textarea class="form-control" id="exampleFormControlTextarea16" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea17">Do products and/or containers carry works order identification in manufacture?</label>
            <textarea class="form-control" id="exampleFormControlTextarea17" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea18">If not how does system allow for products to be isolated in case of doubtful quality?</label>
            <textarea class="form-control" id="exampleFormControlTextarea18" rows="3" placeholder=""></textarea>
        </div>

    </div>
<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
<a href="javascript:" class="form-wizard-next-btn float-right">Next</a>
</div>

</fieldset>
<fieldset class="wizard-fieldset">
<h3>QUALITY CONTROL/INSPECTION STAFF</h3>
<h4><b>Please give the following information on factory QC staff organization:</b></h4>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea19">Head of Quality Assurance, Qualifications, Training etc.</label>
            <textarea class="form-control" id="exampleFormControlTextarea19" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea20">Reporting to:</label>
            <textarea class="form-control" id="exampleFormControlTextarea20" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea21">Is there a separate Quality Control Inspection Department?</label>
            <textarea class="form-control" id="exampleFormControlTextarea21" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <p><b>Please give the following information on factory QC staff organization:</b></p>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea23">i). In-coming materials?</label>
            <textarea class="form-control" id="exampleFormControlTextarea23" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea24">ii). In process operations?</label>
            <textarea class="form-control" id="exampleFormControlTextarea24" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea25">iii). Final Products? </label>
            <textarea class="form-control" id="exampleFormControlTextarea25" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea26">f so are they monitored by Quality Control Staff? </label>
            <textarea class="form-control" id="exampleFormControlTextarea26" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea27">Are Quality Audit checks carried out and by whom? </label>
            <textarea class="form-control" id="exampleFormControlTextarea27" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea28">Please give any other information on quality Control Staff Organization </label>
            <textarea class="form-control" id="exampleFormControlTextarea28" rows="3" placeholder=""></textarea>
        </div>

    </div>

<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
<a href="javascript:" class="form-wizard-next-btn float-right">Next</a>
</div>
</fieldset>
<fieldset class="wizard-fieldset">
<h3>MATERIALS OR COMPONENTS:</h3>
    <h4>PURCHASE SPECIFICATION/MATERIALS QUALITY ASSURANCE</h4>

    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea29">Please detail main materials purchased, specification(s) used and major supplies involved. </label>
            <textarea class="form-control" id="exampleFormControlTextarea29" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea30">Please also give quality assurance method adopted on receipt of materials, or components indicating action taken on rejects</label>
            <textarea class="form-control" id="exampleFormControlTextarea30" rows="3" placeholder=""></textarea>
        </div>

    </div>
    <div class="row">
        <div class="form-group col-12">
            <label for="exampleFormControlTextarea31">What storage facilities exist for in-coming materials and finished products? </label>
            <textarea class="form-control" id="exampleFormControlTextarea31" rows="3" placeholder=""></textarea>
        </div>

    </div>
<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
    <a href="javascript:" class="form-wizard-next-btn float-right">Next</a>
</div>
</fieldset>
    <fieldset class="wizard-fieldset">
        <h3>MANUFACTURE</h3>
        <h4>SYSTEM</h4>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea32">Please detail various steps in manufacture – A production schedule and /or supplement in chart form showing stages, which may be advantageous </label>
                <textarea class="form-control" id="exampleFormControlTextarea32" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <h3>MAINTENANCE SYSTEM – PLANT AND EQUIPMENT</h3>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea33">What maintenance system is in operation? </label>
                <textarea class="form-control" id="exampleFormControlTextarea33" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <h3>QUALITY CONTROL AND TESTING</h3>
        <p>SYSTEM</p>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea34">Please detail Quality Control System, including sampling followed with particular reference to the tests
                    in the relevant Standard. A quality Control Schedule or supplement cross-reference to Chart required in
                    3.1 is advantageous</label>
                <textarea class="form-control" id="exampleFormControlTextarea34" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea35">Please attach a copy of the Quality Manual or instructions on Quality Control issued to staff.</label>
                <textarea class="form-control" id="exampleFormControlTextarea35" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <h3>TEST EQUIPMENT/INSTRUMENTS, GAUGES AND TOOLS.</h3>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea36">Please detail test equipment used and if any of the production or test equipment are calibrated?</label>
                <textarea class="form-control" id="exampleFormControlTextarea36" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea37">Indicate External arrangement for testing if any</label>
                <textarea class="form-control" id="exampleFormControlTextarea37" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <h3>RECORDS AND DOCUMENTATION</h3>
        <h4>COMPLIANCE TO SPECIFICATION</h4>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea38">Please indicate level of defectives found in past six month. If tests in accordance with the relevant
                    standard(s) have already been carried out attach copies of test reports if available. </label>
                <textarea class="form-control" id="exampleFormControlTextarea38" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea39">) Have independent tests been made on products against the standard? By whom? Please attach
                    copies if available. </label>
                <textarea class="form-control" id="exampleFormControlTextarea39" rows="3" placeholder=""></textarea>
            </div>

        </div>
        <h3>AFFIXATION ON MARK OF CONFORMITY</h3>
        <div class="row">
            <div class="form-group col-12">
                <label for="exampleFormControlTextarea40">Please attach an illustration and indicate method e.g. special label, Embossing etc. which will be used
                    to affix the Mark of Conformity. Please indicate at which stage of manufacture the Mark of Conformity
                    will be affixed.</label>
                <textarea class="form-control" id="exampleFormControlTextarea40" rows="3" placeholder=""></textarea>
            </div>

        </div>

        <div class="form-group clearfix">
            <a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
            <a href="javascript:" class="form-wizard-submit float-right">Submit</a>
        </div>
    </fieldset>
</form>
</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
