<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<h4 class="card-title">New Diamond Mark Permit</h4>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<div class="material-datatables">
<section class="wizard-section">
<div class="row no-gutters">
<div class="col-lg-12 col-md-12 col-sm-12">
<div class="form-wizard">

<div class="form-wizard-header">
<p>Fill all form field to go next step</p>
<ul class="list-unstyled form-wizard-steps clearfix">
<li class="active"><span>1</span></li>
<li><span>2</span></li>
<li><span>3</span></li>
<li><span>4</span></li>
<li><span>5</span></li>
</ul>
</div>
<fieldset class="wizard-fieldset show">
<form (ngSubmit)="onClickSaveSTA1(sta1Form.valid)" [formGroup]="sta1Form"  class="form"
enctype="multipart/form-data" >
<h5>ST1 Form</h5>
<p>I/We the undersigned hereby apply for the grant/renewal of a permit/ the permit No………… to use the
standardization mark on the commodity specified here under:
</p>
<div class="row">
<div class="col-3"></div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="commodityDescription">Commodity Description</label>
<input [class.is-invalid]="formSta1Form.commodityDescription.invalid && formSta1Form.commodityDescription.touched" type="text" class="form-control" id="commodityDescription" formControlName="commodityDescription"
name="commodityDescription" placeholder="Commodity Description" required="">
</div>
<div class="form-group col-6">
<label for="tradeMark">Trade Mark</label>
<input type="text" [class.is-invalid]="formSta1Form.tradeMark.invalid && formSta1Form.tradeMark.touched" class="form-control" id="tradeMark" formControlName="tradeMark" name="tradeMark"
placeholder="Trade Mark" required="">
</div>
</div>
<div class="row">
<div class="form-group col-6">
<label for="applicantName">Applicant Name</label>
<input type="text" [class.is-invalid]="formSta1Form.applicantName.invalid && formSta1Form.applicantName.touched" class="form-control" id="applicantName" formControlName="applicantName" name="applicantName"
placeholder="Applicant Name" required="">
</div>

<div class="form-group col-6">
<label for="sectionId">Select Section</label>
    <select id="sectionId"  class="form-control" formControlName="sectionId" name="sectionId"
        [class.is-invalid]="formSta1Form.sectionId.invalid && formSta1Form.sectionId.touched">
<option selected>Select Section</option>
<option *ngFor="let section of sections"
[ngValue]="section.id"
class="dropdown-item">{{section.section}}</option>
</select>
</div>
</div>

<div class="row">
<!--<div class="form-group col-6">-->
<!--<label for="formGroupCommodityInput3">Application Date</label>-->
<!--<input type="date" class="form-control" id="formGroupCommodityInput3"  formControlName="permitForeignStatus" name="permitForeignStatus" placeholder="Application Date">-->
<!--</div>-->
<div class="form-group col-6">
<label for="permitForeignStatus">Application Type</label>
<select id="permitForeignStatus"  class="form-control" formControlName="permitForeignStatus"
name="permitForeignStatus" [class.is-invalid]="formSta1Form.permitForeignStatus.invalid && formSta1Form.permitForeignStatus.touched">
<option selected>Select Application</option>
<option [ngValue]="0">DOMESTIC</option>
<option [ngValue]="1">FOREIGN</option>
</select>
</div>
<div class="form-group col-6">
<label for="attachedPlant">Attach Plant</label>
<select id="attachedPlant"  class="form-control" formControlName="attachedPlant" name="attachedPlant"
[class.is-invalid]="formSta1Form.attachedPlant.invalid && formSta1Form.attachedPlant.touched">
<option selected>Select Plant</option>
<option *ngFor="let plant of plants"
[ngValue]="plant.id"
class="dropdown-item">{{plant.buildingName}}</option>

</select>
</div>

</div>
<div class="form-group clearfix">
<button type="submit" class="form-wizard-next-btn float-right"  [disabled]="!sta1Form.valid">Next</button>
</div>
</form>
</fieldset>


<fieldset class="wizard-fieldset ">
<form  (ngSubmit)="onClickSaveSTA3A(sta3FormA.valid)" [formGroup]="sta3FormA" action="" class="form"
enctype="multipart/form-data" method="post">
<h3>1.Factory Organization</h3>
<h4>1.1 PROCEDURES/PAPER WORK</h4>
<h5>Please give the following information</h5>
<div class="row">
<div class="form-group col-12">
<label for="produceOrdersOrStock">Do you produce against Orders or for Stock?</label>
<textarea class="form-control" id="produceOrdersOrStock" formControlName="produceOrdersOrStock"
name="produceOrdersOrStock" rows="3" placeholder=""
          [class.is-invalid]="formSta3FormA.produceOrdersOrStock.invalid && formSta3FormA.produceOrdersOrStock.touched" required="required"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="issueWorkOrderOrEquivalent">Do you issue a work Order or equivalent?</label>
<textarea class="form-control" id="issueWorkOrderOrEquivalent"
formControlName="issueWorkOrderOrEquivalent" name="issueWorkOrderOrEquivalent" rows="3"
placeholder=""
          [class.is-invalid]="formSta3FormA.issueWorkOrderOrEquivalent.invalid && formSta3FormA.issueWorkOrderOrEquivalent.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="identifyBatchAsSeparate">If so does this identify a batch as separate entity?</label>
<textarea class="form-control" id="identifyBatchAsSeparate"
formControlName="identifyBatchAsSeparate" name="identifyBatchAsSeparate" rows="3"
placeholder="" [class.is-invalid]="formSta3FormA.identifyBatchAsSeparate.invalid && formSta3FormA.identifyBatchAsSeparate.touched"
          ></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="productsContainersCarryWorksOrder">Do products and/or containers carry works order
identification in manufacture?</label>
<textarea class="form-control" id="productsContainersCarryWorksOrder"
formControlName="productsContainersCarryWorksOrder"
name="productsContainersCarryWorksOrder" rows="3" placeholder="" [class.is-invalid]="formSta3FormA.productsContainersCarryWorksOrder.invalid && formSta3FormA.productsContainersCarryWorksOrder.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="isolatedCaseDoubtfulQuality">If not how does system allow for products to be isolated in
case of doubtful quality?</label>
<textarea class="form-control" id="isolatedCaseDoubtfulQuality"
formControlName="isolatedCaseDoubtfulQuality" name="isolatedCaseDoubtfulQuality" rows="3"
placeholder="" [class.is-invalid]="formSta3FormA.isolatedCaseDoubtfulQuality.invalid && formSta3FormA.isolatedCaseDoubtfulQuality.touched"></textarea>
</div>

</div>
<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
<button type="submit" class="form-wizard-next-btn float-right" [disabled]="!sta3FormA.valid">Next</button>
</div>
</form>
</fieldset>

<fieldset class="wizard-fieldset">
    <form (ngSubmit)="onClickUpdateSTA3B(sta3FormB.valid)" [formGroup]="sta3FormB" action="" class="form"
          enctype="multipart/form-data" method="post">
        <h3>QUALITY CONTROL/INSPECTION STAFF</h3>
        <h4><b>Please give the following information on factory QC staff organization:</b></h4>
        <div class="row">
            <div class="form-group col-12">
                <label for="headQaQualificationsTraining">Head of Quality Assurance, Qualifications, Training
                    etc.</label>
                <textarea class="form-control" id="headQaQualificationsTraining"
                          formControlName="headQaQualificationsTraining" name="headQaQualificationsTraining"
                          rows="3" placeholder=""
                          [class.is-invalid]="formSta3FormB.headQaQualificationsTraining.invalid && formSta3FormB.headQaQualificationsTraining.touched"></textarea>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-12">
                <label for="reportingTo">Reporting to:</label>
                <textarea class="form-control" id="reportingTo" formControlName="reportingTo" name="reportingTo"
                          rows="3" placeholder=""
                          [class.is-invalid]="formSta3FormB.reportingTo.invalid && formSta3FormB.reportingTo.touched"></textarea>
            </div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="separateQcid">Is there a separate Quality Control Inspection Department?</label>
    <textarea class="form-control" id="separateQcid" formControlName="separateQcid" name="separateQcid"
              rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.separateQcid.invalid && formSta3FormB.separateQcid.touched"></textarea>
</div>
</div>
<div class="row">
<div class="form-group col-12">
<label for="testsRelevantStandard">If so indicate if staff are aware of the tests in the relevant
standard(s)</label>
    <textarea class="form-control" id="testsRelevantStandard" formControlName="testsRelevantStandard"
              name="testsRelevantStandard" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.testsRelevantStandard.invalid && formSta3FormB.testsRelevantStandard.touched"></textarea>
</div>
</div>
<p><b>Please give the following information on factory QC staff organization:</b></p>
<div class="row">
<div class="form-group col-12">
<label for="spoComingMaterials">i). In-coming materials?</label>
    <textarea class="form-control" id="spoComingMaterials" formControlName="spoComingMaterials"
              name="spoComingMaterials" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.spoComingMaterials.invalid && formSta3FormB.spoComingMaterials.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="spoProcessOperations">ii). In process operations?</label>
    <textarea class="form-control" id="spoProcessOperations" formControlName="spoProcessOperations"
              name="spoProcessOperations" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.spoProcessOperations.invalid && formSta3FormB.spoProcessOperations.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="spoFinalProducts">iii). Final Products? </label>
    <textarea class="form-control" id="spoFinalProducts" formControlName="spoFinalProducts"
              name="spoFinalProducts" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.spoFinalProducts.invalid && formSta3FormB.spoFinalProducts.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="monitoredQcs">if so are they monitored by Quality Control Staff? </label>
    <textarea class="form-control" id="monitoredQcs" formControlName="monitoredQcs" name="monitoredQcs"
              rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.monitoredQcs.invalid && formSta3FormB.monitoredQcs.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="qauditChecksCarried">Are Quality Audit checks carried out and by whom? </label>
    <textarea class="form-control" id="qauditChecksCarried" formControlName="qauditChecksCarried"
              name="qauditChecksCarried" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.qauditChecksCarried.invalid && formSta3FormB.qauditChecksCarried.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="informationQcso">Please give any other information on quality Control Staff
Organization </label>
    <textarea class="form-control" id="informationQcso" formControlName="informationQcso"
              name="informationQcso" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormB.informationQcso.invalid && formSta3FormB.informationQcso.touched"></textarea>
</div>

</div>

<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
    <button type="submit" class="form-wizard-next-btn float-right" [disabled]="!sta3FormB.valid">Next</button>
</div>
</form>
</fieldset>
<fieldset class="wizard-fieldset">
    <form (ngSubmit)="onClickUpdateSTA3C(sta3FormC.valid)" [formGroup]="sta3FormC" action="" class="form"
          enctype="multipart/form-data" method="post">
        <h3>MATERIALS OR COMPONENTS:</h3>
        <h4>PURCHASE SPECIFICATION/MATERIALS QUALITY ASSURANCE</h4>

        <div class="row">
            <div class="form-group col-12">
                <label for="mainMaterialsPurchasedSpecification">Please detail main materials purchased,
                    specification(s) used and major supplies involved. </label>
                <textarea class="form-control" id="mainMaterialsPurchasedSpecification"
                          formControlName="mainMaterialsPurchasedSpecification"
                          name="mainMaterialsPurchasedSpecification" rows="3" placeholder=""
                          [class.is-invalid]="formSta3FormC.mainMaterialsPurchasedSpecification.invalid && formSta3FormC.mainMaterialsPurchasedSpecification.touched"></textarea>
            </div>

        </div>
<div class="row">
<div class="form-group col-12">
<label for="adoptedReceiptMaterials">Please also give quality assurance method adopted on receipt of
materials, or components indicating action taken on rejects</label>
    <textarea class="form-control" id="adoptedReceiptMaterials"
              formControlName="adoptedReceiptMaterials" name="adoptedReceiptMaterials" rows="3"
              placeholder=""
              [class.is-invalid]="formSta3FormC.adoptedReceiptMaterials.invalid && formSta3FormC.adoptedReceiptMaterials.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="storageFacilitiesExist">What storage facilities exist for in-coming materials and
finished products? </label>
    <textarea class="form-control" id="storageFacilitiesExist" formControlName="storageFacilitiesExist"
              name="storageFacilitiesExist" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormC.storageFacilitiesExist.invalid && formSta3FormC.storageFacilitiesExist.touched"></textarea>
</div>

</div>
<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
    <button type="submit" class="form-wizard-next-btn float-right" [disabled]="!sta3FormC.valid">Next</button>
</div>
</form>
</fieldset>
<fieldset class="wizard-fieldset">
    <form (ngSubmit)="onClickUpdateSTA3D(sta3FormD.valid)" [formGroup]="sta3FormD" action="" class="form"
          enctype="multipart/form-data" method="post">
        <h3>MANUFACTURE</h3>
        <h4>SYSTEM</h4>
        <div class="row">
            <div class="form-group col-12">
                <label for="stepsManufacture">Please detail various steps in manufacture – A production schedule and
                    /or supplement in chart form showing stages, which may be advantageous </label>
                <textarea class="form-control" id="stepsManufacture" formControlName="stepsManufacture"
                          name="stepsManufacture" rows="3" placeholder=""
                          [class.is-invalid]="formSta3FormD.stepsManufacture.invalid && formSta3FormD.stepsManufacture.touched"></textarea>
            </div>

        </div>
        <h3>MAINTENANCE SYSTEM – PLANT AND EQUIPMENT</h3>
        <div class="row">
            <div class="form-group col-12">
                <label for="maintenanceSystem">What maintenance system is in operation? </label>
                <textarea class="form-control" id="maintenanceSystem" formControlName="maintenanceSystem"
                          name="maintenanceSystem" rows="3" placeholder=""
                          [class.is-invalid]="formSta3FormD.maintenanceSystem.invalid && formSta3FormD.maintenanceSystem.touched"></textarea>
</div>

</div>
<h3>QUALITY CONTROL AND TESTING</h3>
<p>SYSTEM</p>
<div class="row">
<div class="form-group col-12">
<label for="qcsSupplement">Please detail Quality Control System, including sampling followed with
particular reference to the tests
in the relevant Standard. A quality Control Schedule or supplement cross-reference to Chart required
in
3.1 is advantageous</label>
    <textarea class="form-control" id="qcsSupplement" formControlName="qcsSupplement" name="qcsSupplement"
              rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.qcsSupplement.invalid && formSta3FormD.qcsSupplement.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="qmInstructions">Please attach a copy of the Quality Manual or instructions on Quality
Control issued to staff.</label>
    <textarea class="form-control" id="qmInstructions" formControlName="qmInstructions"
              name="qmInstructions" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.qmInstructions.invalid && formSta3FormD.qmInstructions.touched"></textarea>
</div>

</div>
<h3>TEST EQUIPMENT/INSTRUMENTS, GAUGES AND TOOLS.</h3>
<div class="row">
<div class="form-group col-12">
<label for="testEquipmentUsed">Please detail test equipment used and if any of the production or test
equipment are calibrated?</label>
    <textarea class="form-control" id="testEquipmentUsed" formControlName="testEquipmentUsed"
              name="testEquipmentUsed" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.testEquipmentUsed.invalid && formSta3FormD.testEquipmentUsed.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="indicateExternalArrangement">Indicate External arrangement for testing if any</label>
    <textarea class="form-control" id="indicateExternalArrangement"
              formControlName="indicateExternalArrangement" name="indicateExternalArrangement" rows="3"
              placeholder=""
              [class.is-invalid]="formSta3FormD.indicateExternalArrangement.invalid && formSta3FormD.indicateExternalArrangement.touched"></textarea>
</div>

</div>
<h3>RECORDS AND DOCUMENTATION</h3>
<h4>COMPLIANCE TO SPECIFICATION</h4>
<div class="row">
<div class="form-group col-12">
<label for="levelDefectivesFound">Please indicate level of defectives found in past six month. If tests
in accordance with the relevant
standard(s) have already been carried out attach copies of test reports if available. </label>
    <textarea class="form-control" id="levelDefectivesFound" formControlName="levelDefectivesFound"
              name="levelDefectivesFound" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.levelDefectivesFound.invalid && formSta3FormD.levelDefectivesFound.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="levelClaimsComplaints">Please indicate the level of claims/complaints made under
warranty and/or otherwise and also give as a
percentage of total out put. </label>
    <textarea class="form-control" id="levelClaimsComplaints" formControlName="levelClaimsComplaints"
              name="levelClaimsComplaints" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.levelClaimsComplaints.invalid && formSta3FormD.levelClaimsComplaints.touched"></textarea>
</div>

</div>
<div class="row">
<div class="form-group col-12">
<label for="levelClaimsComplaints">) Have independent tests been made on products against the
standard? By whom? Please attach
copies if available. </label>
    <textarea class="form-control" id="independentTests" formControlName="independentTests"
              name="independentTests" rows="3" placeholder=""
              [class.is-invalid]="formSta3FormD.independentTests.invalid && formSta3FormD.independentTests.touched"></textarea>
</div>

</div>
<h3>AFFIXATION ON MARK OF CONFORMITY</h3>
<div class="row">
<div class="form-group col-12">
<label for="independentTests">Please attach an illustration and indicate method e.g. special label,
Embossing etc. which will be used
to affix the Mark of Conformity. Please indicate at which stage of manufacture the Mark of
Conformity
will be affixed.</label>
    <textarea class="form-control" id="indicateStageManufacture"
              formControlName="indicateStageManufacture" name="indicateStageManufacture" rows="3"
              placeholder=""
              [class.is-invalid]="formSta3FormD.indicateStageManufacture.invalid && formSta3FormD.indicateStageManufacture.touched"></textarea>
</div>

</div>

<div class="form-group clearfix">
<a href="javascript:" class="form-wizard-previous-btn float-left">Previous</a>
    <button type="submit" class="form-wizard-submit float-right" [disabled]="!sta3FormD.valid">Submit</button>
</div>
</form>
</fieldset>

</div>
</div>
</div>
</section>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
