<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">C</i>
                        </div>
                        <h4 class="card-title" *ngIf="cocDetails">
                            {{documentType}}
                            <button class="btn btn-sm btn-default pull-right mr-7"
                                    (click)="goBack()"> <i class="fa fa-arrow-left"></i> Back

                            </button>
                        </h4>

                    </div>
                    <div class="card-body" *ngIf="cocDetails">
                        <div class="row">
                            <div class="col-md-2">
                                <div widget class=" border-0 box-shadow">
                                    <div class="text-center pt-2" style="color: green;">
                                        CD Standard Details
                                    </div>
                                    <div class="card-body pt-0 widget-body" *ngIf="cocDetails">
                                        <table class="table-responsive">
                                            <th>
                                                Application Ref Number
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.applicationRefNo}}</td>
                                            </tr>
                                            <th>
                                                Application Date
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.applicationDate}}</td>
                                            </tr>
                                            <th>
                                                Declaration Number
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.declaraionNumber}}</td>
                                            </tr>
                                            <th>
                                                UCR Number
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.ucrNumber}}</td>
                                            </tr>
                                            <th>
                                                Application Type
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.cdTypeName}}</td>
                                            </tr>
                                            <th>
                                                Document Type
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.cdTypeName}}</td>
                                            </tr>
                                            <th>
                                                Assigned Officer
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.assignedTo}}</td>
                                            </tr>
                                            <th>
                                                Approval Status
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.approvalStatus}}</td>
                                            </tr>

                                            <th>
                                                Approval Date
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.approvalStatus}}</td>
                                            </tr>
                                            <th>
                                                Final Approval Date
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.approveRejectCdDate}}</td>
                                            </tr>
                                            <th>
                                                Version No
                                            </th>
                                            <tr>
                                                <td>{{cocDetails.consignment_document_details.version}}</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8">

                                <!-- <div class="d-flex"> -->
                                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">
                                    <li ngbNavItem="coc-details">
                                        <a ngbNavLink>CoC Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Certificate Of Compliance Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Certificate Type</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.cocType}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType!=='COI'">
                                                    <div class="list-title-accordion">{{cocDetails.certificate_details.cocType}} NUMBER</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.cocNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType=='COI'">
                                                    <div class="list-title-accordion">COI NUMBER</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.coiNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">IDF NUMBER</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.idfNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">RFI NUMBER</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.rfiNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">UCR NUMBER</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.ucrNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">RFC DATE</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.rfcDate}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType!=='COI'">
                                                    <div class="list-title-accordion">{{cocDetails.certificate_details.cocType}} ISSUE DATE</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.cocIssueDate}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType=='COI'">
                                                    <div class="list-title-accordion">COI ISSUE DATE</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.coiIssueDate}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType!=='COI'">
                                                    <div class="list-title-accordion">{{cocDetails.certificate_details.cocType}} REMARKS</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.cocRemarks}}</div>
                                                </li>
                                                <li class="list-item-accordion" *ngIf="cocDetails.certificate_details.cocType=='COI'">
                                                    <div class="list-title-accordion">COI REMARKS</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.coiRemarks}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ISSUING OFFICE</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.issuingOffice}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="importer">
                                        <a ngbNavLink>Importer Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Importer Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Name</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerName}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PIN</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerPin}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 1</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerAddress1}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 2</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerAddress2}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">City</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerCity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerCountry}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ZipCode</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerZipCode}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Telephone</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerTelephoneNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Fax</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerFaxNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Email</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.importerEmail}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="exporter">
                                        <a ngbNavLink>Exporter Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Exporter Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Name</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterName}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PIN</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterPin}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 1</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterAddress1}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 2</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterAddress2}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">City</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterCity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterCountry}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ZipCode</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterZipCode}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Telephone</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterTelephoneNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Fax</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterFaxNumber}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Email</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.exporterEmail}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="invoice">
                                        <a ngbNavLink>Invoice Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Invoice Details</b>
                                            <div class="panel" style="max-height: 388px;">
                                                <ul class="w-list-unstyled">
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">FOB Value</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.finalInvoiceFobValue}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Exchange Rate</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.finalInvoiceExchangeRate}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Date</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.finalInvoiceDate}}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </li>

                                    <li ngbNavItem="shipment-dets">
                                        <a ngbNavLink>Shipment Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Shipment Details</b>
                                            <div class="panel" style="max-height: 487px;">
                                                <ul class="w-list-unstyled">
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Mode</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.shipmentMode}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Partial Number</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.route}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Seal Number</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.shipmentSealNumbers}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Container Number</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.shipmentContainerNumber}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Gross Weight</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.shipmentGrossWeight}}</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Quantity Delivered</div>
                                                        <div class="list-text-accordion">{{cocDetails.certificate_details.shipmentQuantityDelivered}}</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="inspection-details">
                                        <a ngbNavLink>Inspection Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Inspection Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Place Of Inspection</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.placeOfInspection}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Date Of Inspection</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.dateOfInspection}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Route</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.route}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Port Of Destination</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.portOfDestination}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country Of Supply</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.route}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Product Category</div>
                                                    <div class="list-text-accordion">{{cocDetails.certificate_details.productCategory}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                   
                                    <li ngbNavItem="item-details">
                                        <a ngbNavLink>Item Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Item Details</b>
                                            <app-di-coc-item-details [dataSet]="cocDetails.item_certificate_of_conformance"></app-di-coc-item-details>
                                        </ng-template>
                                    </li>
                                   
                                </ul>

                                <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                <!-- </div>  -->
                            </div>
                            <div class="col-md-2">
                                <h5>Action:</h5>
                                <h5>Documents:</h5>
                                <button class="btn btn-sm btn-primary" (click)="downloadCocFile()">DOWNLOAD {{cocDetails.certificate_details.cocType}} File </button>
                               
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>