<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">C</i>
                        </div>
                        <h4 class="card-title">Certificate of Compliance</h4>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div widget class=" border-0 box-shadow">
                                    <div class="text-center pt-2" style="color: green;">
                                        CD Standard Details
                                    </div>
                                    <div class="card-body pt-0 widget-body">
                                        <table class="table-responsive">
                                            <th>
                                                Application Ref Number
                                            </th>
                                            <tr>
                                                <td>#565633</td>
                                            </tr>
                                            <th>
                                                Application Date
                                            </th>
                                            <tr>
                                                <td>16-08-2021</td>
                                            </tr>
                                            <th>
                                                Declaration Number
                                            </th>
                                            <tr>
                                                <td>DCR893093</td>
                                            </tr>
                                            <th>
                                                UCR Number
                                            </th>
                                            <tr>
                                                <td>UCR89390930</td>
                                            </tr>
                                            <th>
                                                Application Type
                                            </th>
                                            <tr>
                                                <td>Consignment Document</td>
                                            </tr>
                                            <th>
                                                Document Type
                                            </th>
                                            <tr>
                                                <td>PERMIT</td>
                                            </tr>
                                            <th>
                                                Assigned Officer
                                            </th>
                                            <tr>
                                                <td>Randy Inspection Officer</td>
                                            </tr>
                                            <th>
                                                Approval Status
                                            </th>
                                            <tr>
                                                <td>LOCAL COC GENERATED</td>
                                            </tr>

                                            <th>
                                                Approval Date
                                            </th>
                                            <tr>
                                                <td>
                                                    2021-08-13</td>
                                            </tr>
                                            <th>
                                                Final Approval Date
                                            </th>
                                            <tr>
                                                <td>
                                                    2021-08-13</td>
                                            </tr>
                                            <th>
                                                Version No
                                            </th>
                                            <tr>
                                                <td>
                                                    1</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8">

                                <!-- <div class="d-flex"> -->
                                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

                                    <li ngbNavItem="coc-details">
                                        <a ngbNavLink>CoC Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Certificate Of Compliance Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">COC NUMBER</div>
                                                    <div class="list-text-accordion">KEBSCOC20210813492B4</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">IDF NUMBER</div>
                                                    <div class="list-text-accordion">UNKOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">RFI NUMBER</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">UCR NUMBER</div>
                                                    <div class="list-text-accordion">UCR202100129992</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">RFC DATE</div>
                                                    <div class="list-text-accordion">2021-08-13 14:41:56.396956</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">COC ISSUE DATE</div>
                                                    <div class="list-text-accordion">2021-08-13 14:41:56.396965</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">COC REMARKS</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ISSUING OFFICE</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="importer">
                                        <a ngbNavLink>Importer Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Importer Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Name</div>
                                                    <div class="list-text-accordion">HOTPOINT APPLIANCES LTD</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PIN</div>
                                                    <div class="list-text-accordion">P000597694S</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 1</div>
                                                    <div class="list-text-accordion">527 IMANI COURT,jkjkh,SYOKIMAU - NAIROBI,254</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 2</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">City</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country</div>
                                                    <div class="list-text-accordion">KENYA</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ZipCode</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Telephone</div>
                                                    <div class="list-text-accordion">0721535208</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Fax</div>
                                                    <div class="list-text-accordion">0721535208</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Email</div>
                                                    <div class="list-text-accordion">info@kkkkk.com</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="exporter">
                                        <a ngbNavLink>Exporter Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Exporter Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Name</div>
                                                    <div class="list-text-accordion">HOTPOINT APPLIANCES LTD</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PIN</div>
                                                    <div class="list-text-accordion">P000597694S</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 1</div>
                                                    <div class="list-text-accordion">527 IMANI COURT,jhgjh,SYOKIMAU - NAIROBI,254</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 2</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">City</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country</div>
                                                    <div class="list-text-accordion">IRELAND</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ZipCode</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Telephone</div>
                                                    <div class="list-text-accordion">0721535208</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Fax</div>
                                                    <div class="list-text-accordion">0721535208</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Email</div>
                                                    <div class="list-text-accordion">info@intt.com</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="invoice">
                                        <a ngbNavLink>Invoice Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Invoice Details</b>
                                            <div class="panel" style="max-height: 388px;">
                                                <ul class="w-list-unstyled">
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">FOB Value</div>
                                                        <div class="list-text-accordion">0</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Exchange Rate</div>
                                                        <div class="list-text-accordion">0</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Date</div>
                                                        <div class="list-text-accordion">2021-08-13 14:41:56.399257</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="shipment-dets">
                                        <a ngbNavLink>Shipment Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Shipment Details</b>
                                            <div class="panel" style="max-height: 487px;">
                                                <ul class="w-list-unstyled">
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Mode</div>
                                                        <div class="list-text-accordion">UNKNOWN</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Partial Number</div>
                                                        <div class="list-text-accordion">0</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Seal Number</div>
                                                        <div class="list-text-accordion">UNKNOWN</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Container Number</div>
                                                        <div class="list-text-accordion">UNKNOWN</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Gross Weight</div>
                                                        <div class="list-text-accordion">UNKNOWN</div>
                                                    </li>
                                                    <li class="list-item-accordion">
                                                        <div class="list-title-accordion">Quantity Delivered</div>
                                                        <div class="list-text-accordion">UNKNOWN</div>
                                                    </li>
                                                </ul>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="inspection-details">
                                        <a ngbNavLink>Inspection Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Inspection Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Place Of Inspection</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Date Of Inspection</div>
                                                    <div class="list-text-accordion">2021-08-13 14:41:56.39862</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Route</div>
                                                    <div class="list-text-accordion">A</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Port Of Destination</div>
                                                    <div class="list-text-accordion">NN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country Of Supply</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Product Category</div>
                                                    <div class="list-text-accordion">UNKNOWN</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                   
                                    <li ngbNavItem="item-details">
                                        <a ngbNavLink>Item Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Item Details</b>
                                            <app-di-coc-item-details></app-di-coc-item-details>
                                        </ng-template>
                                    </li>
                                   
                                </ul>

                                <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                <!-- </div>  -->
                            </div>
                            <div class="col-md-2">
                                <h5>Action:</h5>
                                <h5>Documents:</h5>
                                <button class="btn btn-sm btn-primary" (click)="downloadCocFile()">CoC Certificate File </button>
                               
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>