body{
    font-family: 'Nunito Sans';
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    overflow-x: hidden;
    height: 90vh;
}

/* Global*/
.logo-image {
    width: 250px;
    height: 75px
}
.dashboard-header-logo {
    width: 200px;
    height: 100px
}
.vision-image {
    width: 250px;
    height: 45px
}
/* Header */
.kebs-image {
    display: flex;
    justify-content: start;
    align-items:center;
    grid-area: kebs-image;
}
.title {
    display: flex;
    justify-content: flex-start;
    margin-left: 20px;
    align-items:center;
    grid-area: title;
}
.vision-2030 {
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-right: 30px;
    grid-area: vision-2030;
}
.header {
    width: 100%;
    height: 100px;
    margin: 0px 30px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 0.5fr 1fr auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "kebs-image  title . vision-2030";
}

/* Login page Information section */
.about-us {
    grid-area: about-us;
    margin-top: 10px;
    background-image: url("../images/assets/Login\ screen\ .png");
    background-size: cover;
    height: 98%;
    padding: 0px 50px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.about-us-content {
    background-color: rgb(45,48,51,0.8);
    /* opacity: 0.8; */
    color: #ffffff;
    padding: 20px;
    border-radius: 15px;
}
.content-title {
    font-size: 19px;
    font-weight: 600;
}
.content-details {
    font-weight: 500;
}
p {
    margin: 0;
}
.login-form {
    grid-area: login-form;
    margin:45px 30px;
    /* color: #ffffff; */
}
.welcome{
    font-weight: 600;
    color: #ffffff;
}
.input-placeholder {
    color: #ffffff;
    font-size: 13px;
}
.login-form-inputs {
    width: 60%;
    margin: 10px 0px;
    font-size: 24px;
}
.login-form-small-inputs {
    width: 42%;
    margin: 10px 0px;
    font-size: 24px;
}
.login-button {
    background-color: #0594FF;
    color:#ffffff;
    padding: 10px 40px;
    border: none;
    border-radius: 100px ;
    text-align: center;
    margin-bottom: 15px;
}
.login-ref {
    text-decoration: none;
    cursor: pointer;
    color:#ffffff;
}
.reset-credentials {
    color:#ffffff;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 10px;
}
.infor {
    background-color: #1B75BC;
    height: 70vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows: auto;
    grid-template-areas: 
    "about-us  login-form";
}

/* Login page Footer section */
.location {
    grid-area: location;
    color: #222;
    align-items: center;
    padding: 10px 15px;
}
.location-details {
    font-size: 12px;
    font-weight: 700;
}
.standard-marks {
    grid-area: standard-marks;
}
.f-mark {
    grid-area: f-mark;
    padding-top: 6px;
}
.d-mark {
    grid-area: d-mark;
}
.n-mark {
    grid-area: n-mark;
}
.mark-image {
    width: 50px;
    height: 50px;
}
#d_mark {
    width: 75px;
    height: 65px;
}
#quality {
    width: 75px;
    height: 65px;
}
.marks {
    width: 100%;
    display: grid;
    padding: 20px 15px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "f-mark  d-mark n-mark";
}
.copyright {
    grid-area: copyright;
    padding: 30px 40px 0px 30px;
    /* display: flex; */
    /* justify-content: center; */
    align-items: center;
}
.copyright-details {
    font-size: 12px;
    font-weight: 700;
    color: #267BBF;
    margin-left: 50px;
}
.push-middle {
    padding-left: 40px;
}
.footer {
    padding: 20px 15px 5px 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "location  standard-marks copyright";
}
/* Dashboard page Information section */
.dashboard-header {
    grid-area: dashboard-header;
    background-color: #1B75BC;
    height: 100px;
    display: flex;
    justify-content: start;
    padding-left: 60px;
    align-items:center;
}
.user-details {
    grid-area: user-details;
    color: #ffffff;
    padding: 18px 40px;
    /* display: flex;
    justify-content: center; */
    align-items:center;
}
.user-details-p {
    font-size: 13px;
    font-weight: 500;
    padding: 0px;
}
.options-button {
    grid-area: options-button;
    display: flex;
    /* justify-content: center; */
    align-items:center;
}
.option-button {
    background-color:#ffffff;
    color: #0594FF;
    padding: 10px 40px;
    border: none;
    border-radius: 100px ;
    text-align: center;
}
.loggedIn-user {
    grid-area: loggedIn-user;
    background-color: #0A95FC;
    border-left: #ffffff solid 2px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "user-details options-button";
}
.dashboard-page{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto  450px;
    grid-template-rows: auto;
    grid-template-areas: 
    "dashboard-header dashboard-header  loggedIn-user";
}
.sidebar {
    grid-area: sidebar;
    background-color: #1B75BC;
    padding: 20px 0px;
    border-top: 2px solid #ffffff;
    height: 85vh;
}
.sidebar-notifications {
    grid-area: sidebar;
    background-color: #1B75BC;
    padding: 20px 0px;
    border-top: 2px solid #ffffff;
    height: 93vh;
}
.sidebar-items {
    padding: 0px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.sidebar-icons {
    width: 25px;
    height: 25px;
}
.sidebar-icons-dashboard {
    width: 25px;
    height: 25px;
}

.selected-page {
    color: #FFBC00;
    /* font-size: 15px; */
}
.unselected-page {
    color: #ffffff;
    font-size: 15px;
}
.dashboard-icon {
    width: 15px;
    height: 15px;
    /* color: #FFBC00; */
}
.dashboard-title {
    grid-area: dashboard-title;
    padding: 0px 60px;
    align-items:center;
}
.dashboard-title-content {

}
.logout {
    grid-area: logout;
    padding-left: 275px;
    display: flex;
    justify-content: center;
    align-items:center;
}
.logout-button {
    background-color: #1B75BC;
    padding: 7px 25px;
    border: none;
    color: #ffffff;
}
.top-section {
    width: 100%;
    display: grid;
    background-color: #E0E0E0;
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "dashboard-title . . logout";
}
.main-area {
    grid-area: main-area;
}
.dashboard-body {
    width: 100%;
    display: grid;
    grid-template-columns: 250px auto auto 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "sidebar main-area main-area main-area";
}
.dashboard-content {
    padding: 0px 30px 0px 20px;
}
.welcome-banner {
    background-image: url("../images/welcome\ to\ kebs\ no\ bg.png");
    /* height: 100%; */
    background-repeat: no-repeat;
    background-size: 100% 100%;

    padding: 70px 50px;
   
}
.banner-title {
    border-radius: 15px 15px 15px 15px;
    background-size: cover;
    width: 100%;
    background-image: url("../images/welcome\ to\ kebs\ no\ bg.png");
    padding: 60px 80px;
    align-items: center;
}
.banner-title-content {
    font-size: 26px;
    color: #ffffff;
}

.account {
    border-radius: 5px;
    grid-area: account;
    cursor: pointer;
    background-color: #1B75BC;
    padding: 15px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.notifications {
    border-radius: 5px;
    grid-area: notifications;
    background-color: #1B75BC ;
    padding: 10px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.link {
    text-decoration: none;
}
.notification-ref {
    display: flex;
    align-items: center;
    color: #ffffff;
   
}
.notification-icon {
    /* padding-top: 5px; */
}
.tasks {
    border-radius: 5px;
    grid-area: tasks;
    cursor: pointer;
    background-color: #1B75BC ;
    padding: 10px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.settings {
    border-radius: 5px;
    grid-area: settings;
    cursor: pointer;
    background-color: #1B75BC ;
    padding: 10px 15px;
    color: #ffffff;
    display: flex;
    align-items: center;
}
.tabs {
    width: 96%;
    display: grid;
    /* margin-top: 20px; */
    padding-left: 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: 
    "account notifications tasks settings";
}
.dashboard-footer-logos {
    grid-area: dashboard-footer-logos;
    width: 95%;
    display: grid;
    /* margin-top: 10px; */
    padding: 24px 15px 0px 15px;
    padding-left: 25px;
    grid-template-columns: 1fr 1fr  1fr;
    /* column-gap: 10px; */
    grid-template-rows: auto;
    grid-template-areas: 
    "f-mark  d-mark n-mark";
}
.dashboard-footer-copyright {
    grid-area: dashboard-footer-copyright;
    padding: 50px 0px 0px 30px;
    align-items: center;
}
.dashboard-footer {
    width: 100%;
    display: grid;
    margin-top: 15vh;
    grid-template-columns: 1fr 0.5fr 1fr ;
    /* column-gap: 10px; */
    grid-template-rows: auto;
    grid-template-areas: 
    "dashboard-footer-logos . dashboard-footer-copyright";
}

/* Notification page Information section */
.dashboard-notifications-content {
    padding: 10px;
}
.notifications-content-area {
    grid-area: notifications-content-area;
    padding-left: 40px;
    padding-top: 0px;
}
.notifications-filters-area {
    grid-area: notifications-filters-area;
    padding-top: 0px;
}
.filter-content {
    background-color: #E0E0E0;
    /* padding: 15px 35px 25px 15px; */
    padding-top: 15px;
    padding-bottom: 15px;
    padding-right: 0px;
    padding-left: 25px;
}
.notifications-area {
    width: 100%;
    display: grid;
    margin-top: 10px;
    grid-template-columns: 0.65fr  0.3fr ;
    column-gap: 30px;
    grid-template-rows: auto;
    grid-template-areas: 
    "notifications-content-area  notifications-filters-area";
}
.notifications-title {
    color: #1B75BC;

}
.notification-title {
    grid-area: notification-title;
    display: flex;
    padding: 2px 10px;
    justify-content: center;
    align-self: center;
}
.notification-content {
    grid-area: notification-content;
    padding-top: 25px;
    padding-bottom: 10px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-self: center; */
}
.notification-content-p {
    font-size: 12px;
}
.push-align {
    margin-left: 12px;
}
.notification-details {
    grid-area: notification-details;
    padding: 7px 20px;
    display: flex;
    justify-content: flex-end;
    align-self: center;
}
.details-button {
    background-color: #1B75BC;
    padding: 6px 20px;
    border: none;
    color: #ffffff;
}
h5 {
    margin-bottom: 10px;
    margin-top: 10px;
}
.filter-inputs {
    display: flex;
    align-items: center;
}
label {
    font-size: 12px;
}
.filter-dates {
    font-size: 12px;
}
.notification-tab {
    width: 100%;
    display: grid;
    margin-bottom: 10px;
    background-color: #E0E0E0;
    grid-template-columns: 0.4fr 1.2fr 0.8fr ;
    column-gap: 10px;
    grid-template-rows: auto;
    grid-template-areas: 
    "notification-title notification-content notification-details";
}

a {
    color: #ffffff !important;
    text-decoration: none !important;
}

.fade {
    opacity: 1;
}