<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>KEBS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="styles.css" /> -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito Sans">
</head>

<body>
<header>
  <div class="header">
    <div class="kebs-image">
      <img alt="kebs Logo" class="logo-image" id="logo" src="migration/assets/images/kebs_new_logo.png">
    </div>
    <div class="title">
      <h5>
        Self-Service Portal
      </h5>
    </div>
    <div class="vision-2030">
      <img alt="Vision2030_logo" class="vision-image" id="logo" src="./migration/assets/images/Vision2030_logo.svg">
    </div>
  </div>
</header>

<div class="row" style="background-color: #1B75BC">
  <div class="col-lg-6">
    <div class="about-us">
      <div class="about-us-content">
        <p class="content-title">
          Vision:
        </p>
        <p class="content-details">
          To be a global leader in standards based solutions that deliver quality and standards
        </p>
        <br>
        <p class="content-title">
          Mission:
        </p>
        <p class="content-details">
          To provide standard based solutions that promote innovation, trade and quality life
        </p>
        <br>
        <p class="content-title">
          Motto:
        </p>
        <p class="content-details">
          Standards for quality life
        </p>
      </div>
    </div>

  </div>
  <div class="col-lg-6">
    <div class="login-form">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!--    <section class="infor">-->
<!--        <div class="about-us">-->
<!--            <div class="about-us-content">-->
<!--                <p class="content-title">-->
<!--                    Vision:-->
<!--                </p>-->
<!--                <p class="content-details">-->
<!--                    To be a global leader in standards based solutions that deliver quality and standards-->
<!--                </p>-->
<!--                <br>-->
<!--                <p class="content-title">-->
<!--                    Mission:-->
<!--                </p>-->
<!--                <p class="content-details">-->
<!--                    To provide standard based solutions that promote innovation, trade and quality life-->
<!--                </p>-->
<!--                <br>-->
<!--                <p class="content-title">-->
<!--                    Motto:-->
<!--                </p>-->
<!--                <p class="content-details">-->
<!--                    Standards for quality life-->
<!--                </p>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="login-form">-->
<!--            <router-outlet></router-outlet>-->
<!--        </div>-->


<!--    </section>-->
<section class="footer">
  <div class="location">
    <p class="location-details">
      Popo Road, Off Mombasa Road,
    </p>
    <p class="location-details">
      Tel : + 254 (20) 694 8000
    </p>
    <p class="location-details">
      Mobile : 0722 202 137 or 0734 600 471/2
    </p>
    <p class="location-details">
      PVOC : 0724 255 242
    </p>
    <p class="location-details">
      Email: info@kebs.org
    </p>
  </div>
  <div class="standard-marks marks">
    <div class="f-mark">
      <img alt="fortified Logo" class="mark-image" id="fortified" src="./migration/assets/images/assets/Fmark.png">
    </div>
    <div class="d-mark">
      <img alt="d_mark Logo" class="mark-image" id="d_mark" src="./migration/assets/images/assets/Dmark.png">
    </div>
    <div class="n-mark">
      <img alt="quality Logo" class="mark-image" id="quality" src="./migration/assets/images/assets/Smark Logo.png">
    </div>
  </div>
  <div class="copyright">
    <p class="copyright-details">
      Copyright 2021 Kenya Bureau of Standards.
    </p>
    <p class="copyright-details push-middle">
      All Rights Reserved v1.0.0.
    </p>
  </div>
</section>
</body>

</html>
