<h2 mat-dialog-title>Exemption Status</h2>
<mat-dialog-content>
    <div class="row no_margin" [formGroup]="form">
        <div class="col-sm-12 col-md-8">
            <label for="approvalStatus" class="waiver-form-label">Approval Status</label>
            <select id="approvalStatus" name="approvalStatus" class="waiver-form-input-master"
                    formControlName="approvalStatus">
                <option value="" disabled selected>Select Status</option>
                <option *ngFor="let st of approvalStatus" [value]="st.name">{{st.description}}</option>
            </select>
            <label *ngIf="data.section" for="certificateValidity" class="waiver-form-label">Certificate Validity</label>
            <select *ngIf="data.section"  id="certificateValidity" name="certificateValidity" class="waiver-form-input-master"
                    formControlName="certificateValidity">
                <option value="" disabled selected>Select Validity</option>
                <option *ngFor="let vd of validityDays" [value]="vd.name">{{vd.description}}</option>
            </select>
            <label for="exemptionRemarks" class="waiver-form-label">Please write, in detail, your feedback for this
                exemption:</label>
            <textarea id="exemptionRemarks" class="waiver-form-input-master" placeholder=""
                      formControlName="remarks"></textarea>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid||loading" class="next-btn btn-gen new-btn" (click)="saveRecord()">SAVE
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>