<h2 mat-dialog-title>Approve/Reject Auction Item</h2>
<mat-dialog-content>
    <div class="form-group row" [formGroup]="form">
        <label for="categoryCode" class="waiver-form-label">Select Category</label>
        <select id="categoryCode" name="categoryCode" class="waiver-form-input-master"
                formControlName="categoryCode">
            <option value="" disabled selected>Select One</option>
            <option *ngFor="let cat of categories" value="{{cat.categoryCode}}">{{cat.categoryName}}</option>
        </select>
        <label for="auctionLotNo" class="waiver-form-label">Lot Number</label>
        <input id="auctionLotNo" name="auctionLotNo" class="waiver-form-input-master"
               formControlName="auctionLotNo" type="text"/>
        <label for="auctionDate" class="waiver-form-label">Auction Date</label>
        <input id="auctionDate" name="auctionDate" class="waiver-form-input-master"
               formControlName="auctionDate" type="date"/>
        <label for="shipmentPort" class="waiver-form-label">Shipment Port</label>
        <input id="shipmentPort" name="shipmentPort" class="waiver-form-input-master"
               formControlName="shipmentPort" type="text"/>
        <label for="shipmentDate" class="waiver-form-label">Shipment Date</label>
        <input id="shipmentDate" name="shipmentDate" class="waiver-form-input-master"
               formControlName="shipmentDate" type="date"/>
        <label for="arrivalDate" class="waiver-form-label">Arrival Date</label>
        <input id="arrivalDate" name="arrivalDate" class="waiver-form-input-master"
               formControlName="arrivalDate" type="date"/>
        <label for="importerName" class="waiver-form-label">Importer Name</label>
        <input id="importerName" name="importerName" class="waiver-form-input-master"
               formControlName="importerName" type="text"/>
        <label for="importerPhone" class="waiver-form-label">Importer Phone</label>
        <input id="importerPhone" name="importerPhone" class="waiver-form-input-master"
               formControlName="importerPhone" type="tel"/>
        <label for="itemLocation" class="waiver-form-label">Item Location</label>
        <input id="itemLocation" name="itemLocation" class="waiver-form-input-master"
               formControlName="itemLocation" type="text"/>
        <label for="containerSize" class="waiver-form-label">Container Size</label>
        <input id="containerSize" name="containerSize" class="waiver-form-input-master"
               formControlName="containerSize" type="text"/>
        <div class="table table-responsive">
            <p>Add Auction Items bellow</p>
            <button class="btn btn-sm" (click)="addItem(null)">Add Item</button>
            <ng2-smart-table [settings]="auctionItemsSetting"
                             [source]="auctionItems"
            (custom)="auctionItemActions($event)">
            </ng2-smart-table>
        </div>
        <mat-error *ngIf="message">
            {{message}}
        </mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="btn-group btn-group pull-right" role="group" aria-label="Foreign COC/COR Buttons">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="!isValid() || loading" name="submit" type="button" class="btn btn-primary"
                (click)="saveAuctionDetails()">Save Auction
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>
