<!DOCTYPE html>
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html :: headerfiles"/>
</head>
<body>
<div class="popup-bg">
    <div class="popup-container">
        <div class="popup-heading-section">
            <div>WE HAVE AN ISSUE
            </div>
            <button class="button-2 w-button" onclick="close()">Close</button>

        </div>
        <div class="popup-content">
            <span>
                INTERNAL SERVER ERROR
            </span>
        </div>
    </div>
</div>
</body>
</html>