<h2>Complaint Details and Approval status</h2>
<mat-dialog-content>
    <mat-tab-group [(selectedIndex)]="active" [disablePagination]="true"
                   class="tab-wraps" *ngIf="complaintsDetails">
        <mat-tab label="0">
            <ng-template mat-tab-label>
                Complainant Information Details
            </ng-template>
            <b class="text-primary">Complainant Information Details</b>
            <ul class="w-list-unstyled">
                <li class="list-item-accordion ">
                    <div class="list-title-accordion">Reference Number</div>
                    <div class="list-text-accordion">{{complaintsDetails.refNo}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Name</div>
                    <div class="list-text-accordion">{{complaintsDetails.complaintName}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Email Address</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.email}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Phone Number</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.phoneNo}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Postal Address</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.address}}</div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Submission Date</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.complaintDate | date}}</div>
                </li>
            </ul>
        </mat-tab>
        <mat-tab label="1">
            <ng-template mat-tab-label>
                Complaint Information Details
            </ng-template>
            <b class="text-primary">Complaint Information Details</b>
            <ul class="w-list-unstyled">
                <li class="list-item-accordion ">
                    <div class="list-title-accordion">Complaint Title</div>
                    <div class="list-text-accordion">{{complaintsDetails.complaintTitle}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">COC Number</div>
                    <div class="list-text-accordion">{{complaintsDetails.cocNo}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">RFC Number</div>
                    <div class="list-text-accordion">{{complaintsDetails.rfcNo}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Complaint Description</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.complaintDescription}}
                    </div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">Complaint Category</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.categoryName}}
                    </div>
                </li>
                <li class="list-item-accordion" *ngIf="complaintsDetails.subCategoryName">
                    <div class="list-title-accordion">Complaint Sub Category</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.subCategoryName}}</div>
                </li>
                <li class="list-item-accordion">
                    <div class="list-title-accordion">PVOC Agent</div>
                    <div class="list-text-accordion">
                        {{complaintsDetails.pvocAgent}}</div>
                </li>
            </ul>
        </mat-tab>
        <mat-tab *ngIf="attachments" label="2">
            <ng-template mat-tab-label>
                Complainant Photos/Documents
            </ng-template>
            <div class="form-row">
                <div class="table-striped table-condensed table-responsive">
                    <ng2-smart-table [settings]="settingsComplaintsFiles"
                                     [source]="attachments"
                                     (custom)="onCustomComplaintFileViewAction($event)"
                    ></ng2-smart-table>
                </div>
            </div>
        </mat-tab>
        <mat-tab label="3" *ngIf="complaintsDetails.recommendation">
            <ng-template mat-tab-label>
                Complaint Acceptance/Rejection Details
            </ng-template>
            <b class="text-primary">Complaint Acceptance/Rejection Details</b>
            <ul class="w-list-unstyled">
                <li class="list-item-accordion ">
                    <div class="list-title-accordion">Complaint Acceptance Status</div>
                    <div class="list-text-accordion">{{complaintsDetails.reviewStatus}}
                    </div>
                </li>
                <li class="list-item-accordion ">
                    <div class="list-title-accordion">Complaint Recomendation</div>
                    <div class="list-text-accordion">{{complaintsDetails.recommendation}}
                    </div>
                </li>
            </ul>
        </mat-tab>
    </mat-tab-group>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
    </div>
</mat-dialog-actions>