<div id="main-container">

  <div class="panel panel-primary">
    <div class="panel-heading">
      <h2>All Preliminary Drafts</h2>
    </div>
    <div class="panel-body">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Preliminary Draft Id</th>
          <th>Preliminary Draft Name</th>
          <th>Preliminary Draft By</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let pd of preliminary_draft | async">
          <td>{{pd.id}}</td>
          <td>{{pd.pdName}}</td>
          <td>{{pd.pdBy}}</td>
          <td>
            <a (click)="onOpenModal(pd,'yes')" class="btn btn-primary tooltips" data-placement="top"
               data-original-title="Yes">Send Feedback</a>
          </td>
        </tr>
        </tbody>
      </table>
      <!-- Modal -->
      <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-lg">

          <!-- Modal content-->
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Preliminary Draft Feedback </h4>
            </div>
            <div class="modal-body">
              <form #sendFeedback="ngForm">
                <input type="hidden" ngModel="{{actionRequest?.id}}" name="taskId" id="taskId4">
                <input type="hidden" ngModel="123" name="departmentResponseID" id="departmentResponseID">
                <input type="hidden" ngModel="456" name="enquiryID" id="enquiryID">
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">Please type your feedback</label>
                  <textarea class="form-control" ngModel="" id="exampleFormControlTextarea1" name="feedbackProvided"
                            rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
