<div class="container-fluid" style="margin-top: 5%">
<div  class="loading-spinner ">
<ngx-spinner
bdColor="rgba(51,51,51,0.8)"
size="medium"
color="#fff"
type="ball-scale-multiple"
>
<p style="font-size: 20px; color: white">Saving Please Wait...</p>
</ngx-spinner>
</div>
<div class="main-content">
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<div class="card">
<div class="card-header card-header-primary card-header-icon">
<div class="card-icon">
<i class="material-icons">assignment</i>
</div>
<h4 class="card-title"><b>Prepare Justification</b></h4>
</div>
<div class="card-body">
<div class="toolbar">

</div>
<form (ngSubmit)="saveJustification()" [formGroup]="prepareJustificationFormGroup" class="form">
<div class="form-body">


<div class="row col-12">
<div class="form-group col-6">
<label><b>Meeting Date</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<input
[class.is-invalid]="formPrepareJustification.meetingDate.invalid && formPrepareJustification.meetingDate.touched"
aria-describedby="inputGroup-sizing-sm" aria-label="Small"
class="form-control one-column-input" formControlName="meetingDate" name="meetingDate"
placeholder="Date" type="date">
</div>
<div class="form-group col-6">
<label>Department/Sector<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
class="form-control" required formControlName="department" name="department"
[class.is-invalid]="formPrepareJustification.department.invalid && formPrepareJustification.department.touched">
<option disabled>--Select Department--</option>
<option *ngFor="let nwaDepartment of nwaDepartments"
value="{{nwaDepartment.id}}">{{nwaDepartment.name}}</option>
</select>
</div>
</div>

<div class="row col-12">
<div class="form-group col-6">
<label>KNW Committee<span style="font-size: xx-small; color: red;">(*)Required</span></label>
<select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
class="form-control" required formControlName="knw"
[class.is-invalid]="formPrepareJustification.knw.invalid && formPrepareJustification.knw.touched"
name="knw">
<option disabled>--Select committee--</option>
<option *ngFor="let nwaCommittee of nwaCommittees"
[value]="nwaCommittee.id">{{nwaCommittee.technical_committee_no}}</option>
</select>
</div>
<div class="form-group col-6">
<label><b>SL Number</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<input [class.is-invalid]="formPrepareJustification.sl.invalid && formPrepareJustification.sl.touched"
aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control one-column-input" formControlName="sl" name="sl"
placeholder="Name" type="text">
</div>
</div>

<div class="row col-12">

<div class="form-group col-6">
<label><b>Requested By</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<input
aria-describedby="inputGroup-sizing-sm" aria-label="Small"
class="form-control one-column-input" formControlName="requestedBy" ngModel="{{fullname}}" name="requestedBy"
placeholder="Name" type="text" disabled>
</div>
<div class="form-group col-6">
<label><b>Acceptance Date</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<input
[class.is-invalid]="formPrepareJustification.knwAcceptanceDate.invalid && formPrepareJustification.knwAcceptanceDate.touched"
aria-describedby="inputGroup-sizing-sm" aria-label="Small"
class="form-control one-column-input" formControlName="knwAcceptanceDate" name="knwAcceptanceDate"
placeholder="Date" type="date">
</div>
</div>

<input type="hidden" name="status" ngModel="pending" formControlName="status" value="pending">
<input type="hidden" ngModel="NA" name="remarks" formControlName="remarks" value="NA">
<div class="row col-12">
<div class="form-group col-12">
<label><b>Issues Addressed</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<textarea [class.is-invalid]="formPrepareJustification.issuesAddressed.invalid && formPrepareJustification.issuesAddressed.touched"
          aria-describedby="inputGroup-sizing-sm" aria-label="Small"
          class="form-control one-column-input" formControlName="issuesAddressed" name="issuesAddressed"
          placeholder="Name" type="text"></textarea>
</div>

</div>
<!--    <div class="row col-12">-->
<!--        <div class="form-group col-12">-->
<!--    <label>Select User To Assign To</label>-->
<!--    <ng-select  formControlName="assignedTo"  class="form-control"  name="assignedTo" >-->
<!--        <ng-option *ngFor="let user of knwSecretary" [value]="user.id" >{{user.firstName}} {{user.lastName}}</ng-option>-->
<!--    </ng-select>-->
<!--        </div>-->
<!--    </div>-->

<div class="row col-12">
<div class="form-group col-12">
<label><b>Reference Material</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
<form #demoForm="ngForm">
<file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"  fileslimit="2" accept=".pdf" ></file-upload>
<input class="form-control one-column-input" ngModel="NWA Justification"  name="DocDescription" type="hidden">
</form>
</div>
</div>

<div class="row col-12 float-right " style="margin: 3em 0 2em 0">
<button *ngIf="prepareJustificationFormGroup.valid" [disabled]="!prepareJustificationFormGroup.valid" class="btn btn-sm btn-primary float-right" type="submit">Submit</button>

</div>
</div>


</form>
<div class="row col-12 float-right " style="margin: 3em 0 2em 0">
<button *ngIf="!prepareJustificationFormGroup.valid" class="btn btn-sm btn-primary float-right"
(click)="showNotification('top','right')">Submit
</button>
</div>

</div>
</div>
</div>
</div>
</div>
</div>
</div>
