<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Requests <span class="badge badge-primary">{{nwaRequestLists.length}}</span>
                            </button></div>
                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>

    <div class="material-datatables">
        <table  class="table table-striped table-bordered table-hover" datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
            <thead>
            <tr>
                <th>#</th>
                <th class="knw">Request Number</th>
                <th class="sl">Name</th>
                <th class="sl">Phone</th>
                <th class="requestNumber">Organisation Name</th>
                <th class="knw">Subject</th>
                <th>Department</th>
                <th>Assigned To</th>
                <th>Date Submitted</th>
                <th class="action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr  *ngFor="let nwaRequestList of nwaRequestLists let i=index">
                <td>{{i+1}}</td>
                <td>{{nwaRequestList.requestNumber}}</td>
                <td>{{nwaRequestList.name}}</td>
                <td>{{nwaRequestList.phone}}</td>
                <td>{{nwaRequestList.organisationName}}</td>
                <td>{{nwaRequestList.subject}}</td>
                <td>{{nwaRequestList.departmentName}}</td>
                <td>{{nwaRequestList.tcSecAssigned}}</td>
                <td>{{nwaRequestList.submissionDate | date: 'dd/MM/yyyy' }}</td>
                <td ><a  (click)="onOpenModal(nwaRequestList,'prepareJustification')" class="btn btn-info btn-sm tooltips" data-placement="top" style="width: 130px" data-original-title="Approve">Prepare Justification</a></td>

            </tr>
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="prepareJustification" tabindex="-1" role="dialog" aria-labelledby="prepareJustificationLabel" aria-hidden="true">a
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="prepareJustificationLabel">View Standard</h3>
                    <button type="button" #closeModalUploadJustification class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                        <form (ngSubmit)="saveJustification()" [formGroup]="prepareJustificationFormGroup" class="form">
                            <div class="modal-body">
                                <div class="form-body">
                                <div class="row col-12">
                                    <div class="form-group col-6">
                                        <label><b>Meeting Date</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <input
                                                [class.is-invalid]="formPrepareJustification.dateOfMeeting.invalid && formPrepareJustification.dateOfMeeting.touched"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input" formControlName="dateOfMeeting" name="dateOfMeeting"
                                                placeholder="Date" type="date">
                                    </div>
<!--                                    <div class="form-group col-6">-->
<!--                                        <label>Department/Sector<span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
                                        <input type="hidden" aria-label="Small" aria-describedby="inputGroup-sizing-lg" class="form-control" value="{{actionRequests?.departmentId}}"
                                               formControlName="department" name="department" disabled>

<!--                                    </div>-->
                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-6">
                                        <label>KNW Committee<span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                class="form-control" required formControlName="knw"
                                                [class.is-invalid]="formPrepareJustification.knw.invalid && formPrepareJustification.knw.touched"
                                                name="knw">
                                            <option disabled>--Select committee--</option>
                                            <option *ngFor="let nwaCommittee of nwaCommittees"
                                                    [value]="nwaCommittee.id">{{nwaCommittee.title}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label><b>SL Number</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <input [class.is-invalid]="formPrepareJustification.sl.invalid && formPrepareJustification.sl.touched"
                                               aria-describedby="inputGroup-sizing-sm" aria-label="Small" class="form-control one-column-input" formControlName="sl" name="sl"
                                               placeholder="Name" type="text">
                                    </div>
                                </div>

                                <div class="row col-12">

                                    <div class="form-group col-6">
                                        <label><b>Requested By</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <input
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input" formControlName="requestedBy" value="{{actionRequests?.name}}" name="requestedBy"
                                                placeholder="Name" type="text" disabled>
                                    </div>
                                    <div class="form-group col-6">
                                        <label><b>Acceptance Date</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <input
                                                [class.is-invalid]="formPrepareJustification.acceptanceDate.invalid && formPrepareJustification.acceptanceDate.touched"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input" formControlName="acceptanceDate" name="acceptanceDate"
                                                placeholder="Date" type="date">
                                    </div>
                                </div>
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <label><b>Issues Addressed</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>
                                        <textarea [class.is-invalid]="formPrepareJustification.issuesAddressed.invalid && formPrepareJustification.issuesAddressed.touched"
                                                  aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                  class="form-control one-column-input" formControlName="issuesAddressed" name="issuesAddressed"
                                                  placeholder="Name" type="text"></textarea>
                                    </div>

                                </div>
                                    <input type="hidden" value="{{actionRequests?.id}}" formControlName="requestId" name="requestId" >
                                <!--    <div class="row col-12">-->
                                <!--        <div class="form-group col-12">-->
                                <!--    <label>Select User To Assign To</label>-->
                                <!--    <ng-select  formControlName="assignedTo"  class="form-control"  name="assignedTo" >-->
                                <!--        <ng-option *ngFor="let user of knwSecretary" [value]="user.id" >{{user.firstName}} {{user.lastName}}</ng-option>-->
                                <!--    </ng-select>-->
                                <!--        </div>-->
                                <!--    </div>-->

                                <!--<div class="row col-12">-->
                                <!--<div class="form-group col-12">-->
                                <!--<label><b>Reference Material</b><span style="font-size: xx-small; color: red;">(*)Required</span></label>-->
                                <!--<form #demoForm="ngForm">-->
                                <!--<file-upload [(ngModel)]="uploadedFiles" name="uploadedFiles"  fileslimit="2" accept=".pdf" ></file-upload>-->
                                <!--<input class="form-control one-column-input" ngModel="NWA Justification"  name="DocDescription" type="hidden">-->
                                <!--</form>-->
                                <!--</div>-->
                                <!--</div>-->
                                    <div class="row col-12 float-right modal-footer">
                                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
                                        <button *ngIf="prepareJustificationFormGroup.valid" [disabled]="!prepareJustificationFormGroup.valid" class="btn btn-sm btn-primary float-right" type="submit">Submit</button>
                                    </div>

                            </div>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>