<h2 mat-dialog-title>Bill Limit</h2>
<mat-dialog-content>
    <div class="form-group row" [formGroup]="form">
        <div class="col-sm-12 col-md-6">
            <label for="billType" class="waiver-form-label">Bill Type</label>
            <input id="billType" name="billType" class="waiver-form-input-master"
                   formControlName="billType" type="text"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="corporateType" class="waiver-form-label">Corporate Type</label>
            <select id="corporateType" class="waiver-form-input-master" formControlName="corporateType">
                <option value="" disabled selected>Select type</option>
                <option *ngFor="let d of billTypes" [value]="d.name">{{d.description}}</option>
            </select>
            <span class="error"
                  *ngIf="(form.get('corporateType').touched && !form.get('corporateType').value) ||  form.get('corporateType').invalid">Please select corporate type</span>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="billReceiptPrefix" class="waiver-form-label">Receipt Prefix</label>
            <input id="billReceiptPrefix" name="billReceiptPrefix" class="waiver-form-input-master"
                   formControlName="billReceiptPrefix" type="text"/>
        </div>

        <div class="col-sm-12 col-md-6">
            <label for="billDateType" class="waiver-form-label">Billing Date</label>
            <select id="billDateType" class="waiver-form-input-master" formControlName="billDateType">
                <option value="" disabled selected>Select type</option>
                <option *ngFor="let d of billingSchedule" [value]="d.name">{{d.description}}</option>
            </select>
            <span class="error"
                  *ngIf="(form.get('billDateType').touched && !form.get('billDateType').value) ||  form.get('billDateType').invalid">Please select bill type</span>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="billPaymentDay" class="waiver-form-label">Bill Payment Allowance(Days after which penalty will
                be applied)</label>
            <input id="billPaymentDay" name="billPaymentDay" class="waiver-form-input-master"
                   formControlName="billPaymentDay" type="text"/>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="form.value.billDateType=='DATE_RANGE'">
            <label for="billStartDate" class="waiver-form-label">Bill Start date</label>
            <input id="billStartDate" name="billStartDate" class="waiver-form-input-master"
                   formControlName="billStartDate" type="number"/>
        </div>
        <div class="col-sm-12 col-md-6" *ngIf="form.value.billDateType=='DATE_RANGE'">
            <label for="billEndDay" class="waiver-form-label">Bill End date</label>
            <input id="billEndDay" name="billEndDay" class="waiver-form-input-master"
                   formControlName="billEndDay" type="number"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="penaltyType" class="waiver-form-label">Penalty type</label>
            <select id="penaltyType" class="waiver-form-input-master" formControlName="penaltyType">
                <option value="" disabled selected>Select Status</option>
                <option *ngFor="let d of penaltyTypes" [value]="d.name">{{d.description}}</option>
            </select>
            <span class="error"
                  *ngIf="(form.get('penaltyType').touched && !form.get('penaltyType').value) ||  form.get('penaltyType').invalid">Please select penalty type status is required</span>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="penaltyAmount" class="waiver-form-label">Penalty</label>
            <input id="penaltyAmount" name="penaltyAmount" class="waiver-form-input-master"
                   formControlName="penaltyAmount" type="text"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="maxBillAmount" class="waiver-form-label">Max Bill Amount</label>
            <input id="maxBillAmount" name="maxBillAmount" class="waiver-form-input-master"
                   formControlName="maxBillAmount" type="number"/>
        </div>
        <div class="col-sm-12 col-md-6">
            <label for="status" class="waiver-form-label">Bill Type Status</label>
            <select id="status" class="waiver-form-input-master" formControlName="status">
                <option value="" disabled selected>Select Status</option>
                <option *ngFor="let d of cfsStatuses" [value]="d.name">{{d.description}}</option>
            </select>
            <span class="error"
                  *ngIf="(form.get('status').touched && !form.get('status').value) ||  form.get('status').invalid">Please select client status is required</span>
        </div>
        <mat-error *ngIf="message">
            {{message}}
        </mat-error>
    </div>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="btn-group btn-group pull-right" role="group" aria-label="Foreign COC/COR Buttons">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <button [disabled]="form.invalid || loading" name="submit" type="button" class="btn btn-primary"
                (click)="saveBillLimit()">
            {{this.data ? 'UPDATE' : 'SAVE'}}
            <mat-spinner [diameter]="20" color="warn" *ngIf="loading"></mat-spinner>
        </button>
    </div>
</mat-dialog-actions>
