<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">C</i>
                        </div>
                        <h4 class="card-title">Certificate of Roadworthiness</h4>

                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div widget class=" border-0 box-shadow">
                                    <div class="text-center pt-2" style="color: green;">
                                        CD Standard Details
                                    </div>
                                    <div class="card-body pt-0 widget-body">
                                        <table class="table-responsive">
                                            <th>
                                                Application Ref Number
                                            </th>
                                            <tr>
                                                <td>#565633</td>
                                            </tr>
                                            <th>
                                                Application Date
                                            </th>
                                            <tr>
                                                <td>16-08-2021</td>
                                            </tr>
                                            <th>
                                                Declaration Number
                                            </th>
                                            <tr>
                                                <td>DCR893093</td>
                                            </tr>
                                            <th>
                                                UCR Number
                                            </th>
                                            <tr>
                                                <td>UCR89390930</td>
                                            </tr>
                                            <th>
                                                Application Type
                                            </th>
                                            <tr>
                                                <td>Consignment Document</td>
                                            </tr>
                                            <th>
                                                Document Type
                                            </th>
                                            <tr>
                                                <td>PERMIT</td>
                                            </tr>
                                            <th>
                                                Assigned Officer
                                            </th>
                                            <tr>
                                                <td>Randy Inspection Officer</td>
                                            </tr>
                                            <th>
                                                Approval Status
                                            </th>
                                            <tr>
                                                <td>LOCAL COC GENERATED</td>
                                            </tr>

                                            <th>
                                                Approval Date
                                            </th>
                                            <tr>
                                                <td>
                                                    2021-08-13</td>
                                            </tr>
                                            <th>
                                                Final Approval Date
                                            </th>
                                            <tr>
                                                <td>
                                                    2021-08-13</td>
                                            </tr>
                                            <th>
                                                Version No
                                            </th>
                                            <tr>
                                                <td>
                                                    1</td>
                                            </tr>
                                        </table>
                                    </div>

                                </div>
                            </div>
                            <div class="col-md-8">

                                <!-- <div class="d-flex"> -->
                                <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">

                                    <li ngbNavItem="cor-details">
                                        <a ngbNavLink>CoR Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Certificate Of Roadworthiness Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">COR NUMBER</div>
                                                    <div class="list-text-accordion">KEBSCOC20210813492B4</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">UCR NUMBER</div>
                                                    <div class="list-text-accordion">UCR202100129992</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">RFC DATE</div>
                                                    <div class="list-text-accordion">2021-08-13 14:41:56.396956</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">COR ISSUE DATE</div>
                                                    <div class="list-text-accordion">2021-08-13 14:41:56.396965</div>
                                                </li>
                                                
                                            </ul>
                                        </ng-template>
                                    </li>
                                
                                    <li ngbNavItem="exporter">
                                        <a ngbNavLink>Exporter Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Exporter Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Name</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 1</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Address 2</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Email</div>
                                                    <div class="list-text-accordion">test@gmail.com</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                  
                                    <li ngbNavItem="inspection-details">
                                        <a ngbNavLink>Inspection Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Inspection Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Inspection Center</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Inspection Date</div>
                                                    <div class="list-text-accordion">2020-12-12 03:00:00.0</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country Of Supply</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Application Booking Date</div>
                                                    <div class="list-text-accordion">2020-06-01 03:00:00.0</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Inspection Remarks</div>
                                                    <div class="list-text-accordion">OK</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                   
                                    <li ngbNavItem="motor-vehicle-details">
                                        <a ngbNavLink>Motor Vehicle Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Motor Vehicle Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Make</div>
                                                    <div class="list-text-accordion">Toyota</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Model</div>
                                                    <div class="list-text-accordion">Vitz</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Chassis Number</div>
                                                    <div class="list-text-accordion">CHASS9012207</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Chassis/VIN Number</div>
                                                    <div class="list-text-accordion">CHASS9012207</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Engine Number/Model</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Engine Capacity</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Year of Manufacture</div>
                                                    <div class="list-text-accordion">2014</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Year of First Registration</div>
                                                    <div class="list-text-accordion">2015</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Inspection Mileage</div>
                                                    <div class="list-text-accordion">15000</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Units Of Mileage</div>
                                                    <div class="list-text-accordion">KM</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Previous Registration Number</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Previous Country Of Registration</div>
                                                    <div class="list-text-accordion">test</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Tare Weight</div>
                                                    <div class="list-text-accordion">1000</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Load Capacity</div>
                                                    <div class="list-text-accordion">1000</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Gross Weight</div>
                                                    <div class="list-text-accordion">1000</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Number Of Axles</div>
                                                    <div class="list-text-accordion">5</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Type Of Vehicle</div>
                                                    <div class="list-text-accordion">Hatchback</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Number Of Passengers</div>
                                                    <div class="list-text-accordion">5</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Body Color</div>
                                                    <div class="list-text-accordion">Black</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Fuel Type</div>
                                                    <div class="list-text-accordion">Petrol</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                   
                                </ul>

                                <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                <!-- </div>  -->
                            </div>
                            <div class="col-md-2">
                                <h5>Action:</h5>
                                <h5>Documents:</h5>
                                <button class="btn btn-sm btn-primary" (click)="downloadCorFile()">CoR Certificate File </button>
                               
                            </div>
                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>