<h2 class="welcome">
  Welcome Back
</h2>
<form (ngSubmit)="onClickLogin(loginForm.valid)" [formGroup]="loginForm" action="" class="form"
      enctype="multipart/form-data" method="post">
  <p class="input-placeholder">
    Email or Mobile Number
  </p>
  <input class="login-form-inputs" formControlName="username" id="username" name="username"
         placeholder="The username"
         required="required" type="text">
  <p class="input-placeholder">
    Password
  </p>
  <input class="login-form-inputs" formControlName="password" id="password" name="password"
         required="required"
         type="password">
  <p></p>
  <button class="login-button" type="submit" value="">LOG IN</button>


</form>

<br>
<a class="reset-credentials" href="#">Forgot Username / Password</a>
<br>
<a class="reset-credentials" href="#" routerLink="/register">Sign Up</a>
