<!DOCTYPE html>
<div th:replace="fragments/general-form.html :: headerfiles" ></div>
<body>
<div th:replace="fragments/general-form.html :: dashboard-page" ></div>
<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar" ></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <div th:replace="fragments/general-form.html :: alerts-bar"></div>
                    <div class="content-row">
                        <h1>Quality Assurance<span></span></h1>
                        <div>
                            <div class="d-block mt-4">
                                <div class="row w-100">

                                    <div class="col-lg-6 mb-4" th:each="permitType : ${permitTypes}">

                                        <div class="card h-100">
                                            <img th:src="${permitType.image}" class="card-img-top"
                                                 style="width: 100px; height:100px; margin-left: 10px">
                                            <div class="card-body">
                                                <div class="card-title">
                                                    <h3 th:text="${permitType.mark}"></h3>
                                                </div>
                                                <div class="card-text">
                                                    <p th:text="${permitType.descriptions}"></p>
                                                </div>

                                            </div>
                                            <div class="card-footer">
                                                <a th:href="@{/api/qa/permits-list(permitTypeID = ${permitType.id})}"
                                                   style="font-size: 20px; color: #0c0c0c!important;font-weight: bold">Go to Application</a>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </section>
    </div>


</div>
<script>
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>
</body>
