<!DOCTYPE html>
<!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Wed Mar 18 2020 20:03:10 GMT+0000 (Coordinated Universal Time)  -->
<html data-wf-page="5e70fb3a565ebdc05ddb37cf" data-wf-site="5e70fb3a565ebd99c1db37ce"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <title>KEBS</title>
    <th:block th:include="fragments/general-form.html:: headerfiles"/>
</head>
<body>
<div id="spinnerContainer">
    <div class="spinner"></div>
</div>
<div th:replace="fragments/general-form.html :: dashboard-page"></div>

<div class="dashboard-body">
    <div th:replace="fragments/general-form.html :: side-navigation-bar"></div>
    <div class="main-area">
        <div th:replace="fragments/general-form.html :: content-navigation-bar"></div>
        <section class="dashboard-content">
            <div class="content-wrap">
                <div class="content-container">
                    <h5 style="font-weight: bold; color: #0082f3; font-size: 14px"><u>Sample Submission Details</u></h5>
                    <div class="content-block">
                        <div class="content-block-parent" style="flex: 0 75%">

                            <div class="sticky" style="margin-bottom: 30px">
<!--                                <h6 class="h3-blue" style="font-weight: bold; color: #0082f3; font-size: 16px">SSF DETAILS</h6>-->
                                <div class="applicant_details_container">
                                    <div class="detail-list application_details">
                                        <ul class="w-list-unstyled">
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">SSF NO:</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.ssfNo}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">SSF SUBMISSION DATE:
                                                </div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.ssfSubmissionDate}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">BS NUMBER
                                                </div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.bsNumber}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">BRAND NAME:</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.brandName}"></div>
                                            </li>

                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">PRODUCT DESCRIPTION</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.productDescription}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">SAMPLE STATUS:</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.sampleStatus}"></div>
                                            </li>
                                            <li class="list-item-accordion">
                                                <div class="list-title-accordion">RESULTS DATE:</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.resultsDate}"></div>
                                            </li>
                                            <!--                                            <li th:if="${ssfDetails?.labReportFileId != null}"-->
                                            <!--                                                class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">VIEW ATTACHED PDF RESULTS:</div>-->
                                            <!--                                                <div class="list-text-accordion"><a-->
                                            <!--                                                        th:href="@{/api/qa/kebs/view/attached(fileID=${ssfDetails.labReportFileId})}"-->
                                            <!--                                                        target='_blank' class="btn btn-primary itemViewBtn">VIEW</a>-->
                                            <!--                                                </div>-->
                                            <!--                                            </li>-->
                                            <li th:if="${ssfDetails?.resultsAnalysis != null}"
                                                class="list-item-accordion">
                                                <div class="list-title-accordion">RESULTS ANALYSIS:</div>
                                                <div class="list-text-accordion"
                                                     th:text="${ssfDetails?.resultsAnalysis} ? 'COMPLIANT' : 'NOT-COMPLIANT'"></div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="application_reports">
                                        <ul class="w-list-unstyled">
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">Total No. of Personnel:</div>-->
                                            <!--                                                <div class="list-text-accordion"-->
                                            <!--                                                     th:text="${ssfDetails?.totalNumberPersonnel}"></div>-->
                                            <!--                                            </li>-->
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">Total No. of Female:</div>-->
                                            <!--                                                <div class="list-text-accordion"-->
                                            <!--                                                     th:text="${ssfDetails?.totalNumberFemale}"></div>-->
                                            <!--                                            </li>-->
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">Total No. of Male:</div>-->
                                            <!--                                                <div class="list-text-accordion"-->
                                            <!--                                                     th:text="${ssfDetails?.totalNumberMale}"></div>-->
                                            <!--                                            </li>-->
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">No. of Permanent Employees:</div>-->
                                            <!--                                                <div class="list-text-accordion"-->
                                            <!--                                                     th:text="${ssfDetails?.totalNumberPermanentEmployees}"></div>-->
                                            <!--                                            </li>-->
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">No of Casual Employee:</div>-->
                                            <!--                                                <div class="list-text-accordion"-->
                                            <!--                                                     th:text="${ssfDetails?.totalNumberCasualEmployees}"></div>-->
                                            <!--                                            </li>-->
                                            <!--                                            <li class="list-item-accordion">-->
                                            <!--                                                <div class="list-title-accordion">Physical Location (attach Google-->
                                            <!--                                                    Map)-->
                                            <!--                                                </div>-->
                                            <!--                                                <div class="list-text-accordion"><a class="btn btn-primary itemViewBtn"-->
                                            <!--                                                                                    target='_blank'-->
                                            <!--                                                                                    th:href="${cdDetails?.physicalLocationMap}">view</a>-->
                                            <!--                                                </div>-->
                                            <!--                                            </li>-->
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <button class="accordion" >Lab Results Details</button>
                            <div class="panel">
                                <div class="row-table ">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <!--                                            <th>Sample Number</th>-->
                                            <th>Parameter</th>
                                            <th>Result</th>
                                            <th>Method</th>
                                            <!--                                            <th>View</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="fileParam: ${LabResultsParameters}"
                                            style="cursor: pointer">

                                            <!--                                            <td th:text="${fileParam.sampleNumber}"></td>-->
                                            <td th:text="${fileParam.param}"></td>
                                            <td th:text="${fileParam.result}"></td>
                                            <td th:text="${fileParam.method}"></td>
                                            <!--                                            <td><a th:href="@{/api/qa/kebs/view/attached(fileID=${fileParam.id})}" target='_blank' class="btn btn-primary itemViewBtn">view</a></td>-->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button class="accordion">Lab Results PDFS Details Found</button>
                            <div class="panel">
                                <div class="row-table ">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <!--                                            <th>Sample Number</th>-->
                                            <th>PDF-Name</th>
                                            <!--                                            <th>Result</th>-->
                                            <th>view</th>
                                            <th>SAVE</th>
                                            <!--                                            <th>View</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="pdfFound: ${foundPDFFiles}" style="cursor: pointer">

                                            <!--                                            <td th:text="${fileParam.sampleNumber}"></td>-->
                                            <td th:text="${pdfFound}"></td>
                                            <!--                                            <td th:text="${fileParam.result}"></td>-->
                                            <!--                                            <td th:text="${fileParam.method}"></td>-->
                                            <td>
                                                <a th:href="@{/api/qa/kebs/view/attached-lab-pdf(fileName=${pdfFound}, bsNumber=${ssfDetails?.bsNumber})}"
                                                   target='_blank' class="btn btn-primary itemViewBtn">view</a></td>
                                            <td>
                                                <a th:href="@{/api/qa/kebs/selected/attached-lab-pdf(fileName=${pdfFound}, bsNumber=${ssfDetails?.bsNumber}, ssfID=${ssfDetails?.id})}"
                                                   class="btn btn-primary itemViewBtn">SAVE</a></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                            <button class="accordion">Lab Results PDFS Details Saved On KIMS</button>
                            <div class="panel">
                                <div class="row-table ">
                                    <table class="table table-striped">
                                        <thead>
                                        <tr>
                                            <!--                                            <th>Sample Number</th>-->
                                            <th>PDF-ID</th>
                                            <th>PDF-Name</th>
                                            <th>Compliance Status</th>
                                            <th>View Remarks</th>
                                            <th>View PDF</th>
                                            <th sec:authorize="hasAuthority('QA_OFFICER_MODIFY')">Action</th>
                                            <!--                                            <th>View</th>-->
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="list" th:each="pdfSaved: ${savedPDFFiles}" style="cursor: pointer">

                                            <td class="nr" th:text="${pdfSaved?.id}"></td>
                                            <td th:text="${pdfSaved?.pdfName}"></td>
                                            <td th:if="${pdfSaved?.complianceStatus == null}"
                                                th:text="'NO COMPLIANT STATUS PICKED YET'"></td>
                                            <td th:if="${pdfSaved?.complianceStatus != null}"
                                                th:text="${pdfSaved?.complianceStatus} ? 'COMPLIANT' : 'NOT-COMPLIANT'"></td>
                                            <td>
                                                <button onclick="popUpViewRemarksFunction('viewComplianceRemarksDetails', this);"
                                                        type="button"
                                                        id="addMyComplianceRemark"
                                                        th:value="${pdfSaved?.complianceRemarks}"
                                                        class="btn btn-primary itemViewBtn">VIEW
                                                </button>
                                            </td>
                                            <td>
                                                <a th:href="@{/api/qa/kebs/view/lab-pdf(fileID=${pdfSaved.pdfSavedId})}"
                                                   target='_blank' class="btn btn-primary itemViewBtn">VIEW</a></td>
                                            <td th:if="${pdfSaved?.sentToManufacturerStatus != 1}"
                                                sec:authorize="hasAuthority('QA_OFFICER_MODIFY')">
                                                <button onclick="popUpCompanyFunction('addComplianceStatusDetails', this);"
                                                        type="button"
                                                        id="addMyCompliance" th:value="${pdfSaved?.id}"
                                                        class="btn btn-primary itemViewBtn">ADD COMPLIANCE
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>

                        </div>

                        <div class="filter-block">
                            <div class="filter-block-title">
                                <div class="filter-title">Document Details:</div>
                            </div>
                            <div>
                                <!--                            <a th:if="${permitType?.st3Status == 1 and ssfDetails?.sta3FilledStatus == 1}" target='_blank' th:href="@{/api/qa/view-sta3(permitID=${ssfDetails?.id})}" class="filter-link" style="color: white">STA 3</a>-->
                            </div>
                            <div class="filter-block-title">
                                <div class="filter-title">Action:</div>
                            </div>
                            <div>

                                <div sec:authorize="hasAuthority('QA_OFFICER_MODIFY')">
                                    <!--                                    <a th:if="${ssfDetails.labResultsStatus == 0}" th:href="@{/api/qa/inspection/check-results(bsNumber=${ssfDetails?.bsNumber})}" class="filter-link" style="color: white">CHECK RESULTS</a>-->
                                    <a onclick="popUpComplianceFunction('addComplianceStatusDetailsSSF');"
                                       class="filter-link" style="color: white">ADD COMPLIANCE DETAILS</a>
                                </div>
                            </div>
                        </div>

                        <div class="commodityDetailsForm" >
                            <form id="commodityDetails-Form" name="commodityDetails-Form"
                                  th:action="@{/api/qa/kebs/lab-results-compliance-status/save}"
                                  method="post" th:object="${complianceDetails}">
                                <div class="modal fade" id="commodityDetailsModal" tabindex="-1" role="dialog"
                                     aria-labelledby="commodityDetailsModalLable" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-weight: bold; " class="modal-title"
                                                    id="commodityDetailsLable"><span id="spanValueCommodity">none</span>
                                                </h5>
                                                <button aria-label="Close" class="close" data-dismiss="modal"
                                                        onClick="refreshPage()" type="button">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">
                                                    <div id="addComplianceStatusDetails">
                                                        <input type="hidden" id="complianceSaveID"
                                                               name="complianceSaveID">
                                                        <label for="complianceStatus" class="col-form-label">Select a
                                                            Compliance status:</label>
                                                        <select id="complianceStatus" required
                                                                class="select-field w-select"
                                                                th:field="*{complianceStatus}">
                                                            <option th:text="'Select one.....'"
                                                                    th:value="null"></option>
                                                            <option th:text="'Compliant'" th:value="1"></option>
                                                            <option th:text="'Non-Compliant'" th:value="0"></option>
                                                        </select>
                                                        <label for="complianceStatus" class="col-form-label">Select a
                                                            Compliance Remarks:</label>
                                                        <textarea name="complianceRemarks" required="required"
                                                                  id="complianceRemarks"
                                                                  class="input-field w-input" cols="65" rows="5"
                                                                  th:field="*{complianceRemarks}"></textarea>
                                                    </div>
                                                    <div id="viewComplianceRemarksDetails">
                                                        <textarea name="complianceRemarks" readonly="readonly"
                                                                  required="required"
                                                                  id="complianceRemarks"
                                                                  class="input-field w-input" cols="65"
                                                                  rows="5"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal" onClick="refreshPage()"
                                                        type="button">Close
                                                </button>
                                                <input type="submit" id="saveValueCommodity" class="btn btn-primary"
                                                       value="Save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="qaSSFForm">
                            <form id="qa-ssf-form" name="qa-ssf-form" enctype="multipart/form-data"
                                  th:action="@{/api/qa/kebs/ssf-results-compliance-status/save(ssfID = ${ssfDetails?.id})}"
                                  method="post"
                                  th:object="${SampleSubmissionDetails}">
                                <div class="modal fade" id="qaSSFModal" tabindex="-1" role="dialog"
                                     aria-labelledby="qaSSFModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 style="font-weight: bold; " class="modal-title"
                                                    id="qaSSFModalLabel"><span
                                                        id="spanSSFValue">none</span></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        onClick="refreshPage()"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="form-group">


                                                    <div id="addComplianceStatusDetailsSSF">
                                                        <label for="resultsAnalysis" class="col-form-label">Select a
                                                            Compliance status:</label>
                                                        <select id="resultsAnalysis" required
                                                                class="select-field w-select"
                                                                th:field="*{resultsAnalysis}">
                                                            <option th:text="'Select one.....'"
                                                                    th:value="null"></option>
                                                            <option th:text="'Compliant'" th:value="1"></option>
                                                            <option th:text="'Non-Compliant'" th:value="0"></option>
                                                        </select>
                                                        <label for="complianceStatus" class="col-form-label">Select a
                                                            Compliance Remarks:</label>
                                                        <textarea name="complianceRemarks" required="required"
                                                                  id="complianceRemarks"
                                                                  class="input-field w-input" cols="65" rows="5"
                                                                  th:field="*{complianceRemarks}"></textarea>
                                                    </div>

                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button class="btn btn-secondary" data-dismiss="modal"
                                                        onClick="refreshPage()"
                                                        type="button">Close
                                                </button>
                                                <input type="submit" id="saveSSfValue" class="btn btn-primary"
                                                       value="Save"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div th:replace="fragments/general-form.html :: scripts"></div>

<script>
    document.onreadystatechange = function () {
        showSpinnerOnLoad(document)
    }

    function loadSpinner() {
        showSpinner(document)
    }
</script>
<script>
    var acc = document.getElementsByClassName("accordion");
    // var btn = document.getElementsByClassName("button w-button eBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            this.style.border = "none";
            // this.style.position = "sticky"
            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                // panel.style.position = "-webkit-sticky"
                // panel.style.position = "sticky"
            }
        });
    }


</script>
<script>
    $(document).ready(function () {
        var table = $('#example').DataTable({
            lengthChange: false,
            buttons: ['copy', 'excel', 'pdf', 'colvis']
        });

        table.buttons().container()
            .appendTo('#example_wrapper .col-sm-6:eq(0)');
    });
</script>
<script>
    $(document).ready(function () {
        $("#portOfArrival").click(function () {
            let sectionId = $("#portOfArrival").val()
            // console.log(categories.length)
            if (sectionId !== 0) {
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l1-list/${sectionId}`,
                    success(response) {
                        console.log(response)
                        var s = ''
                        s += ' <option value="0">Select One...</option>';
                        for (var i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#clusterId").html(s);
                    }
                })
            }

        });

        $("#clusterId").click(function () {
            let subSectionL1Id = $("#clusterId").val()
            // console.log(categories.length)
            if (subSectionL1Id !== 0) {
                $.ajax({
                    method: "GET",
                    url: `/api/auth/sub-section-l2-list/${subSectionL1Id}`,
                    success(response) {
                        console.log(response)
                        let s = '';
                        s += ' <option value="0">Select One...</option>';
                        for (let i = 0; i < response.length; i++) {
                            // response.push('Select one')
                            s += '<option value="' + response[i].id + '">' + response[i].subSection + '</option>';
                        }
                        $("#freightStation").html(s);
                    }
                })
            }

        });
    });
</script>
<script>
    function popUpFunction(eventAction) {
        let arrHead = ['addProductsDetails', 'closeAddProducts'];
        let arrHeadSave = ['Add Products being manufactured', 'Close'];

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValuePM').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValuePM").value = 'Save';
                }
            }
        }

        $('.productsManufacturedForm #productsManufacturedModal').modal();
    }

    // $(".use-address").click(function() {
    //     var $row = $(this).closest("tr");    // Find the row
    //     var $text = $row.find(".nr").text(); // Find the text
    //
    //     // Let's test it out
    //     alert($text);
    // // });
    function popUpCompanyFunction(eventAction, paramID) {
        let arrHead = ['addComplianceStatusDetails', 'viewComplianceRemarksDetails'];
        let arrHeadSave = ['Add Compliance status', 'View Compliance Remarks'];
        let paramValue = paramID.value
        console.log(paramValue);


        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueCommodity').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValueCommodity").value = 'Submit';
                    document.getElementById('complianceSaveID').value = paramValue;
                }
            }
        }

        $('.commodityDetailsForm #commodityDetailsModal').modal();
    }

    function popUpComplianceFunction(eventAction) {
        let arrHead = ['addComplianceStatusDetails'];
        let arrHeadSave = ['Add Compliance status'];

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueCommodity').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValueCommodity").value = 'Submit';
                }
            }
        }

        $('.qaSSFForm #qaSSFModal').modal();
    }

    function popUpViewRemarksFunction(eventAction, paramID) {
        let arrHead = ['addComplianceStatusDetails', 'viewComplianceRemarksDetails'];
        let arrHeadSave = ['Add Compliance status', 'View Compliance Remarks'];
        let paramValue = paramID.value
        console.log(paramValue);

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueCommodity').innerHTML = arrHeadSave[h];
                    document.getElementById("complianceRemarks").value = paramValue;
                    // document.getElementById("saveValueCommodity").remove();
                }
            }
        }

        $('.commodityDetailsForm #commodityDetailsModal').modal();
    }

    function popUpFunctionAddRawMaterials(eventAction) {
        let arrHead = ['addRawMaterialsDetails', 'closeAddRawMaterialsDetails'];
        let arrHeadSave = ['Specify the type of materials and origin (attach their specification where applicable):', 'Close'];

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueRM').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValueRM").value = 'submit';
                }
            }
        }

        $('.rawMaterialsForm #rawMaterialsFormModal').modal();
    }

    function popUpFunctionAddMachinePlants(eventAction) {
        let arrHead = ['addMachinePlantDetails', 'closeAddMachinePlantDetails'];
        let arrHeadSave = ['ADD Machinery and Plant Details', 'Close'];

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueMP').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValueMP").value = 'submit';
                }
            }
        }

        $('.machinePlantForm #machinePlantFormModal').modal();
    }

    function popUpFunctionAddManufactureProcessDetails(eventAction) {
        let arrHead = ['addManufactureProcessDetails', 'closeAddManufactureProcessDetails'];
        let arrHeadSave = ['ADD Manufacturing process', 'Close'];

        for (let h = 0; h < arrHead.length; h++) {
            if (eventAction !== arrHead[h]) {
                document.getElementById(arrHead[h]).remove();
            } else {
                if (eventAction === arrHead[h]) {
                    document.getElementById('spanValueMFP').innerHTML = arrHeadSave[h];
                    document.getElementById("saveValueMFP").value = 'submit';
                }
            }
        }

        $('.manufacturingProcessForm #manufacturingProcessFormModal').modal();
    }

    function refreshPage() {
        window.location.reload();
    }
</script>
</body>
</html>


