<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">Loading...</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row" >

                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-warning card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">verified</i>
                            </div>
                            <p class="card-category">Applications</p>

                        </div>
                        <div class="card-footer">
                            <div class="stats col-12">
                                <div class="row align-items-center mb-2 d-flex col-12">
                                    <div class="col-8">
                                        <h4 class="d-flex align-items-center mb-0">
                                            <a href="slApplications" style="color: orangered">Go</a>
                                        </h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="slApplications" style="color: orangered"><span> <i class="fa fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">verified</i>
                            </div>
                            <p class="card-category">Tasks</p>

                        </div>
                        <div class="card-footer">
                            <div class="stats col-12">
                                <div class="row align-items-center mb-2  d-flex col-12">
                                    <div class="col-8">
                                        <h4 class="d-flex align-items-center mb-0">
                                            <a href="slPendingTasks" style="color: dodgerblue">Go</a>
                                        </h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <a href="slPendingTasks" style="color: dodgerblue"><span> <i class="fa fa-arrow-right"></i></span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">verified</i>
                            </div>
                            <p class="card-category">Complete Tasks</p>
                            <h3 class="card-title">{{manufactureCompleteTasks.length}}</h3>
                        </div>
                        <div class="card-footer">
                            <div class="stats col-12">
                                <div class="row align-items-center mb-2 d-flex col-12">
                                    <div class="col-8">
                                        <h4 class="d-flex align-items-center mb-0">
                                            <span style="color: seagreen">Go</span>
                                        </h4>
                                    </div>
                                    <div class="col-4 text-right">
                                        <span style="color: seagreen"> <i class="fa fa-arrow-right"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>

                            </div>

                            <div class="card-title float-left"><h4 style="color: #0d47a1; font-weight: bold">Complete Tasks</h4></div>
                            <div class="card-title float-right"><button type="button" class="btn btn-sm btn-outline-warning">
                                Tasks <span class="badge badge-primary">{{manufactureCompleteTasks.length}}</span>
                            </button></div>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="container col-md-12">
                                <div class="material-datatables table-responsive col-md-12">
                                    <table class="table table-striped table-bordered table-hover" datatable
                                           [dtTrigger]="dtTrigger">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="knw">Company Name</th>
                                            <th class="sl">Entry Number</th>
                                            <th class="knw">Kra Pin</th>
                                            <th class="sl">Registration Number</th>
<!--                                            <th class="requestNumber">Status</th>-->
                                            <th class="requestNumber">Action</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor="let manufactureCompleteTask of manufactureCompleteTasks let i=index">
                                            <td >{{i+1}} </td>
                                            <td>{{manufactureCompleteTask.companyName}}</td>
                                            <td>{{manufactureCompleteTask.entryNumber}}</td>
                                            <td>{{manufactureCompleteTask.kraPin}}</td>
                                            <td>{{manufactureCompleteTask.registrationNumber}}</td>
<!--                                            <td *ngIf="manufactureCompleteTask.status==0"><span class="badge badge-info" style="width: 94px;">Active</span></td>-->
<!--                                            <td *ngIf="manufactureCompleteTask.status==2"><span class="badge badge-default" style="width: 94px;">Suspended</span></td>-->
<!--                                            <td *ngIf="manufactureCompleteTask.status==1"><span class="badge badge-info" style="width: 94px;">Closed</span></td>-->
<!--                                            <td *ngIf="manufactureCompleteTask.status==4"><span class="badge badge-warning" style="width: 94px;">In-Active</span></td>-->
                                            <td><button (click)="onOpenModalComplete(manufactureCompleteTask,'viewComplete')" type="submit" class="btn btn-success btn-sm" style="border-radius: 40px;">More</button></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal fade" id="viewComplete" tabindex="-1" role="dialog" aria-labelledby="viewCompleteExampleModalLabel" aria-hidden="true">a
                                    <div class="modal-dialog modal-lg" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="viewCompleteExampleModalLabel">Completed Site Visit</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <nav>
                                                    <div class="nav nav-tabs nav-fill" id="nav-tabs-complete" role="tablist">
                                                        <a class="nav-item nav-link active" id="nav-complete-tab" data-toggle="tab" href="#nav-comData-complete" role="tab" aria-controls="nav-com" aria-selected="true">Company Details</a>
                                                        <a class="nav-item nav-link" id="nav-report-tab-complete" data-toggle="tab" href="#nav-comReport-complete" role="tab" aria-controls="nav-report" aria-selected="false">Site Visit Report</a>
                                                        <a class="nav-item nav-link" id="nav-remarks-tab-complete" data-toggle="tab" href="#nav-comRemarks-complete" (click)=toggleDisplayRemarksTab(actionRequestComplete?.visitId) role="tab" aria-controls="nav-remarks" aria-selected="false">Remarks</a>
                                                        <a class="nav-item nav-link" id="nav-report-tab-doc" data-toggle="tab" href="#nav-comRemarks-doc" (click)=toggleDisplayDocuments(actionRequestComplete?.visitId) role="tab" aria-controls="nav-remarkss" aria-selected="false">View Documents</a>
                                                    </div>
                                                </nav>
                                                <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContents-complete">
                                                    <div class="tab-pane fade show active" id="nav-comData-complete" role="tabpanel" aria-labelledby="nav-complete-tab">
                                                        <div class="list-group list-group-flush">
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Company Name</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.companyName}}.</p>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>KRA PIN</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.kraPin}}.</p>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Registration Number</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.registrationNumber}}.</p>
                                                                    </a>
                                                                </div>

                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Postal Address</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.postalAddress}}.</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Physical Address</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.physicalAddress}}.</p>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Plot Number</b></h5>
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.plotNumber}}.</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Company Email</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.companyEmail}}.</p>
                                                                    </a>
                                                                </div>

                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Company Telephone</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.companyTelephone}}.</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Yearly Turn-Over</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <!--                                <h4 class="mt-3 mb-1"> New order for Argon Dashboard</h4>-->
                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.yearlyTurnOver}}.</p>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Business Lines</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.businessLines}}.</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Nature of Business</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.businessNature}}.</p>
                                                                    </a>
                                                                </div>

                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Branch Name</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.branchName}}.</p>
                                                                    </a>
                                                                </div>
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Street Name</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.streetName}}.</p>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div class="row col-12">
                                                                <div class="form-group col-12">
                                                                    <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                        <div class="d-flex w-100 justify-content-between">
                                                                            <div>
                                                                                <div class="d-flex w-100 align-items-center">
                                                                                    <h5 class="mb-1" style="color: #0d0505"><b>Director's ID Number</b></h5>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <p class="text-sm mb-0">{{actionRequestComplete?.directorIdNumber}}.</p>
                                                                    </a>
                                                                </div>

                                                            </div>


                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-comReport-complete" role="tabpanel" aria-labelledby="nav-report-tab-complete">
                                                        <div class="row col-12">
                                                            <div class="list-group list-group-flush">
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Visit Date</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.visitDate}}.</p>
                                                                </a>
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Purpose</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.purpose}}.</p>
                                                                </a>
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Person Met</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.person}}.</p>
                                                                </a>
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Action Taken</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>

                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.actionTaken}}.</p>
                                                                </a>
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Remarks on Visit</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.reportRemarks}}.</p>
                                                                </a>
                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                    <div class="d-flex w-100 justify-content-between">
                                                                        <div>
                                                                            <div class="d-flex w-100 align-items-center">
                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Feed back report</b></h5>
                                                                            </div>
                                                                        </div>

                                                                    </div>


                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.officersFeedback}}.</p>
                                                                </a>
<!--                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">-->
<!--                                                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                                                        <div>-->
<!--                                                                            <div class="d-flex w-100 align-items-center">-->
<!--                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Assistant Manager Comments</b></h5>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->

<!--                                                                    </div>-->


<!--                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.asstManagerRemarks}}.</p>-->
<!--                                                                </a>-->
<!--                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">-->
<!--                                                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                                                        <div>-->
<!--                                                                            <div class="d-flex w-100 align-items-center">-->
<!--                                                                                <h5 class="mb-1" style="color: #0d0505"><b>Manager Comments</b></h5>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->

<!--                                                                    </div>-->


<!--                                                                    <p class="text-sm mb-0">{{actionRequestComplete?.chiefManagerRemarks}}.</p>-->
<!--                                                                </a>-->
<!--                                                                <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">-->
<!--                                                                    <div class="d-flex w-100 justify-content-between">-->
<!--                                                                        <div>-->
<!--                                                                            <div class="d-flex w-100 align-items-center">-->
<!--                                                                                <h5 class="mb-1" style="color: #0d0505"><b>View Attached Document</b></h5>-->
<!--                                                                            </div>-->
<!--                                                                        </div>-->

<!--                                                                    </div>-->

<!--                                                                    <button mat-raised-button type="button" data-toggle="modal"-->
<!--                                                                            (click)="viewPdfFile( actionRequestComplete?.visitId,'VisitReport'+actionRequestComplete?.visitId, 'application/pdf')" target="_blank" class="btn btn-info btn-sm ">-->
<!--                                                                        <i class="material-icons">visibility</i>-->

<!--                                                                    </button>-->
<!--                                                                </a>-->

                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane fade" id="nav-comRemarks-complete" role="tabpanel" aria-labelledby="nav-remarks-tab-complete">
                                                        <div class="container col-md-12" [hidden]="isShowRemarksTab">
                                                            <div class="col-12">
                                                                <div class="card" *ngFor="let siteVisitRemark of siteVisitRemarks">
                                                                    <div class="card-header">
                                                                        <span class="badge badge-info">{{siteVisitRemark.status}}</span> By {{siteVisitRemark.remarkBy}} On {{siteVisitRemark.dateOfRemark | date: 'dd/MM/yyyy hh:mm:ss'}}
                                                                    </div>
                                                                    <div class="card-body">
                                                                        <blockquote class="blockquote mb-0">
                                                                            <p>Remark: {{siteVisitRemark.remarks}}.</p>
                                                                            <footer class="blockquote-footer">Role: <cite title="Source Title">{{siteVisitRemark.role}}</cite></footer>
                                                                        </blockquote>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>

                                                    </div>
                                                    <div class="tab-pane fade" id="nav-comRemarks-doc" role="tabpanel" aria-labelledby="nav-remarks-tab-doc">
                                                        <div class="container col-md-12" [hidden]="isShowDocumentsTab">
                                                            <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                                                <div class="d-flex w-100 justify-content-between">
                                                                    <div>
                                                                        <div class="d-flex w-100 align-items-center">
                                                                            <h5 class="mb-1" style="color: #0d0505"><b>View Attached Document(s)</b></h5>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </a>
                                                            <div class="col-12" *ngFor="let documentDTO of documentDTOs">
                                                                <button mat-raised-button type="button" data-toggle="modal"
                                                                        (click)="viewPdfFile( documentDTO.id,'VisitReport'+documentDTO.id, 'application/pdf')" target="_blank" class="btn btn-info btn-sm ">
                                                                    <i class="material-icons">visibility</i>

                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
