.card-title {
  color: #0066B1;
  margin: 3% 0 8% 0;
}

.card-footer {
  text-align: right;
  padding-top: 1.25em!important;
  background-color: white!important;
}


.card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
  background-color: #0066B1;
  color: white;
}

.card:hover .card-title {
  color: white;
}

.card:hover .card-footer {
  background-color: #0066B1!important;
  color: white!important;
}
