svg {
    position: fixed;
    /*margin: auto;*/
    top: calc(50vh - 253px);
    left: calc(21% - 253px);
    /*right: 0;*/
    /*bottom: 0;*/
}

.image-container {
    padding-top: 2em;
}

/*.centered {*/
/*  position: sticky;*/
/*  left: 50%;*/
/*  transform: translate(0, -50%);*/
/*  text-align: center;*/
/*  color: #ffffff;*/
/*}*/

.title {
    font-weight: bold;
    font-size: 20px;
}

.subtitle {
    font-size: 15px;
}

