<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">ID</i>
                        </div>
                        <h4 class="card-title">Item Details</h4>

                    </div>
                    <div class="card-body" *ngIf="itemDetails">
                        <div class="row">
                            <div class="col-md-3">
                                <div widget class=" border-0 box-shadow">
                                    <div class="text-center pt-2" style="color: green;">
                                        CD Standard Details
                                    </div>
                                    <div class="card-body pt-0 widget-body">
                                        <table class="table-responsive">
                                            <th>
                                                Application Ref Number
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_details.applicationRefNo}}</td>
                                            </tr>
                                            <th>
                                                Application Date
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_details.applicationDate}}</td>
                                            </tr>
                                            <th>
                                                Declaration Number
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_details.declarationNumber}}</td>
                                            </tr>
                                            <th>
                                                UCR Number
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_details.ucrNumber}}</td>
                                            </tr>
                                            <th>
                                                Application Type
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_standards.applicationTypeDescription}}</td>
                                            </tr>
                                            <th>
                                                Document Type
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_standards.documentTypeDescription}}</td>
                                            </tr>
                                            <th>
                                                Document
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_standards.documentDescription}}</td>
                                            </tr>
                                            <th>
                                                MDA
                                            </th>
                                            <tr>
                                                <td>{{itemDetails.cd_standards.mdaDescription}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <!-- <b>Action:</b> -->
                                    <!-- <button class="btn btn-sm btn-primary" >MANIFEST DOCUMENT</button> -->

                                </div>
                            </div>
                            <div class="col-md-7">

                                <!-- <div class="d-flex"> -->
                                <ul ngbNav #nav="ngbNav" [(activeId)]="activeTab" class="nav-tabs">

                                    <li ngbNavItem="declarationGeneralDetails" *ngIf="itemDetails.cd_item">
                                        <a ngbNavLink>Item Details</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Item Details</b>
                                            <ul class="w-list-unstyled">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ITEM INSPECTION DATE</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemInspectionDate}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ITEM DESCRIPTION</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemDescription}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ITEM HS CODE</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemHsCode}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">HS DESCRIPTION</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemHsCodeDescription}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PRODUCT CLASS</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.productClass}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PRODUCT CLASS DESCRIPTION</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.productClassDesc}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">QUANTITY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.quantity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">PACKAGE QUANTITY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.packageQuantity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">UNIT OF QUANTITY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.unitOfQuantity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ITEM NET WEIGHT</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemNetWeight}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">ITEM GROSS WEIGHT</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.itemGrossWeight}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">FOREIGN CURRENCY CODE</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.foreignCurrencyCode}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Unit Price NCY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.unitPriceNcy}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Total Price NCY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.totalPriceNcy}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Unit Price FCY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.unitPriceFcy}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Total Price FCY</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.totalPriceFcy}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Applicant Remarks</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.applicantRemarks}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Supplementary - Quantity</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.supplimentaryQuantity}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Country Of Origin</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.countryOfOrgin}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">Marks And Containers</div>
                                                    <div class="list-text-accordion">{{itemDetails.cd_item.marksAndContainers}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="consignorDetails" [hidden]="!(itemDetails && itemDetails.item_non_standard)">
                                        <a ngbNavLink>Item Non Standard</a>
                                        <ng-template ngbNavContent>
                                            <b class="text-primary">Item Non Standard</b>
                                            <ul class="w-list-unstyled" *ngIf="itemDetails.item_non_standard">
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">CHASIS NO</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.chassisNo}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">USED STATUS</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.usedIndicator === 1 ? 'YES' : 'NO'}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">VEHICLE YEAR</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.vehicleYear}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">VEHICLE MODEL</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.vehicleModel}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">VEHICLE MAKE</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.vehicleMake}}</div>
                                                </li>
                                                <li class="list-item-accordion">
                                                    <div class="list-title-accordion">DESCRIPTION</div>
                                                    <div class="list-text-accordion">{{itemDetails.item_non_standard.description}}</div>
                                                </li>
                                            </ul>
                                        </ng-template>
                                    </li>
                                </ul>

                                <div [ngbNavOutlet]="nav" class="ml-4"></div>
                                <!-- </div>  -->
                            </div>
                            <div class="col-md-2">
                                <b>Action:</b>
                                <button *ngIf="!itemDetails.cd_item.ministrySubmitted" class="btn btn-sm btn-primary"
                                        (click)="rejectItem()">APPROVE REJECT ITEM
                                </button>
                                <div *ngIf="itemDetails && itemDetails.cd_item.isVehicle">
                                    <button *ngIf="!itemDetails.cd_item.ministrySubmitted" class="btn btn-sm btn-primary"
                                            (click)="submitMinistryInspection()">SUBMIT MINISTRY INSPECTION
                                    </button>
                                    <button *ngIf="itemDetails.cd_item.ministrySubmitted" class="btn btn-sm btn-primary"
                                            (click)="resubmitMinistryInspection()">RE-SUBMIT MINISTRY INSPECTION
                                    </button>
                                </div>
                            </div>

                        </div>
                        <!-- end content-->
                    </div>
                    <!--  end card  -->
                </div>
                <!-- end col-md-12 -->
            </div>
            <!-- end row -->
        </div>
    </div>
</div>