<!-- <div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12" >
                <div class="card">
                   
                        <div class="text-center">
                          <h5 class="text-dark" style="text-align: left; 
                          margin-left: 20px; margin-top: 20px;">Standardization Mark Tasks</h5>
                        
                      </div>
                  <div class="card-body">
                        <div class="table-responsive">
                          
                                
                                <ul class="tabs-container">
                                  <li class="tab-link" id="task" (click)="tabChange('My Tasks')"><i class="material-icons">task</i>My Tasks</li>
                                  <li class="tab-link" id="applications" (click)="tabChange('All Applications')"><i class="material-icons">assignment</i>All Applications</li>
                                  <li class="tab-link" id="complete-applications" (click)="tabChange('Complete Applications')"><i class="material-icons">done_outline</i>Complete Applications</li>
                                </ul>
                                <div *ngIf="id == 'My Tasks'" class="w-100">

                                <app-qa-smark-tasks></app-qa-smark-tasks>

                                </div>
                                <div *ngIf="id == 'All Applications'" class="w-100">

                                    
                                </div>
                                <div *ngIf="id == 'Complete Applications'" class="w-100">
                               
                                    
                                    
                                </div>
                              
                    </div>
                </div>
            </div>
      
        </div>
    </div>
  </div>
   -->