<div class="main-content">
    <div class="container-fluid">
        
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                   
                        <div class="text-center">
                          <h5 class="text-dark" style="text-align: left; 
                          margin-left: 20px; margin-top: 20px;">Standardization Mark Tasks</h5>
                        
                      </div>
                  <div class="card-body">
                        <div class="table-responsive">
          
                                <ul class=" tabs-container nav nav-pills nav-pills-rose nav-pills-icons justify-content-center" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab"id="task" (click)="tabChange('My Tasks')">
                                            <i class="material-icons" role="tablist"></i>
                                            <i class="material-icons">task</i>My Tasks
                                        </a>
                                    </li>

                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" id="complete-applications" (click)="tabChange('Complete Applications')" role="tablist">
                                            <i class="material-icons">done_outline</i>Ongoing Applications
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" id="awarded-applications" (click)="tabChange('Awarded Applications')" role="tablist">
                                            <i class="material-icons">verified</i>Awarded Applications
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" id="expired-applications" (click)="tabChange('Expired Applications')" role="tablist">
                                            <i class="material-icons">report_problem</i>Expired Applications
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" id="applications" (click)="tabChange('All Applications')" role="tablist">
                                            <i class="material-icons">assignment</i>All Applications
                                        </a>
                                    </li>
                                </ul>




                                <div *ngIf="id == 'My Tasks'" class="w-100">

                                 
                                    <div class="main-content" style="margin-top: 1px;">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="card">
                                                        <div class="card-header card-header-icon" >
                                                            <div class="card-icon" style="background-color: #1b75bc;">
                                                                <i class="material-icons">assignment</i>
                                                            </div>
                                                            <h4 class="card-title">My Tasks</h4>
                                                        </div>
                                    
                                    
                                                        <div class="card-body">
                                                            <div class="material-datatables">
                                                                    <div class="table-responsive" >
                                                                        <ng-template #loading class="loaderHolder">
                                                                            <!-- <ngx-spinner  type="ball-clip-rotate-multiple" size="medium">
                                                                                <p class="loading">Loading...</p>
                                                                            </ngx-spinner> -->
                                                                        </ng-template>
                                                                        <div >

                                                                            <div class="mat-elevation-z8">
                                                                                <mat-form-field appearance="standard" style="width:20%; float: right">
                                                                                    <mat-label>Search</mat-label>
                                                                                    <input matInput (keyup)="applyFilter($event)" placeholder="Search" #input>
                                                                                </mat-form-field>
                                                                                <table class="table table-striped table-bordered table-hover" mat-table [dataSource]="dataSource" matSort style="width: 100%">

                                                                                    <!-- ID Column -->
                                                                                    <ng-container matColumnDef="permitRefNumber">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Permit Ref No</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.permitRefNumber}} </td>
                                                                                    </ng-container>

                                                                                    <!-- Progress Column -->
                                                                                    <ng-container matColumnDef="createdOn">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Application Date</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.createdOn}} </td>
                                                                                    </ng-container>

                                                                                    <!-- Name Column -->
                                                                                    <ng-container matColumnDef="productName">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Product</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.productName}} </td>
                                                                                    </ng-container>

                                                                                    <!-- Fruit Column -->
                                                                                    <ng-container matColumnDef="tradeMark">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Brand Name</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.tradeMark}} </td>
                                                                                    </ng-container>



                                                                                    <ng-container matColumnDef="sectionValue">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Section</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.sectionValue}} </td>
                                                                                    </ng-container>
                                                                                    <ng-container matColumnDef="permitStatus">
                                                                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status</th>
                                                                                        <td mat-cell *matCellDef="let row"> {{row.permitStatus}} </td>
                                                                                    </ng-container>

                                                                                    <ng-container matColumnDef="actions">
                                                                                        <th mat-header-cell *matHeaderCellDef> View</th>

                                                                                        <td mat-cell *matCellDef="let row">
                                                                                            <button class="btn btn-info tooltips"
                                                                                               data-placement="top" (click)="gotoPermitDetails(row.id.toString())"
                                                                                               data-original-title="Upload NWI">View</button>
                                                                                        </td>
                                                                                    </ng-container>

                                                                                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                                                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

                                                                                    <!-- Row shown when there is no matching data. -->
                                                                                    <tr class="mat-row" *matNoDataRow>
                                                                                        <td class="mat-cell" colspan="4">No data matching the filter
                                                                                            "{{input.value}}"
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>

                                                                                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"
                                                                                               aria-label="Select page of users"></mat-paginator>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                        </div>
                                                        <!-- end content-->
                                                    </div>
                                                    <!--  end card  -->
                                                </div>
                                                <!-- end col-md-12 -->
                                            </div>
                                            <!-- end row -->
                                        </div>
                                    


                                </div>
                                <div *ngIf="id == 'All Applications'" class="w-100">

                               
                                 

                                </div>
                                <div *ngIf="id == 'Complete Applications'" class="w-100">
                               
                                    
                                       

                                </div>

                                <!-- end of completes applications -->

                                <div *ngIf="id == 'Awarded Applications'" class="w-100">

                                </div>
                                <!-- end of awarded applications -->


                                <div *ngIf="id == 'Expired Applications'" class="w-100">

                                </div>

                              
                    </div>
                </div>
            </div>
      
        </div>
    </div>
  </div>
</div>
