<!doctype html>
<div th:fragment="sidebar-fragment2"
     id="w-node-64618a7be8fa-8a7be8fa"
     class="main-grid-side-navigation"
     xmlns:th="http://www.w3.org/1999/xhtml">
    <a href="#" class="side-navigation-link"
    ><span class="font-awesome-span width">th</span>Dashboard</a
    ><a href="#" class="side-navigation-link"
><span class="font-awesome-span width"></span>Standards Levy</a
><a href="#" class="side-navigation-link"
><span class="font-awesome-span width"></span>Quality Assurance</a
><a href="#" class="side-navigation-link"
><span class="font-awesome-span width"></span>Market
    Surveillance</a
><a
        href="../import-inspection-excemptions/home.html"
        class="side-navigation-link"
><span class="font-awesome-span width"></span>Standards Development</a
>
</div>