<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div *ngIf="loading">
        <div class="loading-spinner ">
            <ngx-spinner
                    bdColor="rgba(51,51,51,0.8)"
                    size="medium"
                    color="#fff"
                    type="ball-scale-multiple"
            >
                <p style="font-size: 20px; color: white">{{loadingText}}</p>
            </ngx-spinner>
        </div>
    </div>
    <div class="main-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>
                            </div>
                            <h4 class="card-title"> All Technical Committees
                            </h4>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>


                            <div class="material-datatables">
                                <table class="table table-striped table-bordered table-hover" datatable
                                       [dtOptions]="dtOptions" [dtTrigger]="dtTrigger">
                                    <thead>
                                    <tr>
                                        <th class="id">Number</th>
                                        <th class="task">Technical Committee Name</th>
                                        <th class="task">Department Name</th>
                                        <th class="action">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr *ngFor="let tcTask of tcs let i= index; ">
                                        <td>{{i + 1}}</td>

                                        <td>{{tcTask.tc_Title}}</td>
                                        <td>{{tcTask.name}}</td>
                                        <td><a (click)="onOpenModal(tcTask,'edit')" class="btn btn-info"
                                               data-placement="top"
                                               data-original-title="Upload NWI">Edit</a>
                                            <br>
                                            <a class="btn btn-danger"
                                               data-placement="top"
                                               data-original-title="Upload NWI">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

            <div class="modal fade " id="uploadSPCJustification" tabindex="-1" role="dialog"
                 aria-labelledby="updateExampleModalLabel"
                 aria-hidden="true">
                <div class="modal-dialog modal-lg modal-xl" role="document" style="width: 100%">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="updateExampleModalLabel">Technical Committee</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <form #editForm="ngForm">
                            <div class="modal-body">

                                <div class="row col-12">

                                    <div class="form-group col-6">
                                        <label><b>Technical Committee Name</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <input
                                                oninput="this.value = this.value.toUpperCase()"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input"
                                                ngModel="{{tscsecRequest?.tc_Title}}"

                                                name="tc_Title"
                                                type="text">
                                    </div>


                                    <div class="form-group col-6">
                                        <label><b>Select Department</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <select aria-label="Small" aria-describedby="inputGroup-sizing-lg"
                                                class="form-control" required
                                                name="departmentId"
                                                ngModel="{{tscsecRequest?.v3}}"


                                        >
                                            <option disabled>--Select Department--</option>
                                            <option *ngFor="let department of departments"
                                                    [selected]="tscsecRequest?.v3"

                                                    value="{{department.id}}">{{department.name}}</option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-6">
                                        <label><b>Technical Committee Number</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <input
                                                oninput="this.value = this.value.toUpperCase()"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input"
                                                name="technical_committee_no"
                                                ngModel="{{tscsecRequest?.v2}}"

                                                placeholder="Technical Committee Number" type="text">
                                    </div>
                                    <div class="form-group col-6">
                                        <label><b>Parent Committee Number</b><span
                                                style="font-size: xx-small; color: red;"> (*)Required</span></label>
                                        <input
                                                oninput="this.value = this.value.toUpperCase()"
                                                aria-describedby="inputGroup-sizing-sm" aria-label="Small"
                                                class="form-control one-column-input"
                                                name="parentCommitte"
                                                ngModel="{{tscsecRequest?.v1}}"

                                                placeholder="Parent Committee Number" type="text">
                                    </div>

                                </div>


                            </div>


                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" #closeModal
                                        (click)="hideModel()" data-dismiss="modal">Close
                                </button>
                                <button class="btn btn-info"
                                        (click)="uploadJustification(editForm.value)">Submit
                                </button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
