<h2 mat-dialog-title> Demand Note details</h2>
<mat-dialog-content>
    <div class="row no_margin" *ngIf="demandDetails">
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Reference Number</label>
            <p>{{demandDetails.note.demandNoteNumber}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Date Generated</label>
            <p>{{demandDetails.note.dateGenerated}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Importer Name</label>
            <p>{{demandDetails.note.nameImporter}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Telephone Number</label>
            <p>{{demandDetails.note.telephone}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">TOTAL CFS VALUE</label>
            <p>{{demandDetails.note.cfvalue | money }}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">TOTAL AMOUNT</label>
            <p>{{demandDetails.note.totalAmount | money}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">Demand Note status</label>
            <p>{{demandDetails.note.varField3}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">CD CALCULATED AMOUNT</label>
            <p>{{demandDetails.note.amountPayable | money}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">RECEIPT NUMBER</label>
            <p>{{demandDetails.note.receiptNo}}</p>
        </div>

        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">PAYMENT STATUS</label>
            <p>{{demandDetails.note.paymentStatus == 1 ? 'PAID' : 'NOT PAID'}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">REMARKS</label>
            <p>{{demandDetails.note.varField10}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.entryPoint">
            <label class="waiver-form-label">SAGE ENTRY POINT</label>
            <p>{{demandDetails.note.entryPoint + ', ' + demandDetails.note.courier}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.entryNo">
            <label class="waiver-form-label">SAGE ENTRY NUMBER</label>
            <p>{{demandDetails.note.entryNo}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.varField5">
            <label class="waiver-form-label">SAGE MSG REFERENCE</label>
            <p>{{demandDetails.note.varField5}}</p>
        </div>
        <div class="col-sm-3 col-md-4">
            <label class="waiver-form-label">SAGE STATUS</label>
            <p>{{formatPostingStatus(demandDetails.note.postingStatus)}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.varField7">
            <label class="waiver-form-label">SAGE RESPONSE</label>
            <p>{{demandDetails.note.varField6}}: {{demandDetails.note.varField7}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.varField9">
            <label class="waiver-form-label">SAGE RESPONSE DATE</label>
            <p>{{demandDetails.note.varField9| date:'short'}}</p>
        </div>
        <div class="col-sm-3 col-md-4" *ngIf="demandDetails.note.postingReference">
            <label class="waiver-form-label">DEMAND NODE NUMBER</label>
            <p>{{demandDetails.note.postingReference}}</p>
        </div>
    </div>
    <div class="row no_margin" *ngIf="demandDetails">
        <div class=" table-striped">
            <ng2-smart-table class="table table-hover" [settings]="settings" [source]="demandDetails.items"
                             (custom)="onCustomAction($event)">
            </ng2-smart-table>
        </div>
    </div>
    <mat-error *ngIf="message">{{message}}</mat-error>
</mat-dialog-content>
<mat-dialog-actions>
    <div class="row no_margin master-list-new-btn" *ngIf="demandDetails">
        <button class="btn btn-warning" mat-button mat-dialog-close>Close</button>
        <div *ngIf="demandDetails.deleteSubmitEnabled">
            <button [disabled]="deleteLoading || saveLoading" class="btn btn-warning" mat-button
                    (click)="deleteDemandNote()">Delete
                <mat-spinner [diameter]="20" color="warn" *ngIf="deleteLoading"></mat-spinner>
            </button>
            <button [disabled]="deleteLoading||saveLoading" class="btn btn-primary" mat-button
                    (click)="submitDemandNote()">Submit
                <mat-spinner [diameter]="20" color="primary" *ngIf="saveLoading"></mat-spinner>
            </button>
        </div>
    </div>
</mat-dialog-actions>