<div class="container-fluid" style="margin-top: 5%" id="main-container">
    <div  class="loading-spinner ">
        <ngx-spinner
                bdColor="rgba(51,51,51,0.8)"
                size="medium"
                color="#fff"
                type="ball-scale-multiple"
        >
            <p style="font-size: 20px; color: white">{{loadingText}}</p>
        </ngx-spinner>
    </div>
    <div class="main-content" >
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">assignment</i>

                            </div>
                            <div class="card-title float-left"><h4 style="color: #0d47a1; font-weight: bold">Company Profile Changes</h4></div>

                        </div>
                        <div class="card-body">
                            <div class="toolbar">

                            </div>
                            <div class="row">
                                <div class="material-datatables table-responsive col-md-12">
                                    <table id="ExampleTable" class="table table-striped table-bordered table-hover " datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger1"  cellspacing="0" width="100%">
                                        <thead>
                                        <tr>
                                            <th>#</th>
                                            <th class="knw">Firm ID</th>
                                            <th class="knw">Name of Firm</th>
                                            <th class="sl">Postal Address</th>
                                            <th class="knw">Phone Number</th>
                                            <th class="knw">Email Address</th>
                                            <th class="knw"></th>
                                            <th class="knw"></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr  *ngFor="let rejectedChange of rejectedChanges let i=index">
                                            <td >{{i+1}}</td>
                                            <td>{{rejectedChange.companyId}}</td>
                                            <td>{{rejectedChange.companyName }}</td>
                                            <td>{{rejectedChange.postalAddress}}</td>
                                            <td>{{rejectedChange.companyTelephone}}</td>
                                            <td>{{rejectedChange.companyEmail}}</td>
                                            <td *ngIf="rejectedChange.status==1"><button type="submit" class="btn btn-success btn-sm"  style="border-radius: 40px;"> Approved</button></td>
                                            <td *ngIf="rejectedChange.status==0"><button type="submit" class="btn btn-danger btn-sm"  style="border-radius: 40px;"> Rejected</button></td>
                                            <td>
                                                <button (click)="onOpenModalList(rejectedChange,'viewList')"
                                                        type="submit" class="btn btn-success btn-sm" style="border-radius: 40px;">More
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="viewList" tabindex="-1" role="dialog"
     aria-labelledby="viewListExampleModalLabel" aria-hidden="true">a
    <div class="modal-dialog modal-lg modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" #closeModal class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

                <div class="modal-body">
                    <nav>
                        <div class="nav nav-tabs nav-fill" id="nav-tabs-complete" role="tablist">
                            <a class="nav-item nav-link active" id="nav-complete-tab" data-toggle="tab" href="#nav-comData-complete" role="tab" aria-controls="nav-com" aria-selected="true">Current Company Details</a>
                            <a class="nav-item nav-link" id="nav-report-tab-complete" data-toggle="tab" href="#nav-comReport-complete" role="tab" aria-controls="nav-report" aria-selected="false">Rejected/Approved Company Details Update</a>
                            <a class="nav-item nav-link" id="nav-remarks-tab-complete" data-toggle="tab" href="#nav-comRemarks-complete" (click)=toggleDisplayCompanyRemarks(actionRequest?.editId) role="tab" aria-controls="nav-remarks" aria-selected="false">Remarks</a>
                        </div>
                    </nav>
                    <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContents-complete">
                        <div class="tab-pane fade show active" id="nav-comData-complete" role="tabpanel" aria-labelledby="nav-complete-tab">
                            <div class="list-group list-group-flush">
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Name</b></h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.companyName}}.</p>
                                        </a>
                                    </div>


                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Physical Address</b></h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.physicalAddress}}.</p>
                                        </a>
                                    </div>

                                </div>
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Email</b></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0">{{actionRequest?.companyEmail}}.</p>
                                        </a>
                                    </div>

                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Telephone</b></h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.companyTelephone}}.</p>
                                        </a>
                                    </div>
                                </div>





                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-comReport-complete" role="tabpanel" aria-labelledby="nav-report-tab-complete">
                            <div class="list-group list-group-flush">
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Name</b></h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.companyName}}.</p>
                                        </a>
                                    </div>


                                </div>

                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Physical Address</b></h5>
                                                    </div>
                                                </div>

                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.physicalAddressEdit}}.</p>
                                        </a>
                                    </div>

                                </div>
                                <div class="row col-12">
                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Email</b></h5>
                                                    </div>
                                                </div>
                                            </div>
                                            <p class="text-sm mb-0">{{actionRequest?.companyEmailEdit}}.</p>
                                        </a>
                                    </div>

                                    <div class="form-group col-12">
                                        <a  class="list-group-item list-group-item-action flex-column align-items-start py-4 px-4">
                                            <div class="d-flex w-100 justify-content-between">
                                                <div>
                                                    <div class="d-flex w-100 align-items-center">
                                                        <h5 class="mb-1" style="color: #0d0505"><b>Company Telephone</b></h5>
                                                    </div>
                                                </div>
                                            </div>

                                            <p class="text-sm mb-0">{{actionRequest?.companyTelephoneEdit}}.</p>
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-comRemarks-complete" role="tabpanel" aria-labelledby="nav-remarks-tab-complete">
                            <div class="container col-md-12" [hidden]="isShowRemarksTab">
                                <div class="col-12">
                                    <div class="card" *ngFor="let siteVisitRemark of siteVisitRemarks">
                                        <div class="card-header">
                                            <span class="badge badge-info">{{siteVisitRemark.status}}</span> By {{siteVisitRemark.remarkBy}} On {{siteVisitRemark.dateOfRemark}}
                                        </div>
                                        <div class="card-body">
                                            <blockquote class="blockquote mb-0">
                                                <p>Remark: {{siteVisitRemark.remarks}}.</p>
                                                <footer class="blockquote-footer">Role: <cite title="Source Title">{{siteVisitRemark.role}}</cite></footer>
                                            </blockquote>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>


                    </div>

                </div>
        </div>
    </div>
</div>


